@import 'helpers/mixins';
@import 'helpers/variables';

i[class^="icon-aircraft-"],
i[class*=" icon-aircraft-"]{
	display: inline-block;
	vertical-align: middle;
	.mode({
		// here url 
		background-image: url("../img/aircrafts@2x.png@{version}");
		background-size: 40px 520px;
	},{
		// here url
		background-image: url("../img/aircrafts-dark@2x.png@{version}");
		background-size: 40px 520px;
	});
}

.icon-aircraft-default{
	.size(24px,24px);
	background-position: -7px -489px;
}

.icon-aircraft-A380{
	.size(27px,27px);
	background-position: -5px -7px;
}

.icon-aircraft-B748{
	.size(28px,28px);
	background-position: -5px -46px;
}

.icon-aircraft-B752{
	.size(29px,29px);
	background-position: -5px -85px;
}

.icon-aircraft-B739{
	.size(27px,27px);
	background-position: -5px -127px;
}

.icon-aircraft-MD90{
	.size(29px,29px);
	background-position: -5px -166px;
}

.icon-aircraft-E170{
	.size(26px,26px);
	background-position: -6px -208px;
}

.icon-aircraft-CRJ7{
	.size(29px,29px);
	background-position: -5px -246px;
}

.icon-aircraft-RJ1H{
	.size(30px,30px);
	background-position: -4px -286px;
}

.icon-aircraft-A359{
	.size(28px,28px);
	background-position: -5px -326px;
}

.icon-aircraft-A333{
	.size(30px,30px);
	background-position: -4px -366px;
}

.icon-aircraft-A346{
	.size(29px,29px);
	background-position: -5px -406px;
}

.icon-aircraft-AT72{
	.size(32px,32px);
	background-position: -3px -445px;
}