/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].oneOf[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].oneOf[1].use[2]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[4].oneOf[1].use[3]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].oneOf[1].use[4]!./assets/bem/scss/trans-helper.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
mark[data-title], input[data-title] {
  background-color: #FEF1B5 !important;
}

mark[data-title] mark[data-title] {
  background-color: #61fe42 !important;
}

mark[data-title]:hover {
  opacity: 0.8;
}

#trans-note {
  width: 400px;
  height: auto;
  background: grey;
  position: fixed;
  top: 200px;
  padding: 10px;
  display: none;
  z-index: 9999;
}

#trans-note div {
  margin-bottom: 10px;
}

@keyframes nodeInserted {
  from {
    outline-color: #fff;
  }
  to {
    outline-color: #000;
  }
}
* {
  animation-duration: 0.01s;
  animation-name: nodeInserted;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoiYXNzZXRzX2JlbV9zY3NzX3RyYW5zLWhlbHBlcl9zY3NzLmNzcyIsIm1hcHBpbmdzIjoiOzs7QUFBQTtFQUNFO0FBQ0Y7O0FBRUE7RUFDRTtBQUNGOztBQUVBO0VBQ0U7QUFDRjs7QUFFQTtFQUNFO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7QUFDRjs7QUFFQTtFQUNFO0FBQ0Y7O0FBRUE7RUFDRTtJQUNFO0VBQ0Y7RUFDQTtJQUNFO0VBQ0Y7QUFDRjtBQUVBO0VBQ0U7RUFDQTtBQUFGLEMiLCJzb3VyY2VzIjpbIndlYnBhY2s6Ly9Bd2FyZFdhbGxldC8uL2Fzc2V0cy9iZW0vc2Nzcy90cmFucy1oZWxwZXIuc2NzcyJdLCJzb3VyY2VzQ29udGVudCI6WyJtYXJrW2RhdGEtdGl0bGVdLCBpbnB1dFtkYXRhLXRpdGxlXSB7XG4gIGJhY2tncm91bmQtY29sb3I6ICNGRUYxQjUgIWltcG9ydGFudDtcbn1cblxubWFya1tkYXRhLXRpdGxlXSBtYXJrW2RhdGEtdGl0bGVdIHtcbiAgYmFja2dyb3VuZC1jb2xvcjogIzYxZmU0MiAhaW1wb3J0YW50O1xufVxuXG5tYXJrW2RhdGEtdGl0bGVdOmhvdmVyIHtcbiAgb3BhY2l0eTogMC44O1xufVxuXG4jdHJhbnMtbm90ZSB7XG4gIHdpZHRoOiA0MDBweDtcbiAgaGVpZ2h0OiBhdXRvO1xuICBiYWNrZ3JvdW5kOiBncmV5O1xuICBwb3NpdGlvbjogZml4ZWQ7XG4gIHRvcDogMjAwcHg7XG4gIHBhZGRpbmc6IDEwcHg7XG4gIGRpc3BsYXk6IG5vbmU7XG4gIHotaW5kZXg6IDk5OTk7XG59XG5cbiN0cmFucy1ub3RlIGRpdiB7XG4gIG1hcmdpbi1ib3R0b206IDEwcHg7XG59XG5cbkBrZXlmcmFtZXMgbm9kZUluc2VydGVkIHtcbiAgZnJvbSB7XG4gICAgb3V0bGluZS1jb2xvcjogI2ZmZjtcbiAgfVxuICB0byB7XG4gICAgb3V0bGluZS1jb2xvcjogIzAwMDtcbiAgfVxufVxuXG4qIHtcbiAgYW5pbWF0aW9uLWR1cmF0aW9uOiAwLjAxcztcbiAgYW5pbWF0aW9uLW5hbWU6IG5vZGVJbnNlcnRlZDtcbn0iXSwibmFtZXMiOltdLCJzb3VyY2VSb290IjoiIn0=*/