/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].oneOf[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[5].oneOf[1].use[2]!./node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[5].oneOf[1].use[3]!./assets/less-deprecated/timeline.less ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.trip {
  height: 100vh;
  overflow: hidden;
}
.trip .trip-list > div {
  padding-right: 15px;
}


/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoibmV3LXRpbWVsaW5lLmNzcyIsIm1hcHBpbmdzIjoiOzs7QUFBQTtFQUNFO0VBQ0E7QUFDRjtBQUhBO0VBTU07QUFBTiIsInNvdXJjZXMiOlsid2VicGFjazovL0F3YXJkV2FsbGV0Ly4vYXNzZXRzL2xlc3MtZGVwcmVjYXRlZC90aW1lbGluZS5sZXNzIl0sInNvdXJjZXNDb250ZW50IjpbIi50cmlwIHtcbiAgaGVpZ2h0OiAxMDB2aDtcbiAgb3ZlcmZsb3c6IGhpZGRlbjtcblxuICAudHJpcC1saXN0IHtcbiAgICA+IGRpdiB7XG4gICAgICBwYWRkaW5nLXJpZ2h0OiAxNXB4O1xuICAgIH1cbiAgfVxufSJdLCJuYW1lcyI6W10sInNvdXJjZVJvb3QiOiIifQ==*/