/*!****************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[2]!./web/assets/awardwalletmain/css/offer.css ***!
  \****************************************************************************************************************************************************************************************************************/
#offer_maindiv {
padding-left: 20px;
padding-right: 20px;
}

#offer_hr {
background-color: #cccccc;
height: 1px;
width: 99%;
margin-top: 1.5em;
margin-bottom: 1.5em;
margin-left: auto;
margin-right: auto;
}

#offer_title {
padding-top: 8px;
padding-bottom: 8px
}

#offer_afterdesc {
text-align: justify;
margin-bottom: 16px;
}

#offer_bottom {
width: 100%;
}

#offer_card {
width: 200px;
height: 150px;
}

.offer-clear {clear: both;}
.offer-leftbtn {float: left;}
.offer-rightbtn {float: right;}
.offer-middlebtn {margin-left: auto; margin-right: auto;}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoib2ZmZXIuY3NzIiwibWFwcGluZ3MiOiI7OztBQUFBO0FBQ0Esa0JBQWtCO0FBQ2xCLG1CQUFtQjtBQUNuQjs7QUFFQTtBQUNBLHlCQUF5QjtBQUN6QixXQUFXO0FBQ1gsVUFBVTtBQUNWLGlCQUFpQjtBQUNqQixvQkFBb0I7QUFDcEIsaUJBQWlCO0FBQ2pCLGtCQUFrQjtBQUNsQjs7QUFFQTtBQUNBLGdCQUFnQjtBQUNoQjtBQUNBOztBQUVBO0FBQ0EsbUJBQW1CO0FBQ25CLG1CQUFtQjtBQUNuQjs7QUFFQTtBQUNBLFdBQVc7QUFDWDs7QUFFQTtBQUNBLFlBQVk7QUFDWixhQUFhO0FBQ2I7O0FBRUEsY0FBYyxXQUFXLENBQUM7QUFDMUIsZ0JBQWdCLFdBQVcsQ0FBQztBQUM1QixpQkFBaUIsWUFBWSxDQUFDO0FBQzlCLGtCQUFrQixpQkFBaUIsRUFBRSxrQkFBa0IsQ0FBQyxDIiwic291cmNlcyI6WyJ3ZWJwYWNrOi8vQXdhcmRXYWxsZXQvLi93ZWIvYXNzZXRzL2F3YXJkd2FsbGV0bWFpbi9jc3Mvb2ZmZXIuY3NzIl0sInNvdXJjZXNDb250ZW50IjpbIiNvZmZlcl9tYWluZGl2IHtcbnBhZGRpbmctbGVmdDogMjBweDtcbnBhZGRpbmctcmlnaHQ6IDIwcHg7XG59XG5cbiNvZmZlcl9ociB7XG5iYWNrZ3JvdW5kLWNvbG9yOiAjY2NjY2NjO1xuaGVpZ2h0OiAxcHg7XG53aWR0aDogOTklO1xubWFyZ2luLXRvcDogMS41ZW07XG5tYXJnaW4tYm90dG9tOiAxLjVlbTtcbm1hcmdpbi1sZWZ0OiBhdXRvO1xubWFyZ2luLXJpZ2h0OiBhdXRvO1xufVxuXG4jb2ZmZXJfdGl0bGUge1xucGFkZGluZy10b3A6IDhweDtcbnBhZGRpbmctYm90dG9tOiA4cHhcbn1cblxuI29mZmVyX2FmdGVyZGVzYyB7XG50ZXh0LWFsaWduOiBqdXN0aWZ5O1xubWFyZ2luLWJvdHRvbTogMTZweDtcbn1cblxuI29mZmVyX2JvdHRvbSB7XG53aWR0aDogMTAwJTtcbn1cblxuI29mZmVyX2NhcmQge1xud2lkdGg6IDIwMHB4O1xuaGVpZ2h0OiAxNTBweDtcbn1cblxuLm9mZmVyLWNsZWFyIHtjbGVhcjogYm90aDt9XG4ub2ZmZXItbGVmdGJ0biB7ZmxvYXQ6IGxlZnQ7fVxuLm9mZmVyLXJpZ2h0YnRuIHtmbG9hdDogcmlnaHQ7fVxuLm9mZmVyLW1pZGRsZWJ0biB7bWFyZ2luLWxlZnQ6IGF1dG87IG1hcmdpbi1yaWdodDogYXV0bzt9Il0sIm5hbWVzIjpbXSwic291cmNlUm9vdCI6IiJ9*/