.skeleton {
    background-color: rgba(245, 246, 247, 1);
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 15px;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        animation: wave 1.8s infinite linear;

        background: linear-gradient(
            135deg,
            rgba(245, 246, 247, 1) 0%,
            rgba(245, 246, 247, 1) calc(50% - 7.5px),
            rgba(250, 251, 252, 1) calc(50% - 7.5px),
            rgba(250, 251, 252, 1) calc(50% + 7.5px),
            rgba(245, 246, 247, 1) calc(50% + 7.5px),
            rgba(245, 246, 247, 1) 75%
        );
        background-size: 300% 100%;
        background-position-x: 110%;
    }

    &Rounded {
        border-radius: 4px;
    }

    &Circle {
        border-radius: 50%;
    }
}

@keyframes wave {
    // Delay for ~1.2s
    0% {
        background-position-x: 110%;
    }

    65% {
        background-position-x: 110%;
    }

    100% {
        background-position-x: -20%;
    }
}
