.balance-tabs {
  display: table;
  width: 100%;
  background: #f8f8f8;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #f2f2f2 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%, #f2f2f2 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%, #f2f2f2 100%);
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #f2f2f2 100%);
  background: linear-gradient(top, #f8f8f8 0%, #f2f2f2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #f2f2f2));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr=#fff8f8f8, endColorstr=#fff2f2f2,GradientType=0 )";
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#fff8f8f8, endColorstr=#fff2f2f2,GradientType=0 );
}
.balance-tabs li {
  list-style: none;
  display: table-cell;
  border-right: 1px solid #dddddd;
  position: relative;
  vertical-align: middle;
  width: 255px;
  height: 51px;
  overflow-y: hidden;
  text-align: center;
  border-bottom: 1px solid #d0d0d0;
}
.balance-tabs li,
.balance-tabs li a {
  color: #666666;
}
.balance-tabs li:last-of-type {
  width: auto;
  padding: 0;
  border-right: none;
}
.balance-tabs li:last-of-type > * {
  white-space: nowrap;
}
.balance-tabs li:not(:last-of-type):hover {
  background-color: #ffffff;
  height: 50px;
}
.balance-tabs li:not(:last-of-type) > * {
  text-transform: uppercase;
}
.balance-tabs li > a {
  padding: 0 20px;
  display: block;
  height: 100%;
  overflow-y: hidden;
  text-align: center;
}
.balance-tabs li > a > * {
  display: table;
  width: 100%;
  height: 100%;
}
.balance-tabs li > a > * > * {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
.balance-tabs li.active {
  background-color: #ffffff;
  height: 52px;
  padding-top: 0;
  border-bottom: none;
  border-right-color: #d0d0d0;
}
.balance-tabs li.active > a,
.balance-tabs li.active > a * {
  -webkit-font-smoothing: antialiased;
  color: #2d81cd;
  background: transparent;
}
blockquote {
  display: block;
  min-width: 748px;
  padding: 30px 20px;
}
.balance-toolbar {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  min-width: 747px;
  *width: 747px;
  padding: 0 15px;
}
.balance-toolbar > *:last-child {
  float: right;
}
.balance-toolbar.fixed {
  position: fixed;
  left: 5px;
  top: 0;
  z-index: 9999;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 50%, rgba(255, 255, 255, 0.3) 100%);
  background: -ms-linear-gradient(top, #ffffff 50%, rgba(255, 255, 255, 0.3) 100%);
  background: -o-linear-gradient(top, #ffffff 50%, rgba(255, 255, 255, 0.3) 100%);
  background: -webkit-linear-gradient(top, #ffffff 50%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(top, #ffffff 50%, rgba(255, 255, 255, 0.3) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0.3)));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr=#ffffffff, endColorstr=#4dffffff,GradientType=0 )";
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#ffffffff, endColorstr=#4dffffff,GradientType=0 );
}
[data-tooltip] {
  position: relative;
}
[data-tooltip]:after {
  content: attr(data-tooltip);
  position: absolute;
  top: -30px;
  font-size: 70%;
  color: #ffffff;
  white-space: nowrap;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  background-color: #8f8f8f;
  border: 1px solid rgba(255, 255, 255, 0.5);
  behavior: url(border-radius.htc);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: none;
  padding: 5px;
}
[data-tooltip]:after:hover {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
