{% set title = "Loyalty API Password Request" %}
{% extends '@AwardWalletMain/Manager/layout.html.twig' %}

{% block content %}
    {% if resultMessage is defined %} <p> {{ resultMessage }} </p> {% endif %}

    <h2>Loyalty API Password Request</h2>
    <br/>
    <form method="post">
        {{ form_widget(form) }}
    </form>

{% endblock %}
