[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[data-ng-cloak2],
[x-ng-cloak],
[hidden],
.ng-cloak,
.x-ng-cloak {
	display: none !important;
}

.animate-enter {
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	.opacity(0);
}

.animate-enter.animate-enter-active {
	.opacity(1);
}
