@version: ''; // ?v=X
@default-folder:"../../img/";
@default-width: 1000px;
@white-background: #fff;
@light-silver-background: #f0f0f0;
@light-silver-color: #797b80;
@white-color:#fff;
@blue-color: #4684c4;
@blue-dark-color: #125da3;
@green-color: #4dbfa2;
@red-color: #cc3d5e;
@gray: #dfe1e6;
@gray-dark: #a6a9b3;
@gray-light: #f8f9fa;
@text-gray: #535457;
@bg-gray: #f3f4f5;
@border-gray: #bec2cc;
@orange: #f7950c;

// dark mode
@_dark-bg: #141414;
@_dark-bg-h: #313137;
@_dark-bg-light: #1c1c1e;
@_dark-blue-color: #0984FF;
@_dark-blue-color-h: #124880;
@_dark-blue-dark-color: #1c6cc1;
@_dark-green-color: #30D178;
@_dark-red-color: #EA3C48;
@_dark-orange: #FF9F08;
@_dark-text: #8e8e93;
@_dark-gray-light: #7d7d7e;
@_dark-gray: #5a5a5f;
@_dark-rose: #EA3C48;

// column width 
@column-check: 28px;
@column-plus: 29px;
@column-program: 20%;
@column-owner: 13%;
@column-account: 20%;
@column-status: 9%;
@column-balance: 10%;
@column-cash: 8%;
@column-expire: 15%;
@column-last-update: 9%;
@column-actions: 55px;
@column-updater-row: 46%;

// Media query
@mobile:	  ~"only screen and (max-width: 767px)";
@tablet:	  ~"only screen and (min-width: 768px)";
@desktop:	  ~"only screen and (min-width: 1024px)";

@mobile-max:  ~"only screen and (max-width: 767px)";
@tablet-max:  ~"only screen and (max-width: 1023px)";
@desktop-max: ~"only screen and (min-width: 768px) and (max-width: 1023px)";

// var language
@en : en;
@de : de;
@fr : fr;
@es : es;
@pt : pt;
@ru : ru;
@zh_cn : zh_CN;
@zh_tw : zh_TW;

// Media query

@mobile:	  ~"only screen and (max-width: 640px)";
@tablet:	  ~"only screen and (min-width: 768px)";
@desktop:	  ~"only screen and (min-width: 1024px)";

@mobile-max:  ~"only screen and (max-width: 767px)";
@tablet-max:  ~"only screen and (max-width: 1024px)";
@desktop-max: ~"only screen and (min-width: 768px) and (max-width: 1023px)";

@iphoneX:     ~"only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3), only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2), only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 3)";
@iphoneXLandscape: ~"only screen  and (min-device-width : 375px)  and (max-device-width : 812px)  and (-webkit-device-pixel-ratio : 3) and (orientation : landscape)";
@iphone8:     ~"only screen and (device-width : 375px) and (device-height : 667px) and (-webkit-device-pixel-ratio : 2)";
@iphone8plus: ~"only screen and (device-width : 414px) and (device-height : 736px) and (-webkit-device-pixel-ratio : 3)";

@light: ~"(prefers-color-scheme: light)";
@dark:  ~"(prefers-color-scheme: dark)";
@dark-class: ~'html.dark-mode';
@light-class: ~'html.light-mode';
