<form method="post" enctype="multipart/form-data" action="{{ path('qs_transaction_import') }}">
    <input type="file" name="transactions">
    <button class="sonata-action-element" type="submit"><i class="fas fa-plus-circle"></i> Import Transactions</button>
</form>
