.aaaw_title {
    font-size: 30px;
}
.aaaw_btn{
    z-index: 100;
    position: relative;
}
.aaaw_bg{
    padding-bottom: 85px;
}

#aaaw_logo{
    width: 276px;
    height: 42px;
    background: url(../../images/offer/aaaw_logo.png);
    margin-top: 50px;
    margin-bottom: 60px;
}

#aaaw_aw{
    width: 191px;
    height: 24px;
    background: url(../../images/offer/aaaw_aw.png);
    position: absolute;
    top: 60px;
    right: 50px;
}

#aaaw_description{
    font-weight: lighter;
    width: 800px;
    font-size: 24px;
    line-height: 30px;
    font-family: 'Helvetica Neue', 'Arial Narrow', Helvetica, Arial, sans-serif;
    text-shadow: 0 1px #fff;
    color: rgb(62, 62, 62);
    display: block;
}

#aaaw_toread{
    position: relative;
    font-weight: lighter;
    font-size: 21px;
    line-height: 25px;
    font-family: 'Helvetica Neue', 'Arial Narrow', Helvetica, Arial, sans-serif;
    text-shadow: 0 1px #fff;
    color: rgb(62, 62, 62);
    display: block;
    margin-top: 36px;
    margin-bottom: 85px;
    z-index: 100;
}

#aaaw_link{
    font-weight: lighter;
    font-size: 13px;
    line-height: 17px;
    font-family: 'Helvetica Neue', 'Arial Narrow', Helvetica, Arial, sans-serif;
    text-shadow: 0 1px #fff;
    color: rgb(24, 109, 182);
    text-decoration: none;
}

#aaaw_link:hover{
    text-decoration: underline;
}

#aaaw_plane{
    width: 898px;
    height: 241px;
    background: url(../../images/offer/aaaw_plane.png);
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 0;
}

.aaaw_toaccount{
    margin-bottom: 24px;
}
