.ab_title{
    margin-top: 50px;
    width: 320px;
    z-index: 100;
    margin-bottom: 30px;
}

.ab_text{
    font-size: 16px;
    width: 390px;
    font-family: Helvetica, Arial, sans-serif;
    text-shadow: 0 1px #fff;
    color: #3e3e3e;
    z-index: 100;
}

.ab_btn{
    margin-bottom: 50px;
    z-index: 100;
    margin-top: 40px;
}

#ab_image{
    width: 388px;
    height: 404px;
    background: url(../../images/offer/ab_image.png);
    position: absolute;
    bottom: 57px;
    right: 0px;
    z-index: 0;
}

.ab_proceed{
    margin-bottom: 75px;
}