.amexrpg_title{
    margin-top: 51px;
}

.amexrpg_ul{
    margin-bottom: 36px;
}

.amexrpg_list li{
    width: 440px;
}

.amexrpg_toaccount{
    margin-bottom: 28px;
}

.amexrpg_bg{
    margin-top: 20px;
    padding-bottom: 50px;
    padding-right: 51px;
}

.amexrpg_image{
    width: 261px;
    height: 225px;
    background: url(../../images/offer/amexrpgcard.png);
    position: absolute;
    right: 65px;
    top: 210px;
}