.amexbg_title{
    margin-top: 51px;
    width: 540px;
    font-size: 31px;
}

.amexbg_medal{
    width: 370px;
    height: 333px;
    background: url(../../images/offer/amexbg_medal.png);
    position: absolute;
    top: -6px;
    right: 0px;
    z-index: 0;
}

.amexbg_star{
    width: 470px;
    height: 470px;
    background: url(../../images/offer/amexbg_star.png);
    position: absolute;
    top: 91px;
    left: 32px;
    z-index: 0;
}

.amexbg_ul{
    position: relative;
    left: 310px;
    top: 22px;
    z-index: 100;
    width: 400px;
}

.amexbg_moved li{
background-position: 4em 4em;
}

.amexbg_card{
    width: 341px;
    height: 294px;
    background: url(../../images/offer/amexbg_card.png);
    position: absolute;
    top: 300px;
    left: 4px;
    z-index: 0;
}

.amexbg_big{
    font-size: 28px;
    color: #186db6;
}

.amexbg_list {
    position: relative;
    list-style: none;
}
.amexbg_static {
    position: relative;
    font-size: 12px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 454px;
    color: #3e3e3e;
    list-style-type: none;
    padding-left: 20px;
    margin-bottom: 16px;
    background-image: url(../../images/offer/spg_bullet.png);
    background-repeat: no-repeat;
    background-position: 0 .25em;
}
.amexbg_moved {
    position: relative;
    font-size: 12px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 454px;
    color: #3e3e3e;
    list-style-type: none;
    padding-left: 20px;
    margin-bottom: 16px;
    background-image: url(../../images/offer/spg_bullet.png);
    background-repeat: no-repeat;
    background-position: 0 1.5em;
}

.amexbg_btn{
    margin-top: 32px;
    margin-bottom: 48px;
}