.amexgold_title{
    margin-top: 75px;
    width: 560px;
    margin-bottom: 65px;
}

.amexgold_ul{
    margin-bottom: 48px;
}

.amexgold_list li{
    width: 440px;
    margin-bottom: 12px;
}

.amexgold_toaccount{
    margin-bottom: 28px;
}

.amexgold_bg{
    margin-top: 20px;
    padding-bottom: 46px;
    padding-right: 51px;
}

.amexgold_image{
    width: 261px;
    height: 224px;
    background: url(../../images/offer/amexgold_card.png);
    position: absolute;
    right: 38px;
    top: 175px;
}

.amexgold_btn{
    padding-right: 20px;
    padding-left: 20px;
}