.offer-block * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    font-family: Helvetica Neue, arial, sans-serif;
    padding: 0;
}

.offer-block {
    width: 900px;
    height: 696px;
    background: url(../../images/offer/awardwalletplussubcription/radial-offer-bg.jpg) no-repeat;
    background-size: 900px 696px;
    margin: 50px auto 0;
    border: 1px solid #9a9a9a;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.offer-block h3 {
    font-size: 36px;
    color: #186db6;
    line-height: 40px;
    font-weight: normal;
    text-shadow: 0 1px #fff;
}

.offer-block p {
    font-size: 14px;
    line-height: 1.3;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #3e3e3e;
    text-shadow: 0 1px #fff;
}

.offer-block p:first-child {
    margin-top: 0;
}

.offer-block p:first-child:first-letter {
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
}

.offer-block p a {
    font-size: 14px;
    font-weight: bold;
    color: #4684c4;
    text-decoration: none;
}

.offer-block p a:hover {
    text-decoration: underline;
}

.offer-block .btn-blue {
    display: inline-block;
    margin-top: 25px;
}

.awardwallet-plus {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 30px 40px;
}

.awardwallet-plus .main-table {
    border-spacing: 0;
    border-collapse: separate;
    width: 100%;
    margin-top: 10px;
    border-top: 0;
}

.awardwallet-plus .main-table tr:nth-child(2) td {
    border-top: 2px solid #8e9199;;
}

.awardwallet-plus .main-table td.status {
    text-align: center;
}

.awardwallet-plus span.offer-bold {
    font-weight: bold;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
    .offer-block {
        background-image: url("../../images/offer/awardwalletplussubcription/radial-offer-bg@2x.jpg");
        background-size: 900px 696px;
    }
}

@media (prefers-color-scheme: dark) {
    html:not(.light-mode) .offer-block {
        background: #141414;
        color: #fff;
    }
    html:not(.light-mode) .offer-block td,
    html:not(.light-mode) .offer-block p {
        color: #fff !important;
    }
    html:not(.light-mode) .offer-block h3,
    html:not(.light-mode) .offer-block p {
        text-shadow: none;
    }
}

html.dark-mode .offer-block {
    background: #141414;
    color: #fff;
}
html.dark-mode .offer-block td,
html.dark-mode .offer-block p {
    color: #fff !important;
}
html.dark-mode .offer-block h3,
html.dark-mode .offer-block p {
    text-shadow: none;
}