.offer_preload1{
width: 0px;
height: 0px;
overflow: hidden;
background: url(../../images/offer/btn_over.png) no-repeat -9999px -9999px;
}

.offer_preload2{
width: 0px;
height: 0px;
overflow: hidden;
background: url(../../images/offer/btn_press.png) no-repeat -9999px -9999px;
}

.offer_btn{
background: url('../../images/offer/btn_normal.png') repeat-x;
height: 27px;
border-radius: 2px;
cursor: pointer;
border: 1px solid #125da3;
color: #ffffff;
line-height: 26px;
text-align: center;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 14px;
text-shadow: 0 1px #16a;
}

.offer_btn:hover{
background: url('../../images/offer/btn_over.png') repeat-x;
}

.offer_btn:active{
background: url('../../images/offer/btn_press.png') repeat-x;
}