.earnaway_title{
    width: 500px;
    margin-left: 51px;
    margin-top: 56px;
    font-size: 36px;
    margin-bottom: 40px;
}

.earnaway_toaccount{
    margin-bottom: 28px;
}

#earnaway_bg{
    position: relative;
    overflow: auto;
    margin-top: 20px;
    background: url(../../images/offer/earnaway_bg.jpg);
    width: 900px;
    height: 551px;
}

.earnaway_select_label{
    position: relative;
    display: block;
    font-size: 12px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #3e3e3e;
    width: 80%;
    margin-bottom: 10px;
    min-width: 500px;
}

.earnaway_enter_label{
    color: #3e3e3e;
    margin-top: 12px;
    margin-bottom: 6px;
}

.earnaway_select{
    display: block;
    font-size: 12px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-bottom: 12px;
    color: #3e3e3e;
}

#earnaway_btn{
    margin-top: 12px;
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 5px;
}

.earnaway_bottom{
    display: block;
    margin-left: 51px;
    position: absolute;
    bottom: 51px;
}

.earnaway_ul{
    margin-left: 51px;
}

.earnaway_list li{
    font-size: 12px;
    width: 440px;
    margin-bottom: 12px;
}

#earnaway_input{
    height: 30px;
    width: 97%;
    border: solid 1px rgb(181, 181, 181);
}