.fcard_title{
    width: 560px;
    margin-left: 51px;
    margin-top: 50px;
}

.fcard_toaccount{
    margin-bottom: 28px;
}

#fcard_bg{
    position: relative;
    overflow: auto;
    margin-top: 20px;
    background: url(../../images/offer/fcard_bg.jpg);
    width: 900px;
    height: 551px;
}

.fcard_btn{
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 51px;
    position: absolute;
    bottom: 51px;
}

.fcard_text{
    width: 270px;
    font-size: 13px;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(62, 62, 62);
    margin-left: 51px;
    margin-top: 48px;
}

.fcard_discount{
    font-weight: bold;
    color: #0078c3;
}