.golddeltaamex_title{
    margin-top: 51px;
    width: 560px;
    margin-bottom: 36px;
}

.golddeltaamex_ul{
    margin-bottom: 48px;
}

.golddeltaamex_list li{
    width: 440px;
}

.golddeltaamex_toaccount{
    margin-bottom: 28px;
}

.golddeltaamex_bg{
    margin-top: 20px;
    padding-bottom: 46px;
    padding-right: 51px;
}

.golddeltaamex_image{
    width: 261px;
    height: 224px;
    background: url(../../images/offer/golddeltaamex_card.png);
    position: absolute;
    right: 38px;
    top: 160px;
}

.golddeltaamex_btn{
    padding-right: 20px;
    padding-left: 20px;
}