.offer-block *{
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    margin:0;
    font-family: Helvetica Neue, arial, sans-serif;
    padding: 0;
}
.offer-block{
    width: 900px;
    height: 500px;
    background: url(../../images/offer/headsuphighestofferever/radial-offer-bg.jpg) no-repeat;
    margin:50px auto 0;
    border: 1px solid #9a9a9a;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.offer-block h3{
    font-size: 36px;
    color: #186db6;
    line-height: 40px;
    font-weight: normal;
    text-shadow:0 1px #fff;
}
.offer-block p{
    font-size: 14px;
    line-height: 1.3;
    margin-top:20px;
    color: #3e3e3e;
    text-shadow:0 1px #fff;
}
.offer-block p:first-child{
    margin-top: 0;
}
.offer-block p:first-child:first-letter{
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
}
.offer-block p a{
    font-size: 14px;
    font-weight: bold;
    color: #4684c4;
    text-decoration: none;
}
.offer-block p a:hover{
    text-decoration: underline;
}
.offer-block .btn-blue{
    display: inline-block;
    margin-top: 50px;
}
.heads-up{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px;
    background-image: url("../../images/offer/headsuphighestofferever/heads-up.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
    .offer-block{
        background-image: url("../../images/offer/headsuphighestofferever/radial-offer-bg@2x.jpg");
        background-size: 900px 500px;
    }
    .heads-up{
        background-image: url("../../images/offer/headsuphighestofferever/heads-up@2x.png");
        background-size: 572px 465px;
    }
}