.hilton_title{
    width: 560px;
    margin-left: 51px;
    margin-top: 60px;
}

.hilton_title_str{
    font-weight: bold;
}

#hilton_ul{
    position: relative;
    width: 800px;
    margin-top: 24px;
    font-size: 12px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-shadow: 0 1px #fff;
    color: #3e3e3e;
    margin-left: 51px;
}

.hilton_toaccount{
    margin-bottom: 28px;
}

#hilton_bg{
    position: relative;
    overflow: auto;
    margin-top: 20px;
    background: url(../../images/offer/hilton_bg.jpg);
    width: 900px;
    height: 501px;
}

.hilton_btn{
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 51px;
    position: absolute;
    bottom: 42px;
}