.ihgbigwin_title{
    width: 830px;
    margin-left: 51px;
    margin-top: 56px;
    font-size: 30px;
    margin-bottom: 40px;
}

.ihgbigwin_toaccount{
    margin-bottom: 28px;
}

#ihgbigwin_bg{
    position: relative;
    overflow: auto;
    margin-top: 20px;
    background: url(../../images/offer/ihgbigwin_bg.jpg);
    width: 900px;
    height: 551px;
}

.ihgbigwin_select_label{
    position: relative;
    display: block;
    font-size: 12px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #3e3e3e;
    width: 80%;
    margin-bottom: 10px;
    min-width: 500px;
}

.ihgbigwin_select{
    display: block;
    font-size: 12px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-bottom: 12px;
    color: #3e3e3e;
}

#ihgbigwin_btn{
    margin-top: 12px;
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 5px;
}

.ihgbigwin_bottom{
    display: block;
    margin-left: 51px;
    position: absolute;
    bottom: 51px;
}

.ihgbigwin_desc{
    line-height: 18px;
    margin-left: 51px;
    color: #3e3e3e;
    margin-top: 40px;
    width: 500px;
    font-size: 14px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}