.ihgrewards_title{
    width: 800px;
    margin-left: 51px;
    margin-top: 56px;
    font-size: 36px;
    margin-bottom: 40px;
}

.ihgrewards_toaccount{
    margin-bottom: 28px;
}

#ihgrewards_bg{
    position: relative;
    overflow: auto;
    margin-top: 20px;
    background: url(../../images/offer/ihgrewards_bg.jpg);
    width: 900px;
    height: 551px;
}

.ihgrewards_select_label{
    position: relative;
    display: block;
    font-size: 12px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #3e3e3e;
    width: 80%;
    margin-bottom: 10px;
    min-width: 500px;
}

.ihgrewards_select{
    display: block;
    font-size: 12px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-bottom: 12px;
    color: #3e3e3e;
}

#ihgrewards_btn{
    margin-top: 12px;
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 5px;
}

.ihgrewards_bottom{
    display: block;
    margin-left: 51px;
    position: absolute;
    bottom: 51px;
}

.ihgrewards_code{
    margin-left: 51px;
}