.lhw_title{
    margin-top: 40px;
    width: 700px;
    z-index: 100;
    margin-bottom: 20px;
}

.lhw_top{
    margin-left: 50px;
}

#lhw_bg {
    position: relative;
    overflow: auto;
    margin-top: 20px;
    background: url(../../images/offer/lhw_bg.jpg);
    width: 900px;
    height: 600px;
    overflow-x:hidden;
    overflow-y:hidden;
}

.lhw_ul{
    margin-bottom: 30px;
}

.lhw_list li{
    font-size: 14px;
    width: 440px;
    margin-bottom: 7px;
}

.lhw_comm{
    color: #787878;
    font-size: 12px;
}

.lhw_sep{
    width: 4px;
}

.lhw_discount{
    display: inline-block;
    border-top: 1px solid #186db6;
    border-bottom: 1px solid #186db6;
    padding-top: 8px;
    padding-bottom: 8px;
}

.lhw_table{
    border: none;
}

.lhw_table td{
    font: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 14px;
}

.lhw_final{
    color: #186db6;
    font-weight: bolder;
    font-size: 14px;
}

.lhw_table td:nth-child(3) {
    text-align: right;
}

.lhw_bottom{
    position: absolute;
    bottom: 150px;
}

.lhw_btn{
    z-index: 100;
}

.lhw_proceed{
    margin-bottom: 75px;
    margin-top: 4px;
}

.lhw_terms{
    display: block;
    position: absolute;
    left: 250px;
    bottom: -6px;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

.lhw_terms_list ul{
}

.lhw_terms_list li{
    top: -8px;
    left: -38px;
    font-size: 12px;
    width: 580px;
    margin-bottom: 0;
    line-height: 13px;
}

.lhw_decline{
    font-weight: bolder;
    margin-top: 4px;
}