.marriott-offer * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    font-family: Helvetica Neue, arial, sans-serif;
    padding: 0;
}

.marriott-offer {
    width: 900px;
    height: 550px;
    background: url(../../images/offer/marriott_radial_offer_bg.jpg) no-repeat;
    margin: 50px auto 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.marriott-offer .btn-blue-offer {
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #125da3;
    border-radius: 2px;
    background: #3082c2\0/ !important;
    background: #3082c2;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMwODJjMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxODZkYjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #3082c2 0%, #186db6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3082c2), color-stop(100%, #186db6));
    background: -webkit-linear-gradient(top, #3082c2 0%, #186db6 100%);
    background: -o-linear-gradient(top, #3082c2 0%, #186db6 100%);
    background: -ms-linear-gradient(top, #3082c2 0%, #186db6 100%);
    background: linear-gradient(to bottom, #3082c2 0%, #186db6 100%);
    height: 30px;
    line-height: 28px;
    padding: 0 10px;
    text-shadow: 0 1px #125da3;
    margin-top: 60px;
}

.marriott-offer .btn-blue-offer:hover {
    background: #3082c2 !important;
}

.marriott-offer h3 {
    font-size: 36px;
    color: #186db6;
    line-height: 1.2;
    font-weight: normal;
    text-shadow: 0 1px #fff;
}

.marriott-offer h4 {
    font-size: 19px;
    color: #186db6;
    line-height: 1.2;
    margin-top: 50px;
    font-weight: normal;
    text-shadow: 0 1px #fff;
}

.marriott-offer p {
    font-size: 15px;
    line-height: 1.3;
    margin: 60px 0;
    color: #3e3e3e;
    text-shadow: 0 1px #fff;
}

.marriott-offer p a {
    color: #186db6;
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
}

.marriott-offer p a:hover {
    text-decoration: none;
}

.marriott-offer .marriott-premier-card-offer {
    width: 100%;
    padding: 50px;
    height: 100%;
    background: url(../../images/offer/marriott_premier_card_offer_bg.png) right bottom no-repeat;
}