.marriott_title{
    width: 460px;
    margin-left: 51px;
    margin-top: 60px;
}

#marriott_ul{
    position: relative;
    width: 400px;
    margin-top: 28px;
    font-size: 12px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-shadow: 0 1px #fff;
    color: #3e3e3e;
    margin-left: 51px;
}

.marriott_toaccount{
    margin-bottom: 28px;
}

#mar_ul{
    width: 380px;
    margin-top: -10px;
    position: relative;
    left: -38px;
}

.mar_list li{
    width: 380px;
}

#mar_hurry{
    margin-top: 24px;
    font-size: 18px;
}

#marriott_bg{
    position: relative;
    overflow: auto;
    margin-top: 20px;
    background: url(../../images/offer/marriott_bg.jpg);
    width: 900px;
    height: 551px;
}

.marriott_btn{
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 51px;
    position: absolute;
    bottom: 51px;
}