.offer-mobile-app *{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.offer-mobile-app{
    width: 900px;
    margin:30px auto;
}
.offer-mobile-app-item{
    width: 900px;
    overflow: hidden;
    border: 1px solid #9a9a9a;
    height: 500px;
    background-image: url('../../images/offer/newawmobileapp_bg.jpg');
    background-repeat: no-repeat;
}
.offer-mobile-app .description{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 50px;
}
.offer-mobile-app h3{
    color: #186db6;
    font-weight: 300;
    font-size: 36px;
}
.offer-mobile-app p{
    font-size: 15px;
    width: 280px;
    display: block;
    padding-top: 30px;
    line-height: 1.3;
    color: #5d5d5d;
}
.offer-mobile-app .google-play-btn{
    width: 120px;
    text-decoration: none;
    margin-top: 10px;
    text-indent: -9999px;
    display: inline-block;
    background-image: url('../../images/offer/google-play-btn.png');
    background-repeat: no-repeat;
    height: 36px;
}
.offer-mobile-app .app-store-btn{
    width: 120px;
    text-decoration: none;
    margin-top: 10px;
    text-indent: -9999px;
    display: inline-block;
    background-image: url('../../images/offer/app-store-btn.png');
    background-repeat: no-repeat;
    height: 36px;
}
.offer-mobile-app a{
    color: #fff;
    text-decoration: none;
}
.offer-mobile-app a:hover{
    text-decoration: underline;
}
.offer-mobile-app a.offer_toaccount{
    font-size: 12px;
    font-family: helvetica,arial;
    margin-top: 5px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    color: #186db6;
    float: right;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  .offer-mobile-app .google-play-btn{
    background-image: url("../../images/offer/google-play-btn@2x.png");
    background-size: 120px 36px;
  }
  .offer-mobile-app .app-store-btn{
    background-image: url("../../images/offer/app-store-btn@2x.png");
    background-size: 120px 36px;
  }
  .offer-mobile-app-item{
    background-image: url("../../images/offer/newawmobileapp_bg@2x.jpg");
    background-size: 900px 500px;
  }
}