@import "../../less/lib";

#offer_wrap{
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  border: none;
  border-bottom: 1px solid #9a9a9a;
  *{
    text-shadow:none;
  }
  h3{
    font-family: sans-serif;
    font-weight: lighter;
    margin-bottom: 30px;
  }
  p{
    font-family: 'Open Sans', sans-serif;
  }
  .btn-blue{
    font-family: 'Open Sans', sans-serif;
  }
}

.bonus-points .btn-blue{
  position: absolute;
  bottom: 50px;
}

#offer_bg{
  background-color: #e9eaeb;
  border: 1px solid rgb(154,154,154);
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#fdfdfd), to(#e9eaeb));
  background: -webkit-radial-gradient(circle, #fdfdfd, #e9eaeb);
  background: -moz-radial-gradient(circle, #fdfdfd, #e9eaeb);
  background: -ms-radial-gradient(circle, #fdfdfd, #e9eaeb);
  position: relative;
  padding-left: 51px;
}

.btn-blue-offer{
  background: #125da3 !important;
  text-shadow:none!important;
  border-radius: 0 !important;
  border: 0 !important;
}

.offer-block .btn-blue {
  padding: 0 15px;
}

.btn-blue-offer:hover{
  background: #3189cc !important;
}

.offer-block h3{
  text-shadow: none !important;
  color: #4684c4!important;
}

.offer-block p{
  color: #535457 !important;
  text-shadow: none !important;
}

.offer_btn{
  // .gradient(rgb(48, 130, 194), rgb(24, 109, 182));
  // border-radius: 2px;
  // border: 1px solid #125da3;
  // text-shadow: 0 1px #16a;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  background: #125da3;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 7px 15px;
}

.offer_btn:hover{
  // .gradient(rgb(49, 131, 194), rgb(49, 131, 194));
  background: #3189cc;
}

// .offer_btn:active{
//   .gradient(rgb(24, 109, 182), rgb(48, 130, 194));
// }

.offer_btn_no{
  .gradient(rgb(247, 247, 248), rgb(234, 235, 236));
  display: inline-block;
  border-radius: 2px;
  font-weight: lighter;
  cursor: pointer;
  border: 1px solid rgb(191, 193, 193);
  color: rgb(85, 85, 85);
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  // text-shadow: #ffffff 1px #16a;
  padding: 7px 15px;
}

.offer_btn_no:hover{
  .gradient(rgb(247, 247, 248), rgb(247, 247, 248));
}

.offer_btn_no:active{
  .gradient(rgb(234, 235, 236), rgb(247, 247, 248));
}

.offer_title{
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 36px;
  // text-shadow: 0 1px #fff;
  // color: #0078c3;
  color: #4684c4;
  display: block;
}

.offer_subtext{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin-top: 15px;
  display: inline-block;
  cursor: pointer;
  &:hover { text-decoration:underline; }
}
.offer_declinekind{
  .offer_subtext();
  color: rgb(160, 160, 160);
}

.offer_toaccount{
  .offer_subtext();
  font-weight: bold;
  // color: #186DB6;
  color: #4684c4;
  float: right;
}

.offer_sup{
  font-size: 21px;
  display: inline-block;
  margin-top: 3px;
  vertical-align: top;
}

#div_ul {
  position: relative;
  margin-top: 28px;
  left: -38px;
}

.offer_list ul{
  position: relative;
  list-style: none;
}

.offer_list li{
  position: relative;
  font-size: 12px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 454px;
  // color: #3e3e3e;
  color: #535457;
  list-style-type: none;
  padding-left: 20px;
  background-image: url(../../images/offer/spg_bullet.png);
  background-repeat: no-repeat;
  background-position: 0 .25em;
}