#offer_wrap {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  border: none;
  border-bottom: 1px solid #9a9a9a;
}
#offer_wrap * {
  text-shadow: none;
}
#offer_wrap h3 {
  font-family: sans-serif;
  font-weight: lighter;
  margin-bottom: 30px;
}
#offer_wrap p {
  font-family: 'Open Sans', sans-serif;
}
#offer_wrap .btn-blue {
  font-family: 'Open Sans', sans-serif;
}
.bonus-points .btn-blue {
  position: absolute;
  bottom: 50px;
}
#offer_bg {
  background-color: #e9eaeb;
  border: 1px solid #9a9a9a;
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#fdfdfd), to(#e9eaeb));
  background: -webkit-radial-gradient(circle, #fdfdfd, #e9eaeb);
  background: -moz-radial-gradient(circle, #fdfdfd, #e9eaeb);
  background: -ms-radial-gradient(circle, #fdfdfd, #e9eaeb);
  position: relative;
  padding-left: 51px;
}
.btn-blue-offer {
  background: #125da3 !important;
  text-shadow: none!important;
  border-radius: 0 !important;
  border: 0 !important;
}
.offer-block .btn-blue {
  padding: 0 15px;
}
.btn-blue-offer:hover {
  background: #3189cc !important;
}
.offer-block h3 {
  text-shadow: none !important;
  color: #4684c4!important;
}
.offer-block p {
  color: #535457 !important;
  text-shadow: none !important;
}
.offer_btn {
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  background: #125da3;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 7px 15px;
}
.offer_btn:hover {
  background: #3189cc;
}
.offer_btn_no {
  background: #f7f7f8;
  background: -moz-linear-gradient(top, #f7f7f8 0%, #eaebec 100%);
  background: -ms-linear-gradient(top, #f7f7f8 0%, #eaebec 100%);
  background: -o-linear-gradient(top, #f7f7f8 0%, #eaebec 100%);
  background: -webkit-linear-gradient(top, #f7f7f8 0%, #eaebec 100%);
  background: linear-gradient(top, #f7f7f8 0%, #eaebec 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f8), color-stop(100%, #eaebec));
  display: inline-block;
  border-radius: 2px;
  font-weight: lighter;
  cursor: pointer;
  border: 1px solid #bfc1c1;
  color: #555555;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 7px 15px;
}
.offer_btn_no:hover {
  background: #f7f7f8;
  background: -moz-linear-gradient(top, #f7f7f8 0%, #f7f7f8 100%);
  background: -ms-linear-gradient(top, #f7f7f8 0%, #f7f7f8 100%);
  background: -o-linear-gradient(top, #f7f7f8 0%, #f7f7f8 100%);
  background: -webkit-linear-gradient(top, #f7f7f8 0%, #f7f7f8 100%);
  background: linear-gradient(top, #f7f7f8 0%, #f7f7f8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f8), color-stop(100%, #f7f7f8));
}
.offer_btn_no:active {
  background: #eaebec;
  background: -moz-linear-gradient(top, #eaebec 0%, #f7f7f8 100%);
  background: -ms-linear-gradient(top, #eaebec 0%, #f7f7f8 100%);
  background: -o-linear-gradient(top, #eaebec 0%, #f7f7f8 100%);
  background: -webkit-linear-gradient(top, #eaebec 0%, #f7f7f8 100%);
  background: linear-gradient(top, #eaebec 0%, #f7f7f8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaebec), color-stop(100%, #f7f7f8));
}
.offer_title {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 36px;
  color: #4684c4;
  display: block;
}
.offer_subtext {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin-top: 15px;
  display: inline-block;
  cursor: pointer;
}
.offer_subtext:hover {
  text-decoration: underline;
}
.offer_declinekind {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin-top: 15px;
  display: inline-block;
  cursor: pointer;
  color: #a0a0a0;
}
.offer_declinekind:hover {
  text-decoration: underline;
}
.offer_toaccount {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin-top: 15px;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  color: #4684c4;
  float: right;
}
.offer_toaccount:hover {
  text-decoration: underline;
}
.offer_sup {
  font-size: 21px;
  display: inline-block;
  margin-top: 3px;
  vertical-align: top;
}
#div_ul {
  position: relative;
  margin-top: 28px;
  left: -38px;
}
.offer_list ul {
  position: relative;
  list-style: none;
}
.offer_list li {
  position: relative;
  font-size: 12px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 454px;
  color: #535457;
  list-style-type: none;
  padding-left: 20px;
  background-image: url(../../images/offer/spg_bullet.png);
  background-repeat: no-repeat;
  background-position: 0 .25em;
}
