#spg_bg{
margin-left: auto;
margin-right: auto;
background: url('../../images/offer/spg_bg.png');
width: 900px;
height: 620px;
}

#offer_list ul
{
margin-left: 0;
padding-left: 0;
list-style: none;
}

#offer_list li
{
width: 100%;
position: relative;
left: -40px;
list-style-type: none; 
padding-left: 20px;
background-image: url(../../images/offer/spg_bullet.png);
background-repeat: no-repeat;
background-position: 0 .25em;
}