.omnihotels_title{
    margin-top: 67px;
    width: 330px;
    margin-bottom: 69px;
}

.omnihotels_ul{
    width: 250px;
    margin-bottom: 48px;
    margin-top: 28px;
    font-size: 14px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #555;
    line-height: 22px;
}

.omnihotels_toaccount{
    margin-bottom: 28px;
}

.omnihotels_bg{
    margin-top: 20px;
    padding-bottom: 46px;
    padding-right: 51px;
    min-height: 515px;
}

.omnihotels_image{
    width: 595px;
    height: 491px;
    background: url(../../images/offer/omni_image.png);
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.omnihotels_btn{
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 60px;
}