.regal-card-offer *{
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    margin:0;
    font-family: Helvetica Neue, arial, sans-serif;
    padding: 0;
}
.regal-card-offer{
    width: 900px;
    overflow: hidden;
    height: 550px;
    background: url(../../images/offer/radial-offer-bg.jpg) no-repeat;
    margin:50px auto 0;
    padding: 50px 0 0 50px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.regal-card-offer .btn-blue-offer{
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    border:1px solid #125da3;
    border-radius: 2px;
    background: #3082c2;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMwODJjMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxODZkYjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #3082c2 0%, #186db6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3082c2), color-stop(100%,#186db6));
    background: -webkit-linear-gradient(top,  #3082c2 0%,#186db6 100%);
    background: -o-linear-gradient(top,  #3082c2 0%,#186db6 100%);
    background: -ms-linear-gradient(top,  #3082c2 0%,#186db6 100%);
    background: linear-gradient(to bottom,  #3082c2 0%,#186db6 100%);
    height: 30px;
    line-height: 28px;
    padding: 0 15px;
    text-shadow:0 1px #125da3;
    margin-top: 40px;
}
.regal-card-offer .btn-blue-offer:hover{
    background: #3082c2 !important;
}
.regal-card-offer h3{
    font-size: 38px;
    color: #186db6;
    line-height: 1;
    font-weight: normal;
    text-shadow:0 1px #fff;
}
.regal-card-offer .bold{
    font-weight: bold;
}
.regal-card-offer ol{
    margin-left: 20px;
    margin-top: 40px;
    width: 470px;
}
.regal-card-offer li{
    margin-top: 15px;
    font-size: 13px;
    text-shadow:0 1px #fff;
    color: #3e3e3e;
    line-height: 1.2;
}
.regal-card-offer .remark{
    font-size: 10px;
    color: #3e3e3e;
    margin-top: 40px;
}
.regal-card-offer .regal-card-logo{
    display: inline-block;
    float: right;
    width: 383px;
    height: 404px;
    background: url(../../images/offer/regal-card.png) no-repeat;
}