.rm_image{
    width: 356px;
    height: 384px;
    background: url(../../images/offer/rm_image.png);
    position: absolute;
    right: 16px;
    top: 85px;
}

.rm_title{
    margin-top: 85px;
}

.rm_description{
    font-weight: lighter;
    width: 445px;
    margin-top: 35px;
    margin-bottom: 46px;
    font-size: 14px;
    line-height: 18px;
}

.rm_bg{
    padding-bottom: 68px;
}

.rm_highlight{
    font-weight: lighter;
    color: rgb(24, 109, 182);
    font-size: 18px;
}