#spg_bg{
    margin-left: auto;
    margin-right: auto;
    /* background: url('../../images/offer/spg_bg.png'); */
    width: 900px;
    background-color: #e9eaeb;
    border: 1px solid rgb(154,154,154);
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#fdfdfd), to(#e9eaeb));
    background: -webkit-radial-gradient(circle, #fdfdfd, #e9eaeb);
    background: -moz-radial-gradient(circle, #fdfdfd, #e9eaeb);
    background: -ms-radial-gradient(circle, #fdfdfd, #e9eaeb);
}

#spg_title{
font-family: 'Helvetica Neue', 'Arial Narrow', Helvetica, Arial, sans-serif;
font-weight: lighter;
font-size: 36px;
text-shadow: 0 1px #fff;
color: #0078c3;
display: inline-block;
margin-left: 51px;
margin-top: 64px;
width: 524px;
}

#spg_wrap{
width: 100%;
margin: 0px 0px 0px 0px;
}

#spg_btn{
width: 302px;
margin-left: 50px;
margin-top: 27px;
margin-bottom: 59px;
}

#spg_bottom{
margin-left: auto;
margin-right: auto;
margin-top: 8px;
width: 900px;
min-height: 55px;
position: relative;
}

#spg_account{
font-family: "Helvetica Neue", Helvetica;
font-size: 12px;
font-weight: bold;
color: #186DB6;
display: inline-block;
float: right;
}

#spg_conclusion{
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 18px;
text-shadow: 0 1px #fff;
color: #4c4c4c;
position: relative;
left: 51px;
margin-top: 28px;
width: 780px;
}

#spg_ul {
position: relative;
margin-left: 12px;
margin-top: 28px;
}

#spg_card {
position: absolute;
right: 55px;
top: 0px;
background: url('../../images/offer/spgcard.png');
width: 260px;
height: 224px;
}

.offer_list ul{
position: relative;
list-style: none;
}

.offer_list li{
position: relative;
font-size: 12px;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
width: 454px;
color: #3e3e3e;
list-style-type: none; 
padding-left: 20px;
background-image: url(../../images/offer/spg_bullet.png);
background-repeat: no-repeat;
background-position: 0 .25em;
}

a.spg_a:link {text-decoration:none;}
a.spg_a:visited {text-decoration:none;}
a.spg_a:hover {text-decoration:underline;}
a.spg_a:active {text-decoration:none;}