.offer-block *{
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    margin:0;
    font-family: Helvetica Neue, arial, sans-serif;
    padding: 0;
}
.offer-block{
    width: 900px;
    height: 500px;
    background: url(../../images/offer/top-travel-rewards-card-radial-offer-bg.jpg) no-repeat;
    margin:50px auto 0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.offer-block .btn-blue-offer{
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    border:1px solid #125da3;
    border-radius: 2px;
    background: #3082c2;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMwODJjMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxODZkYjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #3082c2 0%, #186db6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3082c2), color-stop(100%,#186db6));
    background: -webkit-linear-gradient(top,  #3082c2 0%,#186db6 100%);
    background: -o-linear-gradient(top,  #3082c2 0%,#186db6 100%);
    background: -ms-linear-gradient(top,  #3082c2 0%,#186db6 100%);
    background: linear-gradient(to bottom,  #3082c2 0%,#186db6 100%);
    height: 30px;
    line-height: 28px;
    padding: 0 10px;
    text-shadow:0 1px #125da3;
}
.offer-block .btn-blue-offer:hover{
    background: #3082c2 !important;
}
.offer-block h3{
    font-size: 38px;
    color: #186db6;
    margin-top: 20px;
    line-height: 1.2;
    font-weight: normal;
    text-shadow:0 1px #fff;
}
.offer-block p{
    font-size: 15px;
    line-height: 1.5;
    margin:70px 0;
    color: #3e3e3e;
    text-shadow:0 1px #fff;
}
.offer-block p a{
    font-size: 15px;
    color: #186db6;
}
.offer-block p a:hover{
    text-decoration: none;
}
.offer-block .top-travel-rewards-card-offer{
    width: 899px;
    padding: 50px;
    height: 499px;
    background: url(../../images/offer/top-travel-rewards-card-offer-bg.png) right bottom no-repeat;
}
.offer-block #image-cover {
    float: right;
    width: 439px;
    height: 498px;
    position: relative;
    top:0;
    right:0;
    padding-left:10px;
    padding-top:0px;
    z-index:200;
    cursor: pointer;
}