.uber_title{
    margin-top: 51px;
    z-index: 100;
    position: relative;
}

.uber_bg{
    margin-top: 20px;
    padding-bottom: 50px;
}

.uber_desc{
    margin-top: 34px;
    margin-bottom: 125px;
    font-family: 'Helvetica Neue', 'Arial Narrow', Helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-size: 24px;
    text-shadow: 0 1px #fff;
    color: rgb(62, 62, 62);
    display: block;
    z-index: 100;
    position: relative;
}

.uber_code{
    font-weight: bold;
}

.uber_btn_no{
    margin-left: 21px;
    padding: 7px 36px;
    z-index: 100;
    position: relative;
}

.uber_btn{
    padding: 7px 21px;
    z-index: 100;
    position: relative;
}

.uber_image{
    width: 898px;
    height: 446px;
    background: url(../../images/offer/uber_image.png);
    position: absolute;
    right: 0px;
    top: 75px;
    z-index: 1;
}

.uber_toaccount{
    margin-bottom: 62px;
}