.offer-block *{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	margin:0;
	font-family: Helvetica Neue, arial, sans-serif;
	padding: 0;
}
.offer-block{
	width: 900px;
	height: 500px;
	background: url(../../images/offer/unredeemedonecardcredits/radial-offer-bg.jpg) no-repeat;
	margin:50px auto 0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.offer-block .btn-blue{
	margin-top: 140px;
	display: inline-block;
}
.offer-block h3{
	font-size: 36px;
	color: #186db6;
	line-height: 1.2;
	font-weight: normal;
	text-shadow:0 1px #fff;
}
.offer-block p{
	font-size: 14px;
	line-height: 1.5;
	margin-top:30px;
	color: #535457;
}
.offer-block p:first-child{
	margin-top: 0;
}
.one-card-offer{
	position: relative;
	width: 900px;
	height: 500px;
	padding: 50px;
}
.offer-block .one-card-offer .thumb{
	width: 580px;
	position: absolute;
	text-decoration: none;
	right: 1px;
	top: 0;
	display: inline-block;
	height: 499px;
	background: url(../../images/offer/unredeemedonecardcredits/one-card.png) right 20px bottom -20px no-repeat;
}
.offer-block .one-card-offer .thumb.more{
	background: url(../../images/offer/unredeemedonecardcredits/one-card-more.png) right 20px bottom -20px no-repeat;
}