[class^="btn-"],
[class*=" btn-"]{
	display: inline-block;
	-webkit-appearance:none;
	outline: none;
	text-align: center;
	text-decoration: none;
}
.btn-silver{
	.gradient(#f1f1f0,#f1f1f0,#e2e1e0);
	border:1px solid #ccc;
	.box-shadow(inset 0 1px #fbfbfb);
	height: 42px;
	line-height: 40px;
	min-width: 100px;
	font-size: 15px;
	color: #4c4c4c;
	&:active{
		.gradient(#fafaf9,#fafaf9,#f0efee);
	}
}
.btn-light-silver{
	background: #f8f9fa;
	font-size: 13px;
	color: #5c6373;
	border:1px solid #d6dae6;
	&.wide{
		height: 42px;
		line-height: 40px;
		width: 100%;
	}
	&:active{
		background: #f9fbfc;
	}
}
.btn-rose{
	.gradient(#d9365a,#d9365a,#cc294e);
	border:1px solid #b33552;
	min-width: 100px;
	font-size: 13px;
	text-align: center;
	padding: 15px;
	display: inline-block;
	color: @white-color;
	&:active{
		background: #e1385d;
	}
}
.btn-blue{
	padding: 15px 35px;
	min-width: 100px;
	text-align: center;
	color: @white-color;
	background: #125da3;
	display: inline-block;
	font-size: 13px;
	&.pt-sans{
		font-family: 'PTSansRegular';
		font-size: 14px;
	}
	&.small{
		padding: 8px 15px;
	}
	&:active{
		background: #3189cc;
	}
	&.loading{
		position: relative;
		background: #1466b3;
		color: #1f5d99;
		&:after{
			position: absolute;
			content: "";
			top:0;
			z-index: 9;
			.size(22px,100%);
			.at2x('@{default-folder}spinner-blue.gif', 22px, 22px);
			background-position: center center;
			background-repeat: no-repeat;
			left: 10px;
		}
		&:active{
			background: #1466b3;
			color: #1f5d99;
		}
	}
}

.btn-white{
	padding: 15px;
	min-width: 100px;
	text-align: center;
	border:1px solid #d6dae6 !important;
	background:  @white-color;
	display: inline-block;
	font-size: 13px;
	color: #5c6373;
	&:active{
		background: #f9f9fa;
	}
}

.btn-silver-b{
	.size(100%,38px);
	display: block;
	text-align: center;
	border:1px solid #d6dae6;
	background: #eaedf4;
	font-size: 15px;
	color: #125da3;
	line-height: 32px;
	span{
		display: inline-block;
		vertical-align: middle;
		margin: 0 5px;
	}
	&:active{
		border:1px solid #cacdd9;
		background: #d6dbe6;
	}
}