[class^="icon-"],
[class*=" icon-"]{
	display: inline-block;
	.sprite();
	vertical-align: middle;
	background-repeat: no-repeat;
}
.icon-remove{
	.size(31px,19px);
	background-position: -458px -72px;
}
.icon-baggage{
	.size(23px,23px);
	background-position: -424px -68px;
}
.icon-time{
	.size(19px,19px);
	background-position: -394px -72px;
}
.icon-location{
	.size(17px,24px);
	background-position: -328px -67px;
}
.icon-gate{
	.size(30px,20px);
	background-position: -355px -72px;
}
.icon-double-arrow-up{
	.size(9px,11px);
	background-position: -642px -33px;
}
.icon-double-arrow-down{
	.size(9px,11px);
	background-position: -642px -54px;
}
.icon-add-s{
	.size(8px,8px);
	background-position: -661px -33px;
}
.icon-comment{
	.size(20px,20px);
	background-position: -242px 0px;
}
.icon-refresh-s{
	.size(15px,15px);
	background-position: -588px -33px;
}
.icon-more{
	.size(12px,7px);
	background-position:  -528px -33px;
}
.icon-less{
	.size(12px,7px);
	background-position:  -528px -50px;
}
.icon-no-avatar{
	.size(64px,64px);
	background-position:  0 -238px;
}
.icon-balances{
	.size(17px,23px);
	background-position: 0 0;
}
.icon-travel-plans{
	.size(23px,21px);
	background-position: -27px 0;
}
.icon-account{
	.size(22px,22px);
	background-position: -60px 0;
}
.icon-logout{
	.size(20px,20px);
	background-position: -92px 0;
}
.icon-about{
	.size(20px,20px);
	background-position: -122px 0;
}
.icon-privacy{
	.size(20px,20px);
	background-position: -152px 0;
}
.icon-terms-of-use{
	.size(20px,20px);
	background-position: -182px 0;
}
.icon-send-feedback{
	.size(20px,20px);
	background-position: -212px 0;
}
.icon-menu{
	.size(20px,17px);
	background-position: 0 -33px;
}
.icon-refresh-all{
	.size(21px,23px);
	background-position: -553px -33px;
}
.icon-refresh{
	.size(20px,20px);
	background-position: -51px -33px;
}
.icon-back{
	.size(11px,19px);
	background-position: -30px -33px;
}
.icon-back-white{
	.size(11px,19px);
	background-position: -681px -33px;
}
.icon-next{
	.size(11px,19px);
	background-position: -450px -33px;
}
.icon-add{
	.size(19px,19px);
	background-position: -81px -33px;
}
.icon-minus{
	.size(19px,3px);
	background-position: -421px -41px;
}
.icon-arrow-down{
	.size(9px,6px);
	background-position: -87px -74px;
}
.icon-arrow-down-d{
	.size(9px,6px);
	background-position: -106px -74px;
}
.icon-star-d{
	.size(26px,26px);
	background-position: 0 -158px;
}
.icon-plane{
	.size(26px,26px);
	background-position: -493px -198px;
}
.icon-bench{
	.size(25px,17px);
	background-position: -529px -198px;
}
.icon-fly{
	.size(24px,24px);
	background-position: -36px -198px;
}
.icon-fly-d{
	.size(24px,24px);
	background-position: -36px -158px;
}
.icon-hotel-d{
	.size(24px,25px);
	background-position: -70px -158px;
}
.icon-hotel{
	.size(24px,25px);
	background-position: -70px -198px;
}
.icon-car-d{
	.size(30px,19px);
	background-position: -104px -158px;
}
.icon-car{
	.size(30px,19px);
	background-position: -104px -198px;
}
.icon-train-d{
	.size(24px,28px);
	background-position: -144px -158px;
}
.icon-train{
	.size(23px,28px);
	background-position: -144px -198px;
}
.icon-boat-d{
	.size(27px,29px);
	background-position: -177px -158px;
}
.icon-boat{
	.size(27px,29px);
	background-position: -177px -198px;
}
.icon-credit-card-d,
.icon-card-d{
	.size(26px,17px);
	background-position: -211px -158px;
}
.icon-credit-card,
.icon-card{
	.size(26px,17px);
	background-position: -211px -198px;
}
.icon-shop-d{
	.size(24px,26px);
	background-position: -247px -158px;
}
.icon-shop{
	.size(24px,26px);
	background-position: -247px -198px;
}
.icon-eat-d,
.icon-restaurant-d{
	.size(19px,30px);
	background-position: -281px -158px;
}
.icon-eat,
.icon-restaurant{
	.size(19px,30px);
	background-position: -281px -198px;
}
.icon-note-d{
	.size(26px,29px);
	background-position: -310px -158px;
}
.icon-note{
	.size(26px,29px);
	background-position: -310px -198px;
}
.icon-clear-note-d,
.icon-note-c-d{
	.size(26px,29px);
	background-position: -346px -158px;
}
.icon-clear-note,
.icon-note-c{
	.size(26px,29px);
	background-position: -346px -198px;
}
.icon-ungroup,
.icon-way{
	.size(21px,21px);
	background-position: -382px -198px;
}
.icon-ungroup-d,
.icon-way-d{
	.size(21px,21px);
	background-position: -382px -158px;
}
.icon-bus{
	.size(30px,27px);
	background-position: -413px -198px;
}
.icon-bus-d{
	.size(30px,27px);
	background-position: -413px -158px;
}
.icon-ferry,
.icon-passage-boat{
	.size(24px,32px);
	background-position: -453px -198px;
}
.icon-ferry-d,
.icon-passage-boat-d{
	.size(24px,32px);
	background-position: -453px -158px;
}
.icon-user{
	.size(11px,13px);
	background-position: -67px -74px;
}
.icon-user-s{
	.size(27px,27px);
	background-position: -291px -65px;
}
.icon-next-arrow{
	.size(11px,19px);
	background-position: -46px -74px;
}
.icon-next-double-arrow-b{
	.size(11px,7px);
	margin-left: 5px;
	background-position: -507px -52px;
}
.icon-up-double-arrow-b{
	.size(7px,11px);
	margin-left: 5px;
	background-position: -491px -52px;
}
.icon-green-check{
	.size(25px,25px);
	background-position: -87px -103px;
}
.icon-green-up{
	.size(25px,25px);
	background-position: -123px -103px;
}
.icon-blue-down{
	.size(25px,25px);
	background-position: -158px -103px;
}
.icon-red-error{
	.size(25px,25px);
	background-position: -193px -103px;
}
.icon-blue-update{
	.size(25px,25px);
	background-position: -228px -103px;
}
.icon-green-up-s{
	.size(10px,10px);
	background-position: -45px -103px;
}
.icon-blue-down-s{
	.size(10px,10px);
	background-position: -45px -123px;
}
.icon-green-check-s{
	.size(13px,13px);
	background-position: -65px -126px;
}
.icon-red-error-s{
	.size(13px,13px);
	background-position: -65px -103px;
}
.icon-white-error-s{
	.size(13px,13px);
	background-position: -364px -103px;
}
.icon-show{
	.size(20px,15px);
	background-position: -110px -33px;
}
.icon-phone{
	.size(18px,20px);
	background-position: -140px -33px;
}
.icon-phone-w{
	.size(18px,19px);
	background-position: -263px -72px;
}
.icon-delete{
	.size(13px,17px);
	background-position: -166px -33px;
}
.icon-edit{
	.size(17px,17px);
	background-position: -189px -33px;
}
.icon-site{
	.size(31px,18px);
	background-position: -216px -33px;
}
.icon-autologin{
	.size(31px,18px);
	background-position: -256px -33px;
}
.icon-directions{
	.size(17px,17px);
	background-position: -296px -33px;
}
.icon-accounts{
	.size(22px,18px);
	background-position: -322px -33px;
}
.icon-alternative-flights{
	.size(21px,22px);
	background-position: -354px -33px;
}
.icon-flight-status{
	.size(26px,18px);
	background-position: -385px -33px;
}
.icon-datepicker{
	.size(10px,10px);
	background-position: -125px -74px;
}
.icon-date{
	.size(23px,23px);
	background-position: -173px -68px;
}
.icon-arrow-next-b{
	.size(12px,19px);
	background-position: -206px -72px;
}
.icon-clip{
	.size(25px,25px);
	background-position: -228px -66px;
}
.icon-plus-w{
	.size(15px,15px);
	background-position: -263px -103px;
}
.icon-minus-w{
	.size(15px,3px);
	background-position: -288px -109px;
}
.icon-check-w{
	.size(17px,13px);
	background-position: -313px -103px;
}
.icon-clear-w{
	.size(13px,13px);
	background-position: -445px -103px;
}
.icon-warning{
	.size(14px,13px);
	background-position: -340px -103px;
}
.icon-warning-b{
	.size(25px,22px);
	background-position: -387px -103px;
}
.icon-clear-d{
	.size(9px,9px);
	background-position: -508px -33px;
}
.icon-update-arrow{
	.size(11px,13px);
	background-position: -487px -33px;
}
.icon-map{
	.size(84px,84px);
	background-position: -75px -238px;
}
.icon-info{
	.size(13px,13px);
	margin-right: 10px;
	background-position: -422px -103px;
}
.icon-new-message{
	.size(23px,26px);
	background-position: -200px -273px;
}
.icon-read-message{
	.size(21px,20px);
	background-position: -169px -273px;
}
.icon-booking{
	.size(20px,23px);
	background-position: -612px -33px;
}
.icon-opened{
	.size(25px,25px);
	background-position: -169px -238px;
}
.icon-booked{
	.size(25px,25px);
	background-position: -204px -238px;
}
.icon-paid{
	.size(25px,25px);
	background-position: -239px -238px;
}
.icon-canceled{
	.size(25px,25px);
	background-position: -274px -238px;
}
.icon-future{
	.size(25px,25px);
	background-position: -309px -238px;
}
.icon-new{
	.size(35px,15px);
	background-position: -351px -273px;
}
[class^="icon-login"],
[class*=" icon-login"]{
	display: block;
	.at2x('@{default-folder}elements.png', 344px, 357px);
}
.icon-login-stick{
	.size(20px,202px);
	position: absolute;
	top: -30px;
	right: -35px;
	background-position: -290px 0;
}
.icon-login-key{
	.size(66px,70px);
	background-position: -271px -248px;
}
.icon-login-knob{
	.size(207px,215px);
	display: none;
	background-position: -21px -136px;
}