/*!*********************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[2]!./web/assets/awardwalletmain/css/offer/aaaw.css ***!
  \*********************************************************************************************************************************************************************************************************************/
.aaaw_title {
    font-size: 30px;
}
.aaaw_btn{
    z-index: 100;
    position: relative;
}
.aaaw_bg{
    padding-bottom: 85px;
}

#aaaw_logo{
    width: 276px;
    height: 42px;
    background: url(/a/images/aaaw_logo.d546281b.png);
    margin-top: 50px;
    margin-bottom: 60px;
}

#aaaw_aw{
    width: 191px;
    height: 24px;
    background: url(/a/images/aaaw_aw.89648489.png);
    position: absolute;
    top: 60px;
    right: 50px;
}

#aaaw_description{
    font-weight: lighter;
    width: 800px;
    font-size: 24px;
    line-height: 30px;
    font-family: 'Helvetica Neue', 'Arial Narrow', Helvetica, Arial, sans-serif;
    text-shadow: 0 1px #fff;
    color: rgb(62, 62, 62);
    display: block;
}

#aaaw_toread{
    position: relative;
    font-weight: lighter;
    font-size: 21px;
    line-height: 25px;
    font-family: 'Helvetica Neue', 'Arial Narrow', Helvetica, Arial, sans-serif;
    text-shadow: 0 1px #fff;
    color: rgb(62, 62, 62);
    display: block;
    margin-top: 36px;
    margin-bottom: 85px;
    z-index: 100;
}

#aaaw_link{
    font-weight: lighter;
    font-size: 13px;
    line-height: 17px;
    font-family: 'Helvetica Neue', 'Arial Narrow', Helvetica, Arial, sans-serif;
    text-shadow: 0 1px #fff;
    color: rgb(24, 109, 182);
    text-decoration: none;
}

#aaaw_link:hover{
    text-decoration: underline;
}

#aaaw_plane{
    width: 898px;
    height: 241px;
    background: url(/a/images/aaaw_plane.23f89295.png);
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 0;
}

.aaaw_toaccount{
    margin-bottom: 24px;
}


/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoib2ZmZXJzL2FhYXcuY3NzIiwibWFwcGluZ3MiOiI7OztBQUFBO0lBQ0ksZUFBZTtBQUNuQjtBQUNBO0lBQ0ksWUFBWTtJQUNaLGtCQUFrQjtBQUN0QjtBQUNBO0lBQ0ksb0JBQW9CO0FBQ3hCOztBQUVBO0lBQ0ksWUFBWTtJQUNaLFlBQVk7SUFDWixtREFBaUQ7SUFDakQsZ0JBQWdCO0lBQ2hCLG1CQUFtQjtBQUN2Qjs7QUFFQTtJQUNJLFlBQVk7SUFDWixZQUFZO0lBQ1osbURBQStDO0lBQy9DLGtCQUFrQjtJQUNsQixTQUFTO0lBQ1QsV0FBVztBQUNmOztBQUVBO0lBQ0ksb0JBQW9CO0lBQ3BCLFlBQVk7SUFDWixlQUFlO0lBQ2YsaUJBQWlCO0lBQ2pCLDJFQUEyRTtJQUMzRSx1QkFBdUI7SUFDdkIsc0JBQXNCO0lBQ3RCLGNBQWM7QUFDbEI7O0FBRUE7SUFDSSxrQkFBa0I7SUFDbEIsb0JBQW9CO0lBQ3BCLGVBQWU7SUFDZixpQkFBaUI7SUFDakIsMkVBQTJFO0lBQzNFLHVCQUF1QjtJQUN2QixzQkFBc0I7SUFDdEIsY0FBYztJQUNkLGdCQUFnQjtJQUNoQixtQkFBbUI7SUFDbkIsWUFBWTtBQUNoQjs7QUFFQTtJQUNJLG9CQUFvQjtJQUNwQixlQUFlO0lBQ2YsaUJBQWlCO0lBQ2pCLDJFQUEyRTtJQUMzRSx1QkFBdUI7SUFDdkIsd0JBQXdCO0lBQ3hCLHFCQUFxQjtBQUN6Qjs7QUFFQTtJQUNJLDBCQUEwQjtBQUM5Qjs7QUFFQTtJQUNJLFlBQVk7SUFDWixhQUFhO0lBQ2IsbURBQWtEO0lBQ2xELGtCQUFrQjtJQUNsQixXQUFXO0lBQ1gsVUFBVTtJQUNWLFVBQVU7QUFDZDs7QUFFQTtJQUNJLG1CQUFtQjtBQUN2QiIsInNvdXJjZXMiOlsid2VicGFjazovL0F3YXJkV2FsbGV0Ly4vd2ViL2Fzc2V0cy9hd2FyZHdhbGxldG1haW4vY3NzL29mZmVyL2FhYXcuY3NzIl0sInNvdXJjZXNDb250ZW50IjpbIi5hYWF3X3RpdGxlIHtcbiAgICBmb250LXNpemU6IDMwcHg7XG59XG4uYWFhd19idG57XG4gICAgei1pbmRleDogMTAwO1xuICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcbn1cbi5hYWF3X2Jne1xuICAgIHBhZGRpbmctYm90dG9tOiA4NXB4O1xufVxuXG4jYWFhd19sb2dve1xuICAgIHdpZHRoOiAyNzZweDtcbiAgICBoZWlnaHQ6IDQycHg7XG4gICAgYmFja2dyb3VuZDogdXJsKC4uLy4uL2ltYWdlcy9vZmZlci9hYWF3X2xvZ28ucG5nKTtcbiAgICBtYXJnaW4tdG9wOiA1MHB4O1xuICAgIG1hcmdpbi1ib3R0b206IDYwcHg7XG59XG5cbiNhYWF3X2F3e1xuICAgIHdpZHRoOiAxOTFweDtcbiAgICBoZWlnaHQ6IDI0cHg7XG4gICAgYmFja2dyb3VuZDogdXJsKC4uLy4uL2ltYWdlcy9vZmZlci9hYWF3X2F3LnBuZyk7XG4gICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgIHRvcDogNjBweDtcbiAgICByaWdodDogNTBweDtcbn1cblxuI2FhYXdfZGVzY3JpcHRpb257XG4gICAgZm9udC13ZWlnaHQ6IGxpZ2h0ZXI7XG4gICAgd2lkdGg6IDgwMHB4O1xuICAgIGZvbnQtc2l6ZTogMjRweDtcbiAgICBsaW5lLWhlaWdodDogMzBweDtcbiAgICBmb250LWZhbWlseTogJ0hlbHZldGljYSBOZXVlJywgJ0FyaWFsIE5hcnJvdycsIEhlbHZldGljYSwgQXJpYWwsIHNhbnMtc2VyaWY7XG4gICAgdGV4dC1zaGFkb3c6IDAgMXB4ICNmZmY7XG4gICAgY29sb3I6IHJnYig2MiwgNjIsIDYyKTtcbiAgICBkaXNwbGF5OiBibG9jaztcbn1cblxuI2FhYXdfdG9yZWFke1xuICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgICBmb250LXdlaWdodDogbGlnaHRlcjtcbiAgICBmb250LXNpemU6IDIxcHg7XG4gICAgbGluZS1oZWlnaHQ6IDI1cHg7XG4gICAgZm9udC1mYW1pbHk6ICdIZWx2ZXRpY2EgTmV1ZScsICdBcmlhbCBOYXJyb3cnLCBIZWx2ZXRpY2EsIEFyaWFsLCBzYW5zLXNlcmlmO1xuICAgIHRleHQtc2hhZG93OiAwIDFweCAjZmZmO1xuICAgIGNvbG9yOiByZ2IoNjIsIDYyLCA2Mik7XG4gICAgZGlzcGxheTogYmxvY2s7XG4gICAgbWFyZ2luLXRvcDogMzZweDtcbiAgICBtYXJnaW4tYm90dG9tOiA4NXB4O1xuICAgIHotaW5kZXg6IDEwMDtcbn1cblxuI2FhYXdfbGlua3tcbiAgICBmb250LXdlaWdodDogbGlnaHRlcjtcbiAgICBmb250LXNpemU6IDEzcHg7XG4gICAgbGluZS1oZWlnaHQ6IDE3cHg7XG4gICAgZm9udC1mYW1pbHk6ICdIZWx2ZXRpY2EgTmV1ZScsICdBcmlhbCBOYXJyb3cnLCBIZWx2ZXRpY2EsIEFyaWFsLCBzYW5zLXNlcmlmO1xuICAgIHRleHQtc2hhZG93OiAwIDFweCAjZmZmO1xuICAgIGNvbG9yOiByZ2IoMjQsIDEwOSwgMTgyKTtcbiAgICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XG59XG5cbiNhYWF3X2xpbms6aG92ZXJ7XG4gICAgdGV4dC1kZWNvcmF0aW9uOiB1bmRlcmxpbmU7XG59XG5cbiNhYWF3X3BsYW5le1xuICAgIHdpZHRoOiA4OThweDtcbiAgICBoZWlnaHQ6IDI0MXB4O1xuICAgIGJhY2tncm91bmQ6IHVybCguLi8uLi9pbWFnZXMvb2ZmZXIvYWFhd19wbGFuZS5wbmcpO1xuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICBib3R0b206IDBweDtcbiAgICByaWdodDogMHB4O1xuICAgIHotaW5kZXg6IDA7XG59XG5cbi5hYWF3X3RvYWNjb3VudHtcbiAgICBtYXJnaW4tYm90dG9tOiAyNHB4O1xufVxuIl0sIm5hbWVzIjpbXSwic291cmNlUm9vdCI6IiJ9*/