/*!*******************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[2]!./web/assets/awardwalletmain/css/offer/abouttimealmost60000points.css ***!
  \*******************************************************************************************************************************************************************************************************************************************/
.offer-block *{
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		margin:0;
		font-family: Helvetica Neue, arial, sans-serif;
		padding: 0;
	}
.offer-block{
    width: 900px;
    height: 500px;
    background: url(/a/images/radial-offer-bg.f99c834b.jpg) no-repeat;
    margin:50px auto 0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.offer-block .btn-blue-offer{
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    border:1px solid #125da3;
    border-radius: 2px;
    background: #3082c2;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMwODJjMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxODZkYjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: linear-gradient(to bottom,  #3082c2 0%,#186db6 100%);
    height: 30px;
    line-height: 28px;
    padding: 0 10px;
    text-shadow:0 1px #125da3;
    margin-top: 30px;
}
.offer-block .btn-blue-offer:hover{
    background: #3082c2 !important;
}
.offer-block h3{
    font-size: 36px;
    color: #186db6;
    line-height: 40px;
    font-weight: normal;
    text-shadow:0 1px #fff;
}
.offer-block p{
    font-size: 15px;
    line-height: 1.3;
    margin-top:20px;
    color: #3e3e3e;
    text-shadow:0 1px #fff;
}
.offer-block p:first-child{
    margin-top: 0;
}
.offer-block p:first-child:first-letter{
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
}
.offer-block p a{
    font-size: 15px;
    color: #186db6;
}
.offer-block p a:hover{
    text-decoration: none;
}
.about-time{
    position: relative;
    width: 900px;
    height: 500px;
    padding: 50px;
}
.offer-block .about-time .thumb{
    width: 480px;
    position: absolute;
    text-decoration: none;
    right: 1px;
    top: 0;
    display: inline-block;
    height: 499px;
    background: url(/a/images/about-time-bg.20a761c9.png) right 20px bottom no-repeat;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoib2ZmZXJzL2Fib3V0dGltZWFsbW9zdDYwMDAwcG9pbnRzLmNzcyIsIm1hcHBpbmdzIjoiOzs7QUFBQTtFQUNFLHFCQUFxQjtFQUNyQiw2QkFBNkI7RUFDN0IsMEJBQTBCO0VBQzFCLFFBQVE7RUFDUiw4Q0FBOEM7RUFDOUMsVUFBVTtDQUNYO0FBQ0Q7SUFDSSxZQUFZO0lBQ1osYUFBYTtJQUNiLDZEQUE4RjtJQUM5RixrQkFBa0I7SUFDbEIscUJBQXFCO0lBQ3JCLDZCQUE2QjtJQUM3QiwwQkFBMEI7QUFDOUI7QUFDQTtJQUNJLHFCQUFxQjtJQUNyQixlQUFlO0lBQ2YscUJBQXFCO0lBQ3JCLFdBQVc7SUFDWCx3QkFBd0I7SUFDeEIsa0JBQWtCO0lBQ2xCLG1CQUFtQjtJQUNuQixtREFBbXFCO0lBTW5xQixnRUFBZ0U7SUFDaEUsWUFBWTtJQUNaLGlCQUFpQjtJQUNqQixlQUFlO0lBQ2YseUJBQXlCO0lBQ3pCLGdCQUFnQjtBQUNwQjtBQUNBO0lBQ0ksOEJBQThCO0FBQ2xDO0FBQ0E7SUFDSSxlQUFlO0lBQ2YsY0FBYztJQUNkLGlCQUFpQjtJQUNqQixtQkFBbUI7SUFDbkIsc0JBQXNCO0FBQzFCO0FBQ0E7SUFDSSxlQUFlO0lBQ2YsZ0JBQWdCO0lBQ2hCLGVBQWU7SUFDZixjQUFjO0lBQ2Qsc0JBQXNCO0FBQzFCO0FBQ0E7SUFDSSxhQUFhO0FBQ2pCO0FBQ0E7SUFDSSxlQUFlO0lBQ2YsbUJBQW1CO0lBQ25CLGNBQWM7QUFDbEI7QUFDQTtJQUNJLGVBQWU7SUFDZixjQUFjO0FBQ2xCO0FBQ0E7SUFDSSxxQkFBcUI7QUFDekI7QUFDQTtJQUNJLGtCQUFrQjtJQUNsQixZQUFZO0lBQ1osYUFBYTtJQUNiLGFBQWE7QUFDakI7QUFDQTtJQUNJLFlBQVk7SUFDWixrQkFBa0I7SUFDbEIscUJBQXFCO0lBQ3JCLFVBQVU7SUFDVixNQUFNO0lBQ04scUJBQXFCO0lBQ3JCLGFBQWE7SUFDYiwrRUFBOEc7QUFDbEgsQyIsInNvdXJjZXMiOlsid2VicGFjazovL0F3YXJkV2FsbGV0Ly4vd2ViL2Fzc2V0cy9hd2FyZHdhbGxldG1haW4vY3NzL29mZmVyL2Fib3V0dGltZWFsbW9zdDYwMDAwcG9pbnRzLmNzcyJdLCJzb3VyY2VzQ29udGVudCI6WyIub2ZmZXItYmxvY2sgKntcblx0XHRib3gtc2l6aW5nOmJvcmRlci1ib3g7XG5cdFx0LXdlYmtpdC1ib3gtc2l6aW5nOmJvcmRlci1ib3g7XG5cdFx0LW1vei1ib3gtc2l6aW5nOmJvcmRlci1ib3g7XG5cdFx0bWFyZ2luOjA7XG5cdFx0Zm9udC1mYW1pbHk6IEhlbHZldGljYSBOZXVlLCBhcmlhbCwgc2Fucy1zZXJpZjtcblx0XHRwYWRkaW5nOiAwO1xuXHR9XG4ub2ZmZXItYmxvY2t7XG4gICAgd2lkdGg6IDkwMHB4O1xuICAgIGhlaWdodDogNTAwcHg7XG4gICAgYmFja2dyb3VuZDogdXJsKCcuLi8uLi9pbWFnZXMvb2ZmZXIvYWJvdXR0aW1lYWxtb3N0NjAwMDBwb2ludHMvcmFkaWFsLW9mZmVyLWJnLmpwZycpIG5vLXJlcGVhdDtcbiAgICBtYXJnaW46NTBweCBhdXRvIDA7XG4gICAgYm94LXNpemluZzpib3JkZXItYm94O1xuICAgIC13ZWJraXQtYm94LXNpemluZzpib3JkZXItYm94O1xuICAgIC1tb3otYm94LXNpemluZzpib3JkZXItYm94O1xufVxuLm9mZmVyLWJsb2NrIC5idG4tYmx1ZS1vZmZlcntcbiAgICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG4gICAgZm9udC1zaXplOiAxNHB4O1xuICAgIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcbiAgICBjb2xvcjogI2ZmZjtcbiAgICBib3JkZXI6MXB4IHNvbGlkICMxMjVkYTM7XG4gICAgYm9yZGVyLXJhZGl1czogMnB4O1xuICAgIGJhY2tncm91bmQ6ICMzMDgyYzI7XG4gICAgYmFja2dyb3VuZDogdXJsKGRhdGE6aW1hZ2Uvc3ZnK3htbDtiYXNlNjQsUEQ5NGJXd2dkbVZ5YzJsdmJqMGlNUzR3SWlBL1BnbzhjM1puSUhodGJHNXpQU0pvZEhSd09pOHZkM2QzTG5jekxtOXlaeTh5TURBd0wzTjJaeUlnZDJsa2RHZzlJakV3TUNVaUlHaGxhV2RvZEQwaU1UQXdKU0lnZG1sbGQwSnZlRDBpTUNBd0lERWdNU0lnY0hKbGMyVnlkbVZCYzNCbFkzUlNZWFJwYnowaWJtOXVaU0krQ2lBZ1BHeHBibVZoY2tkeVlXUnBaVzUwSUdsa1BTSm5jbUZrTFhWaloyY3RaMlZ1WlhKaGRHVmtJaUJuY21Ga2FXVnVkRlZ1YVhSelBTSjFjMlZ5VTNCaFkyVlBibFZ6WlNJZ2VERTlJakFsSWlCNU1UMGlNQ1VpSUhneVBTSXdKU0lnZVRJOUlqRXdNQ1VpUGdvZ0lDQWdQSE4wYjNBZ2IyWm1jMlYwUFNJd0pTSWdjM1J2Y0MxamIyeHZjajBpSXpNd09ESmpNaUlnYzNSdmNDMXZjR0ZqYVhSNVBTSXhJaTgrQ2lBZ0lDQThjM1J2Y0NCdlptWnpaWFE5SWpFd01DVWlJSE4wYjNBdFkyOXNiM0k5SWlNeE9EWmtZallpSUhOMGIzQXRiM0JoWTJsMGVUMGlNU0l2UGdvZ0lEd3ZiR2x1WldGeVIzSmhaR2xsYm5RK0NpQWdQSEpsWTNRZ2VEMGlNQ0lnZVQwaU1DSWdkMmxrZEdnOUlqRWlJR2hsYVdkb2REMGlNU0lnWm1sc2JEMGlkWEpzS0NObmNtRmtMWFZqWjJjdFoyVnVaWEpoZEdWa0tTSWdMejRLUEM5emRtYyspO1xuICAgIGJhY2tncm91bmQ6IC1tb3otbGluZWFyLWdyYWRpZW50KHRvcCwgICMzMDgyYzIgMCUsICMxODZkYjYgMTAwJSk7XG4gICAgYmFja2dyb3VuZDogLXdlYmtpdC1ncmFkaWVudChsaW5lYXIsIGxlZnQgdG9wLCBsZWZ0IGJvdHRvbSwgY29sb3Itc3RvcCgwJSwjMzA4MmMyKSwgY29sb3Itc3RvcCgxMDAlLCMxODZkYjYpKTtcbiAgICBiYWNrZ3JvdW5kOiAtd2Via2l0LWxpbmVhci1ncmFkaWVudCh0b3AsICAjMzA4MmMyIDAlLCMxODZkYjYgMTAwJSk7XG4gICAgYmFja2dyb3VuZDogLW8tbGluZWFyLWdyYWRpZW50KHRvcCwgICMzMDgyYzIgMCUsIzE4NmRiNiAxMDAlKTtcbiAgICBiYWNrZ3JvdW5kOiAtbXMtbGluZWFyLWdyYWRpZW50KHRvcCwgICMzMDgyYzIgMCUsIzE4NmRiNiAxMDAlKTtcbiAgICBiYWNrZ3JvdW5kOiBsaW5lYXItZ3JhZGllbnQodG8gYm90dG9tLCAgIzMwODJjMiAwJSwjMTg2ZGI2IDEwMCUpO1xuICAgIGhlaWdodDogMzBweDtcbiAgICBsaW5lLWhlaWdodDogMjhweDtcbiAgICBwYWRkaW5nOiAwIDEwcHg7XG4gICAgdGV4dC1zaGFkb3c6MCAxcHggIzEyNWRhMztcbiAgICBtYXJnaW4tdG9wOiAzMHB4O1xufVxuLm9mZmVyLWJsb2NrIC5idG4tYmx1ZS1vZmZlcjpob3ZlcntcbiAgICBiYWNrZ3JvdW5kOiAjMzA4MmMyICFpbXBvcnRhbnQ7XG59XG4ub2ZmZXItYmxvY2sgaDN7XG4gICAgZm9udC1zaXplOiAzNnB4O1xuICAgIGNvbG9yOiAjMTg2ZGI2O1xuICAgIGxpbmUtaGVpZ2h0OiA0MHB4O1xuICAgIGZvbnQtd2VpZ2h0OiBub3JtYWw7XG4gICAgdGV4dC1zaGFkb3c6MCAxcHggI2ZmZjtcbn1cbi5vZmZlci1ibG9jayBwe1xuICAgIGZvbnQtc2l6ZTogMTVweDtcbiAgICBsaW5lLWhlaWdodDogMS4zO1xuICAgIG1hcmdpbi10b3A6MjBweDtcbiAgICBjb2xvcjogIzNlM2UzZTtcbiAgICB0ZXh0LXNoYWRvdzowIDFweCAjZmZmO1xufVxuLm9mZmVyLWJsb2NrIHA6Zmlyc3QtY2hpbGR7XG4gICAgbWFyZ2luLXRvcDogMDtcbn1cbi5vZmZlci1ibG9jayBwOmZpcnN0LWNoaWxkOmZpcnN0LWxldHRlcntcbiAgICBmb250LXNpemU6IDMwcHg7XG4gICAgZm9udC13ZWlnaHQ6IG5vcm1hbDtcbiAgICBsaW5lLWhlaWdodDogMTtcbn1cbi5vZmZlci1ibG9jayBwIGF7XG4gICAgZm9udC1zaXplOiAxNXB4O1xuICAgIGNvbG9yOiAjMTg2ZGI2O1xufVxuLm9mZmVyLWJsb2NrIHAgYTpob3ZlcntcbiAgICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XG59XG4uYWJvdXQtdGltZXtcbiAgICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gICAgd2lkdGg6IDkwMHB4O1xuICAgIGhlaWdodDogNTAwcHg7XG4gICAgcGFkZGluZzogNTBweDtcbn1cbi5vZmZlci1ibG9jayAuYWJvdXQtdGltZSAudGh1bWJ7XG4gICAgd2lkdGg6IDQ4MHB4O1xuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XG4gICAgcmlnaHQ6IDFweDtcbiAgICB0b3A6IDA7XG4gICAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xuICAgIGhlaWdodDogNDk5cHg7XG4gICAgYmFja2dyb3VuZDogdXJsKCcuLi8uLi9pbWFnZXMvb2ZmZXIvYWJvdXR0aW1lYWxtb3N0NjAwMDBwb2ludHMvYWJvdXQtdGltZS1iZy5wbmcnKSByaWdodCAyMHB4IGJvdHRvbSBuby1yZXBlYXQ7XG59Il0sIm5hbWVzIjpbXSwic291cmNlUm9vdCI6IiJ9*/