/*!******************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].oneOf[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[5].oneOf[1].use[2]!./node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[5].oneOf[1].use[3]!./web/assets/awardwalletmain/css/offer/aircanadastatusmatch.less ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************/
.offer-block {
  box-sizing: border-box;
  width: 900px;
  min-height: 500px;
  border: solid 1px #9b9b9d;
  background: #f2f2f2;
  color: #535457;
  background: linear-gradient(to bottom, #f2f2f2 0%, #fefefe 44%, #ebeded 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#ebeded', GradientType=0);
}
@media (prefers-color-scheme: dark) {
  .offer-block {
    background: linear-gradient(to bottom, #141414 0%, #1c1c1e 44%, #141414 100%);
    color: #fff;
  }
}
html.dark-mode .offer-block {
  background: linear-gradient(to bottom, #141414 0%, #1c1c1e 44%, #141414 100%);
  color: #fff;
}
html.light-mode .offer-block {
  color: #535457;
  background: linear-gradient(to bottom, #f2f2f2 0%, #fefefe 44%, #ebeded 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#ebeded', GradientType=0);
}
.offer-wrap {
  padding: 50px 40px;
  font-size: 13px;
}
.offer-close {
  position: absolute;
  top: 15px;
  right: 15px;
  text-decoration: none;
  color: #a0a0a0 !important;
  font-weight: 300 !important;
}
.offer-close i {
  position: relative;
  top: -1px;
  margin-right: 10px;
}
.offer-image {
  width: 100%;
  height: 240px;
  border-radius: 5px;
  background: url(/a/images/winter-mountain-funicular.9beeb60b.png) center no-repeat;
  background-size: contain;
}
.offer-block mark {
  background: none;
  font-weight: bold;
  color: #186db6;
}
@media (prefers-color-scheme: dark) {
  .offer-block mark {
    color: #0984ff;
  }
}
html.dark-mode .offer-block mark {
  color: #0984ff;
}
html.light-mode .offer-block mark {
  color: #186db6;
}
.offer-block .btn-blue {
  display: inline-block;
  margin-top: 35px;
}
.offer-block h3 {
  padding-top: 30px;
  padding-bottom: 16px;
  font-size: 36px;
  font-weight: normal;
  line-height: 1.2;
  color: #186db6;
}
@media (prefers-color-scheme: dark) {
  .offer-block h3 {
    color: #0984ff;
  }
}
html.dark-mode .offer-block h3 {
  color: #0984ff;
}
html.light-mode .offer-block h3 {
  color: #186db6;
}
.offer-block p {
  margin-top: 30px;
  font-size: 14px;
  line-height: 1.5;
}
.offer-data {
  display: flex;
  padding-top: 15px;
}
.offer-data div {
  color: #535457;
}
@media (prefers-color-scheme: dark) {
  .offer-data div {
    color: #fff;
  }
}
html.dark-mode .offer-data div {
  color: #fff;
}
html.light-mode .offer-data div {
  color: #535457;
}
.offer-status {
  width: 55%;
  padding-right: 50px;
}
.offer-action {
  position: relative;
  width: 44%;
  margin-top: -4px;
  margin-left: auto;
  padding: 0 0 0 30px;
}
.offer-action .check {
  position: absolute;
  left: 0;
  margin-top: 4px;
}
.offer-data-wrap {
  border-top: solid 2px #bec2cc;
}
.offer-data-row {
  display: flex;
  padding: 5px 0;
  border-bottom: dotted 1px #bec2cc;
}
@media (prefers-color-scheme: dark) {
  .offer-data-row {
    border-bottom: dotted 1px #5a5a5f;
  }
}
html.dark-mode .offer-data-row {
  border-bottom: dotted 1px #5a5a5f;
}
html.light-mode .offer-data-row {
  border-bottom: dotted 1px #bec2cc;
}
.offer-data-name {
  width: 52%;
  color: #535457;
}
.offer-data-value {
  width: 48%;
  color: #535457;
  font-weight: bold;
}
.offer-action input[type='checkbox'] {
  position: absolute;
  left: -1px;
  margin-top: 4px;
}


/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoib2ZmZXJzL2FpcmNhbmFkYXN0YXR1c21hdGNoLmNzcyIsIm1hcHBpbmdzIjoiOzs7QUFHQTtFQUNJO0VBQ0E7RUFDQTtFQUVBO0VBQ0E7RUFHSTtFQUdBO0VBRUE7QUFOUjtBQ1RDO0VBQUE7SURpQk87SUFDQTtFQUpOO0FBQ0Y7QUNaRTtFRGNNO0VBQ0E7QUFDUjtBQ2JFO0VESU07RUFHQTtFQUVBO0FBV1I7QUFKQTtFQUNJO0VBRUE7QUFLSjtBQUZBO0VBQ0k7RUFDQTtFQUNBO0VBRUE7RUFFQTtFQUVBO0FBQ0o7QUFFQTtFQUNJO0VBQ0E7RUFFQTtBQURKO0FBSUE7RUFDSTtFQUNBO0VBQ0E7RUFFQTtFQUNBO0FBSEo7QUFNQTtFQUNJO0VBRUE7RUFHSTtBQVBSO0FDdkRDO0VBQUE7SURnRU87RUFMTjtBQUNGO0FDekRFO0VENkRNO0FBRFI7QUN6REU7RUR3RE07QUFJUjtBQUVBO0VBQ0k7RUFFQTtBQURKO0FBSUE7RUFDSTtFQUNBO0VBRUE7RUFDQTtFQUNBO0VBR0k7QUFMUjtBQzlFQztFQUFBO0lEcUZPO0VBSE47QUFDRjtBQ2hGRTtFRGtGTTtBQUNSO0FDaEZFO0VENkVNO0FBTVI7QUFBQTtFQUNJO0VBRUE7RUFDQTtBQUNKO0FBRUE7RUFDSTtFQUVBO0FBREo7QUFGQTtFQU9ZO0FBRlo7QUNyR0M7RUFBQTtJRHlHVztFQUFWO0FBQ0Y7QUN2R0U7RURzR1U7QUFJWjtBQ3ZHRTtFRGlHVTtBQVNaO0FBRkE7RUFDSTtFQUNBO0FBSUo7QUFEQTtFQUNJO0VBRUE7RUFDQTtFQUNBO0VBQ0E7QUFFSjtBQVJBO0VBU1E7RUFDQTtFQUVBO0FBQ1I7QUFHQTtFQUNJO0FBREo7QUFJQTtFQUNJO0VBRUE7RUFHSTtBQUxSO0FDeElDO0VBQUE7SUQrSU87RUFITjtBQUNGO0FDMUlFO0VENElNO0FBQ1I7QUMxSUU7RUR1SU07QUFNUjtBQUFBO0VBQ0k7RUFFQTtBQUNKO0FBRUE7RUFDSTtFQUVBO0VBRUE7QUFGSjtBQUtBO0VBQ0k7RUFDQTtFQUVBO0FBSkoiLCJzb3VyY2VzIjpbIndlYnBhY2s6Ly9Bd2FyZFdhbGxldC8uL3dlYi9hc3NldHMvYXdhcmR3YWxsZXRtYWluL2Nzcy9vZmZlci9haXJjYW5hZGFzdGF0dXNtYXRjaC5sZXNzIiwid2VicGFjazovL0F3YXJkV2FsbGV0Ly4vd2ViL2Fzc2V0cy9hd2FyZHdhbGxldG5ld2Rlc2lnbi9sZXNzL2hlbHBlcnMvbWl4aW5zLmxlc3MiXSwic291cmNlc0NvbnRlbnQiOlsiQGltcG9ydCAnLi4vLi4vLi4vYXdhcmR3YWxsZXRuZXdkZXNpZ24vbGVzcy9oZWxwZXJzL3ZhcmlhYmxlcyc7XG5AaW1wb3J0ICcuLi8uLi8uLi9hd2FyZHdhbGxldG5ld2Rlc2lnbi9sZXNzL2hlbHBlcnMvbWl4aW5zJztcblxuLm9mZmVyLWJsb2NrIHtcbiAgICBib3gtc2l6aW5nOiBib3JkZXItYm94O1xuICAgIHdpZHRoOiA5MDBweDtcbiAgICBtaW4taGVpZ2h0OiA1MDBweDtcblxuICAgIGJvcmRlcjogc29saWQgMXB4ICM5YjliOWQ7XG4gICAgYmFja2dyb3VuZDogI2YyZjJmMjtcblxuICAgIC5tb2RlKHtcbiAgICAgICAgY29sb3I6ICM1MzU0NTc7XG4gICAgICAgIGJhY2tncm91bmQ6ICAgIC1tb3otbGluZWFyLWdyYWRpZW50KHRvcCwgI2YyZjJmMiAwJSwgI2ZlZmVmZSA0NCUsICNlYmVkZWQgMTAwJSk7XG4gICAgICAgIGJhY2tncm91bmQ6IC13ZWJraXQtbGluZWFyLWdyYWRpZW50KHRvcCwgI2YyZjJmMiAwJSwgI2ZlZmVmZSA0NCUsICNlYmVkZWQgMTAwJSk7XG4gICAgICAgIGJhY2tncm91bmQ6ICAgICAgICAgbGluZWFyLWdyYWRpZW50KHRvIGJvdHRvbSwgI2YyZjJmMiAwJSwgI2ZlZmVmZSA0NCUsICNlYmVkZWQgMTAwJSk7XG5cbiAgICAgICAgZmlsdGVyOiBwcm9naWQ6RFhJbWFnZVRyYW5zZm9ybS5NaWNyb3NvZnQuZ3JhZGllbnQoc3RhcnRDb2xvcnN0cj0nI2YyZjJmMicsIGVuZENvbG9yc3RyPScjZWJlZGVkJyxHcmFkaWVudFR5cGU9MCk7XG4gICAgfSwge1xuICAgICAgICBiYWNrZ3JvdW5kOiBsaW5lYXItZ3JhZGllbnQodG8gYm90dG9tLCAjMTQxNDE0IDAlLCAjMWMxYzFlIDQ0JSwgIzE0MTQxNCAxMDAlKTtcbiAgICAgICAgY29sb3I6ICNmZmY7XG4gICAgfSk7XG59XG5cbi5vZmZlci13cmFwIHtcbiAgICBwYWRkaW5nOiA1MHB4IDQwcHg7XG5cbiAgICBmb250LXNpemU6IDEzcHg7XG59XG5cbi5vZmZlci1jbG9zZSB7XG4gICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgIHRvcDogMTVweDtcbiAgICByaWdodDogMTVweDtcblxuICAgIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcblxuICAgIGNvbG9yOiAjYTBhMGEwICFpbXBvcnRhbnQ7XG5cbiAgICBmb250LXdlaWdodDogMzAwICFpbXBvcnRhbnQ7XG59XG5cbi5vZmZlci1jbG9zZSBpIHtcbiAgICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gICAgdG9wOiAtMXB4O1xuXG4gICAgbWFyZ2luLXJpZ2h0OiAxMHB4O1xufVxuXG4ub2ZmZXItaW1hZ2Uge1xuICAgIHdpZHRoOiAxMDAlO1xuICAgIGhlaWdodDogMjQwcHg7XG4gICAgYm9yZGVyLXJhZGl1czogNXB4O1xuXG4gICAgYmFja2dyb3VuZDogdXJsKCcuLi8uLi9pbWFnZXMvb2ZmZXIvd2ludGVyLW1vdW50YWluLWZ1bmljdWxhci5wbmcnKSBjZW50ZXIgbm8tcmVwZWF0O1xuICAgIGJhY2tncm91bmQtc2l6ZTogY29udGFpbjtcbn1cblxuLm9mZmVyLWJsb2NrIG1hcmsge1xuICAgIGJhY2tncm91bmQ6IG5vbmU7XG5cbiAgICBmb250LXdlaWdodDogYm9sZDtcblxuICAgIC5tb2RlKHtcbiAgICAgICAgY29sb3I6ICMxODZkYjY7XG4gICAgfSx7XG4gICAgICAgIGNvbG9yOiAjMDk4NGZmO1xuICAgIH0pXG59XG5cbi5vZmZlci1ibG9jayAuYnRuLWJsdWUge1xuICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcblxuICAgIG1hcmdpbi10b3A6IDM1cHg7XG59XG5cbi5vZmZlci1ibG9jayBoMyB7XG4gICAgcGFkZGluZy10b3A6IDMwcHg7XG4gICAgcGFkZGluZy1ib3R0b206IDE2cHg7XG5cbiAgICBmb250LXNpemU6IDM2cHg7XG4gICAgZm9udC13ZWlnaHQ6IG5vcm1hbDtcbiAgICBsaW5lLWhlaWdodDogMS4yO1xuXG4gICAgLm1vZGUoe1xuICAgICAgICBjb2xvcjogIzE4NmRiNjtcbiAgICB9LHtcbiAgICAgICAgY29sb3I6ICMwOTg0ZmY7XG4gICAgfSk7XG59XG5cbi5vZmZlci1ibG9jayBwIHtcbiAgICBtYXJnaW4tdG9wOiAzMHB4O1xuXG4gICAgZm9udC1zaXplOiAxNHB4O1xuICAgIGxpbmUtaGVpZ2h0OiAxLjU7XG59XG5cbi5vZmZlci1kYXRhIHtcbiAgICBkaXNwbGF5OiBmbGV4O1xuXG4gICAgcGFkZGluZy10b3A6IDE1cHg7XG5cbiAgICBkaXYge1xuICAgICAgICAubW9kZSh7XG4gICAgICAgICAgICBjb2xvcjogIzUzNTQ1NztcbiAgICAgICAgfSwge1xuICAgICAgICAgICAgY29sb3I6ICNmZmY7XG4gICAgICAgIH0pO1xuICAgIH1cbn1cblxuLm9mZmVyLXN0YXR1cyB7XG4gICAgd2lkdGg6IDU1JTtcbiAgICBwYWRkaW5nLXJpZ2h0OiA1MHB4O1xufVxuXG4ub2ZmZXItYWN0aW9uIHtcbiAgICBwb3NpdGlvbjogcmVsYXRpdmU7XG5cbiAgICB3aWR0aDogNDQlO1xuICAgIG1hcmdpbi10b3A6IC00cHg7XG4gICAgbWFyZ2luLWxlZnQ6IGF1dG87XG4gICAgcGFkZGluZzogMCAwIDAgMzBweDtcblxuICAgIC5jaGVjayB7XG4gICAgICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICAgICAgbGVmdDogMDtcblxuICAgICAgICBtYXJnaW4tdG9wOiA0cHg7XG4gICAgfVxufVxuXG4ub2ZmZXItZGF0YS13cmFwIHtcbiAgICBib3JkZXItdG9wOiBzb2xpZCAycHggI2JlYzJjYztcbn1cblxuLm9mZmVyLWRhdGEtcm93IHtcbiAgICBkaXNwbGF5OiBmbGV4O1xuXG4gICAgcGFkZGluZzogNXB4IDA7XG5cbiAgICAubW9kZSh7XG4gICAgICAgIGJvcmRlci1ib3R0b206IGRvdHRlZCAxcHggI2JlYzJjYztcbiAgICB9LHtcbiAgICAgICAgYm9yZGVyLWJvdHRvbTogZG90dGVkIDFweCAjNWE1YTVmO1xuICAgIH0pO1xufVxuXG4ub2ZmZXItZGF0YS1uYW1lIHtcbiAgICB3aWR0aDogNTIlO1xuXG4gICAgY29sb3I6ICM1MzU0NTc7XG59XG5cbi5vZmZlci1kYXRhLXZhbHVlIHtcbiAgICB3aWR0aDogNDglO1xuXG4gICAgY29sb3I6ICM1MzU0NTc7XG5cbiAgICBmb250LXdlaWdodDogYm9sZDtcbn1cblxuLm9mZmVyLWFjdGlvbiBpbnB1dFt0eXBlPSdjaGVja2JveCddIHtcbiAgICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gICAgbGVmdDogLTFweDtcblxuICAgIG1hcmdpbi10b3A6IDRweDtcbn1cbiIsIi5tb2RlKEBydWxlc2xpZ2h0LCBAcnVsZXNkYXJrKSB7XG5cdEBydWxlc2xpZ2h0KCk7XG5cdEBtZWRpYSBAZGFyayB7XG5cdFx0QHJ1bGVzZGFyaygpO1xuXHR9XG5cdEB7ZGFyay1jbGFzc30gJiB7XG5cdFx0QHJ1bGVzZGFyaygpO1xuXHR9XG5cdEB7bGlnaHQtY2xhc3N9ICYge1xuXHRcdEBydWxlc2xpZ2h0KCk7XG5cdH1cbn1cbi5tb2RlLW1vYihAcnVsZXNsaWdodCwgQHJ1bGVzZGFyaykge1xuXHRAcnVsZXNsaWdodCgpO1xuXHRAbWVkaWEgQGRhcmsge1xuXHRcdEBydWxlc2RhcmsoKTtcblx0fVxuXHRAe2RhcmstY2xhc3N9JiB7XG5cdFx0QHJ1bGVzZGFyaygpO1xuXHR9XG5cdEB7bGlnaHQtY2xhc3N9JiB7XG5cdFx0QHJ1bGVzbGlnaHQoKTtcblx0fVxufVxuLmZvbnQtcmVndWxhcigpe1xuXHRmb250LWZhbWlseTogJ09wZW4gU2FucycsIHNhbnMtc2VyaWY7XG59XG4uZm9udC1ib2xkKCl7XG5cdGZvbnQtd2VpZ2h0OiBib2xkO1xufVxuLmZvbnQtaXRhbGljKCl7XG5cdGZvbnQtc3R5bGU6IGl0YWxpYztcbn1cbi5mb250LXNlbWlib2xkKCl7XG5cdGZvbnQtd2VpZ2h0OiA2MDA7XG59XG4uc3ByaXRlIChAbW9kZSkgd2hlbiAoQG1vZGUgPSBcImRhcmtcIikge1xuXHRiYWNrZ3JvdW5kLWltYWdlOiB1cmwoJ0B7ZGVmYXVsdC1mb2xkZXJ9c3ByaXRlLWRhcmtAMngucG5nQHt2ZXJzaW9ufScpO1xuXHRiYWNrZ3JvdW5kLXNpemU6IDgwMHB4IDYwMHB4O1xuXHRiYWNrZ3JvdW5kLXJlcGVhdDogbm8tcmVwZWF0O1xufVxuLnNwcml0ZSAoQG1vZGUpIHdoZW4gKEBtb2RlID0gXCJsaWdodFwiKSB7XG5cdGJhY2tncm91bmQtaW1hZ2U6IHVybCgnQHtkZWZhdWx0LWZvbGRlcn1zcHJpdGVAMngucG5nQHt2ZXJzaW9ufScpO1xuXHRiYWNrZ3JvdW5kLXNpemU6IDgwMHB4IDYwMHB4O1xuXHRiYWNrZ3JvdW5kLXJlcGVhdDogbm8tcmVwZWF0O1xufVxuLnNpemUoQHdpZHRoLEBoZWlnaHQpe1xuXHR3aWR0aDogQHdpZHRoO1xuXHRoZWlnaHQ6IEBoZWlnaHQ7XG59XG4uYmx1cihAYmx1cil7XG5cdC13ZWJraXQtZmlsdGVyOiBibHVyKEBibHVyKTtcblx0LW1vei1maWx0ZXI6IGJsdXIoQGJsdXIpO1xuXHQtby1maWx0ZXI6IGJsdXIoQGJsdXIpO1xuXHQtbXMtZmlsdGVyOiBibHVyKEBibHVyKTtcblx0ZmlsdGVyOiBibHVyKEBibHVyKTtcbn1cbi5vcGFjaXR5KEBvcGFjaXR5KSB7XG5cdG9wYWNpdHk6IEBvcGFjaXR5O1xufVxuLmJveC1zaXppbmcoQGJveC1zaXppbmcpe1xuXHRib3gtc2l6aW5nOkBib3gtc2l6aW5nO1xuXHQtd2Via2l0LWJveC1zaXppbmc6QGJveC1zaXppbmc7XG5cdC1tb3otYm94LXNpemluZzpAYm94LXNpemluZztcbn1cbi5ib3JkZXItcmFkaXVzKEByYWRpdXMpe1xuXHRib3JkZXItcmFkaXVzOiBAcmFkaXVzO1xuXHQtd2Via2l0LWJvcmRlci1yYWRpdXM6IEByYWRpdXM7XG5cdC1tb3otYm9yZGVyLXJhZGl1czogQHJhZGl1cztcbn1cbi5ib3gtc2hhZG93KEBzaGFkb3cpe1xuXHRib3gtc2hhZG93OiBAc2hhZG93O1xuXHQtd2Via2l0LWJveC1zaGFkb3c6IEBzaGFkb3c7XG5cdC1tb3otYm94LXNoYWRvdzogQHNoYWRvdztcbn1cbi50cmFuc2Zvcm0tc2NhbGUoQHNjYWxlKXtcblx0dHJhbnNmb3JtOiBzY2FsZShAc2NhbGUpO1xuXHQtby10cmFuc2Zvcm06IHNjYWxlKEBzY2FsZSk7XG5cdC1tcy10cmFuc2Zvcm06IHNjYWxlKEBzY2FsZSk7XG5cdC1tb3otdHJhbnNmb3JtOiBzY2FsZShAc2NhbGUpO1xuXHQtd2Via2l0LXRyYW5zZm9ybTogc2NhbGUoQHNjYWxlKTtcbn1cbi5wbGFjZWhvbGRlciguLi4pIHtcblx0Jjo6LXdlYmtpdC1pbnB1dC1wbGFjZWhvbGRlciB7Y29sb3I6QGFyZ3VtZW50c31cblx0Jjo6LW1vei1wbGFjZWhvbGRlciB7Y29sb3I6QGFyZ3VtZW50cztvcGFjaXR5OiAxfVxuXHQmOjotbW96LXBsYWNlaG9sZGVyIHtjb2xvcjpAYXJndW1lbnRzO29wYWNpdHk6IDF9XG5cdCY6LW1zLWlucHV0LXBsYWNlaG9sZGVyIHtjb2xvcjpAYXJndW1lbnRzfVxufVxuLnRyYW5zZm9ybShAdHJhbnNmb3JtKXtcblx0dHJhbnNmb3JtOiBAdHJhbnNmb3JtO1xuXHQtd2Via2l0LXRyYW5zZm9ybTogQHRyYW5zZm9ybTtcblx0LW8tdHJhbnNmb3JtOiBAdHJhbnNmb3JtO1xuXHQtbW96LXRyYW5zZm9ybTogQHRyYW5zZm9ybTtcbn1cbi50cmFuc2Zvcm0tdHJhbnNsYXRlKEB4LCBAeSl7XG5cdHRyYW5zZm9ybTogdHJhbnNsYXRlKEB4LEB5KTtcblx0LXdlYmtpdC10cmFuc2Zvcm06IHRyYW5zbGF0ZShAeCxAeSk7XG5cdC1vLXRyYW5zZm9ybTogdHJhbnNsYXRlKEB4LEB5KTtcblx0LW1vei10cmFuc2Zvcm06IHRyYW5zbGF0ZShAeCxAeSk7XG59XG4udHJhbnNsYXRpb24oQHRyYW5zbGF0aW9uKXtcblx0LXdlYmtpdC10cmFuc2l0aW9uOiBAdHJhbnNsYXRpb247XG5cdC1tb3otdHJhbnNpdGlvbjogQHRyYW5zbGF0aW9uO1xuXHQtby10cmFuc2l0aW9uOiBAdHJhbnNsYXRpb247XG5cdHRyYW5zaXRpb246IEB0cmFuc2xhdGlvbjtcbn1cbi50cmFuc2xhdGlvbi10cmFuc2Zvcm0oQHRyYW5zZm9ybSl7XG5cdC13ZWJraXQtdHJhbnNpdGlvbjogLXdlYmtpdC10cmFuc2Zvcm0gQHRyYW5zZm9ybTtcblx0LW1vei10cmFuc2l0aW9uOiAtbW96LXRyYW5zZm9ybSBAdHJhbnNmb3JtO1xuXHQtby10cmFuc2l0aW9uOiAtby10cmFuc2Zvcm0gQHRyYW5zZm9ybTtcblx0dHJhbnNpdGlvbjogQHRyYW5zZm9ybTtcbn1cbi50cmFuc2Zvcm0tcm90YXRlKEB4KXtcblx0dHJhbnNmb3JtOiAgcm90YXRlKEB4KTtcblx0LXdlYmtpdC10cmFuc2Zvcm06IHJvdGF0ZShAeCk7XG5cdC1vLXRyYW5zZm9ybTogcm90YXRlKEB4KTtcblx0LW1vei10cmFuc2Zvcm06IHJvdGF0ZShAeCk7XG5cdC1tcy10cmFuc2Zvcm06IHJvdGF0ZShAeCk7XG59XG4udXNlci1zZWxlY3QoQHZhbHVlKXtcblx0LXdlYmtpdC11c2VyLXNlbGVjdDogQHZhbHVlO1xuXHQtbW96LXVzZXItc2VsZWN0OiBAdmFsdWU7XG5cdC1tcy11c2VyLXNlbGVjdDogQHZhbHVlO1xuXHQtby11c2VyLXNlbGVjdDogQHZhbHVlO1xuXHR1c2VyLXNlbGVjdDogQHZhbHVlOyBcbn1cbi5iYWNrZ3JvdW5kLWNsaXAoQGJhY2tncm91bmQtY2xpcCl7XG5cdC13ZWJraXQtYmFja2dyb3VuZC1jbGlwOiBAYmFja2dyb3VuZC1jbGlwO1xuXHQtbW96LWJhY2tncm91bmQtY2xpcDogQGJhY2tncm91bmQtY2xpcDtcblx0YmFja2dyb3VuZC1jbGlwOiBAYmFja2dyb3VuZC1jbGlwO1xufVxuLmNsZWFyZml4KEBib3RoKXtcblx0Y29udGVudDogXCIgXCI7XG5cdGhlaWdodDogMDtcblx0ZGlzcGxheTogYmxvY2s7XG5cdGNsZWFyOiBAYm90aDtcbn1cbi5ncmFkaWVudChAY29sb3IsIEBzdGFydCwgQHN0b3ApIHtcblx0QGRhdGFQcmVmaXg6IH5cInVybChkYXRhOmltYWdlL3N2Zyt4bWw7YmFzZTY0LFwiO1xuXHRAZGF0YVN1ZmZpeDogflwiKVwiO1xuXHRAZGF0YUNvbnRlbnQ6IH4nPHN2ZyB4bWxucz1cImh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnXCIgd2lkdGg9XCIxMDAlXCIgaGVpZ2h0PVwiMTAwJVwiIHZpZXdCb3g9XCIwIDAgMSAxXCIgcHJlc2VydmVBc3BlY3RSYXRpbz1cIm5vbmVcIj48bGluZWFyR3JhZGllbnQgaWQ9XCJnNzQzXCIgZ3JhZGllbnRVbml0cz1cInVzZXJTcGFjZU9uVXNlXCIgeDE9XCIwJVwiIHkxPVwiMCVcIiB4Mj1cIjAlXCIgeTI9XCIxMDAlXCI+PHN0b3Agc3RvcC1jb2xvcj1cIkB7c3RhcnR9XCIgb2Zmc2V0PVwiMFwiLz48c3RvcCBzdG9wLWNvbG9yPVwiQHtzdG9wfVwiIG9mZnNldD1cIjFcIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PVwiMFwiIHk9XCIwXCIgd2lkdGg9XCIxXCIgaGVpZ2h0PVwiMVwiIGZpbGw9XCJ1cmwoI2c3NDMpXCIvPjwvc3ZnPic7XG5cdEBiNjRPdXQ6IH5gKGZ1bmN0aW9uKGEsYixjKXtmdW5jdGlvbiBlKGEpe2E9YS5yZXBsYWNlKC9cXHJcXG4vZywnXFxuJyk7dmFyIGI9Jyc7Zm9yKHZhciBjPTA7YzxhLmxlbmd0aDtjKyspe3ZhciBkPWEuY2hhckNvZGVBdChjKTtpZihkPDEyOCl7Yis9U3RyaW5nLmZyb21DaGFyQ29kZShkKX1lbHNlIGlmKGQ+MTI3JiZkPDIwNDgpe2IrPVN0cmluZy5mcm9tQ2hhckNvZGUoZD4+NnwxOTIpO2IrPVN0cmluZy5mcm9tQ2hhckNvZGUoZCY2M3wxMjgpfWVsc2V7Yis9U3RyaW5nLmZyb21DaGFyQ29kZShkPj4xMnwyMjQpO2IrPVN0cmluZy5mcm9tQ2hhckNvZGUoZD4+NiY2M3wxMjgpO2IrPVN0cmluZy5mcm9tQ2hhckNvZGUoZCY2M3wxMjgpfX1yZXR1cm4gYn1mdW5jdGlvbiBmKGEpe3ZhciBiPScnO3ZhciBjLGYsZyxoLGksaixsO3ZhciBtPTA7YT1lKGEpO3doaWxlKG08YS5sZW5ndGgpe2M9YS5jaGFyQ29kZUF0KG0rKyk7Zj1hLmNoYXJDb2RlQXQobSsrKTtnPWEuY2hhckNvZGVBdChtKyspO2g9Yz4+MjtpPShjJjMpPDw0fGY+PjQ7aj0oZiYxNSk8PDJ8Zz4+NjtsPWcmNjM7aWYoaXNOYU4oZikpe2o9bD02NH1lbHNlIGlmKGlzTmFOKGcpKXtsPTY0fWI9YitkLmNoYXJBdChoKStkLmNoYXJBdChpKStkLmNoYXJBdChqKStkLmNoYXJBdChsKX1yZXR1cm4gYn12YXIgZD0nQUJDREVGR0hJSktMTU5PUFFSU1RVVldYWVphYmNkZWZnaGlqa2xtbm9wcXJzdHV2d3h5ejAxMjM0NTY3ODkrLz0nO3JldHVybiBhK2YoYikrY30pKCdAe2RhdGFQcmVmaXh9JywnQHtkYXRhQ29udGVudH0nLCdAe2RhdGFTdWZmaXh9JylgO1xuXHRiYWNrZ3JvdW5kLWNvbG9yOiBAY29sb3I7IC8vIEJhc2Ugc29saWQgY29sb3VyIGZhbGxiYWNrXG5cdGJhY2tncm91bmQtaW1hZ2U6IH5cIkB7YjY0T3V0fVwiOyAvLyBJRTlcblx0YmFja2dyb3VuZC1pbWFnZTogLW1vei1saW5lYXItZ3JhZGllbnQodG9wLCBAc3RhcnQsIEBzdG9wKTsgLy8gRkYgMy42K1xuXHRiYWNrZ3JvdW5kLWltYWdlOiAtbXMtbGluZWFyLWdyYWRpZW50KHRvcCwgQHN0YXJ0LCBAc3RvcCk7IC8vIElFMTBcblx0YmFja2dyb3VuZC1pbWFnZTogLXdlYmtpdC1ncmFkaWVudChsaW5lYXIsIDAgMCwgMCAxMDAlLCBmcm9tKEBzdGFydCksIHRvKEBzdG9wKSk7IC8vIFNhZmFyaSA0KywgQ2hyb21lIDIrXG5cdGJhY2tncm91bmQtaW1hZ2U6IC13ZWJraXQtbGluZWFyLWdyYWRpZW50KHRvcCwgQHN0YXJ0LCBAc3RvcCk7IC8vIFNhZmFyaSA1LjErLCBDaHJvbWUgMTArXG5cdGJhY2tncm91bmQtaW1hZ2U6IC1vLWxpbmVhci1ncmFkaWVudCh0b3AsIEBzdGFydCwgQHN0b3ApOyAvLyBPcGVyYSAxMS4xMFxuXHRiYWNrZ3JvdW5kLWltYWdlOiBsaW5lYXItZ3JhZGllbnQodG8gYm90dG9tLCBAc3RhcnQsIEBzdG9wKTsgLy8gVGhlIHN0YW5kYXJkXG59XG4uZ3JhZGllbnQtYm90dG9tKEBjb2xvcixAc3RhcnQsQHN0b3Ape1xuXHRiYWNrZ3JvdW5kOiBAY29sb3I7XG5cdGJhY2tncm91bmQ6IC13ZWJraXQtZ3JhZGllbnQobGluZWFyLCAwIDAsIDAgYm90dG9tLCBmcm9tKEBzdGFydCksIHRvKEBzdG9wKSk7XG5cdGJhY2tncm91bmQ6IC13ZWJraXQtbGluZWFyLWdyYWRpZW50KEBzdGFydCwgQHN0b3ApO1xuXHRiYWNrZ3JvdW5kOiAtbW96LWxpbmVhci1ncmFkaWVudChAc3RhcnQsIEBzdG9wKTtcblx0YmFja2dyb3VuZDogLW1zLWxpbmVhci1ncmFkaWVudChAc3RhcnQsIEBzdG9wKTtcblx0YmFja2dyb3VuZDogLW8tbGluZWFyLWdyYWRpZW50KEBzdGFydCwgQHN0b3ApO1xuXHRiYWNrZ3JvdW5kOiBsaW5lYXItZ3JhZGllbnQoQHN0YXJ0LCBAc3RvcCk7XG59XG5AaGlnaGRwaTogflwiKC13ZWJraXQtbWluLWRldmljZS1waXhlbC1yYXRpbzogMS41KSwgKG1pbi0tbW96LWRldmljZS1waXhlbC1yYXRpbzogMS41KSwgKC1vLW1pbi1kZXZpY2UtcGl4ZWwtcmF0aW86IDMvMiksIChtaW4tcmVzb2x1dGlvbjogMS41ZHBweClcIjtcblxuLmF0MngoQHBhdGgsIEB3OiBhdXRvLCBAaDogYXV0bykge1xuXHRiYWNrZ3JvdW5kLWltYWdlOiB1cmwoQHBhdGgpO1xuXHRAYXQyeF9wYXRoOiB+YEB7cGF0aH0ucmVwbGFjZSgvXFwuXFx3LywgZnVuY3Rpb24obWF0Y2gpIHsgcmV0dXJuIFwiQDJ4XCIgKyBtYXRjaDsgfSlgO1xuXG5cdEBtZWRpYSBAaGlnaGRwaSB7XG5cdFx0YmFja2dyb3VuZC1pbWFnZTogdXJsKFwiQHthdDJ4X3BhdGh9XCIpO1xuXHRcdGJhY2tncm91bmQtc2l6ZTogQHcgQGg7XG5cdH1cbn1cblxuLnNoYWRvdygpe1xuXHRwb3NpdGlvbjpyZWxhdGl2ZTtcblx0JjpiZWZvcmUsXG5cdCY6YWZ0ZXJ7XG5cdFx0Y29udGVudDpcIlwiO1xuXHRcdHBvc2l0aW9uOmFic29sdXRlO1xuXHRcdHotaW5kZXg6LTE7XG5cdFx0LmJveC1zaGFkb3coMCAwIDhweCByZ2JhKDAsMCwwLDAuNSkpO1xuXHRcdHRvcDowO1xuXHRcdGJvdHRvbTowO1xuXHRcdGxlZnQ6MTBweDtcblx0XHRyaWdodDoxMHB4O1xuXHRcdC5ib3JkZXItcmFkaXVzKH4nMTAwcHggLyAxMHB4Jyk7XG5cdH1cblx0JjphZnRlcntcblx0XHRyaWdodDoxMHB4O1xuXHRcdGxlZnQ6YXV0bztcblx0XHQudHJhbnNmb3JtKHNrZXcoOGRlZykgcm90YXRlKDNkZWcpKTtcblx0fVxufSJdLCJuYW1lcyI6W10sInNvdXJjZVJvb3QiOiIifQ==*/