/*!************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[2]!./web/assets/awardwalletmain/css/offer/amexrpg.css ***!
  \************************************************************************************************************************************************************************************************************************/
.amexrpg_title{
    margin-top: 51px;
}

.amexrpg_ul{
    margin-bottom: 36px;
}

.amexrpg_list li{
    width: 440px;
}

.amexrpg_toaccount{
    margin-bottom: 28px;
}

.amexrpg_bg{
    margin-top: 20px;
    padding-bottom: 50px;
    padding-right: 51px;
}

.amexrpg_image{
    width: 261px;
    height: 225px;
    background: url(/a/images/amexrpgcard.8680cf95.png);
    position: absolute;
    right: 65px;
    top: 210px;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoib2ZmZXJzL2FtZXhycGcuY3NzIiwibWFwcGluZ3MiOiI7OztBQUFBO0lBQ0ksZ0JBQWdCO0FBQ3BCOztBQUVBO0lBQ0ksbUJBQW1CO0FBQ3ZCOztBQUVBO0lBQ0ksWUFBWTtBQUNoQjs7QUFFQTtJQUNJLG1CQUFtQjtBQUN2Qjs7QUFFQTtJQUNJLGdCQUFnQjtJQUNoQixvQkFBb0I7SUFDcEIsbUJBQW1CO0FBQ3ZCOztBQUVBO0lBQ0ksWUFBWTtJQUNaLGFBQWE7SUFDYixtREFBbUQ7SUFDbkQsa0JBQWtCO0lBQ2xCLFdBQVc7SUFDWCxVQUFVO0FBQ2QsQyIsInNvdXJjZXMiOlsid2VicGFjazovL0F3YXJkV2FsbGV0Ly4vd2ViL2Fzc2V0cy9hd2FyZHdhbGxldG1haW4vY3NzL29mZmVyL2FtZXhycGcuY3NzIl0sInNvdXJjZXNDb250ZW50IjpbIi5hbWV4cnBnX3RpdGxle1xuICAgIG1hcmdpbi10b3A6IDUxcHg7XG59XG5cbi5hbWV4cnBnX3Vse1xuICAgIG1hcmdpbi1ib3R0b206IDM2cHg7XG59XG5cbi5hbWV4cnBnX2xpc3QgbGl7XG4gICAgd2lkdGg6IDQ0MHB4O1xufVxuXG4uYW1leHJwZ190b2FjY291bnR7XG4gICAgbWFyZ2luLWJvdHRvbTogMjhweDtcbn1cblxuLmFtZXhycGdfYmd7XG4gICAgbWFyZ2luLXRvcDogMjBweDtcbiAgICBwYWRkaW5nLWJvdHRvbTogNTBweDtcbiAgICBwYWRkaW5nLXJpZ2h0OiA1MXB4O1xufVxuXG4uYW1leHJwZ19pbWFnZXtcbiAgICB3aWR0aDogMjYxcHg7XG4gICAgaGVpZ2h0OiAyMjVweDtcbiAgICBiYWNrZ3JvdW5kOiB1cmwoLi4vLi4vaW1hZ2VzL29mZmVyL2FtZXhycGdjYXJkLnBuZyk7XG4gICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgIHJpZ2h0OiA2NXB4O1xuICAgIHRvcDogMjEwcHg7XG59Il0sIm5hbWVzIjpbXSwic291cmNlUm9vdCI6IiJ9*/