/*!*************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[2]!./web/assets/awardwalletmain/css/offer/amexgold.css ***!
  \*************************************************************************************************************************************************************************************************************************/
.amexgold_title{
    margin-top: 75px;
    width: 560px;
    margin-bottom: 65px;
}

.amexgold_ul{
    margin-bottom: 48px;
}

.amexgold_list li{
    width: 440px;
    margin-bottom: 12px;
}

.amexgold_toaccount{
    margin-bottom: 28px;
}

.amexgold_bg{
    margin-top: 20px;
    padding-bottom: 46px;
    padding-right: 51px;
}

.amexgold_image{
    width: 261px;
    height: 224px;
    background: url(/a/images/amexgold_card.bcca2e95.png);
    position: absolute;
    right: 38px;
    top: 175px;
}

.amexgold_btn{
    padding-right: 20px;
    padding-left: 20px;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoib2ZmZXJzL2FtZXhnb2xkLmNzcyIsIm1hcHBpbmdzIjoiOzs7QUFBQTtJQUNJLGdCQUFnQjtJQUNoQixZQUFZO0lBQ1osbUJBQW1CO0FBQ3ZCOztBQUVBO0lBQ0ksbUJBQW1CO0FBQ3ZCOztBQUVBO0lBQ0ksWUFBWTtJQUNaLG1CQUFtQjtBQUN2Qjs7QUFFQTtJQUNJLG1CQUFtQjtBQUN2Qjs7QUFFQTtJQUNJLGdCQUFnQjtJQUNoQixvQkFBb0I7SUFDcEIsbUJBQW1CO0FBQ3ZCOztBQUVBO0lBQ0ksWUFBWTtJQUNaLGFBQWE7SUFDYixtREFBcUQ7SUFDckQsa0JBQWtCO0lBQ2xCLFdBQVc7SUFDWCxVQUFVO0FBQ2Q7O0FBRUE7SUFDSSxtQkFBbUI7SUFDbkIsa0JBQWtCO0FBQ3RCLEMiLCJzb3VyY2VzIjpbIndlYnBhY2s6Ly9Bd2FyZFdhbGxldC8uL3dlYi9hc3NldHMvYXdhcmR3YWxsZXRtYWluL2Nzcy9vZmZlci9hbWV4Z29sZC5jc3MiXSwic291cmNlc0NvbnRlbnQiOlsiLmFtZXhnb2xkX3RpdGxle1xuICAgIG1hcmdpbi10b3A6IDc1cHg7XG4gICAgd2lkdGg6IDU2MHB4O1xuICAgIG1hcmdpbi1ib3R0b206IDY1cHg7XG59XG5cbi5hbWV4Z29sZF91bHtcbiAgICBtYXJnaW4tYm90dG9tOiA0OHB4O1xufVxuXG4uYW1leGdvbGRfbGlzdCBsaXtcbiAgICB3aWR0aDogNDQwcHg7XG4gICAgbWFyZ2luLWJvdHRvbTogMTJweDtcbn1cblxuLmFtZXhnb2xkX3RvYWNjb3VudHtcbiAgICBtYXJnaW4tYm90dG9tOiAyOHB4O1xufVxuXG4uYW1leGdvbGRfYmd7XG4gICAgbWFyZ2luLXRvcDogMjBweDtcbiAgICBwYWRkaW5nLWJvdHRvbTogNDZweDtcbiAgICBwYWRkaW5nLXJpZ2h0OiA1MXB4O1xufVxuXG4uYW1leGdvbGRfaW1hZ2V7XG4gICAgd2lkdGg6IDI2MXB4O1xuICAgIGhlaWdodDogMjI0cHg7XG4gICAgYmFja2dyb3VuZDogdXJsKC4uLy4uL2ltYWdlcy9vZmZlci9hbWV4Z29sZF9jYXJkLnBuZyk7XG4gICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgIHJpZ2h0OiAzOHB4O1xuICAgIHRvcDogMTc1cHg7XG59XG5cbi5hbWV4Z29sZF9idG57XG4gICAgcGFkZGluZy1yaWdodDogMjBweDtcbiAgICBwYWRkaW5nLWxlZnQ6IDIwcHg7XG59Il0sIm5hbWVzIjpbXSwic291cmNlUm9vdCI6IiJ9*/