/*!***********************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[2]!./web/assets/awardwalletmain/css/offer/amexbg.css ***!
  \***********************************************************************************************************************************************************************************************************************/
.amexbg_title{
    margin-top: 51px;
    width: 540px;
    font-size: 31px;
}

.amexbg_medal{
    width: 370px;
    height: 333px;
    background: url(/a/images/amexbg_medal.9f620235.png);
    position: absolute;
    top: -6px;
    right: 0px;
    z-index: 0;
}

.amexbg_star{
    width: 470px;
    height: 470px;
    background: url(/a/images/amexbg_star.4a44b4fd.png);
    position: absolute;
    top: 91px;
    left: 32px;
    z-index: 0;
}

.amexbg_ul{
    position: relative;
    left: 310px;
    top: 22px;
    z-index: 100;
    width: 400px;
}

.amexbg_moved li{
background-position: 4em 4em;
}

.amexbg_card{
    width: 341px;
    height: 294px;
    background: url(/a/images/amexbg_card.6d5fe977.png);
    position: absolute;
    top: 300px;
    left: 4px;
    z-index: 0;
}

.amexbg_big{
    font-size: 28px;
    color: #186db6;
}

.amexbg_list {
    position: relative;
    list-style: none;
}
.amexbg_static {
    position: relative;
    font-size: 12px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 454px;
    color: #3e3e3e;
    list-style-type: none;
    padding-left: 20px;
    margin-bottom: 16px;
    background-image: url(/a/images/spg_bullet.714958ac.png);
    background-repeat: no-repeat;
    background-position: 0 .25em;
}
.amexbg_moved {
    position: relative;
    font-size: 12px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 454px;
    color: #3e3e3e;
    list-style-type: none;
    padding-left: 20px;
    margin-bottom: 16px;
    background-image: url(/a/images/spg_bullet.714958ac.png);
    background-repeat: no-repeat;
    background-position: 0 1.5em;
}

.amexbg_btn{
    margin-top: 32px;
    margin-bottom: 48px;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoib2ZmZXJzL2FtZXhiZy5jc3MiLCJtYXBwaW5ncyI6Ijs7O0FBQUE7SUFDSSxnQkFBZ0I7SUFDaEIsWUFBWTtJQUNaLGVBQWU7QUFDbkI7O0FBRUE7SUFDSSxZQUFZO0lBQ1osYUFBYTtJQUNiLG1EQUFvRDtJQUNwRCxrQkFBa0I7SUFDbEIsU0FBUztJQUNULFVBQVU7SUFDVixVQUFVO0FBQ2Q7O0FBRUE7SUFDSSxZQUFZO0lBQ1osYUFBYTtJQUNiLG1EQUFtRDtJQUNuRCxrQkFBa0I7SUFDbEIsU0FBUztJQUNULFVBQVU7SUFDVixVQUFVO0FBQ2Q7O0FBRUE7SUFDSSxrQkFBa0I7SUFDbEIsV0FBVztJQUNYLFNBQVM7SUFDVCxZQUFZO0lBQ1osWUFBWTtBQUNoQjs7QUFFQTtBQUNBLDRCQUE0QjtBQUM1Qjs7QUFFQTtJQUNJLFlBQVk7SUFDWixhQUFhO0lBQ2IsbURBQW1EO0lBQ25ELGtCQUFrQjtJQUNsQixVQUFVO0lBQ1YsU0FBUztJQUNULFVBQVU7QUFDZDs7QUFFQTtJQUNJLGVBQWU7SUFDZixjQUFjO0FBQ2xCOztBQUVBO0lBQ0ksa0JBQWtCO0lBQ2xCLGdCQUFnQjtBQUNwQjtBQUNBO0lBQ0ksa0JBQWtCO0lBQ2xCLGVBQWU7SUFDZiwyREFBMkQ7SUFDM0QsWUFBWTtJQUNaLGNBQWM7SUFDZCxxQkFBcUI7SUFDckIsa0JBQWtCO0lBQ2xCLG1CQUFtQjtJQUNuQix5REFBd0Q7SUFDeEQsNEJBQTRCO0lBQzVCLDRCQUE0QjtBQUNoQztBQUNBO0lBQ0ksa0JBQWtCO0lBQ2xCLGVBQWU7SUFDZiwyREFBMkQ7SUFDM0QsWUFBWTtJQUNaLGNBQWM7SUFDZCxxQkFBcUI7SUFDckIsa0JBQWtCO0lBQ2xCLG1CQUFtQjtJQUNuQix5REFBd0Q7SUFDeEQsNEJBQTRCO0lBQzVCLDRCQUE0QjtBQUNoQzs7QUFFQTtJQUNJLGdCQUFnQjtJQUNoQixtQkFBbUI7QUFDdkIsQyIsInNvdXJjZXMiOlsid2VicGFjazovL0F3YXJkV2FsbGV0Ly4vd2ViL2Fzc2V0cy9hd2FyZHdhbGxldG1haW4vY3NzL29mZmVyL2FtZXhiZy5jc3MiXSwic291cmNlc0NvbnRlbnQiOlsiLmFtZXhiZ190aXRsZXtcbiAgICBtYXJnaW4tdG9wOiA1MXB4O1xuICAgIHdpZHRoOiA1NDBweDtcbiAgICBmb250LXNpemU6IDMxcHg7XG59XG5cbi5hbWV4YmdfbWVkYWx7XG4gICAgd2lkdGg6IDM3MHB4O1xuICAgIGhlaWdodDogMzMzcHg7XG4gICAgYmFja2dyb3VuZDogdXJsKC4uLy4uL2ltYWdlcy9vZmZlci9hbWV4YmdfbWVkYWwucG5nKTtcbiAgICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gICAgdG9wOiAtNnB4O1xuICAgIHJpZ2h0OiAwcHg7XG4gICAgei1pbmRleDogMDtcbn1cblxuLmFtZXhiZ19zdGFye1xuICAgIHdpZHRoOiA0NzBweDtcbiAgICBoZWlnaHQ6IDQ3MHB4O1xuICAgIGJhY2tncm91bmQ6IHVybCguLi8uLi9pbWFnZXMvb2ZmZXIvYW1leGJnX3N0YXIucG5nKTtcbiAgICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gICAgdG9wOiA5MXB4O1xuICAgIGxlZnQ6IDMycHg7XG4gICAgei1pbmRleDogMDtcbn1cblxuLmFtZXhiZ191bHtcbiAgICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gICAgbGVmdDogMzEwcHg7XG4gICAgdG9wOiAyMnB4O1xuICAgIHotaW5kZXg6IDEwMDtcbiAgICB3aWR0aDogNDAwcHg7XG59XG5cbi5hbWV4YmdfbW92ZWQgbGl7XG5iYWNrZ3JvdW5kLXBvc2l0aW9uOiA0ZW0gNGVtO1xufVxuXG4uYW1leGJnX2NhcmR7XG4gICAgd2lkdGg6IDM0MXB4O1xuICAgIGhlaWdodDogMjk0cHg7XG4gICAgYmFja2dyb3VuZDogdXJsKC4uLy4uL2ltYWdlcy9vZmZlci9hbWV4YmdfY2FyZC5wbmcpO1xuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICB0b3A6IDMwMHB4O1xuICAgIGxlZnQ6IDRweDtcbiAgICB6LWluZGV4OiAwO1xufVxuXG4uYW1leGJnX2JpZ3tcbiAgICBmb250LXNpemU6IDI4cHg7XG4gICAgY29sb3I6ICMxODZkYjY7XG59XG5cbi5hbWV4YmdfbGlzdCB7XG4gICAgcG9zaXRpb246IHJlbGF0aXZlO1xuICAgIGxpc3Qtc3R5bGU6IG5vbmU7XG59XG4uYW1leGJnX3N0YXRpYyB7XG4gICAgcG9zaXRpb246IHJlbGF0aXZlO1xuICAgIGZvbnQtc2l6ZTogMTJweDtcbiAgICBmb250LWZhbWlseTogJ0hlbHZldGljYSBOZXVlJywgSGVsdmV0aWNhLCBBcmlhbCwgc2Fucy1zZXJpZjtcbiAgICB3aWR0aDogNDU0cHg7XG4gICAgY29sb3I6ICMzZTNlM2U7XG4gICAgbGlzdC1zdHlsZS10eXBlOiBub25lO1xuICAgIHBhZGRpbmctbGVmdDogMjBweDtcbiAgICBtYXJnaW4tYm90dG9tOiAxNnB4O1xuICAgIGJhY2tncm91bmQtaW1hZ2U6IHVybCguLi8uLi9pbWFnZXMvb2ZmZXIvc3BnX2J1bGxldC5wbmcpO1xuICAgIGJhY2tncm91bmQtcmVwZWF0OiBuby1yZXBlYXQ7XG4gICAgYmFja2dyb3VuZC1wb3NpdGlvbjogMCAuMjVlbTtcbn1cbi5hbWV4YmdfbW92ZWQge1xuICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgICBmb250LXNpemU6IDEycHg7XG4gICAgZm9udC1mYW1pbHk6ICdIZWx2ZXRpY2EgTmV1ZScsIEhlbHZldGljYSwgQXJpYWwsIHNhbnMtc2VyaWY7XG4gICAgd2lkdGg6IDQ1NHB4O1xuICAgIGNvbG9yOiAjM2UzZTNlO1xuICAgIGxpc3Qtc3R5bGUtdHlwZTogbm9uZTtcbiAgICBwYWRkaW5nLWxlZnQ6IDIwcHg7XG4gICAgbWFyZ2luLWJvdHRvbTogMTZweDtcbiAgICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoLi4vLi4vaW1hZ2VzL29mZmVyL3NwZ19idWxsZXQucG5nKTtcbiAgICBiYWNrZ3JvdW5kLXJlcGVhdDogbm8tcmVwZWF0O1xuICAgIGJhY2tncm91bmQtcG9zaXRpb246IDAgMS41ZW07XG59XG5cbi5hbWV4YmdfYnRue1xuICAgIG1hcmdpbi10b3A6IDMycHg7XG4gICAgbWFyZ2luLWJvdHRvbTogNDhweDtcbn0iXSwibmFtZXMiOltdLCJzb3VyY2VSb290IjoiIn0=*/