/*!********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[2]!./web/assets/awardwalletmain/css/offer/awardwalletplussubscription.css ***!
  \********************************************************************************************************************************************************************************************************************************************/
.offer-block * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    font-family: Helvetica Neue, arial, sans-serif;
    padding: 0;
}

.offer-block {
    width: 900px;
    height: 696px;
    background: url(/a/images/radial-offer-bg.3b00115c.jpg) no-repeat;
    background-size: 900px 696px;
    margin: 50px auto 0;
    border: 1px solid #9a9a9a;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.offer-block h3 {
    font-size: 36px;
    color: #186db6;
    line-height: 40px;
    font-weight: normal;
    text-shadow: 0 1px #fff;
}

.offer-block p {
    font-size: 14px;
    line-height: 1.3;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #3e3e3e;
    text-shadow: 0 1px #fff;
}

.offer-block p:first-child {
    margin-top: 0;
}

.offer-block p:first-child:first-letter {
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
}

.offer-block p a {
    font-size: 14px;
    font-weight: bold;
    color: #4684c4;
    text-decoration: none;
}

.offer-block p a:hover {
    text-decoration: underline;
}

.offer-block .btn-blue {
    display: inline-block;
    margin-top: 25px;
}

.awardwallet-plus {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 30px 40px;
}

.awardwallet-plus .main-table {
    border-spacing: 0;
    border-collapse: separate;
    width: 100%;
    margin-top: 10px;
    border-top: 0;
}

.awardwallet-plus .main-table tr:nth-child(2) td {
    border-top: 2px solid #8e9199;;
}

.awardwallet-plus .main-table td.status {
    text-align: center;
}

.awardwallet-plus span.offer-bold {
    font-weight: bold;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    .offer-block {
        background-image: url(/a/images/radial-offer-bg@2x.bb4101cd.jpg);
        background-size: 900px 696px;
    }
}

@media (prefers-color-scheme: dark) {
    html:not(.light-mode) .offer-block {
        background: #141414;
        color: #fff;
    }
    html:not(.light-mode) .offer-block td,
    html:not(.light-mode) .offer-block p {
        color: #fff !important;
    }
    html:not(.light-mode) .offer-block h3,
    html:not(.light-mode) .offer-block p {
        text-shadow: none;
    }
}

html.dark-mode .offer-block {
    background: #141414;
    color: #fff;
}
html.dark-mode .offer-block td,
html.dark-mode .offer-block p {
    color: #fff !important;
}
html.dark-mode .offer-block h3,
html.dark-mode .offer-block p {
    text-shadow: none;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoib2ZmZXJzL2F3YXJkd2FsbGV0cGx1c3N1YnNjcmlwdGlvbi5jc3MiLCJtYXBwaW5ncyI6Ijs7O0FBQUE7SUFDSSxzQkFBc0I7SUFDdEIsOEJBQThCO0lBQzlCLDJCQUEyQjtJQUMzQixTQUFTO0lBQ1QsOENBQThDO0lBQzlDLFVBQVU7QUFDZDs7QUFFQTtJQUNJLFlBQVk7SUFDWixhQUFhO0lBQ2IsNkRBQTRGO0lBQzVGLDRCQUE0QjtJQUM1QixtQkFBbUI7SUFDbkIseUJBQXlCO0lBQ3pCLHNCQUFzQjtJQUN0Qiw4QkFBOEI7SUFDOUIsMkJBQTJCO0FBQy9COztBQUVBO0lBQ0ksZUFBZTtJQUNmLGNBQWM7SUFDZCxpQkFBaUI7SUFDakIsbUJBQW1CO0lBQ25CLHVCQUF1QjtBQUMzQjs7QUFFQTtJQUNJLGVBQWU7SUFDZixnQkFBZ0I7SUFDaEIsZ0JBQWdCO0lBQ2hCLG1CQUFtQjtJQUNuQixjQUFjO0lBQ2QsdUJBQXVCO0FBQzNCOztBQUVBO0lBQ0ksYUFBYTtBQUNqQjs7QUFFQTtJQUNJLGVBQWU7SUFDZixtQkFBbUI7SUFDbkIsY0FBYztBQUNsQjs7QUFFQTtJQUNJLGVBQWU7SUFDZixpQkFBaUI7SUFDakIsY0FBYztJQUNkLHFCQUFxQjtBQUN6Qjs7QUFFQTtJQUNJLDBCQUEwQjtBQUM5Qjs7QUFFQTtJQUNJLHFCQUFxQjtJQUNyQixnQkFBZ0I7QUFDcEI7O0FBRUE7SUFDSSxrQkFBa0I7SUFDbEIsV0FBVztJQUNYLFlBQVk7SUFDWixrQkFBa0I7QUFDdEI7O0FBRUE7SUFDSSxpQkFBaUI7SUFDakIseUJBQXlCO0lBQ3pCLFdBQVc7SUFDWCxnQkFBZ0I7SUFDaEIsYUFBYTtBQUNqQjs7QUFFQTtJQUNJLDZCQUE2QjtBQUNqQzs7QUFFQTtJQUNJLGtCQUFrQjtBQUN0Qjs7QUFFQTtJQUNJLGlCQUFpQjtBQUNyQjs7QUFFQTtJQUNJO1FBQ0kseURBQTZGO1FBQzdGLDRCQUE0QjtJQUNoQztBQUNKOztBQUVBO0lBQ0k7UUFDSSxtQkFBbUI7UUFDbkIsV0FBVztJQUNmO0lBQ0E7O1FBRUksc0JBQXNCO0lBQzFCO0lBQ0E7O1FBRUksaUJBQWlCO0lBQ3JCO0FBQ0o7O0FBRUE7SUFDSSxtQkFBbUI7SUFDbkIsV0FBVztBQUNmO0FBQ0E7O0lBRUksc0JBQXNCO0FBQzFCO0FBQ0E7O0lBRUksaUJBQWlCO0FBQ3JCLEMiLCJzb3VyY2VzIjpbIndlYnBhY2s6Ly9Bd2FyZFdhbGxldC8uL3dlYi9hc3NldHMvYXdhcmR3YWxsZXRtYWluL2Nzcy9vZmZlci9hd2FyZHdhbGxldHBsdXNzdWJzY3JpcHRpb24uY3NzIl0sInNvdXJjZXNDb250ZW50IjpbIi5vZmZlci1ibG9jayAqIHtcbiAgICBib3gtc2l6aW5nOiBib3JkZXItYm94O1xuICAgIC13ZWJraXQtYm94LXNpemluZzogYm9yZGVyLWJveDtcbiAgICAtbW96LWJveC1zaXppbmc6IGJvcmRlci1ib3g7XG4gICAgbWFyZ2luOiAwO1xuICAgIGZvbnQtZmFtaWx5OiBIZWx2ZXRpY2EgTmV1ZSwgYXJpYWwsIHNhbnMtc2VyaWY7XG4gICAgcGFkZGluZzogMDtcbn1cblxuLm9mZmVyLWJsb2NrIHtcbiAgICB3aWR0aDogOTAwcHg7XG4gICAgaGVpZ2h0OiA2OTZweDtcbiAgICBiYWNrZ3JvdW5kOiB1cmwoLi4vLi4vaW1hZ2VzL29mZmVyL2F3YXJkd2FsbGV0cGx1c3N1YmNyaXB0aW9uL3JhZGlhbC1vZmZlci1iZy5qcGcpIG5vLXJlcGVhdDtcbiAgICBiYWNrZ3JvdW5kLXNpemU6IDkwMHB4IDY5NnB4O1xuICAgIG1hcmdpbjogNTBweCBhdXRvIDA7XG4gICAgYm9yZGVyOiAxcHggc29saWQgIzlhOWE5YTtcbiAgICBib3gtc2l6aW5nOiBib3JkZXItYm94O1xuICAgIC13ZWJraXQtYm94LXNpemluZzogYm9yZGVyLWJveDtcbiAgICAtbW96LWJveC1zaXppbmc6IGJvcmRlci1ib3g7XG59XG5cbi5vZmZlci1ibG9jayBoMyB7XG4gICAgZm9udC1zaXplOiAzNnB4O1xuICAgIGNvbG9yOiAjMTg2ZGI2O1xuICAgIGxpbmUtaGVpZ2h0OiA0MHB4O1xuICAgIGZvbnQtd2VpZ2h0OiBub3JtYWw7XG4gICAgdGV4dC1zaGFkb3c6IDAgMXB4ICNmZmY7XG59XG5cbi5vZmZlci1ibG9jayBwIHtcbiAgICBmb250LXNpemU6IDE0cHg7XG4gICAgbGluZS1oZWlnaHQ6IDEuMztcbiAgICBtYXJnaW4tdG9wOiAyMHB4O1xuICAgIG1hcmdpbi1ib3R0b206IDE1cHg7XG4gICAgY29sb3I6ICMzZTNlM2U7XG4gICAgdGV4dC1zaGFkb3c6IDAgMXB4ICNmZmY7XG59XG5cbi5vZmZlci1ibG9jayBwOmZpcnN0LWNoaWxkIHtcbiAgICBtYXJnaW4tdG9wOiAwO1xufVxuXG4ub2ZmZXItYmxvY2sgcDpmaXJzdC1jaGlsZDpmaXJzdC1sZXR0ZXIge1xuICAgIGZvbnQtc2l6ZTogMzBweDtcbiAgICBmb250LXdlaWdodDogbm9ybWFsO1xuICAgIGxpbmUtaGVpZ2h0OiAxO1xufVxuXG4ub2ZmZXItYmxvY2sgcCBhIHtcbiAgICBmb250LXNpemU6IDE0cHg7XG4gICAgZm9udC13ZWlnaHQ6IGJvbGQ7XG4gICAgY29sb3I6ICM0Njg0YzQ7XG4gICAgdGV4dC1kZWNvcmF0aW9uOiBub25lO1xufVxuXG4ub2ZmZXItYmxvY2sgcCBhOmhvdmVyIHtcbiAgICB0ZXh0LWRlY29yYXRpb246IHVuZGVybGluZTtcbn1cblxuLm9mZmVyLWJsb2NrIC5idG4tYmx1ZSB7XG4gICAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xuICAgIG1hcmdpbi10b3A6IDI1cHg7XG59XG5cbi5hd2FyZHdhbGxldC1wbHVzIHtcbiAgICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gICAgd2lkdGg6IDEwMCU7XG4gICAgaGVpZ2h0OiAxMDAlO1xuICAgIHBhZGRpbmc6IDMwcHggNDBweDtcbn1cblxuLmF3YXJkd2FsbGV0LXBsdXMgLm1haW4tdGFibGUge1xuICAgIGJvcmRlci1zcGFjaW5nOiAwO1xuICAgIGJvcmRlci1jb2xsYXBzZTogc2VwYXJhdGU7XG4gICAgd2lkdGg6IDEwMCU7XG4gICAgbWFyZ2luLXRvcDogMTBweDtcbiAgICBib3JkZXItdG9wOiAwO1xufVxuXG4uYXdhcmR3YWxsZXQtcGx1cyAubWFpbi10YWJsZSB0cjpudGgtY2hpbGQoMikgdGQge1xuICAgIGJvcmRlci10b3A6IDJweCBzb2xpZCAjOGU5MTk5Oztcbn1cblxuLmF3YXJkd2FsbGV0LXBsdXMgLm1haW4tdGFibGUgdGQuc3RhdHVzIHtcbiAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG59XG5cbi5hd2FyZHdhbGxldC1wbHVzIHNwYW4ub2ZmZXItYm9sZCB7XG4gICAgZm9udC13ZWlnaHQ6IGJvbGQ7XG59XG5cbkBtZWRpYSAoLXdlYmtpdC1taW4tZGV2aWNlLXBpeGVsLXJhdGlvOiAxLjUpLCAobWluLS1tb3otZGV2aWNlLXBpeGVsLXJhdGlvOiAxLjUpLCAoLW8tbWluLWRldmljZS1waXhlbC1yYXRpbzogMy8yKSwgKG1pbi1yZXNvbHV0aW9uOiAxLjVkcHB4KSB7XG4gICAgLm9mZmVyLWJsb2NrIHtcbiAgICAgICAgYmFja2dyb3VuZC1pbWFnZTogdXJsKFwiLi4vLi4vaW1hZ2VzL29mZmVyL2F3YXJkd2FsbGV0cGx1c3N1YmNyaXB0aW9uL3JhZGlhbC1vZmZlci1iZ0AyeC5qcGdcIik7XG4gICAgICAgIGJhY2tncm91bmQtc2l6ZTogOTAwcHggNjk2cHg7XG4gICAgfVxufVxuXG5AbWVkaWEgKHByZWZlcnMtY29sb3Itc2NoZW1lOiBkYXJrKSB7XG4gICAgaHRtbDpub3QoLmxpZ2h0LW1vZGUpIC5vZmZlci1ibG9jayB7XG4gICAgICAgIGJhY2tncm91bmQ6ICMxNDE0MTQ7XG4gICAgICAgIGNvbG9yOiAjZmZmO1xuICAgIH1cbiAgICBodG1sOm5vdCgubGlnaHQtbW9kZSkgLm9mZmVyLWJsb2NrIHRkLFxuICAgIGh0bWw6bm90KC5saWdodC1tb2RlKSAub2ZmZXItYmxvY2sgcCB7XG4gICAgICAgIGNvbG9yOiAjZmZmICFpbXBvcnRhbnQ7XG4gICAgfVxuICAgIGh0bWw6bm90KC5saWdodC1tb2RlKSAub2ZmZXItYmxvY2sgaDMsXG4gICAgaHRtbDpub3QoLmxpZ2h0LW1vZGUpIC5vZmZlci1ibG9jayBwIHtcbiAgICAgICAgdGV4dC1zaGFkb3c6IG5vbmU7XG4gICAgfVxufVxuXG5odG1sLmRhcmstbW9kZSAub2ZmZXItYmxvY2sge1xuICAgIGJhY2tncm91bmQ6ICMxNDE0MTQ7XG4gICAgY29sb3I6ICNmZmY7XG59XG5odG1sLmRhcmstbW9kZSAub2ZmZXItYmxvY2sgdGQsXG5odG1sLmRhcmstbW9kZSAub2ZmZXItYmxvY2sgcCB7XG4gICAgY29sb3I6ICNmZmYgIWltcG9ydGFudDtcbn1cbmh0bWwuZGFyay1tb2RlIC5vZmZlci1ibG9jayBoMyxcbmh0bWwuZGFyay1tb2RlIC5vZmZlci1ibG9jayBwIHtcbiAgICB0ZXh0LXNoYWRvdzogbm9uZTtcbn0iXSwibmFtZXMiOltdLCJzb3VyY2VSb290IjoiIn0=*/