/*!**********************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[2]!./web/assets/awardwalletmain/css/offer/cross.css ***!
  \**********************************************************************************************************************************************************************************************************************/
#cross_wrap{
width: 100%;
margin: 0;
}

#cross_bg{
margin-left: auto;
margin-right: auto;
background: url(/a/images/cross_bg.5c8cf4e5.png);
width: 900px;
height: 551px;
position: relative;
}

#cross_bottom{
margin-left: auto;
margin-right: auto;
margin-top: 0;
width: 900px;
min-height: 36px;
position: relative;
}

#cross_title{
font-family: Helvetica, Arial, sans-serif;
font-weight: lighter;
font-size: 36px;
/*text-shadow: 0 1px #fff;*/
color: #0078c3;
display: inline-block;
position: absolute;
left: 48px;
top: 60px;
width: 622px;
}

#cross_plane{
background: url(/a/images/cross_plane.7047c322.png);
display: inline-block;
position: absolute;
left: 36px;
top: 180px;
width: 89px;
height: 88px;
}

#cross_hotel{
background: url(/a/images/cross_hotel.d8ad1007.png);
display: inline-block;
position: absolute;
left: 36px;
top: 311px;
width: 89px;
height: 88px;
}

#cross_text1{
font-family: "Helvetica Neue", Helvetica;
font-size: 14px;
color: #555555;
/*text-shadow: 0 1px #fff;*/
display: inline-block;
position: absolute;
left: 153px;
top: 197px;
width: 677px;
text-align: justify;
}

#cross_text2{
font-family: "Helvetica Neue", Helvetica;
font-size: 14px;
/*text-shadow: 0 1px #fff;*/
color: #555555;
display: inline-block;
position: absolute;
left: 153px;
top: 319px;
width: 677px;
text-align: justify;
}

#cross_registration{
position: absolute;
left: 49px;
top: 455px;
width: 218px;
}

#cross_account{
font-family: "Helvetica Neue", Helvetica;
font-size: 12px;
font-weight: bold;
margin: 0 20px 0 0;
height: 45px;
line-height: 45px;
color: #186DB6;
display: inline-block;
float: right;
}
#cross_account a{
	font-size: 12px;
}

a.cross_a:link {text-decoration:none;}
a.cross_a:visited {text-decoration:none;}
a.cross_a:hover {text-decoration:underline;}
a.cross_a:active {text-decoration:none;}

.cross_largetext{
font-size: 18px;
}

.popupBContennner {padding:15px;}
.inBoxTitle {padding:15px 15px 0 15px;}.dealAccountsInfo {width:600px; border-collapse:collapse; margin:20px 0 0;}
.dealAccountsInfo th, .dealAccountsInfo td {padding:8px 10px; text-align:left; border-bottom:1px solid #ccc; border-right:1px dotted #ccc;}
.dealAccountsInfo .lastRow td {border-bottom:0 !important;}
.dealAccountsInfo .greyBg {background-color:#f8f8f8;}
.dealAccountsInfo .whiteBg {background-color:#fff;}


/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoib2ZmZXJzL2Nyb3NzLmNzcyIsIm1hcHBpbmdzIjoiOzs7QUFBQTtBQUNBLFdBQVc7QUFDWCxTQUFTO0FBQ1Q7O0FBRUE7QUFDQSxpQkFBaUI7QUFDakIsa0JBQWtCO0FBQ2xCLG1EQUFrRDtBQUNsRCxZQUFZO0FBQ1osYUFBYTtBQUNiLGtCQUFrQjtBQUNsQjs7QUFFQTtBQUNBLGlCQUFpQjtBQUNqQixrQkFBa0I7QUFDbEIsYUFBYTtBQUNiLFlBQVk7QUFDWixnQkFBZ0I7QUFDaEIsa0JBQWtCO0FBQ2xCOztBQUVBO0FBQ0EseUNBQXlDO0FBQ3pDLG9CQUFvQjtBQUNwQixlQUFlO0FBQ2YsMkJBQTJCO0FBQzNCLGNBQWM7QUFDZCxxQkFBcUI7QUFDckIsa0JBQWtCO0FBQ2xCLFVBQVU7QUFDVixTQUFTO0FBQ1QsWUFBWTtBQUNaOztBQUVBO0FBQ0EsbURBQXFEO0FBQ3JELHFCQUFxQjtBQUNyQixrQkFBa0I7QUFDbEIsVUFBVTtBQUNWLFVBQVU7QUFDVixXQUFXO0FBQ1gsWUFBWTtBQUNaOztBQUVBO0FBQ0EsbURBQXFEO0FBQ3JELHFCQUFxQjtBQUNyQixrQkFBa0I7QUFDbEIsVUFBVTtBQUNWLFVBQVU7QUFDVixXQUFXO0FBQ1gsWUFBWTtBQUNaOztBQUVBO0FBQ0Esd0NBQXdDO0FBQ3hDLGVBQWU7QUFDZixjQUFjO0FBQ2QsMkJBQTJCO0FBQzNCLHFCQUFxQjtBQUNyQixrQkFBa0I7QUFDbEIsV0FBVztBQUNYLFVBQVU7QUFDVixZQUFZO0FBQ1osbUJBQW1CO0FBQ25COztBQUVBO0FBQ0Esd0NBQXdDO0FBQ3hDLGVBQWU7QUFDZiwyQkFBMkI7QUFDM0IsY0FBYztBQUNkLHFCQUFxQjtBQUNyQixrQkFBa0I7QUFDbEIsV0FBVztBQUNYLFVBQVU7QUFDVixZQUFZO0FBQ1osbUJBQW1CO0FBQ25COztBQUVBO0FBQ0Esa0JBQWtCO0FBQ2xCLFVBQVU7QUFDVixVQUFVO0FBQ1YsWUFBWTtBQUNaOztBQUVBO0FBQ0Esd0NBQXdDO0FBQ3hDLGVBQWU7QUFDZixpQkFBaUI7QUFDakIsa0JBQWtCO0FBQ2xCLFlBQVk7QUFDWixpQkFBaUI7QUFDakIsY0FBYztBQUNkLHFCQUFxQjtBQUNyQixZQUFZO0FBQ1o7QUFDQTtDQUNDLGVBQWU7QUFDaEI7O0FBRUEsZ0JBQWdCLG9CQUFvQixDQUFDO0FBQ3JDLG1CQUFtQixvQkFBb0IsQ0FBQztBQUN4QyxpQkFBaUIseUJBQXlCLENBQUM7QUFDM0Msa0JBQWtCLG9CQUFvQixDQUFDOztBQUV2QztBQUNBLGVBQWU7QUFDZjs7QUFFQSxtQkFBbUIsWUFBWSxDQUFDO0FBQ2hDLGFBQWEsd0JBQXdCLENBQUMsQ0FBQyxtQkFBbUIsV0FBVyxFQUFFLHdCQUF3QixFQUFFLGVBQWUsQ0FBQztBQUNqSCw0Q0FBNEMsZ0JBQWdCLEVBQUUsZUFBZSxFQUFFLDRCQUE0QixFQUFFLDRCQUE0QixDQUFDO0FBQzFJLCtCQUErQiwwQkFBMEIsQ0FBQztBQUMxRCwyQkFBMkIsd0JBQXdCLENBQUM7QUFDcEQsNEJBQTRCLHFCQUFxQixDQUFDIiwic291cmNlcyI6WyJ3ZWJwYWNrOi8vQXdhcmRXYWxsZXQvLi93ZWIvYXNzZXRzL2F3YXJkd2FsbGV0bWFpbi9jc3Mvb2ZmZXIvY3Jvc3MuY3NzIl0sInNvdXJjZXNDb250ZW50IjpbIiNjcm9zc193cmFwe1xud2lkdGg6IDEwMCU7XG5tYXJnaW46IDA7XG59XG5cbiNjcm9zc19iZ3tcbm1hcmdpbi1sZWZ0OiBhdXRvO1xubWFyZ2luLXJpZ2h0OiBhdXRvO1xuYmFja2dyb3VuZDogdXJsKCcuLi8uLi9pbWFnZXMvb2ZmZXIvY3Jvc3NfYmcucG5nJyk7XG53aWR0aDogOTAwcHg7XG5oZWlnaHQ6IDU1MXB4O1xucG9zaXRpb246IHJlbGF0aXZlO1xufVxuXG4jY3Jvc3NfYm90dG9te1xubWFyZ2luLWxlZnQ6IGF1dG87XG5tYXJnaW4tcmlnaHQ6IGF1dG87XG5tYXJnaW4tdG9wOiAwO1xud2lkdGg6IDkwMHB4O1xubWluLWhlaWdodDogMzZweDtcbnBvc2l0aW9uOiByZWxhdGl2ZTtcbn1cblxuI2Nyb3NzX3RpdGxle1xuZm9udC1mYW1pbHk6IEhlbHZldGljYSwgQXJpYWwsIHNhbnMtc2VyaWY7XG5mb250LXdlaWdodDogbGlnaHRlcjtcbmZvbnQtc2l6ZTogMzZweDtcbi8qdGV4dC1zaGFkb3c6IDAgMXB4ICNmZmY7Ki9cbmNvbG9yOiAjMDA3OGMzO1xuZGlzcGxheTogaW5saW5lLWJsb2NrO1xucG9zaXRpb246IGFic29sdXRlO1xubGVmdDogNDhweDtcbnRvcDogNjBweDtcbndpZHRoOiA2MjJweDtcbn1cblxuI2Nyb3NzX3BsYW5le1xuYmFja2dyb3VuZDogdXJsKCcuLi8uLi9pbWFnZXMvb2ZmZXIvY3Jvc3NfcGxhbmUucG5nJyk7XG5kaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG5wb3NpdGlvbjogYWJzb2x1dGU7XG5sZWZ0OiAzNnB4O1xudG9wOiAxODBweDtcbndpZHRoOiA4OXB4O1xuaGVpZ2h0OiA4OHB4O1xufVxuXG4jY3Jvc3NfaG90ZWx7XG5iYWNrZ3JvdW5kOiB1cmwoJy4uLy4uL2ltYWdlcy9vZmZlci9jcm9zc19ob3RlbC5wbmcnKTtcbmRpc3BsYXk6IGlubGluZS1ibG9jaztcbnBvc2l0aW9uOiBhYnNvbHV0ZTtcbmxlZnQ6IDM2cHg7XG50b3A6IDMxMXB4O1xud2lkdGg6IDg5cHg7XG5oZWlnaHQ6IDg4cHg7XG59XG5cbiNjcm9zc190ZXh0MXtcbmZvbnQtZmFtaWx5OiBcIkhlbHZldGljYSBOZXVlXCIsIEhlbHZldGljYTtcbmZvbnQtc2l6ZTogMTRweDtcbmNvbG9yOiAjNTU1NTU1O1xuLyp0ZXh0LXNoYWRvdzogMCAxcHggI2ZmZjsqL1xuZGlzcGxheTogaW5saW5lLWJsb2NrO1xucG9zaXRpb246IGFic29sdXRlO1xubGVmdDogMTUzcHg7XG50b3A6IDE5N3B4O1xud2lkdGg6IDY3N3B4O1xudGV4dC1hbGlnbjoganVzdGlmeTtcbn1cblxuI2Nyb3NzX3RleHQye1xuZm9udC1mYW1pbHk6IFwiSGVsdmV0aWNhIE5ldWVcIiwgSGVsdmV0aWNhO1xuZm9udC1zaXplOiAxNHB4O1xuLyp0ZXh0LXNoYWRvdzogMCAxcHggI2ZmZjsqL1xuY29sb3I6ICM1NTU1NTU7XG5kaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG5wb3NpdGlvbjogYWJzb2x1dGU7XG5sZWZ0OiAxNTNweDtcbnRvcDogMzE5cHg7XG53aWR0aDogNjc3cHg7XG50ZXh0LWFsaWduOiBqdXN0aWZ5O1xufVxuXG4jY3Jvc3NfcmVnaXN0cmF0aW9ue1xucG9zaXRpb246IGFic29sdXRlO1xubGVmdDogNDlweDtcbnRvcDogNDU1cHg7XG53aWR0aDogMjE4cHg7XG59XG5cbiNjcm9zc19hY2NvdW50e1xuZm9udC1mYW1pbHk6IFwiSGVsdmV0aWNhIE5ldWVcIiwgSGVsdmV0aWNhO1xuZm9udC1zaXplOiAxMnB4O1xuZm9udC13ZWlnaHQ6IGJvbGQ7XG5tYXJnaW46IDAgMjBweCAwIDA7XG5oZWlnaHQ6IDQ1cHg7XG5saW5lLWhlaWdodDogNDVweDtcbmNvbG9yOiAjMTg2REI2O1xuZGlzcGxheTogaW5saW5lLWJsb2NrO1xuZmxvYXQ6IHJpZ2h0O1xufVxuI2Nyb3NzX2FjY291bnQgYXtcblx0Zm9udC1zaXplOiAxMnB4O1xufVxuXG5hLmNyb3NzX2E6bGluayB7dGV4dC1kZWNvcmF0aW9uOm5vbmU7fVxuYS5jcm9zc19hOnZpc2l0ZWQge3RleHQtZGVjb3JhdGlvbjpub25lO31cbmEuY3Jvc3NfYTpob3ZlciB7dGV4dC1kZWNvcmF0aW9uOnVuZGVybGluZTt9XG5hLmNyb3NzX2E6YWN0aXZlIHt0ZXh0LWRlY29yYXRpb246bm9uZTt9XG5cbi5jcm9zc19sYXJnZXRleHR7XG5mb250LXNpemU6IDE4cHg7XG59XG5cbi5wb3B1cEJDb250ZW5ubmVyIHtwYWRkaW5nOjE1cHg7fVxuLmluQm94VGl0bGUge3BhZGRpbmc6MTVweCAxNXB4IDAgMTVweDt9LmRlYWxBY2NvdW50c0luZm8ge3dpZHRoOjYwMHB4OyBib3JkZXItY29sbGFwc2U6Y29sbGFwc2U7IG1hcmdpbjoyMHB4IDAgMDt9XG4uZGVhbEFjY291bnRzSW5mbyB0aCwgLmRlYWxBY2NvdW50c0luZm8gdGQge3BhZGRpbmc6OHB4IDEwcHg7IHRleHQtYWxpZ246bGVmdDsgYm9yZGVyLWJvdHRvbToxcHggc29saWQgI2NjYzsgYm9yZGVyLXJpZ2h0OjFweCBkb3R0ZWQgI2NjYzt9XG4uZGVhbEFjY291bnRzSW5mbyAubGFzdFJvdyB0ZCB7Ym9yZGVyLWJvdHRvbTowICFpbXBvcnRhbnQ7fVxuLmRlYWxBY2NvdW50c0luZm8gLmdyZXlCZyB7YmFja2dyb3VuZC1jb2xvcjojZjhmOGY4O31cbi5kZWFsQWNjb3VudHNJbmZvIC53aGl0ZUJnIHtiYWNrZ3JvdW5kLWNvbG9yOiNmZmY7fVxuIl0sIm5hbWVzIjpbXSwic291cmNlUm9vdCI6IiJ9*/