/*!**********************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[2]!./web/assets/awardwalletmain/css/offer/delta.css ***!
  \**********************************************************************************************************************************************************************************************************************/
.delta-offer *{
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    margin:0;
    font-family: Helvetica Neue, arial, sans-serif;
    padding: 0;
}
.delta-offer{
    width: 900px;
    height: 500px;
    background: url(/a/images/delta-offer.f6af93bb.jpg) no-repeat;
    margin:50px auto 0;
    padding: 50px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.delta-offer .btn-blue-offer{
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    border:1px solid #125da3;
    border-radius: 2px;
    background: #3082c2\0/ !important;
    background: #3082c2;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMwODJjMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxODZkYjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: linear-gradient(to bottom,  #3082c2 0%,#186db6 100%);
    height: 30px;
    line-height: 28px;
    padding: 0 10px;
    text-shadow:0 1px #125da3;
    margin-top: 240px;
}
.delta-offer .btn-blue-offer:hover{
    background: #3082c2 !important;
}
.delta-offer h3{
    font-size: 36px;
    color: #186db6;
    line-height: 1.2;
    font-weight: normal;
    text-shadow:0 1px #fff;
}
.delta-offer .bold{
    font-weight: bold;
}


/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoib2ZmZXJzL2RlbHRhLmNzcyIsIm1hcHBpbmdzIjoiOzs7QUFBQTtJQUNJLHFCQUFxQjtJQUNyQiw2QkFBNkI7SUFDN0IsMEJBQTBCO0lBQzFCLFFBQVE7SUFDUiw4Q0FBOEM7SUFDOUMsVUFBVTtBQUNkO0FBQ0E7SUFDSSxZQUFZO0lBQ1osYUFBYTtJQUNiLDZEQUE2RDtJQUM3RCxrQkFBa0I7SUFDbEIsYUFBYTtJQUNiLHFCQUFxQjtJQUNyQiw2QkFBNkI7SUFDN0IsMEJBQTBCO0FBQzlCO0FBQ0E7SUFDSSxxQkFBcUI7SUFDckIsZUFBZTtJQUNmLHFCQUFxQjtJQUNyQixXQUFXO0lBQ1gsd0JBQXdCO0lBQ3hCLGtCQUFrQjtJQUNsQixpQ0FBaUM7SUFDakMsbUJBQW1CO0lBQ25CLG1EQUFtcUI7SUFNbnFCLGdFQUFnRTtJQUNoRSxZQUFZO0lBQ1osaUJBQWlCO0lBQ2pCLGVBQWU7SUFDZix5QkFBeUI7SUFDekIsaUJBQWlCO0FBQ3JCO0FBQ0E7SUFDSSw4QkFBOEI7QUFDbEM7QUFDQTtJQUNJLGVBQWU7SUFDZixjQUFjO0lBQ2QsZ0JBQWdCO0lBQ2hCLG1CQUFtQjtJQUNuQixzQkFBc0I7QUFDMUI7QUFDQTtJQUNJLGlCQUFpQjtBQUNyQiIsInNvdXJjZXMiOlsid2VicGFjazovL0F3YXJkV2FsbGV0Ly4vd2ViL2Fzc2V0cy9hd2FyZHdhbGxldG1haW4vY3NzL29mZmVyL2RlbHRhLmNzcyJdLCJzb3VyY2VzQ29udGVudCI6WyIuZGVsdGEtb2ZmZXIgKntcbiAgICBib3gtc2l6aW5nOmJvcmRlci1ib3g7XG4gICAgLXdlYmtpdC1ib3gtc2l6aW5nOmJvcmRlci1ib3g7XG4gICAgLW1vei1ib3gtc2l6aW5nOmJvcmRlci1ib3g7XG4gICAgbWFyZ2luOjA7XG4gICAgZm9udC1mYW1pbHk6IEhlbHZldGljYSBOZXVlLCBhcmlhbCwgc2Fucy1zZXJpZjtcbiAgICBwYWRkaW5nOiAwO1xufVxuLmRlbHRhLW9mZmVye1xuICAgIHdpZHRoOiA5MDBweDtcbiAgICBoZWlnaHQ6IDUwMHB4O1xuICAgIGJhY2tncm91bmQ6IHVybCguLi8uLi9pbWFnZXMvb2ZmZXIvZGVsdGEtb2ZmZXIuanBnKSBuby1yZXBlYXQ7XG4gICAgbWFyZ2luOjUwcHggYXV0byAwO1xuICAgIHBhZGRpbmc6IDUwcHg7XG4gICAgYm94LXNpemluZzpib3JkZXItYm94O1xuICAgIC13ZWJraXQtYm94LXNpemluZzpib3JkZXItYm94O1xuICAgIC1tb3otYm94LXNpemluZzpib3JkZXItYm94O1xufVxuLmRlbHRhLW9mZmVyIC5idG4tYmx1ZS1vZmZlcntcbiAgICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG4gICAgZm9udC1zaXplOiAxNHB4O1xuICAgIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcbiAgICBjb2xvcjogI2ZmZjtcbiAgICBib3JkZXI6MXB4IHNvbGlkICMxMjVkYTM7XG4gICAgYm9yZGVyLXJhZGl1czogMnB4O1xuICAgIGJhY2tncm91bmQ6ICMzMDgyYzJcXDAvICFpbXBvcnRhbnQ7XG4gICAgYmFja2dyb3VuZDogIzMwODJjMjtcbiAgICBiYWNrZ3JvdW5kOiB1cmwoZGF0YTppbWFnZS9zdmcreG1sO2Jhc2U2NCxQRDk0Yld3Z2RtVnljMmx2YmowaU1TNHdJaUEvUGdvOGMzWm5JSGh0Ykc1elBTSm9kSFJ3T2k4dmQzZDNMbmN6TG05eVp5OHlNREF3TDNOMlp5SWdkMmxrZEdnOUlqRXdNQ1VpSUdobGFXZG9kRDBpTVRBd0pTSWdkbWxsZDBKdmVEMGlNQ0F3SURFZ01TSWdjSEpsYzJWeWRtVkJjM0JsWTNSU1lYUnBiejBpYm05dVpTSStDaUFnUEd4cGJtVmhja2R5WVdScFpXNTBJR2xrUFNKbmNtRmtMWFZqWjJjdFoyVnVaWEpoZEdWa0lpQm5jbUZrYVdWdWRGVnVhWFJ6UFNKMWMyVnlVM0JoWTJWUGJsVnpaU0lnZURFOUlqQWxJaUI1TVQwaU1DVWlJSGd5UFNJd0pTSWdlVEk5SWpFd01DVWlQZ29nSUNBZ1BITjBiM0FnYjJabWMyVjBQU0l3SlNJZ2MzUnZjQzFqYjJ4dmNqMGlJek13T0RKak1pSWdjM1J2Y0MxdmNHRmphWFI1UFNJeElpOCtDaUFnSUNBOGMzUnZjQ0J2Wm1aelpYUTlJakV3TUNVaUlITjBiM0F0WTI5c2IzSTlJaU14T0Raa1lqWWlJSE4wYjNBdGIzQmhZMmwwZVQwaU1TSXZQZ29nSUR3dmJHbHVaV0Z5UjNKaFpHbGxiblErQ2lBZ1BISmxZM1FnZUQwaU1DSWdlVDBpTUNJZ2QybGtkR2c5SWpFaUlHaGxhV2RvZEQwaU1TSWdabWxzYkQwaWRYSnNLQ05uY21Ga0xYVmpaMmN0WjJWdVpYSmhkR1ZrS1NJZ0x6NEtQQzl6ZG1jKyk7XG4gICAgYmFja2dyb3VuZDogLW1vei1saW5lYXItZ3JhZGllbnQodG9wLCAgIzMwODJjMiAwJSwgIzE4NmRiNiAxMDAlKTtcbiAgICBiYWNrZ3JvdW5kOiAtd2Via2l0LWdyYWRpZW50KGxpbmVhciwgbGVmdCB0b3AsIGxlZnQgYm90dG9tLCBjb2xvci1zdG9wKDAlLCMzMDgyYzIpLCBjb2xvci1zdG9wKDEwMCUsIzE4NmRiNikpO1xuICAgIGJhY2tncm91bmQ6IC13ZWJraXQtbGluZWFyLWdyYWRpZW50KHRvcCwgICMzMDgyYzIgMCUsIzE4NmRiNiAxMDAlKTtcbiAgICBiYWNrZ3JvdW5kOiAtby1saW5lYXItZ3JhZGllbnQodG9wLCAgIzMwODJjMiAwJSwjMTg2ZGI2IDEwMCUpO1xuICAgIGJhY2tncm91bmQ6IC1tcy1saW5lYXItZ3JhZGllbnQodG9wLCAgIzMwODJjMiAwJSwjMTg2ZGI2IDEwMCUpO1xuICAgIGJhY2tncm91bmQ6IGxpbmVhci1ncmFkaWVudCh0byBib3R0b20sICAjMzA4MmMyIDAlLCMxODZkYjYgMTAwJSk7XG4gICAgaGVpZ2h0OiAzMHB4O1xuICAgIGxpbmUtaGVpZ2h0OiAyOHB4O1xuICAgIHBhZGRpbmc6IDAgMTBweDtcbiAgICB0ZXh0LXNoYWRvdzowIDFweCAjMTI1ZGEzO1xuICAgIG1hcmdpbi10b3A6IDI0MHB4O1xufVxuLmRlbHRhLW9mZmVyIC5idG4tYmx1ZS1vZmZlcjpob3ZlcntcbiAgICBiYWNrZ3JvdW5kOiAjMzA4MmMyICFpbXBvcnRhbnQ7XG59XG4uZGVsdGEtb2ZmZXIgaDN7XG4gICAgZm9udC1zaXplOiAzNnB4O1xuICAgIGNvbG9yOiAjMTg2ZGI2O1xuICAgIGxpbmUtaGVpZ2h0OiAxLjI7XG4gICAgZm9udC13ZWlnaHQ6IG5vcm1hbDtcbiAgICB0ZXh0LXNoYWRvdzowIDFweCAjZmZmO1xufVxuLmRlbHRhLW9mZmVyIC5ib2xke1xuICAgIGZvbnQtd2VpZ2h0OiBib2xkO1xufVxuIl0sIm5hbWVzIjpbXSwic291cmNlUm9vdCI6IiJ9*/