/*!**********************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[2]!./web/assets/awardwalletmain/css/offer/fcard.css ***!
  \**********************************************************************************************************************************************************************************************************************/
.fcard_title{
    width: 560px;
    margin-left: 51px;
    margin-top: 50px;
}

.fcard_toaccount{
    margin-bottom: 28px;
}

#fcard_bg{
    position: relative;
    overflow: auto;
    margin-top: 20px;
    background: url(/a/images/fcard_bg.9179b475.jpg);
    width: 900px;
    height: 551px;
}

.fcard_btn{
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 51px;
    position: absolute;
    bottom: 51px;
}

.fcard_text{
    width: 270px;
    font-size: 13px;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(62, 62, 62);
    margin-left: 51px;
    margin-top: 48px;
}

.fcard_discount{
    font-weight: bold;
    color: #0078c3;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoib2ZmZXJzL2ZjYXJkLmNzcyIsIm1hcHBpbmdzIjoiOzs7QUFBQTtJQUNJLFlBQVk7SUFDWixpQkFBaUI7SUFDakIsZ0JBQWdCO0FBQ3BCOztBQUVBO0lBQ0ksbUJBQW1CO0FBQ3ZCOztBQUVBO0lBQ0ksa0JBQWtCO0lBQ2xCLGNBQWM7SUFDZCxnQkFBZ0I7SUFDaEIsbURBQWdEO0lBQ2hELFlBQVk7SUFDWixhQUFhO0FBQ2pCOztBQUVBO0lBQ0ksbUJBQW1CO0lBQ25CLGtCQUFrQjtJQUNsQixpQkFBaUI7SUFDakIsa0JBQWtCO0lBQ2xCLFlBQVk7QUFDaEI7O0FBRUE7SUFDSSxZQUFZO0lBQ1osZUFBZTtJQUNmLHlDQUF5QztJQUN6QyxzQkFBc0I7SUFDdEIsaUJBQWlCO0lBQ2pCLGdCQUFnQjtBQUNwQjs7QUFFQTtJQUNJLGlCQUFpQjtJQUNqQixjQUFjO0FBQ2xCLEMiLCJzb3VyY2VzIjpbIndlYnBhY2s6Ly9Bd2FyZFdhbGxldC8uL3dlYi9hc3NldHMvYXdhcmR3YWxsZXRtYWluL2Nzcy9vZmZlci9mY2FyZC5jc3MiXSwic291cmNlc0NvbnRlbnQiOlsiLmZjYXJkX3RpdGxle1xuICAgIHdpZHRoOiA1NjBweDtcbiAgICBtYXJnaW4tbGVmdDogNTFweDtcbiAgICBtYXJnaW4tdG9wOiA1MHB4O1xufVxuXG4uZmNhcmRfdG9hY2NvdW50e1xuICAgIG1hcmdpbi1ib3R0b206IDI4cHg7XG59XG5cbiNmY2FyZF9iZ3tcbiAgICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gICAgb3ZlcmZsb3c6IGF1dG87XG4gICAgbWFyZ2luLXRvcDogMjBweDtcbiAgICBiYWNrZ3JvdW5kOiB1cmwoLi4vLi4vaW1hZ2VzL29mZmVyL2ZjYXJkX2JnLmpwZyk7XG4gICAgd2lkdGg6IDkwMHB4O1xuICAgIGhlaWdodDogNTUxcHg7XG59XG5cbi5mY2FyZF9idG57XG4gICAgcGFkZGluZy1yaWdodDogMjBweDtcbiAgICBwYWRkaW5nLWxlZnQ6IDIwcHg7XG4gICAgbWFyZ2luLWxlZnQ6IDUxcHg7XG4gICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgIGJvdHRvbTogNTFweDtcbn1cblxuLmZjYXJkX3RleHR7XG4gICAgd2lkdGg6IDI3MHB4O1xuICAgIGZvbnQtc2l6ZTogMTNweDtcbiAgICBmb250LWZhbWlseTogSGVsdmV0aWNhLCBBcmlhbCwgc2Fucy1zZXJpZjtcbiAgICBjb2xvcjogcmdiKDYyLCA2MiwgNjIpO1xuICAgIG1hcmdpbi1sZWZ0OiA1MXB4O1xuICAgIG1hcmdpbi10b3A6IDQ4cHg7XG59XG5cbi5mY2FyZF9kaXNjb3VudHtcbiAgICBmb250LXdlaWdodDogYm9sZDtcbiAgICBjb2xvcjogIzAwNzhjMztcbn0iXSwibmFtZXMiOltdLCJzb3VyY2VSb290IjoiIn0=*/