/*!******************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[2]!./web/assets/awardwalletmain/css/offer/golddeltaamex.css ***!
  \******************************************************************************************************************************************************************************************************************************/
.golddeltaamex_title{
    margin-top: 51px;
    width: 560px;
    margin-bottom: 36px;
}

.golddeltaamex_ul{
    margin-bottom: 48px;
}

.golddeltaamex_list li{
    width: 440px;
}

.golddeltaamex_toaccount{
    margin-bottom: 28px;
}

.golddeltaamex_bg{
    margin-top: 20px;
    padding-bottom: 46px;
    padding-right: 51px;
}

.golddeltaamex_image{
    width: 261px;
    height: 224px;
    background: url(/a/images/golddeltaamex_card.05cae1eb.png);
    position: absolute;
    right: 38px;
    top: 160px;
}

.golddeltaamex_btn{
    padding-right: 20px;
    padding-left: 20px;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoib2ZmZXJzL2dvbGRkZWx0YWFtZXguY3NzIiwibWFwcGluZ3MiOiI7OztBQUFBO0lBQ0ksZ0JBQWdCO0lBQ2hCLFlBQVk7SUFDWixtQkFBbUI7QUFDdkI7O0FBRUE7SUFDSSxtQkFBbUI7QUFDdkI7O0FBRUE7SUFDSSxZQUFZO0FBQ2hCOztBQUVBO0lBQ0ksbUJBQW1CO0FBQ3ZCOztBQUVBO0lBQ0ksZ0JBQWdCO0lBQ2hCLG9CQUFvQjtJQUNwQixtQkFBbUI7QUFDdkI7O0FBRUE7SUFDSSxZQUFZO0lBQ1osYUFBYTtJQUNiLG1EQUEwRDtJQUMxRCxrQkFBa0I7SUFDbEIsV0FBVztJQUNYLFVBQVU7QUFDZDs7QUFFQTtJQUNJLG1CQUFtQjtJQUNuQixrQkFBa0I7QUFDdEIsQyIsInNvdXJjZXMiOlsid2VicGFjazovL0F3YXJkV2FsbGV0Ly4vd2ViL2Fzc2V0cy9hd2FyZHdhbGxldG1haW4vY3NzL29mZmVyL2dvbGRkZWx0YWFtZXguY3NzIl0sInNvdXJjZXNDb250ZW50IjpbIi5nb2xkZGVsdGFhbWV4X3RpdGxle1xuICAgIG1hcmdpbi10b3A6IDUxcHg7XG4gICAgd2lkdGg6IDU2MHB4O1xuICAgIG1hcmdpbi1ib3R0b206IDM2cHg7XG59XG5cbi5nb2xkZGVsdGFhbWV4X3Vse1xuICAgIG1hcmdpbi1ib3R0b206IDQ4cHg7XG59XG5cbi5nb2xkZGVsdGFhbWV4X2xpc3QgbGl7XG4gICAgd2lkdGg6IDQ0MHB4O1xufVxuXG4uZ29sZGRlbHRhYW1leF90b2FjY291bnR7XG4gICAgbWFyZ2luLWJvdHRvbTogMjhweDtcbn1cblxuLmdvbGRkZWx0YWFtZXhfYmd7XG4gICAgbWFyZ2luLXRvcDogMjBweDtcbiAgICBwYWRkaW5nLWJvdHRvbTogNDZweDtcbiAgICBwYWRkaW5nLXJpZ2h0OiA1MXB4O1xufVxuXG4uZ29sZGRlbHRhYW1leF9pbWFnZXtcbiAgICB3aWR0aDogMjYxcHg7XG4gICAgaGVpZ2h0OiAyMjRweDtcbiAgICBiYWNrZ3JvdW5kOiB1cmwoLi4vLi4vaW1hZ2VzL29mZmVyL2dvbGRkZWx0YWFtZXhfY2FyZC5wbmcpO1xuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICByaWdodDogMzhweDtcbiAgICB0b3A6IDE2MHB4O1xufVxuXG4uZ29sZGRlbHRhYW1leF9idG57XG4gICAgcGFkZGluZy1yaWdodDogMjBweDtcbiAgICBwYWRkaW5nLWxlZnQ6IDIwcHg7XG59Il0sIm5hbWVzIjpbXSwic291cmNlUm9vdCI6IiJ9*/