/*!****************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[2]!./web/assets/awardwalletmain/css/offer/headsuphighestofferever.css ***!
  \****************************************************************************************************************************************************************************************************************************************/
.offer-block *{
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    margin:0;
    font-family: Helvetica Neue, arial, sans-serif;
    padding: 0;
}
.offer-block{
    width: 900px;
    height: 500px;
    background: url(/a/images/radial-offer-bg.3b00115c.jpg) no-repeat;
    margin:50px auto 0;
    border: 1px solid #9a9a9a;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.offer-block h3{
    font-size: 36px;
    color: #186db6;
    line-height: 40px;
    font-weight: normal;
    text-shadow:0 1px #fff;
}
.offer-block p{
    font-size: 14px;
    line-height: 1.3;
    margin-top:20px;
    color: #3e3e3e;
    text-shadow:0 1px #fff;
}
.offer-block p:first-child{
    margin-top: 0;
}
.offer-block p:first-child:first-letter{
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
}
.offer-block p a{
    font-size: 14px;
    font-weight: bold;
    color: #4684c4;
    text-decoration: none;
}
.offer-block p a:hover{
    text-decoration: underline;
}
.offer-block .btn-blue{
    display: inline-block;
    margin-top: 50px;
}
.heads-up{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px;
    background-image: url(/a/images/heads-up.52597a92.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    .offer-block{
        background-image: url(/a/images/radial-offer-bg@2x.bb4101cd.jpg);
        background-size: 900px 500px;
    }
    .heads-up{
        background-image: url(/a/images/heads-up@2x.d1a0a7cb.png);
        background-size: 572px 465px;
    }
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoib2ZmZXJzL2hlYWRzdXBoaWdoZXN0b2ZmZXJldmVyLmNzcyIsIm1hcHBpbmdzIjoiOzs7QUFBQTtJQUNJLHFCQUFxQjtJQUNyQiw2QkFBNkI7SUFDN0IsMEJBQTBCO0lBQzFCLFFBQVE7SUFDUiw4Q0FBOEM7SUFDOUMsVUFBVTtBQUNkO0FBQ0E7SUFDSSxZQUFZO0lBQ1osYUFBYTtJQUNiLDZEQUF5RjtJQUN6RixrQkFBa0I7SUFDbEIseUJBQXlCO0lBQ3pCLHFCQUFxQjtJQUNyQiw2QkFBNkI7SUFDN0IsMEJBQTBCO0FBQzlCO0FBQ0E7SUFDSSxlQUFlO0lBQ2YsY0FBYztJQUNkLGlCQUFpQjtJQUNqQixtQkFBbUI7SUFDbkIsc0JBQXNCO0FBQzFCO0FBQ0E7SUFDSSxlQUFlO0lBQ2YsZ0JBQWdCO0lBQ2hCLGVBQWU7SUFDZixjQUFjO0lBQ2Qsc0JBQXNCO0FBQzFCO0FBQ0E7SUFDSSxhQUFhO0FBQ2pCO0FBQ0E7SUFDSSxlQUFlO0lBQ2YsbUJBQW1CO0lBQ25CLGNBQWM7QUFDbEI7QUFDQTtJQUNJLGVBQWU7SUFDZixpQkFBaUI7SUFDakIsY0FBYztJQUNkLHFCQUFxQjtBQUN6QjtBQUNBO0lBQ0ksMEJBQTBCO0FBQzlCO0FBQ0E7SUFDSSxxQkFBcUI7SUFDckIsZ0JBQWdCO0FBQ3BCO0FBQ0E7SUFDSSxrQkFBa0I7SUFDbEIsV0FBVztJQUNYLFlBQVk7SUFDWixhQUFhO0lBQ2IseURBQWdGO0lBQ2hGLDRCQUE0QjtJQUM1QixpQ0FBaUM7QUFDckM7QUFDQTtJQUNJO1FBQ0kseURBQTBGO1FBQzFGLDRCQUE0QjtJQUNoQztJQUNBO1FBQ0kseURBQW1GO1FBQ25GLDRCQUE0QjtJQUNoQztBQUNKLEMiLCJzb3VyY2VzIjpbIndlYnBhY2s6Ly9Bd2FyZFdhbGxldC8uL3dlYi9hc3NldHMvYXdhcmR3YWxsZXRtYWluL2Nzcy9vZmZlci9oZWFkc3VwaGlnaGVzdG9mZmVyZXZlci5jc3MiXSwic291cmNlc0NvbnRlbnQiOlsiLm9mZmVyLWJsb2NrICp7XG4gICAgYm94LXNpemluZzpib3JkZXItYm94O1xuICAgIC13ZWJraXQtYm94LXNpemluZzpib3JkZXItYm94O1xuICAgIC1tb3otYm94LXNpemluZzpib3JkZXItYm94O1xuICAgIG1hcmdpbjowO1xuICAgIGZvbnQtZmFtaWx5OiBIZWx2ZXRpY2EgTmV1ZSwgYXJpYWwsIHNhbnMtc2VyaWY7XG4gICAgcGFkZGluZzogMDtcbn1cbi5vZmZlci1ibG9ja3tcbiAgICB3aWR0aDogOTAwcHg7XG4gICAgaGVpZ2h0OiA1MDBweDtcbiAgICBiYWNrZ3JvdW5kOiB1cmwoLi4vLi4vaW1hZ2VzL29mZmVyL2hlYWRzdXBoaWdoZXN0b2ZmZXJldmVyL3JhZGlhbC1vZmZlci1iZy5qcGcpIG5vLXJlcGVhdDtcbiAgICBtYXJnaW46NTBweCBhdXRvIDA7XG4gICAgYm9yZGVyOiAxcHggc29saWQgIzlhOWE5YTtcbiAgICBib3gtc2l6aW5nOmJvcmRlci1ib3g7XG4gICAgLXdlYmtpdC1ib3gtc2l6aW5nOmJvcmRlci1ib3g7XG4gICAgLW1vei1ib3gtc2l6aW5nOmJvcmRlci1ib3g7XG59XG4ub2ZmZXItYmxvY2sgaDN7XG4gICAgZm9udC1zaXplOiAzNnB4O1xuICAgIGNvbG9yOiAjMTg2ZGI2O1xuICAgIGxpbmUtaGVpZ2h0OiA0MHB4O1xuICAgIGZvbnQtd2VpZ2h0OiBub3JtYWw7XG4gICAgdGV4dC1zaGFkb3c6MCAxcHggI2ZmZjtcbn1cbi5vZmZlci1ibG9jayBwe1xuICAgIGZvbnQtc2l6ZTogMTRweDtcbiAgICBsaW5lLWhlaWdodDogMS4zO1xuICAgIG1hcmdpbi10b3A6MjBweDtcbiAgICBjb2xvcjogIzNlM2UzZTtcbiAgICB0ZXh0LXNoYWRvdzowIDFweCAjZmZmO1xufVxuLm9mZmVyLWJsb2NrIHA6Zmlyc3QtY2hpbGR7XG4gICAgbWFyZ2luLXRvcDogMDtcbn1cbi5vZmZlci1ibG9jayBwOmZpcnN0LWNoaWxkOmZpcnN0LWxldHRlcntcbiAgICBmb250LXNpemU6IDMwcHg7XG4gICAgZm9udC13ZWlnaHQ6IG5vcm1hbDtcbiAgICBsaW5lLWhlaWdodDogMTtcbn1cbi5vZmZlci1ibG9jayBwIGF7XG4gICAgZm9udC1zaXplOiAxNHB4O1xuICAgIGZvbnQtd2VpZ2h0OiBib2xkO1xuICAgIGNvbG9yOiAjNDY4NGM0O1xuICAgIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcbn1cbi5vZmZlci1ibG9jayBwIGE6aG92ZXJ7XG4gICAgdGV4dC1kZWNvcmF0aW9uOiB1bmRlcmxpbmU7XG59XG4ub2ZmZXItYmxvY2sgLmJ0bi1ibHVle1xuICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgICBtYXJnaW4tdG9wOiA1MHB4O1xufVxuLmhlYWRzLXVwe1xuICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgICB3aWR0aDogMTAwJTtcbiAgICBoZWlnaHQ6IDEwMCU7XG4gICAgcGFkZGluZzogNTBweDtcbiAgICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoXCIuLi8uLi9pbWFnZXMvb2ZmZXIvaGVhZHN1cGhpZ2hlc3RvZmZlcmV2ZXIvaGVhZHMtdXAucG5nXCIpO1xuICAgIGJhY2tncm91bmQtcmVwZWF0OiBuby1yZXBlYXQ7XG4gICAgYmFja2dyb3VuZC1wb3NpdGlvbjogcmlnaHQgYm90dG9tO1xufVxuQG1lZGlhICgtd2Via2l0LW1pbi1kZXZpY2UtcGl4ZWwtcmF0aW86IDEuNSksIChtaW4tLW1vei1kZXZpY2UtcGl4ZWwtcmF0aW86IDEuNSksICgtby1taW4tZGV2aWNlLXBpeGVsLXJhdGlvOiAzLzIpLCAobWluLXJlc29sdXRpb246IDEuNWRwcHgpIHtcbiAgICAub2ZmZXItYmxvY2t7XG4gICAgICAgIGJhY2tncm91bmQtaW1hZ2U6IHVybChcIi4uLy4uL2ltYWdlcy9vZmZlci9oZWFkc3VwaGlnaGVzdG9mZmVyZXZlci9yYWRpYWwtb2ZmZXItYmdAMnguanBnXCIpO1xuICAgICAgICBiYWNrZ3JvdW5kLXNpemU6IDkwMHB4IDUwMHB4O1xuICAgIH1cbiAgICAuaGVhZHMtdXB7XG4gICAgICAgIGJhY2tncm91bmQtaW1hZ2U6IHVybChcIi4uLy4uL2ltYWdlcy9vZmZlci9oZWFkc3VwaGlnaGVzdG9mZmVyZXZlci9oZWFkcy11cEAyeC5wbmdcIik7XG4gICAgICAgIGJhY2tncm91bmQtc2l6ZTogNTcycHggNDY1cHg7XG4gICAgfVxufSJdLCJuYW1lcyI6W10sInNvdXJjZVJvb3QiOiIifQ==*/