/*!***************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[2]!./web/assets/awardwalletmain/css/offer/ihgrewards.css ***!
  \***************************************************************************************************************************************************************************************************************************/
.ihgrewards_title{
    width: 800px;
    margin-left: 51px;
    margin-top: 56px;
    font-size: 36px;
    margin-bottom: 40px;
}

.ihgrewards_toaccount{
    margin-bottom: 28px;
}

#ihgrewards_bg{
    position: relative;
    overflow: auto;
    margin-top: 20px;
    background: url(/a/images/ihgrewards_bg.3d3b6cfc.jpg);
    width: 900px;
    height: 551px;
}

.ihgrewards_select_label{
    position: relative;
    display: block;
    font-size: 12px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #3e3e3e;
    width: 80%;
    margin-bottom: 10px;
    min-width: 500px;
}

.ihgrewards_select{
    display: block;
    font-size: 12px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-bottom: 12px;
    color: #3e3e3e;
}

#ihgrewards_btn{
    margin-top: 12px;
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 5px;
}

.ihgrewards_bottom{
    display: block;
    margin-left: 51px;
    position: absolute;
    bottom: 51px;
}

.ihgrewards_code{
    margin-left: 51px;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoib2ZmZXJzL2loZ3Jld2FyZHMuY3NzIiwibWFwcGluZ3MiOiI7OztBQUFBO0lBQ0ksWUFBWTtJQUNaLGlCQUFpQjtJQUNqQixnQkFBZ0I7SUFDaEIsZUFBZTtJQUNmLG1CQUFtQjtBQUN2Qjs7QUFFQTtJQUNJLG1CQUFtQjtBQUN2Qjs7QUFFQTtJQUNJLGtCQUFrQjtJQUNsQixjQUFjO0lBQ2QsZ0JBQWdCO0lBQ2hCLG1EQUFxRDtJQUNyRCxZQUFZO0lBQ1osYUFBYTtBQUNqQjs7QUFFQTtJQUNJLGtCQUFrQjtJQUNsQixjQUFjO0lBQ2QsZUFBZTtJQUNmLDJEQUEyRDtJQUMzRCxjQUFjO0lBQ2QsVUFBVTtJQUNWLG1CQUFtQjtJQUNuQixnQkFBZ0I7QUFDcEI7O0FBRUE7SUFDSSxjQUFjO0lBQ2QsZUFBZTtJQUNmLDJEQUEyRDtJQUMzRCxtQkFBbUI7SUFDbkIsY0FBYztBQUNsQjs7QUFFQTtJQUNJLGdCQUFnQjtJQUNoQixjQUFjO0lBQ2QsbUJBQW1CO0lBQ25CLGtCQUFrQjtJQUNsQixpQkFBaUI7QUFDckI7O0FBRUE7SUFDSSxjQUFjO0lBQ2QsaUJBQWlCO0lBQ2pCLGtCQUFrQjtJQUNsQixZQUFZO0FBQ2hCOztBQUVBO0lBQ0ksaUJBQWlCO0FBQ3JCLEMiLCJzb3VyY2VzIjpbIndlYnBhY2s6Ly9Bd2FyZFdhbGxldC8uL3dlYi9hc3NldHMvYXdhcmR3YWxsZXRtYWluL2Nzcy9vZmZlci9paGdyZXdhcmRzLmNzcyJdLCJzb3VyY2VzQ29udGVudCI6WyIuaWhncmV3YXJkc190aXRsZXtcbiAgICB3aWR0aDogODAwcHg7XG4gICAgbWFyZ2luLWxlZnQ6IDUxcHg7XG4gICAgbWFyZ2luLXRvcDogNTZweDtcbiAgICBmb250LXNpemU6IDM2cHg7XG4gICAgbWFyZ2luLWJvdHRvbTogNDBweDtcbn1cblxuLmloZ3Jld2FyZHNfdG9hY2NvdW50e1xuICAgIG1hcmdpbi1ib3R0b206IDI4cHg7XG59XG5cbiNpaGdyZXdhcmRzX2Jne1xuICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgICBvdmVyZmxvdzogYXV0bztcbiAgICBtYXJnaW4tdG9wOiAyMHB4O1xuICAgIGJhY2tncm91bmQ6IHVybCguLi8uLi9pbWFnZXMvb2ZmZXIvaWhncmV3YXJkc19iZy5qcGcpO1xuICAgIHdpZHRoOiA5MDBweDtcbiAgICBoZWlnaHQ6IDU1MXB4O1xufVxuXG4uaWhncmV3YXJkc19zZWxlY3RfbGFiZWx7XG4gICAgcG9zaXRpb246IHJlbGF0aXZlO1xuICAgIGRpc3BsYXk6IGJsb2NrO1xuICAgIGZvbnQtc2l6ZTogMTJweDtcbiAgICBmb250LWZhbWlseTogJ0hlbHZldGljYSBOZXVlJywgSGVsdmV0aWNhLCBBcmlhbCwgc2Fucy1zZXJpZjtcbiAgICBjb2xvcjogIzNlM2UzZTtcbiAgICB3aWR0aDogODAlO1xuICAgIG1hcmdpbi1ib3R0b206IDEwcHg7XG4gICAgbWluLXdpZHRoOiA1MDBweDtcbn1cblxuLmloZ3Jld2FyZHNfc2VsZWN0e1xuICAgIGRpc3BsYXk6IGJsb2NrO1xuICAgIGZvbnQtc2l6ZTogMTJweDtcbiAgICBmb250LWZhbWlseTogJ0hlbHZldGljYSBOZXVlJywgSGVsdmV0aWNhLCBBcmlhbCwgc2Fucy1zZXJpZjtcbiAgICBtYXJnaW4tYm90dG9tOiAxMnB4O1xuICAgIGNvbG9yOiAjM2UzZTNlO1xufVxuXG4jaWhncmV3YXJkc19idG57XG4gICAgbWFyZ2luLXRvcDogMTJweDtcbiAgICBkaXNwbGF5OiBibG9jaztcbiAgICBwYWRkaW5nLXJpZ2h0OiAyMHB4O1xuICAgIHBhZGRpbmctbGVmdDogMjBweDtcbiAgICBtYXJnaW4tcmlnaHQ6IDVweDtcbn1cblxuLmloZ3Jld2FyZHNfYm90dG9te1xuICAgIGRpc3BsYXk6IGJsb2NrO1xuICAgIG1hcmdpbi1sZWZ0OiA1MXB4O1xuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICBib3R0b206IDUxcHg7XG59XG5cbi5paGdyZXdhcmRzX2NvZGV7XG4gICAgbWFyZ2luLWxlZnQ6IDUxcHg7XG59Il0sIm5hbWVzIjpbXSwic291cmNlUm9vdCI6IiJ9*/