/*!***************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[2]!./web/assets/awardwalletmain/css/offer/lhwleaders.css ***!
  \***************************************************************************************************************************************************************************************************************************/
.lhw_title{
    margin-top: 40px;
    width: 700px;
    z-index: 100;
    margin-bottom: 20px;
}

.lhw_top{
    margin-left: 50px;
}

#lhw_bg {
    position: relative;
    overflow: auto;
    margin-top: 20px;
    background: url(/a/images/lhw_bg.ce0b3fc0.jpg);
    width: 900px;
    height: 600px;
    overflow-x:hidden;
    overflow-y:hidden;
}

.lhw_ul{
    margin-bottom: 30px;
}

.lhw_list li{
    font-size: 14px;
    width: 440px;
    margin-bottom: 7px;
}

.lhw_comm{
    color: #787878;
    font-size: 12px;
}

.lhw_sep{
    width: 4px;
}

.lhw_discount{
    display: inline-block;
    border-top: 1px solid #186db6;
    border-bottom: 1px solid #186db6;
    padding-top: 8px;
    padding-bottom: 8px;
}

.lhw_table{
    border: none;
}

.lhw_table td{
    font: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 14px;
}

.lhw_final{
    color: #186db6;
    font-weight: bolder;
    font-size: 14px;
}

.lhw_table td:nth-child(3) {
    text-align: right;
}

.lhw_bottom{
    position: absolute;
    bottom: 150px;
}

.lhw_btn{
    z-index: 100;
}

.lhw_proceed{
    margin-bottom: 75px;
    margin-top: 4px;
}

.lhw_terms{
    display: block;
    position: absolute;
    left: 250px;
    bottom: -6px;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

.lhw_terms_list ul{
}

.lhw_terms_list li{
    top: -8px;
    left: -38px;
    font-size: 12px;
    width: 580px;
    margin-bottom: 0;
    line-height: 13px;
}

.lhw_decline{
    font-weight: bolder;
    margin-top: 4px;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoib2ZmZXJzL2xod2xlYWRlcnMuY3NzIiwibWFwcGluZ3MiOiI7OztBQUFBO0lBQ0ksZ0JBQWdCO0lBQ2hCLFlBQVk7SUFDWixZQUFZO0lBQ1osbUJBQW1CO0FBQ3ZCOztBQUVBO0lBQ0ksaUJBQWlCO0FBQ3JCOztBQUVBO0lBQ0ksa0JBQWtCO0lBQ2xCLGNBQWM7SUFDZCxnQkFBZ0I7SUFDaEIsbURBQThDO0lBQzlDLFlBQVk7SUFDWixhQUFhO0lBQ2IsaUJBQWlCO0lBQ2pCLGlCQUFpQjtBQUNyQjs7QUFFQTtJQUNJLG1CQUFtQjtBQUN2Qjs7QUFFQTtJQUNJLGVBQWU7SUFDZixZQUFZO0lBQ1osa0JBQWtCO0FBQ3RCOztBQUVBO0lBQ0ksY0FBYztJQUNkLGVBQWU7QUFDbkI7O0FBRUE7SUFDSSxVQUFVO0FBQ2Q7O0FBRUE7SUFDSSxxQkFBcUI7SUFDckIsNkJBQTZCO0lBQzdCLGdDQUFnQztJQUNoQyxnQkFBZ0I7SUFDaEIsbUJBQW1CO0FBQ3ZCOztBQUVBO0lBQ0ksWUFBWTtBQUNoQjs7QUFFQTtJQUNJLG9EQUFvRDtJQUNwRCxlQUFlO0lBQ2YsaUJBQWlCO0FBQ3JCOztBQUVBO0lBQ0ksY0FBYztJQUNkLG1CQUFtQjtJQUNuQixlQUFlO0FBQ25COztBQUVBO0lBQ0ksaUJBQWlCO0FBQ3JCOztBQUVBO0lBQ0ksa0JBQWtCO0lBQ2xCLGFBQWE7QUFDakI7O0FBRUE7SUFDSSxZQUFZO0FBQ2hCOztBQUVBO0lBQ0ksbUJBQW1CO0lBQ25CLGVBQWU7QUFDbkI7O0FBRUE7SUFDSSxjQUFjO0lBQ2Qsa0JBQWtCO0lBQ2xCLFdBQVc7SUFDWCxZQUFZO0lBQ1osZUFBZTtJQUNmLDJEQUEyRDtBQUMvRDs7QUFFQTtBQUNBOztBQUVBO0lBQ0ksU0FBUztJQUNULFdBQVc7SUFDWCxlQUFlO0lBQ2YsWUFBWTtJQUNaLGdCQUFnQjtJQUNoQixpQkFBaUI7QUFDckI7O0FBRUE7SUFDSSxtQkFBbUI7SUFDbkIsZUFBZTtBQUNuQixDIiwic291cmNlcyI6WyJ3ZWJwYWNrOi8vQXdhcmRXYWxsZXQvLi93ZWIvYXNzZXRzL2F3YXJkd2FsbGV0bWFpbi9jc3Mvb2ZmZXIvbGh3bGVhZGVycy5jc3MiXSwic291cmNlc0NvbnRlbnQiOlsiLmxod190aXRsZXtcbiAgICBtYXJnaW4tdG9wOiA0MHB4O1xuICAgIHdpZHRoOiA3MDBweDtcbiAgICB6LWluZGV4OiAxMDA7XG4gICAgbWFyZ2luLWJvdHRvbTogMjBweDtcbn1cblxuLmxod190b3B7XG4gICAgbWFyZ2luLWxlZnQ6IDUwcHg7XG59XG5cbiNsaHdfYmcge1xuICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgICBvdmVyZmxvdzogYXV0bztcbiAgICBtYXJnaW4tdG9wOiAyMHB4O1xuICAgIGJhY2tncm91bmQ6IHVybCguLi8uLi9pbWFnZXMvb2ZmZXIvbGh3X2JnLmpwZyk7XG4gICAgd2lkdGg6IDkwMHB4O1xuICAgIGhlaWdodDogNjAwcHg7XG4gICAgb3ZlcmZsb3cteDpoaWRkZW47XG4gICAgb3ZlcmZsb3cteTpoaWRkZW47XG59XG5cbi5saHdfdWx7XG4gICAgbWFyZ2luLWJvdHRvbTogMzBweDtcbn1cblxuLmxod19saXN0IGxpe1xuICAgIGZvbnQtc2l6ZTogMTRweDtcbiAgICB3aWR0aDogNDQwcHg7XG4gICAgbWFyZ2luLWJvdHRvbTogN3B4O1xufVxuXG4ubGh3X2NvbW17XG4gICAgY29sb3I6ICM3ODc4Nzg7XG4gICAgZm9udC1zaXplOiAxMnB4O1xufVxuXG4ubGh3X3NlcHtcbiAgICB3aWR0aDogNHB4O1xufVxuXG4ubGh3X2Rpc2NvdW50e1xuICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgICBib3JkZXItdG9wOiAxcHggc29saWQgIzE4NmRiNjtcbiAgICBib3JkZXItYm90dG9tOiAxcHggc29saWQgIzE4NmRiNjtcbiAgICBwYWRkaW5nLXRvcDogOHB4O1xuICAgIHBhZGRpbmctYm90dG9tOiA4cHg7XG59XG5cbi5saHdfdGFibGV7XG4gICAgYm9yZGVyOiBub25lO1xufVxuXG4ubGh3X3RhYmxlIHRke1xuICAgIGZvbnQ6IFwiSGVsdmV0aWNhIE5ldWVcIiwgSGVsdmV0aWNhLCBBcmlhbCwgc2Fucy1zZXJpZjtcbiAgICBmb250LXNpemU6IDEycHg7XG4gICAgbGluZS1oZWlnaHQ6IDE0cHg7XG59XG5cbi5saHdfZmluYWx7XG4gICAgY29sb3I6ICMxODZkYjY7XG4gICAgZm9udC13ZWlnaHQ6IGJvbGRlcjtcbiAgICBmb250LXNpemU6IDE0cHg7XG59XG5cbi5saHdfdGFibGUgdGQ6bnRoLWNoaWxkKDMpIHtcbiAgICB0ZXh0LWFsaWduOiByaWdodDtcbn1cblxuLmxod19ib3R0b217XG4gICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgIGJvdHRvbTogMTUwcHg7XG59XG5cbi5saHdfYnRue1xuICAgIHotaW5kZXg6IDEwMDtcbn1cblxuLmxod19wcm9jZWVke1xuICAgIG1hcmdpbi1ib3R0b206IDc1cHg7XG4gICAgbWFyZ2luLXRvcDogNHB4O1xufVxuXG4ubGh3X3Rlcm1ze1xuICAgIGRpc3BsYXk6IGJsb2NrO1xuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICBsZWZ0OiAyNTBweDtcbiAgICBib3R0b206IC02cHg7XG4gICAgZm9udC1zaXplOiAxMnB4O1xuICAgIGZvbnQtZmFtaWx5OiBcIkhlbHZldGljYSBOZXVlXCIsIEhlbHZldGljYSwgQXJpYWwsIHNhbnMtc2VyaWY7O1xufVxuXG4ubGh3X3Rlcm1zX2xpc3QgdWx7XG59XG5cbi5saHdfdGVybXNfbGlzdCBsaXtcbiAgICB0b3A6IC04cHg7XG4gICAgbGVmdDogLTM4cHg7XG4gICAgZm9udC1zaXplOiAxMnB4O1xuICAgIHdpZHRoOiA1ODBweDtcbiAgICBtYXJnaW4tYm90dG9tOiAwO1xuICAgIGxpbmUtaGVpZ2h0OiAxM3B4O1xufVxuXG4ubGh3X2RlY2xpbmV7XG4gICAgZm9udC13ZWlnaHQ6IGJvbGRlcjtcbiAgICBtYXJnaW4tdG9wOiA0cHg7XG59Il0sIm5hbWVzIjpbXSwic291cmNlUm9vdCI6IiJ9*/