/*!*************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[2]!./web/assets/awardwalletmain/css/offer/marriott.css ***!
  \*************************************************************************************************************************************************************************************************************************/
.marriott_title{
    width: 460px;
    margin-left: 51px;
    margin-top: 60px;
}

#marriott_ul{
    position: relative;
    width: 400px;
    margin-top: 28px;
    font-size: 12px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-shadow: 0 1px #fff;
    color: #3e3e3e;
    margin-left: 51px;
}

.marriott_toaccount{
    margin-bottom: 28px;
}

#mar_ul{
    width: 380px;
    margin-top: -10px;
    position: relative;
    left: -38px;
}

.mar_list li{
    width: 380px;
}

#mar_hurry{
    margin-top: 24px;
    font-size: 18px;
}

#marriott_bg{
    position: relative;
    overflow: auto;
    margin-top: 20px;
    background: url(/a/images/marriott_bg.34ea8fe4.jpg);
    width: 900px;
    height: 551px;
}

.marriott_btn{
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 51px;
    position: absolute;
    bottom: 51px;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoib2ZmZXJzL21hcnJpb3R0LmNzcyIsIm1hcHBpbmdzIjoiOzs7QUFBQTtJQUNJLFlBQVk7SUFDWixpQkFBaUI7SUFDakIsZ0JBQWdCO0FBQ3BCOztBQUVBO0lBQ0ksa0JBQWtCO0lBQ2xCLFlBQVk7SUFDWixnQkFBZ0I7SUFDaEIsZUFBZTtJQUNmLDJEQUEyRDtJQUMzRCx1QkFBdUI7SUFDdkIsY0FBYztJQUNkLGlCQUFpQjtBQUNyQjs7QUFFQTtJQUNJLG1CQUFtQjtBQUN2Qjs7QUFFQTtJQUNJLFlBQVk7SUFDWixpQkFBaUI7SUFDakIsa0JBQWtCO0lBQ2xCLFdBQVc7QUFDZjs7QUFFQTtJQUNJLFlBQVk7QUFDaEI7O0FBRUE7SUFDSSxnQkFBZ0I7SUFDaEIsZUFBZTtBQUNuQjs7QUFFQTtJQUNJLGtCQUFrQjtJQUNsQixjQUFjO0lBQ2QsZ0JBQWdCO0lBQ2hCLG1EQUFtRDtJQUNuRCxZQUFZO0lBQ1osYUFBYTtBQUNqQjs7QUFFQTtJQUNJLG1CQUFtQjtJQUNuQixrQkFBa0I7SUFDbEIsaUJBQWlCO0lBQ2pCLGtCQUFrQjtJQUNsQixZQUFZO0FBQ2hCLEMiLCJzb3VyY2VzIjpbIndlYnBhY2s6Ly9Bd2FyZFdhbGxldC8uL3dlYi9hc3NldHMvYXdhcmR3YWxsZXRtYWluL2Nzcy9vZmZlci9tYXJyaW90dC5jc3MiXSwic291cmNlc0NvbnRlbnQiOlsiLm1hcnJpb3R0X3RpdGxle1xuICAgIHdpZHRoOiA0NjBweDtcbiAgICBtYXJnaW4tbGVmdDogNTFweDtcbiAgICBtYXJnaW4tdG9wOiA2MHB4O1xufVxuXG4jbWFycmlvdHRfdWx7XG4gICAgcG9zaXRpb246IHJlbGF0aXZlO1xuICAgIHdpZHRoOiA0MDBweDtcbiAgICBtYXJnaW4tdG9wOiAyOHB4O1xuICAgIGZvbnQtc2l6ZTogMTJweDtcbiAgICBmb250LWZhbWlseTogJ0hlbHZldGljYSBOZXVlJywgSGVsdmV0aWNhLCBBcmlhbCwgc2Fucy1zZXJpZjtcbiAgICB0ZXh0LXNoYWRvdzogMCAxcHggI2ZmZjtcbiAgICBjb2xvcjogIzNlM2UzZTtcbiAgICBtYXJnaW4tbGVmdDogNTFweDtcbn1cblxuLm1hcnJpb3R0X3RvYWNjb3VudHtcbiAgICBtYXJnaW4tYm90dG9tOiAyOHB4O1xufVxuXG4jbWFyX3Vse1xuICAgIHdpZHRoOiAzODBweDtcbiAgICBtYXJnaW4tdG9wOiAtMTBweDtcbiAgICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gICAgbGVmdDogLTM4cHg7XG59XG5cbi5tYXJfbGlzdCBsaXtcbiAgICB3aWR0aDogMzgwcHg7XG59XG5cbiNtYXJfaHVycnl7XG4gICAgbWFyZ2luLXRvcDogMjRweDtcbiAgICBmb250LXNpemU6IDE4cHg7XG59XG5cbiNtYXJyaW90dF9iZ3tcbiAgICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gICAgb3ZlcmZsb3c6IGF1dG87XG4gICAgbWFyZ2luLXRvcDogMjBweDtcbiAgICBiYWNrZ3JvdW5kOiB1cmwoLi4vLi4vaW1hZ2VzL29mZmVyL21hcnJpb3R0X2JnLmpwZyk7XG4gICAgd2lkdGg6IDkwMHB4O1xuICAgIGhlaWdodDogNTUxcHg7XG59XG5cbi5tYXJyaW90dF9idG57XG4gICAgcGFkZGluZy1yaWdodDogMjBweDtcbiAgICBwYWRkaW5nLWxlZnQ6IDIwcHg7XG4gICAgbWFyZ2luLWxlZnQ6IDUxcHg7XG4gICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgIGJvdHRvbTogNTFweDtcbn0iXSwibmFtZXMiOltdLCJzb3VyY2VSb290IjoiIn0=*/