/*!*******************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[2]!./web/assets/awardwalletmain/css/offer/newawmobileapp.css ***!
  \*******************************************************************************************************************************************************************************************************************************/
.offer-mobile-app *{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.offer-mobile-app{
    width: 900px;
    margin:30px auto;
}
.offer-mobile-app-item{
    width: 900px;
    overflow: hidden;
    border: 1px solid #9a9a9a;
    height: 500px;
    background-image: url(/a/images/newawmobileapp_bg.7edb858b.jpg);
    background-repeat: no-repeat;
}
.offer-mobile-app .description{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 50px;
}
.offer-mobile-app h3{
    color: #186db6;
    font-weight: 300;
    font-size: 36px;
}
.offer-mobile-app p{
    font-size: 15px;
    width: 280px;
    display: block;
    padding-top: 30px;
    line-height: 1.3;
    color: #5d5d5d;
}
.offer-mobile-app .google-play-btn{
    width: 120px;
    text-decoration: none;
    margin-top: 10px;
    text-indent: -9999px;
    display: inline-block;
    background-image: url(/a/images/google-play-btn.847d3d26.png);
    background-repeat: no-repeat;
    height: 36px;
}
.offer-mobile-app .app-store-btn{
    width: 120px;
    text-decoration: none;
    margin-top: 10px;
    text-indent: -9999px;
    display: inline-block;
    background-image: url(/a/images/app-store-btn.8efc794b.png);
    background-repeat: no-repeat;
    height: 36px;
}
.offer-mobile-app a{
    color: #fff;
    text-decoration: none;
}
.offer-mobile-app a:hover{
    text-decoration: underline;
}
.offer-mobile-app a.offer_toaccount{
    font-size: 12px;
    font-family: helvetica,arial;
    margin-top: 5px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    color: #186db6;
    float: right;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .offer-mobile-app .google-play-btn{
    background-image: url(/a/images/google-play-btn@2x.fff0a9a2.png);
    background-size: 120px 36px;
  }
  .offer-mobile-app .app-store-btn{
    background-image: url(/a/images/app-store-btn@2x.02334e32.png);
    background-size: 120px 36px;
  }
  .offer-mobile-app-item{
    background-image: url(/a/images/newawmobileapp_bg@2x.c6971552.jpg);
    background-size: 900px 500px;
  }
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoib2ZmZXJzL25ld2F3bW9iaWxlYXBwLmNzcyIsIm1hcHBpbmdzIjoiOzs7QUFBQTtJQUNJLFFBQVE7SUFDUixVQUFVO0lBQ1YscUJBQXFCO0lBQ3JCLDZCQUE2QjtJQUM3QiwwQkFBMEI7QUFDOUI7QUFDQTtJQUNJLFlBQVk7SUFDWixnQkFBZ0I7QUFDcEI7QUFDQTtJQUNJLFlBQVk7SUFDWixnQkFBZ0I7SUFDaEIseUJBQXlCO0lBQ3pCLGFBQWE7SUFDYix5REFBaUU7SUFDakUsNEJBQTRCO0FBQ2hDO0FBQ0E7SUFDSSwwR0FBMEc7SUFDMUcsYUFBYTtBQUNqQjtBQUNBO0lBQ0ksY0FBYztJQUNkLGdCQUFnQjtJQUNoQixlQUFlO0FBQ25CO0FBQ0E7SUFDSSxlQUFlO0lBQ2YsWUFBWTtJQUNaLGNBQWM7SUFDZCxpQkFBaUI7SUFDakIsZ0JBQWdCO0lBQ2hCLGNBQWM7QUFDbEI7QUFDQTtJQUNJLFlBQVk7SUFDWixxQkFBcUI7SUFDckIsZ0JBQWdCO0lBQ2hCLG9CQUFvQjtJQUNwQixxQkFBcUI7SUFDckIseURBQStEO0lBQy9ELDRCQUE0QjtJQUM1QixZQUFZO0FBQ2hCO0FBQ0E7SUFDSSxZQUFZO0lBQ1oscUJBQXFCO0lBQ3JCLGdCQUFnQjtJQUNoQixvQkFBb0I7SUFDcEIscUJBQXFCO0lBQ3JCLHlEQUE2RDtJQUM3RCw0QkFBNEI7SUFDNUIsWUFBWTtBQUNoQjtBQUNBO0lBQ0ksV0FBVztJQUNYLHFCQUFxQjtBQUN6QjtBQUNBO0lBQ0ksMEJBQTBCO0FBQzlCO0FBQ0E7SUFDSSxlQUFlO0lBQ2YsNEJBQTRCO0lBQzVCLGVBQWU7SUFDZixxQkFBcUI7SUFDckIsZUFBZTtJQUNmLGlCQUFpQjtJQUNqQixjQUFjO0lBQ2QsWUFBWTtBQUNoQjtBQUNBO0VBQ0U7SUFDRSx5REFBa0U7SUFDbEUsMkJBQTJCO0VBQzdCO0VBQ0E7SUFDRSx5REFBZ0U7SUFDaEUsMkJBQTJCO0VBQzdCO0VBQ0E7SUFDRSx5REFBb0U7SUFDcEUsNEJBQTRCO0VBQzlCO0FBQ0YsQyIsInNvdXJjZXMiOlsid2VicGFjazovL0F3YXJkV2FsbGV0Ly4vd2ViL2Fzc2V0cy9hd2FyZHdhbGxldG1haW4vY3NzL29mZmVyL25ld2F3bW9iaWxlYXBwLmNzcyJdLCJzb3VyY2VzQ29udGVudCI6WyIub2ZmZXItbW9iaWxlLWFwcCAqe1xuICAgIG1hcmdpbjowO1xuICAgIHBhZGRpbmc6IDA7XG4gICAgYm94LXNpemluZzpib3JkZXItYm94O1xuICAgIC13ZWJraXQtYm94LXNpemluZzpib3JkZXItYm94O1xuICAgIC1tb3otYm94LXNpemluZzpib3JkZXItYm94O1xufVxuLm9mZmVyLW1vYmlsZS1hcHB7XG4gICAgd2lkdGg6IDkwMHB4O1xuICAgIG1hcmdpbjozMHB4IGF1dG87XG59XG4ub2ZmZXItbW9iaWxlLWFwcC1pdGVte1xuICAgIHdpZHRoOiA5MDBweDtcbiAgICBvdmVyZmxvdzogaGlkZGVuO1xuICAgIGJvcmRlcjogMXB4IHNvbGlkICM5YTlhOWE7XG4gICAgaGVpZ2h0OiA1MDBweDtcbiAgICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoJy4uLy4uL2ltYWdlcy9vZmZlci9uZXdhd21vYmlsZWFwcF9iZy5qcGcnKTtcbiAgICBiYWNrZ3JvdW5kLXJlcGVhdDogbm8tcmVwZWF0O1xufVxuLm9mZmVyLW1vYmlsZS1hcHAgLmRlc2NyaXB0aW9ue1xuICAgIGZvbnQtZmFtaWx5OiBcIkhlbHZldGljYU5ldWUtTGlnaHRcIiwgXCJIZWx2ZXRpY2EgTmV1ZSBMaWdodFwiLCBcIkhlbHZldGljYSBOZXVlXCIsIEhlbHZldGljYSwgQXJpYWwsIHNhbnMtc2VyaWY7XG4gICAgcGFkZGluZzogNTBweDtcbn1cbi5vZmZlci1tb2JpbGUtYXBwIGgze1xuICAgIGNvbG9yOiAjMTg2ZGI2O1xuICAgIGZvbnQtd2VpZ2h0OiAzMDA7XG4gICAgZm9udC1zaXplOiAzNnB4O1xufVxuLm9mZmVyLW1vYmlsZS1hcHAgcHtcbiAgICBmb250LXNpemU6IDE1cHg7XG4gICAgd2lkdGg6IDI4MHB4O1xuICAgIGRpc3BsYXk6IGJsb2NrO1xuICAgIHBhZGRpbmctdG9wOiAzMHB4O1xuICAgIGxpbmUtaGVpZ2h0OiAxLjM7XG4gICAgY29sb3I6ICM1ZDVkNWQ7XG59XG4ub2ZmZXItbW9iaWxlLWFwcCAuZ29vZ2xlLXBsYXktYnRue1xuICAgIHdpZHRoOiAxMjBweDtcbiAgICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XG4gICAgbWFyZ2luLXRvcDogMTBweDtcbiAgICB0ZXh0LWluZGVudDogLTk5OTlweDtcbiAgICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG4gICAgYmFja2dyb3VuZC1pbWFnZTogdXJsKCcuLi8uLi9pbWFnZXMvb2ZmZXIvZ29vZ2xlLXBsYXktYnRuLnBuZycpO1xuICAgIGJhY2tncm91bmQtcmVwZWF0OiBuby1yZXBlYXQ7XG4gICAgaGVpZ2h0OiAzNnB4O1xufVxuLm9mZmVyLW1vYmlsZS1hcHAgLmFwcC1zdG9yZS1idG57XG4gICAgd2lkdGg6IDEyMHB4O1xuICAgIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcbiAgICBtYXJnaW4tdG9wOiAxMHB4O1xuICAgIHRleHQtaW5kZW50OiAtOTk5OXB4O1xuICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoJy4uLy4uL2ltYWdlcy9vZmZlci9hcHAtc3RvcmUtYnRuLnBuZycpO1xuICAgIGJhY2tncm91bmQtcmVwZWF0OiBuby1yZXBlYXQ7XG4gICAgaGVpZ2h0OiAzNnB4O1xufVxuLm9mZmVyLW1vYmlsZS1hcHAgYXtcbiAgICBjb2xvcjogI2ZmZjtcbiAgICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XG59XG4ub2ZmZXItbW9iaWxlLWFwcCBhOmhvdmVye1xuICAgIHRleHQtZGVjb3JhdGlvbjogdW5kZXJsaW5lO1xufVxuLm9mZmVyLW1vYmlsZS1hcHAgYS5vZmZlcl90b2FjY291bnR7XG4gICAgZm9udC1zaXplOiAxMnB4O1xuICAgIGZvbnQtZmFtaWx5OiBoZWx2ZXRpY2EsYXJpYWw7XG4gICAgbWFyZ2luLXRvcDogNXB4O1xuICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgICBjdXJzb3I6IHBvaW50ZXI7XG4gICAgZm9udC13ZWlnaHQ6IGJvbGQ7XG4gICAgY29sb3I6ICMxODZkYjY7XG4gICAgZmxvYXQ6IHJpZ2h0O1xufVxuQG1lZGlhICgtd2Via2l0LW1pbi1kZXZpY2UtcGl4ZWwtcmF0aW86IDEuNSksIChtaW4tLW1vei1kZXZpY2UtcGl4ZWwtcmF0aW86IDEuNSksICgtby1taW4tZGV2aWNlLXBpeGVsLXJhdGlvOiAzLzIpLCAobWluLXJlc29sdXRpb246IDEuNWRwcHgpIHtcbiAgLm9mZmVyLW1vYmlsZS1hcHAgLmdvb2dsZS1wbGF5LWJ0bntcbiAgICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoXCIuLi8uLi9pbWFnZXMvb2ZmZXIvZ29vZ2xlLXBsYXktYnRuQDJ4LnBuZ1wiKTtcbiAgICBiYWNrZ3JvdW5kLXNpemU6IDEyMHB4IDM2cHg7XG4gIH1cbiAgLm9mZmVyLW1vYmlsZS1hcHAgLmFwcC1zdG9yZS1idG57XG4gICAgYmFja2dyb3VuZC1pbWFnZTogdXJsKFwiLi4vLi4vaW1hZ2VzL29mZmVyL2FwcC1zdG9yZS1idG5AMngucG5nXCIpO1xuICAgIGJhY2tncm91bmQtc2l6ZTogMTIwcHggMzZweDtcbiAgfVxuICAub2ZmZXItbW9iaWxlLWFwcC1pdGVte1xuICAgIGJhY2tncm91bmQtaW1hZ2U6IHVybChcIi4uLy4uL2ltYWdlcy9vZmZlci9uZXdhd21vYmlsZWFwcF9iZ0AyeC5qcGdcIik7XG4gICAgYmFja2dyb3VuZC1zaXplOiA5MDBweCA1MDBweDtcbiAgfVxufSJdLCJuYW1lcyI6W10sInNvdXJjZVJvb3QiOiIifQ==*/