/*!***********************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[2]!./web/assets/awardwalletmain/css/offer/oldspg.css ***!
  \***********************************************************************************************************************************************************************************************************************/
#spg_bg{
margin-left: auto;
margin-right: auto;
background: url(/a/images/spg_bg.59e19734.png);
width: 900px;
height: 620px;
}

#offer_list ul
{
margin-left: 0;
padding-left: 0;
list-style: none;
}

#offer_list li
{
width: 100%;
position: relative;
left: -40px;
list-style-type: none; 
padding-left: 20px;
background-image: url(/a/images/spg_bullet.714958ac.png);
background-repeat: no-repeat;
background-position: 0 .25em;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoib2ZmZXJzL29sZHNwZy5jc3MiLCJtYXBwaW5ncyI6Ijs7O0FBQUE7QUFDQSxpQkFBaUI7QUFDakIsa0JBQWtCO0FBQ2xCLG1EQUFnRDtBQUNoRCxZQUFZO0FBQ1osYUFBYTtBQUNiOztBQUVBOztBQUVBLGNBQWM7QUFDZCxlQUFlO0FBQ2YsZ0JBQWdCO0FBQ2hCOztBQUVBOztBQUVBLFdBQVc7QUFDWCxrQkFBa0I7QUFDbEIsV0FBVztBQUNYLHFCQUFxQjtBQUNyQixrQkFBa0I7QUFDbEIseURBQXdEO0FBQ3hELDRCQUE0QjtBQUM1Qiw0QkFBNEI7QUFDNUIsQyIsInNvdXJjZXMiOlsid2VicGFjazovL0F3YXJkV2FsbGV0Ly4vd2ViL2Fzc2V0cy9hd2FyZHdhbGxldG1haW4vY3NzL29mZmVyL29sZHNwZy5jc3MiXSwic291cmNlc0NvbnRlbnQiOlsiI3NwZ19iZ3tcbm1hcmdpbi1sZWZ0OiBhdXRvO1xubWFyZ2luLXJpZ2h0OiBhdXRvO1xuYmFja2dyb3VuZDogdXJsKCcuLi8uLi9pbWFnZXMvb2ZmZXIvc3BnX2JnLnBuZycpO1xud2lkdGg6IDkwMHB4O1xuaGVpZ2h0OiA2MjBweDtcbn1cblxuI29mZmVyX2xpc3QgdWxcbntcbm1hcmdpbi1sZWZ0OiAwO1xucGFkZGluZy1sZWZ0OiAwO1xubGlzdC1zdHlsZTogbm9uZTtcbn1cblxuI29mZmVyX2xpc3QgbGlcbntcbndpZHRoOiAxMDAlO1xucG9zaXRpb246IHJlbGF0aXZlO1xubGVmdDogLTQwcHg7XG5saXN0LXN0eWxlLXR5cGU6IG5vbmU7IFxucGFkZGluZy1sZWZ0OiAyMHB4O1xuYmFja2dyb3VuZC1pbWFnZTogdXJsKC4uLy4uL2ltYWdlcy9vZmZlci9zcGdfYnVsbGV0LnBuZyk7XG5iYWNrZ3JvdW5kLXJlcGVhdDogbm8tcmVwZWF0O1xuYmFja2dyb3VuZC1wb3NpdGlvbjogMCAuMjVlbTtcbn0iXSwibmFtZXMiOltdLCJzb3VyY2VSb290IjoiIn0=*/