/*!***************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[2]!./web/assets/awardwalletmain/css/offer/omnihotels.css ***!
  \***************************************************************************************************************************************************************************************************************************/
.omnihotels_title{
    margin-top: 67px;
    width: 330px;
    margin-bottom: 69px;
}

.omnihotels_ul{
    width: 250px;
    margin-bottom: 48px;
    margin-top: 28px;
    font-size: 14px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #555;
    line-height: 22px;
}

.omnihotels_toaccount{
    margin-bottom: 28px;
}

.omnihotels_bg{
    margin-top: 20px;
    padding-bottom: 46px;
    padding-right: 51px;
    min-height: 515px;
}

.omnihotels_image{
    width: 595px;
    height: 491px;
    background: url(/a/images/omni_image.b7b4e2d9.png);
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.omnihotels_btn{
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 60px;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoib2ZmZXJzL29tbmlob3RlbHMuY3NzIiwibWFwcGluZ3MiOiI7OztBQUFBO0lBQ0ksZ0JBQWdCO0lBQ2hCLFlBQVk7SUFDWixtQkFBbUI7QUFDdkI7O0FBRUE7SUFDSSxZQUFZO0lBQ1osbUJBQW1CO0lBQ25CLGdCQUFnQjtJQUNoQixlQUFlO0lBQ2YsMkRBQTJEO0lBQzNELFdBQVc7SUFDWCxpQkFBaUI7QUFDckI7O0FBRUE7SUFDSSxtQkFBbUI7QUFDdkI7O0FBRUE7SUFDSSxnQkFBZ0I7SUFDaEIsb0JBQW9CO0lBQ3BCLG1CQUFtQjtJQUNuQixpQkFBaUI7QUFDckI7O0FBRUE7SUFDSSxZQUFZO0lBQ1osYUFBYTtJQUNiLG1EQUFrRDtJQUNsRCxrQkFBa0I7SUFDbEIsVUFBVTtJQUNWLFdBQVc7QUFDZjs7QUFFQTtJQUNJLG1CQUFtQjtJQUNuQixrQkFBa0I7SUFDbEIsZ0JBQWdCO0FBQ3BCLEMiLCJzb3VyY2VzIjpbIndlYnBhY2s6Ly9Bd2FyZFdhbGxldC8uL3dlYi9hc3NldHMvYXdhcmR3YWxsZXRtYWluL2Nzcy9vZmZlci9vbW5paG90ZWxzLmNzcyJdLCJzb3VyY2VzQ29udGVudCI6WyIub21uaWhvdGVsc190aXRsZXtcbiAgICBtYXJnaW4tdG9wOiA2N3B4O1xuICAgIHdpZHRoOiAzMzBweDtcbiAgICBtYXJnaW4tYm90dG9tOiA2OXB4O1xufVxuXG4ub21uaWhvdGVsc191bHtcbiAgICB3aWR0aDogMjUwcHg7XG4gICAgbWFyZ2luLWJvdHRvbTogNDhweDtcbiAgICBtYXJnaW4tdG9wOiAyOHB4O1xuICAgIGZvbnQtc2l6ZTogMTRweDtcbiAgICBmb250LWZhbWlseTogJ0hlbHZldGljYSBOZXVlJywgSGVsdmV0aWNhLCBBcmlhbCwgc2Fucy1zZXJpZjtcbiAgICBjb2xvcjogIzU1NTtcbiAgICBsaW5lLWhlaWdodDogMjJweDtcbn1cblxuLm9tbmlob3RlbHNfdG9hY2NvdW50e1xuICAgIG1hcmdpbi1ib3R0b206IDI4cHg7XG59XG5cbi5vbW5paG90ZWxzX2Jne1xuICAgIG1hcmdpbi10b3A6IDIwcHg7XG4gICAgcGFkZGluZy1ib3R0b206IDQ2cHg7XG4gICAgcGFkZGluZy1yaWdodDogNTFweDtcbiAgICBtaW4taGVpZ2h0OiA1MTVweDtcbn1cblxuLm9tbmlob3RlbHNfaW1hZ2V7XG4gICAgd2lkdGg6IDU5NXB4O1xuICAgIGhlaWdodDogNDkxcHg7XG4gICAgYmFja2dyb3VuZDogdXJsKC4uLy4uL2ltYWdlcy9vZmZlci9vbW5pX2ltYWdlLnBuZyk7XG4gICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgIHJpZ2h0OiAwcHg7XG4gICAgYm90dG9tOiAwcHg7XG59XG5cbi5vbW5paG90ZWxzX2J0bntcbiAgICBwYWRkaW5nLXJpZ2h0OiAyMHB4O1xuICAgIHBhZGRpbmctbGVmdDogMjBweDtcbiAgICBtYXJnaW4tdG9wOiA2MHB4O1xufSJdLCJuYW1lcyI6W10sInNvdXJjZVJvb3QiOiIifQ==*/