/*!****************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[2]!./web/assets/awardwalletmain/css/offer/rocketmiles.css ***!
  \****************************************************************************************************************************************************************************************************************************/
.rm_image{
    width: 356px;
    height: 384px;
    background: url(/a/images/rm_image.cfd9351a.png);
    position: absolute;
    right: 16px;
    top: 85px;
}

.rm_title{
    margin-top: 85px;
}

.rm_description{
    font-weight: lighter;
    width: 445px;
    margin-top: 35px;
    margin-bottom: 46px;
    font-size: 14px;
    line-height: 18px;
}

.rm_bg{
    padding-bottom: 68px;
}

.rm_highlight{
    font-weight: lighter;
    color: rgb(24, 109, 182);
    font-size: 18px;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoib2ZmZXJzL3JvY2tldG1pbGVzLmNzcyIsIm1hcHBpbmdzIjoiOzs7QUFBQTtJQUNJLFlBQVk7SUFDWixhQUFhO0lBQ2IsbURBQWdEO0lBQ2hELGtCQUFrQjtJQUNsQixXQUFXO0lBQ1gsU0FBUztBQUNiOztBQUVBO0lBQ0ksZ0JBQWdCO0FBQ3BCOztBQUVBO0lBQ0ksb0JBQW9CO0lBQ3BCLFlBQVk7SUFDWixnQkFBZ0I7SUFDaEIsbUJBQW1CO0lBQ25CLGVBQWU7SUFDZixpQkFBaUI7QUFDckI7O0FBRUE7SUFDSSxvQkFBb0I7QUFDeEI7O0FBRUE7SUFDSSxvQkFBb0I7SUFDcEIsd0JBQXdCO0lBQ3hCLGVBQWU7QUFDbkIsQyIsInNvdXJjZXMiOlsid2VicGFjazovL0F3YXJkV2FsbGV0Ly4vd2ViL2Fzc2V0cy9hd2FyZHdhbGxldG1haW4vY3NzL29mZmVyL3JvY2tldG1pbGVzLmNzcyJdLCJzb3VyY2VzQ29udGVudCI6WyIucm1faW1hZ2V7XG4gICAgd2lkdGg6IDM1NnB4O1xuICAgIGhlaWdodDogMzg0cHg7XG4gICAgYmFja2dyb3VuZDogdXJsKC4uLy4uL2ltYWdlcy9vZmZlci9ybV9pbWFnZS5wbmcpO1xuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICByaWdodDogMTZweDtcbiAgICB0b3A6IDg1cHg7XG59XG5cbi5ybV90aXRsZXtcbiAgICBtYXJnaW4tdG9wOiA4NXB4O1xufVxuXG4ucm1fZGVzY3JpcHRpb257XG4gICAgZm9udC13ZWlnaHQ6IGxpZ2h0ZXI7XG4gICAgd2lkdGg6IDQ0NXB4O1xuICAgIG1hcmdpbi10b3A6IDM1cHg7XG4gICAgbWFyZ2luLWJvdHRvbTogNDZweDtcbiAgICBmb250LXNpemU6IDE0cHg7XG4gICAgbGluZS1oZWlnaHQ6IDE4cHg7XG59XG5cbi5ybV9iZ3tcbiAgICBwYWRkaW5nLWJvdHRvbTogNjhweDtcbn1cblxuLnJtX2hpZ2hsaWdodHtcbiAgICBmb250LXdlaWdodDogbGlnaHRlcjtcbiAgICBjb2xvcjogcmdiKDI0LCAxMDksIDE4Mik7XG4gICAgZm9udC1zaXplOiAxOHB4O1xufSJdLCJuYW1lcyI6W10sInNvdXJjZVJvb3QiOiIifQ==*/