/*!*********************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[2]!./web/assets/awardwalletmain/css/offer/uber.css ***!
  \*********************************************************************************************************************************************************************************************************************/
.uber_title{
    margin-top: 51px;
    z-index: 100;
    position: relative;
}

.uber_bg{
    margin-top: 20px;
    padding-bottom: 50px;
}

.uber_desc{
    margin-top: 34px;
    margin-bottom: 125px;
    font-family: 'Helvetica Neue', 'Arial Narrow', Helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-size: 24px;
    text-shadow: 0 1px #fff;
    color: rgb(62, 62, 62);
    display: block;
    z-index: 100;
    position: relative;
}

.uber_code{
    font-weight: bold;
}

.uber_btn_no{
    margin-left: 21px;
    padding: 7px 36px;
    z-index: 100;
    position: relative;
}

.uber_btn{
    padding: 7px 21px;
    z-index: 100;
    position: relative;
}

.uber_image{
    width: 898px;
    height: 446px;
    background: url(/a/images/uber_image.c1a394e7.png);
    position: absolute;
    right: 0px;
    top: 75px;
    z-index: 1;
}

.uber_toaccount{
    margin-bottom: 62px;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoib2ZmZXJzL3ViZXIuY3NzIiwibWFwcGluZ3MiOiI7OztBQUFBO0lBQ0ksZ0JBQWdCO0lBQ2hCLFlBQVk7SUFDWixrQkFBa0I7QUFDdEI7O0FBRUE7SUFDSSxnQkFBZ0I7SUFDaEIsb0JBQW9CO0FBQ3hCOztBQUVBO0lBQ0ksZ0JBQWdCO0lBQ2hCLG9CQUFvQjtJQUNwQiwyRUFBMkU7SUFDM0Usb0JBQW9CO0lBQ3BCLGVBQWU7SUFDZix1QkFBdUI7SUFDdkIsc0JBQXNCO0lBQ3RCLGNBQWM7SUFDZCxZQUFZO0lBQ1osa0JBQWtCO0FBQ3RCOztBQUVBO0lBQ0ksaUJBQWlCO0FBQ3JCOztBQUVBO0lBQ0ksaUJBQWlCO0lBQ2pCLGlCQUFpQjtJQUNqQixZQUFZO0lBQ1osa0JBQWtCO0FBQ3RCOztBQUVBO0lBQ0ksaUJBQWlCO0lBQ2pCLFlBQVk7SUFDWixrQkFBa0I7QUFDdEI7O0FBRUE7SUFDSSxZQUFZO0lBQ1osYUFBYTtJQUNiLG1EQUFrRDtJQUNsRCxrQkFBa0I7SUFDbEIsVUFBVTtJQUNWLFNBQVM7SUFDVCxVQUFVO0FBQ2Q7O0FBRUE7SUFDSSxtQkFBbUI7QUFDdkIsQyIsInNvdXJjZXMiOlsid2VicGFjazovL0F3YXJkV2FsbGV0Ly4vd2ViL2Fzc2V0cy9hd2FyZHdhbGxldG1haW4vY3NzL29mZmVyL3ViZXIuY3NzIl0sInNvdXJjZXNDb250ZW50IjpbIi51YmVyX3RpdGxle1xuICAgIG1hcmdpbi10b3A6IDUxcHg7XG4gICAgei1pbmRleDogMTAwO1xuICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcbn1cblxuLnViZXJfYmd7XG4gICAgbWFyZ2luLXRvcDogMjBweDtcbiAgICBwYWRkaW5nLWJvdHRvbTogNTBweDtcbn1cblxuLnViZXJfZGVzY3tcbiAgICBtYXJnaW4tdG9wOiAzNHB4O1xuICAgIG1hcmdpbi1ib3R0b206IDEyNXB4O1xuICAgIGZvbnQtZmFtaWx5OiAnSGVsdmV0aWNhIE5ldWUnLCAnQXJpYWwgTmFycm93JywgSGVsdmV0aWNhLCBBcmlhbCwgc2Fucy1zZXJpZjtcbiAgICBmb250LXdlaWdodDogbGlnaHRlcjtcbiAgICBmb250LXNpemU6IDI0cHg7XG4gICAgdGV4dC1zaGFkb3c6IDAgMXB4ICNmZmY7XG4gICAgY29sb3I6IHJnYig2MiwgNjIsIDYyKTtcbiAgICBkaXNwbGF5OiBibG9jaztcbiAgICB6LWluZGV4OiAxMDA7XG4gICAgcG9zaXRpb246IHJlbGF0aXZlO1xufVxuXG4udWJlcl9jb2Rle1xuICAgIGZvbnQtd2VpZ2h0OiBib2xkO1xufVxuXG4udWJlcl9idG5fbm97XG4gICAgbWFyZ2luLWxlZnQ6IDIxcHg7XG4gICAgcGFkZGluZzogN3B4IDM2cHg7XG4gICAgei1pbmRleDogMTAwO1xuICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcbn1cblxuLnViZXJfYnRue1xuICAgIHBhZGRpbmc6IDdweCAyMXB4O1xuICAgIHotaW5kZXg6IDEwMDtcbiAgICBwb3NpdGlvbjogcmVsYXRpdmU7XG59XG5cbi51YmVyX2ltYWdle1xuICAgIHdpZHRoOiA4OThweDtcbiAgICBoZWlnaHQ6IDQ0NnB4O1xuICAgIGJhY2tncm91bmQ6IHVybCguLi8uLi9pbWFnZXMvb2ZmZXIvdWJlcl9pbWFnZS5wbmcpO1xuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICByaWdodDogMHB4O1xuICAgIHRvcDogNzVweDtcbiAgICB6LWluZGV4OiAxO1xufVxuXG4udWJlcl90b2FjY291bnR7XG4gICAgbWFyZ2luLWJvdHRvbTogNjJweDtcbn0iXSwibmFtZXMiOltdLCJzb3VyY2VSb290IjoiIn0=*/