/*!*****************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[2]!./web/assets/awardwalletmain/css/offer/unredeemedonecardcredits.css ***!
  \*****************************************************************************************************************************************************************************************************************************************/
.offer-block *{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	margin:0;
	font-family: Helvetica Neue, arial, sans-serif;
	padding: 0;
}
.offer-block{
	width: 900px;
	height: 500px;
	background: url(/a/images/radial-offer-bg.f99c834b.jpg) no-repeat;
	margin:50px auto 0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.offer-block .btn-blue{
	margin-top: 140px;
	display: inline-block;
}
.offer-block h3{
	font-size: 36px;
	color: #186db6;
	line-height: 1.2;
	font-weight: normal;
	text-shadow:0 1px #fff;
}
.offer-block p{
	font-size: 14px;
	line-height: 1.5;
	margin-top:30px;
	color: #535457;
}
.offer-block p:first-child{
	margin-top: 0;
}
.one-card-offer{
	position: relative;
	width: 900px;
	height: 500px;
	padding: 50px;
}
.offer-block .one-card-offer .thumb{
	width: 580px;
	position: absolute;
	text-decoration: none;
	right: 1px;
	top: 0;
	display: inline-block;
	height: 499px;
	background: url(/a/images/one-card.487f10cb.png) right 20px bottom -20px no-repeat;
}
.offer-block .one-card-offer .thumb.more{
	background: url(/a/images/one-card-more.27414bad.png) right 20px bottom -20px no-repeat;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoib2ZmZXJzL3VucmVkZWVtZWRvbmVjYXJkY3JlZGl0cy5jc3MiLCJtYXBwaW5ncyI6Ijs7O0FBQUE7Q0FDQyxxQkFBcUI7Q0FDckIsNkJBQTZCO0NBQzdCLDBCQUEwQjtDQUMxQixRQUFRO0NBQ1IsOENBQThDO0NBQzlDLFVBQVU7QUFDWDtBQUNBO0NBQ0MsWUFBWTtDQUNaLGFBQWE7Q0FDYiw2REFBMEY7Q0FDMUYsa0JBQWtCO0NBQ2xCLHFCQUFxQjtDQUNyQiw2QkFBNkI7Q0FDN0IsMEJBQTBCO0FBQzNCO0FBQ0E7Q0FDQyxpQkFBaUI7Q0FDakIscUJBQXFCO0FBQ3RCO0FBQ0E7Q0FDQyxlQUFlO0NBQ2YsY0FBYztDQUNkLGdCQUFnQjtDQUNoQixtQkFBbUI7Q0FDbkIsc0JBQXNCO0FBQ3ZCO0FBQ0E7Q0FDQyxlQUFlO0NBQ2YsZ0JBQWdCO0NBQ2hCLGVBQWU7Q0FDZixjQUFjO0FBQ2Y7QUFDQTtDQUNDLGFBQWE7QUFDZDtBQUNBO0NBQ0Msa0JBQWtCO0NBQ2xCLFlBQVk7Q0FDWixhQUFhO0NBQ2IsYUFBYTtBQUNkO0FBQ0E7Q0FDQyxZQUFZO0NBQ1osa0JBQWtCO0NBQ2xCLHFCQUFxQjtDQUNyQixVQUFVO0NBQ1YsTUFBTTtDQUNOLHFCQUFxQjtDQUNyQixhQUFhO0NBQ2IscUZBQTJHO0FBQzVHO0FBQ0E7Q0FDQyxxRkFBZ0g7QUFDakgsQyIsInNvdXJjZXMiOlsid2VicGFjazovL0F3YXJkV2FsbGV0Ly4vd2ViL2Fzc2V0cy9hd2FyZHdhbGxldG1haW4vY3NzL29mZmVyL3VucmVkZWVtZWRvbmVjYXJkY3JlZGl0cy5jc3MiXSwic291cmNlc0NvbnRlbnQiOlsiLm9mZmVyLWJsb2NrICp7XG5cdGJveC1zaXppbmc6Ym9yZGVyLWJveDtcblx0LXdlYmtpdC1ib3gtc2l6aW5nOmJvcmRlci1ib3g7XG5cdC1tb3otYm94LXNpemluZzpib3JkZXItYm94O1xuXHRtYXJnaW46MDtcblx0Zm9udC1mYW1pbHk6IEhlbHZldGljYSBOZXVlLCBhcmlhbCwgc2Fucy1zZXJpZjtcblx0cGFkZGluZzogMDtcbn1cbi5vZmZlci1ibG9ja3tcblx0d2lkdGg6IDkwMHB4O1xuXHRoZWlnaHQ6IDUwMHB4O1xuXHRiYWNrZ3JvdW5kOiB1cmwoLi4vLi4vaW1hZ2VzL29mZmVyL3VucmVkZWVtZWRvbmVjYXJkY3JlZGl0cy9yYWRpYWwtb2ZmZXItYmcuanBnKSBuby1yZXBlYXQ7XG5cdG1hcmdpbjo1MHB4IGF1dG8gMDtcblx0Ym94LXNpemluZzpib3JkZXItYm94O1xuXHQtd2Via2l0LWJveC1zaXppbmc6Ym9yZGVyLWJveDtcblx0LW1vei1ib3gtc2l6aW5nOmJvcmRlci1ib3g7XG59XG4ub2ZmZXItYmxvY2sgLmJ0bi1ibHVle1xuXHRtYXJnaW4tdG9wOiAxNDBweDtcblx0ZGlzcGxheTogaW5saW5lLWJsb2NrO1xufVxuLm9mZmVyLWJsb2NrIGgze1xuXHRmb250LXNpemU6IDM2cHg7XG5cdGNvbG9yOiAjMTg2ZGI2O1xuXHRsaW5lLWhlaWdodDogMS4yO1xuXHRmb250LXdlaWdodDogbm9ybWFsO1xuXHR0ZXh0LXNoYWRvdzowIDFweCAjZmZmO1xufVxuLm9mZmVyLWJsb2NrIHB7XG5cdGZvbnQtc2l6ZTogMTRweDtcblx0bGluZS1oZWlnaHQ6IDEuNTtcblx0bWFyZ2luLXRvcDozMHB4O1xuXHRjb2xvcjogIzUzNTQ1Nztcbn1cbi5vZmZlci1ibG9jayBwOmZpcnN0LWNoaWxke1xuXHRtYXJnaW4tdG9wOiAwO1xufVxuLm9uZS1jYXJkLW9mZmVye1xuXHRwb3NpdGlvbjogcmVsYXRpdmU7XG5cdHdpZHRoOiA5MDBweDtcblx0aGVpZ2h0OiA1MDBweDtcblx0cGFkZGluZzogNTBweDtcbn1cbi5vZmZlci1ibG9jayAub25lLWNhcmQtb2ZmZXIgLnRodW1ie1xuXHR3aWR0aDogNTgwcHg7XG5cdHBvc2l0aW9uOiBhYnNvbHV0ZTtcblx0dGV4dC1kZWNvcmF0aW9uOiBub25lO1xuXHRyaWdodDogMXB4O1xuXHR0b3A6IDA7XG5cdGRpc3BsYXk6IGlubGluZS1ibG9jaztcblx0aGVpZ2h0OiA0OTlweDtcblx0YmFja2dyb3VuZDogdXJsKC4uLy4uL2ltYWdlcy9vZmZlci91bnJlZGVlbWVkb25lY2FyZGNyZWRpdHMvb25lLWNhcmQucG5nKSByaWdodCAyMHB4IGJvdHRvbSAtMjBweCBuby1yZXBlYXQ7XG59XG4ub2ZmZXItYmxvY2sgLm9uZS1jYXJkLW9mZmVyIC50aHVtYi5tb3Jle1xuXHRiYWNrZ3JvdW5kOiB1cmwoLi4vLi4vaW1hZ2VzL29mZmVyL3VucmVkZWVtZWRvbmVjYXJkY3JlZGl0cy9vbmUtY2FyZC1tb3JlLnBuZykgcmlnaHQgMjBweCBib3R0b20gLTIwcHggbm8tcmVwZWF0O1xufSJdLCJuYW1lcyI6W10sInNvdXJjZVJvb3QiOiIifQ==*/