services:
    _defaults:
        public: true

    # Types

    aw.mobile.profile_change_password:
        public: true
        class: AwardWallet\MobileBundle\Form\Type\Profile\ChangePasswordType
        arguments:
            - "@aw.form.transformer.generic.profile_change_password"
            - "@translator"
            - "@aw.mobile.url_transformer"
        tags:
            - {name: form.type}

    award_wallet_main.form_type.change_user_password_type:
        public: true
        class: AwardWallet\MainBundle\Form\Type\ChangeUserPasswordType
        arguments: [ "@router", "@translator", "@aw.form.transformer.generic.profile_change_password"]
        tags:
            - { name: form.type }

    # Transformers

    aw.form.transformer.generic.profile_change_password:
        public: true
        class: AwardWallet\MainBundle\Form\Transformer\Profile\ChangePasswordTransformer

    # Validators

    aw.form.validator.not_same_password:
        public: true
        class: AwardWallet\MainBundle\Validator\NotSamePasswordValidator
        arguments: ["@translator", "@aw.security.password_checker"]

    # Handlers

    aw.form.profile_password.subscriber.generic:
        public: true
        class: AwardWallet\MainBundle\Form\Handler\Subscriber\Profile\PasswordGeneric
        arguments: ["@doctrine.orm.entity_manager", "@aw.manager.user_manager", "@aw.form.handler_helper"]


    aw.form.profile_password.handler.desktop:
        public: true
        parent: aw.form.generic_request_handler
        calls:
            - [setChannel, ["form.generic.profile_password"]]
            - [addHandlerSubscriber, ["@aw.form.profile_password.subscriber.generic"]]

    aw.form.profile_password.handler.mobile:
        public: true
        parent: aw.form.generic_request_handler
        calls:
            - [setChannels, [["form.mobile", "form.generic.profile_password"]]]
            - [addHandlerSubscriber, ["@aw.form.profile_password.subscriber.generic"]]
            - [addHandlerSubscriber, ["@aw.form.subscriber.mobile.request_data_transformer"]]
