<ul class="mobile-apps">
    <li><a target="_blank" rel="noopener noreferrer" href="https://market.android.com/details?id=com.itlogy.awardwallet&feature=search_result" title="{{ 'footer.apps.android' | trans({}, 'menu') | desc('Android AwardWallet Application') }}"><i class="icon-android-app"></i></a></li>
    <li><a target="_blank" rel="noopener noreferrer" href="http://itunes.apple.com/us/app/awardwallet/id388442727?mt=8" title="{{ 'footer.apps.iphone' | trans({}, 'menu') | desc('iPhone AwardWallet Application') }}"><i class="icon-iphone-app"></i></a></li>
</ul>
