{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "ie": 11
        },
        "useBuiltIns": "usage",
        "corejs": {
          "version": 3
        }
      }
    ],
    "@babel/preset-react"
  ],
  "compact": true,
  "plugins": ["babel-plugin-transform-class-properties"],
  "env": {
    "test": {
      "plugins": ["istanbul", "rewire"]
    }
  }
}
