
# file masks
**/.git
**/.gitignore
**/*.Dockerfile
**/*.dockerignore
**/*.Jenkinsfile
**/*.log
**/Dockerfile
**/admin
**/tests
**/tmp
**/doc

# directories
/.idea
/engine
!/engine/*.php
/app/cache
/app/logs
/archive
/build
/data/selenium
/docker/dev
/docker/php/Dockerfile
/docker/prod/nginx
/node_modules
/web/assets/common/vendors
/web/assets/translations
/web/b
/web/bundles
/web/css
/web/engine
/web/js
/web/images/uploaded
/web/m
/vendor

# single files
*.dist.yml
/config.xml
/docker-compose*
/docker/prod/layered-deploy.sh
/Jenkinsfile
/readme.txt
/web/app_dev.php
!web/.well-known
/docker-bake.hcl