[submodule "web/lib"]
	path = web/lib
	url = git@github.com:AwardWallet/lib.git
	branch = master
    ignore = all
[submodule "engine"]
	path = engine
	url = git@github.com:AwardWallet/engine.git
	branch = master
    ignore = all
