services:
  nginx:
      image: nginx:1.19
      volumes:
          - ./web:/www/awardwallet/web
          - ./docker/dev/nginx/nginx.conf:/etc/nginx/conf.d/default.conf.template
          - ./docker/dev/nginx/entrypoint.sh:/root/nginx-dev-entrypoint.sh
          - ./docker/dev/nginx/fastcgi-symfony.conf:/etc/nginx/fastcgi-symfony.conf
          - ./docker/prod/nginx/maintenance.conf:/etc/nginx/conf.d/maintenance.conf.template
          - ./docker/prod/nginx/maintenance_on.sh:/root/maintenance_on.sh
          - ./docker/prod/nginx/maintenance_off.sh:/root/maintenance_off.sh
#          - ./docker/users:/etc/nginx/passwords
      command: ["/root/nginx-dev-entrypoint.sh"]
      links:
          - php:php
      environment:
          - VIRTUAL_PORT=80
          - VIRTUAL_HOST=awardwallet.docker,m.awardwallet.docker,business.awardwallet.docker,beta.docker,awardwallet.dev,business.awardwallet.dev,m.awardwallet.dev,awrd.docker,dev-desktop.awardwallet.com,frontend-local.awardwallet.com,awardwallet.com,capitalcards.awardwallet.docker
          - HTTPS_METHOD=noredirect
          - HSTS_MAX_AGE=1
      networks:
          default:
              aliases:
                  - awardwallet.docker
                  - business.awardwallet.docker
                  - awardwallet.dev
                  - business.awardwallet.dev
                  - cwt.awardwallet.docker
                  - cdn-awardwallet.docker
          awardwallet:
              aliases:
                  - awardwallet.docker
                  - dev-desktop.awardwallet.com

  php:
      image: docker.awardwallet.com/php/frontend-ubuntu20.04-php7.4-debug-multiarch
      volumes:
          - ./:/www/awardwallet
          - ./docker/30-awardwallet-php.ini:/etc/php/7.4/cli/conf.d/30-awardwallet-php.ini
          - ./docker/30-awardwallet-php.ini:/etc/php/7.4/fpm/conf.d/30-awardwallet-php.ini
          - ./docker/dev/php/php-fpm.ini:/etc/php/7.4/fpm/conf.d/40-dev-php.ini
          - ./docker/dev/php/php-cli.ini:/etc/php/7.4/cli/conf.d/40-dev-php.ini
          - ./docker/dev/php/php_fpm_global.conf:/etc/php/7.4/fpm/global.conf
          - ./docker/dev/php/php_fpm_pool.conf:/etc/php/7.4/fpm/pool.d/www.conf
          - ./docker/dev/php/php_fpm_common.conf:/etc/php/7.4/fpm/common.conf
          - ./docker/dev/php/php_fpm_pool_first.conf:/etc/php/7.4/fpm/pool.d/first.conf
          - ./docker/dev/php/php_fpm_pool_second.conf:/etc/php/7.4/fpm/pool.d/second.conf
          - ./docker/dev/php/php_fpm_main_first.conf:/etc/php/7.4/fpm/main_first.conf
          - ./docker/dev/php/php_fpm_main_second.conf:/etc/php/7.4/fpm/main_second.conf
          - ./docker/dev/php/xdebug.ini:/etc/php/7.4/mods-available/xdebug.ini
          - ./docker/dev/php/fpm-entrypoint-dev.sh:/docker/fpm-entrypoint-dev.sh
          - ./app/logs:/var/log/www/awardwallet:rw
          - home:/home/user
          - ./docker/.bashrc:/home/user/.bashrc
          - ./docker/.my.cnf:/home/user/.my.cnf
          - ./docker/.profile:/home/user/.profile
          - ~/.ssh:/home/user/.ssh
          - ~/.gitconfig:/home/user/.gitconfig
          - ./docker/dev/supervisor.conf:/etc/supervisor/conf.d/dev.conf
      environment:
          - LOCAL_USER_ID
          - GOSU=off
          - mobile
          - frontendUnit
          - frontendFunctional
          - frontendAcceptance
          - skipUnstable
          - skipSlow
          - verbose
          - branch
          - testName
          - group
          - runComposerInstall
          - phpLint
          - esLint
          - stopOnFailure
          - rerunFailedTests
          - MYSQL_HOST
          - MYSQL_PORT
      command: /usr/bin/supervisord -n -c /etc/supervisor/supervisord.conf
      hostname: frontend
      working_dir: /www/awardwallet
      networks:
          default:
              aliases:
                  - php.awardwallet.docker
          awardwallet:
  mail:
      image: docker.awardwallet.com/service/mail-multiarch
      networks:
          default:
              aliases:
                  - postfix
  mysql:
      image: mysql:8.0.32
      environment:
          - MYSQL_ALLOW_EMPTY_PASSWORD=1
          - MYSQL_USER=awardwallet
          - MYSQL_PASSWORD=awardwallet
          - MYSQL_DATABASE=awardwallet
      volumes:
          - ./docker/mysql.cnf:/etc/mysql/conf.d/mysql.cnf
          - mysql-data-8:/var/lib/mysql
      depends_on:
          - mysql-data
      networks:
          default:
              aliases:
                  - vendor.mysql.awardwallet.com
  mysql-data:
      image: docker.awardwallet.com/mysql-data/awardwallet8
      volumes:
        - mysql-data-8:/var/lib/mysql
  rabbitmq:
      image: docker.awardwallet.com/service/rabbitmq-multiarch
      environment:
          - "VIRTUAL_PORT=15672"
          - "RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS=-rabbit collect_statistics_interval 1000000 lazy_queue_explicit_gc_run_operation_threshold 1000000 queue_explicit_gc_run_operation_threshold 1000000 memory_monitor_interval 1000000 background_gc_target_interval 1000000"
  memcached:
      image: memcached
      entrypoint: ["memcached", "-m", "64"]
  selenium:
      image: seleniarm/standalone-firefox:4.1.2-20220226
  centrifugo:
      image: docker.awardwallet.com/service/centrifugo-multiarch
      entrypoint: ["centrifugo", "-c", "/centrifugo-config/config.json", "-p", "80"]
      networks:
          default:
              aliases:
                  - comet.awardwallet.docker
      environment:
          - VIRTUAL_PORT=80
          - VIRTUAL_HOST=comet.awardwallet.docker
          - HTTPS_METHOD=noredirect
          - HSTS_MAX_AGE=1
      volumes:
          - ./docker/dev/centrifugo:/centrifugo-config
  clickhouse:
      image: clickhouse/clickhouse-server:24.11
      volumes:
          - "./util/clickhouse/aw_config.xml:/etc/clickhouse-server/config.d/aw_config.xml"
          - "./util/clickhouse/initdb.d/init-db.sh:/docker-entrypoint-initdb.d/init-db.sh"
          - "./util/clickhouse/tables.sql:/tmp/tables.sql"
      ulimits:
          nofile: 262144
      environment:
          - "CLICKHOUSE_INIT_TIMEOUT=120" # for test-runner, it is slow
  sphinx:
      build: docker/sphinx
      mem_limit: 512m # match indexer.value from sphinx.conf
  git-hooks-installer-engine:
      image: docker.awardwallet.com/service/git-hooks-installer-multiarch
      volumes:
          - ./.git/modules/engine:/git
          - ./engine/.git-hooks:/hooks
  git-hooks-installer-frontend:
      image: docker.awardwallet.com/service/git-hooks-installer-multiarch
      volumes:
          - ./.git:/git
          - ./.git-hooks:/hooks
  cs-fixer-frontend:
      image: docker.awardwallet.com/service/php-cs-fixer-multiarch:3.52.1-7.4.33
      volumes:
          - ./:/workdir

  playwright:
    image: mcr.microsoft.com/playwright:v1.50.1-noble
    working_dir: /app
    volumes:
      - ./tests/playwright:/app
      - playwright-home:/root
    environment:
      - 'NPM_CONFIG_UPDATE_NOTIFIER=false'

volumes:
  mysql-data-8:
  home:
  playwright-home:

networks:
  awardwallet:
      external: true

