@use '../../Styles/Variables.module.scss' as v;
@use '../../Styles/Mixin.scss' as m;
@use '../../Styles/Functions.scss' as f;

.image {
    max-width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    border-radius: 6px;
    user-select: none;
    border: 3px solid;
    @include m.theme('light') {
        border-color: white;
        background-color: white;
    }

    @include m.theme('dark') {
        border-color: #363637;
        background-color: #363637;
    }

    &Loaded {
        opacity: 1;
    }

    &Container {
        border-radius: 6px;
        line-height: 0;

        &WithPreview {
            display: flex;
            justify-content: center;
            align-items: center;
            display: inline-block;
            line-height: 0;
        }

        &Loading {
            width: 100%;
            height: 100%;
            border-radius: 6px;
        }

        &Loaded {
            &::after {
                content: unset;
            }
        }
    }

    &Preview {
        &Button {
            position: absolute;
            left: 3px;
            top: 3px;
            width: calc(100% - 6px);
            height: calc(100% - 6px);
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(83, 84, 87, 0.3);
            opacity: 0;
            transition: opacity 0.2s;
            border: none;
            padding: 0;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }

            &AlwaysShow {
                opacity: 1;
            }
        }

        &IconContainer {
            padding: clamp(10px, 20%, 20px);
            border: 3px solid #fff;
            border-radius: 50%;
            background-color: #f8f9fa;
            transition: background-color 0.2s ease-in-out;

            svg {
                fill: var(--icon-color-active);
                transition: fill 0.2s ease-in-out;
            }

            &:not(:disabled):hover {
                background-color: var(--background-color-primary);

                svg {
                    fill: var(--icon-color-primary);
                }
            }
        }
    }

    &Error {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6px;
        width: 100%;
        height: 100%;
        @include m.font(f.px2rem(v.$text-font-size-s), 400, 110%);
        color: var(--text-color-secondary);
        padding: 10px;
        border-radius: 6px;
        background-color: var(--background-color-secondary);
    }

    &Wrapper {
        display: inline-flex;
        position: relative;
        max-height: 100%;
        height: 100%;
    }
}
