@use '../../Styles/Mixin.scss' as m;

.circularProgress {
    position: relative;
    width: var(--circular-progress-size, 66px);
    height: var(--circular-progress-size, 66px);

    &Circle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transform: rotate(90deg);
        mask-image: radial-gradient(
            circle at center,
            transparent var(--circular-progress-radius, 27px),
            black var(--circular-progress-radius, 27px),
            black var(--circular-progress-outer-radius, 30px),
            transparent var(--circular-progress-outer-radius, 30px)
        );
        background: conic-gradient(
            from -90deg,
            var(--background-color-primary) 0deg,
            var(--background-color-primary) var(--circular-progress-degrees),
            transparent var(--circular-progress-degrees),
            transparent 360deg
        );

        &GradientExcellent {
            background: conic-gradient(
                from -90deg,
                #b9ffd9 0deg,
                #27a887 var(--circular-progress-degrees),
                transparent var(--circular-progress-degrees),
                transparent 360deg
            );

            @include m.theme('dark') {
                background: conic-gradient(
                    from -90deg,
                    #26413b 0deg,
                    #1ce074 var(--circular-progress-degrees),
                    transparent var(--circular-progress-degrees),
                    transparent 360deg
                );
            }
        }

        &GradientGood {
            background: conic-gradient(
                from -90deg,
                #b6f06b 0deg,
                #86ba41 var(--circular-progress-degrees),
                transparent var(--circular-progress-degrees),
                transparent 360deg
            );

            @include m.theme('dark') {
                background: conic-gradient(
                    from -90deg,
                    #525e45 0deg,
                    #b6f06b var(--circular-progress-degrees),
                    transparent var(--circular-progress-degrees),
                    transparent 360deg
                );
            }
        }

        &GradientFair {
            background: conic-gradient(
                from -90deg,
                #ffe6c2 0deg,
                #fa7c22 var(--circular-progress-degrees),
                transparent var(--circular-progress-degrees),
                transparent 360deg
            );

            @include m.theme('dark') {
                background: conic-gradient(
                    from -90deg,
                    #744d34 0deg,
                    #ff7e21 var(--circular-progress-degrees),
                    transparent var(--circular-progress-degrees),
                    transparent 360deg
                );
            }
        }

        &GradientBad {
            background: conic-gradient(
                from -90deg,
                #ffe7e7 0deg,
                #e01818 var(--circular-progress-degrees),
                transparent var(--circular-progress-degrees),
                transparent 360deg
            );

            @include m.theme('dark') {
                background: conic-gradient(
                    from -90deg,
                    #5c3234 0deg,
                    #e01818 var(--circular-progress-degrees),
                    transparent var(--circular-progress-degrees),
                    transparent 360deg
                );
            }
        }
    }

    &TrackCircle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-sizing: border-box;
        opacity: 0.3;
        border: var(--circular-progress-stroke-width) solid var(--background-color-primary);
    }

    &ContentContainer {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
