@use '../../../../UI/Styles/Variables.module.scss' as v;
@use '../../../../UI/Styles/Mixin.scss' as m;
@use '../../../../UI/Styles/Functions.scss' as f;

.disclosure {
    padding: 20px 60px;
    background-color: var(--background-color-main);
    @media (max-width: 774px) {
        padding: 0;
        padding-bottom: 16px;
    }

    &Text {
        @include m.font(f.px2rem(v.$text-font-size-s), 400, 150%);
        padding: 22px 28px;
        background-color: var(--background-color-secondary);
        color: var(--text-color-secondary);
        border-radius: 6px;
        display: flex;
        gap: 18px;
        align-items: center;

        @media (max-width: 774px) {
            padding: 12px 18px;
            border-radius: 0;
            font-size: v.$text-font-size-xs;
        }

        & a {
            font-weight: 700;
            text-decoration: none;
            color: var(--text-color-hover);
        }
    }

    &Icon {
        width: 37px;
        height: 36px;
        flex-shrink: 0;

        @media (max-width: 774px) {
            display: none;
        }
    }
}
