<p>
    {{ 'calendar.agree.acc'|trans({'%br%': '<br>'})|desc("In order to auto-import your account expiration dates into your calendar of choice using iCal you need to make your AwardWallet Account Expiration calendar public.%br%%br%
It doesn't mean that everyone will see your accounts and their expiration dates but it means that anyone who has this special direct link will be able to see your accounts and know thier expiration dates.%br%%br%
You can always undo this by clicking the \"Account Expirations Calendar Import\" button again.%br%%br%
Would you like to proceed?")|raw }}

</p>