<p>
    {{ 'calendar.agree'|trans({'%br%': '<br>'}, 'trips')|desc("In order to auto-import your travel plans into your calendar of choice using iCal you need to make your AwardWallet calendar public.%br%%br%
It doesn't mean that everyone will see your travel plans but it means that anyone who has this special direct link will be able to see your travel dates.%br%%br%
You can always undo this by clicking the \"Travel Calendar Import\" button again.%br%%br%
Would you like to proceed?")|raw }}

</p>