.shareButton {
    padding: 10px;
    border: none;
    background-color: transparent;

    path {
        transition: fill 0.2s ease-in-out;
    }

    &:hover path {
        fill: var(--icon-color-active);
    }
}
