@use '../../../../scss/functions' as f;
@use '../../../../scss/mixins' as m;
@use '../../../../scss/vars' as v;

.page-learn {
    &__hero {
        display: flex;
        flex-direction: column;
        gap: f.px2rem(52px);
        padding-top: f.px2rem(58px);
        padding-bottom: f.px2rem(52px);

        @include m.media('<=xxl') {
            padding-top: f.px2rem(38px);
            padding-bottom: f.px2rem(27px);
            gap: f.px2rem(36px);
        }

        @include m.media('<=md') {
            padding-top: f.px2rem(18px);
            padding-bottom: f.px2rem(16px);
            gap: f.px2rem(30px);
        }

        @include m.media('<=700px') {
            padding-top: f.px2rem(70px);
        }

        @include m.media('<=sm') {
            gap: f.px2rem(20px);
            padding-bottom: f.px2rem(31px);
        }
    }

    &__hero-title {
        max-width: f.px2rem(860px);
        font-size: f.px2rem(58px);
        line-height: 120%;
        font-weight: 800;
        color: var(--text-primary-color);
        margin: 0;

        @include m.media('<=xxl') {
            font-size: f.px2rem(36px);
            max-width: 366px;
        }

        @include m.media('<=md') {
            font-size: f.px2rem(30px);
            max-width: 312px;
        }

        @include m.media('<=sm') {
            font-size: f.px2rem(26px);
        }
    }

    &__hero-labels {
        display: flex;
        align-items: center;
        gap: f.px2rem(6px);
        list-style: none;
        overflow-y: hidden;
        overflow-x: auto;
        padding-bottom: f.px2rem(34px);
        scroll-behavior: smooth;
        -ms-overflow-style: -ms-autohiding-scrollbar;

        @supports (scrollbar-width: thin) {
            scrollbar-width: thin;
            scrollbar-color: var(--scroll-body-color) var(--scroll-slider-color);
        }

        &::-webkit-scrollbar {
            height: 4px;
        }

        &::-webkit-scrollbar-track {
            background: var(--scroll-body-color);
        }

        &::-webkit-scrollbar-button {
            width: 0;
            height: 0;
            display: none;
        }

        &::-webkit-scrollbar-thumb {
            background: var(--scroll-slider-color);
            border-radius: 2px;
        }

        &::-webkit-scrollbar-button,
        &::-webkit-scrollbar-corner {
            display: none;
        }

        @include m.media('<=sm') {
            padding-bottom: 0;
        }
    }

    &__hero-label-link {
        display: flex;
        gap: f.px2rem(10px);
        align-items: center;
        padding: f.px2rem(10px) f.px2rem(25px);
        font-size: f.px2rem(16px);
        line-height: 120%;
        font-weight: 800;
        color: var(--text-primary-color);
        border-radius: f.px2rem(20px);
        background-color: var(--body-color);
        text-decoration: none;
        white-space: nowrap;
        transition: border-color 0.2s ease-in-out;
        border: 1px solid var(--body-color);

        @media (pointer: fine) {
            &:hover {
                border-color: var(--primary-color);
            }
        }

        @include m.media('<=xxl') {
            font-size: f.px2rem(14px);
            font-weight: 600;
        }

        @include m.media('<=md') {
            padding: f.px2rem(6px) f.px2rem(12px);
        }

        &--active {
            color: var(--body-color);
            background-color: var(--text-primary-color);
            cursor: auto;
            pointer-events: none;
            border-color: var(--text-primary-color);
        }
    }
}
