.stars-rating {
    display: flex;
    gap: 2px;

    &__star {
        width: 22px;
        height: 22px;
        opacity: 0.2;

        &--active {
            opacity: 1;
            filter: invert(64%) sepia(84%) saturate(1547%) hue-rotate(357deg) brightness(103%) contrast(108%);
        }
    }
}
