<div class="row check" ng-class="{'errored':(field.errors.length>0 || field.isRequired()) && field.showError, disable:field.disabled}">
    <div class="input">
        <span class="checkbox" ng-click="toggleCheckbox()" ng-class="{'checked':field.value}">
            <input
            ng-checked="field.value" ng-disabled="field.disabled" ng-model="field.value" type="checkbox"  name="{{field.name}}" ng-required="field.required" ng-change="field.onChange()" ng-class="(field.attr.blockName || field.name) | lowercase">
        </span>
        <label class="{{field.attr.class}}"><span class="checkbox-label" ng-bind-html="field.label"></span><span class="required" ng-if="field.required">*</span></label>
    </div>
    <div class="info" ng-if="field.attr.notice" ng-bind-html="field.attr.notice"></div>
    <div class="error-message" ng-if="(field.errors || field.isRequired()) && field.showError">
        <i class="icon-warning"></i>
        <p ng-if="field.isRequired() && !field.errors[field.errors.length-1]">{{'notblank'|trans:{}:'validators'}}</p>
        <p ng-bind-html="field.errors[field.errors.length-1]"></p>
    </div>
</div>