<div class="default-row" ng-if="!field.formLink" ng-class="field.attrs.class">
    <table>
        <tr>
            <td><h3>{{field.name}}</h3></td>
            <td class="t-right" ng-if="field.text">
                <strong>{{field.text}}</strong>
                <span class="silver" ng-if="field.hint">{{field.hint}}</span>
                <span class="silver" ng-if="field.subHint">({{field.subHint}})</span>
            </td>
        </tr>
    </table>
</div>
<a href="" class="default-row" ng-class="field.attrs.class" ng-if="field.formLink"  ui-sref="index.profile-edit({formLink:field.formLink, formTitle:field.formTitle, action:field.path})">
    <table>
        <tr>
            <td><h3>{{field.name}}</h3></td>
            <td class="t-right" ng-if="field.text">
                <strong>{{field.text}}</strong>
                <span class="silver" ng-if="field.hint">{{field.hint}}</span>
                <span class="silver" ng-if="field.subHint">({{field.subHint}})</span>
            </td>
            <td class="readmore"><i class="icon-next-arrow"></i></td>
        </tr>
    </table>
</a>