<div class="default-row silver" ng-class="field.attrs.class">
    <table>
        <tr>
            <td><h3>{{field.name}}</h3></td>
            <td class="t-right">
                <strong>{{field.text}}</strong>
            </td>
        </tr>
    </table>
    <a href="" class="default-row" ng-click="field.buy()">
        <table>
            <tr>
                <td><h3>{{'user.create_subscription'|trans}}</h3></td>
                <td class="readmore"><i class="icon-next-arrow"></i></td>
            </tr>
        </table>
    </a>
</div>