@use '../../../../UI/Styles/Mixin.scss' as m;
@use '../../../../UI/Styles/Functions.scss' as f;
@use '../../../../UI/Styles/Variables.module.scss' as v;

.mobilePodcastMenu {
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    z-index: 10;
    height: 100%;
    max-height: 430px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--background-color-main);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: transform 0.4s ease;
    transform: translateY(100%);

    @include m.media('<=md') {
        display: flex;
    }

    &Visible {
        transform: translateY(0);
    }

    &Background {
        position: fixed;
        z-index: 5;
        background: rgba(91, 99, 115, 0.302);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        pointer-events: none;

        &Visible {
            opacity: 1;
            pointer-events: auto;
        }
    }

    &DragHandler {
        width: 100%;
        position: relative;
        background-color: transparent;
        border: none;
        flex-shrink: 0;
        padding: 16px 0;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 3px;
            width: 23px;
            background-color: #e5e6e7;
            border-radius: 2px;
        }
    }

    &Tabs {
        display: flex;
        flex-wrap: nowrap;
        gap: 5px;
        overflow-x: auto;
        max-width: 100%;
        padding: 0 18px;
        flex-shrink: 0;
    }

    &Tab {
        @include m.font(f.px2rem(v.$text-font-size-xs), 700, 100%);
        color: var(--text-color-secondary);
        background-color: #e5e6e7;
        padding: 5px 12px;
        border-radius: 12px;
        border: none;
        flex-shrink: 0;
        transition:
            color,
            background-color 0.2s ease-in-out;

        @include m.theme('dark') {
            background-color: var(--background-color-secondary);
        }

        &Active {
            color: var(--text-color-primary);
            background-color: var(--background-color-primary);

            @include m.theme('dark') {
                background-color: var(--background-color-primary);
            }
        }
    }

    &Podcasts {
        display: flex;
        flex-direction: column;
        gap: 8px;
        overflow: auto;
        width: 100%;
        padding: 0 18px 15px 18px;
    }

    &Podcast {
        display: flex;
        gap: 18px;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        padding: 10px;
        border-radius: 8px;

        &:active {
            background-color: var(--background-color-secondary);
        }
    }

    &PodcastImg {
        width: 50px;
        height: 50px;
        flex-shrink: 0;
    }

    &PodcastInfo {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    &PodcastMeta {
        display: flex;
        gap: 3px;
    }

    &PodcastSeason {
        @include m.font(f.px2rem(10px), 700, 100%);
        color: var(--text-color-hover);
    }

    &PodcastDate {
        @include m.font(f.px2rem(10px), 400, 100%);
        color: var(--text-color-disabled);
    }

    &PodcastTitle {
        @include m.font(f.px2rem(v.$text-font-size-xs), 700, 100%);
        color: var(--text-color-secondary);
    }

    &PodcastPlayingButton {
        border: none;
        background-color: transparent;
        padding: 0;
    }
}
