.hotelsList {
    overflow: auto;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    &Separator {
        height: 5px;
        background-color: #5b6373;
        opacity: 0.05;
    }
}
