@use '../../../../../../../UI/Styles/Variables.module.scss';

.container {
    padding: 16px 20px;
    background-color: var(--background-color-secondary);
    border-radius: 6px;
    margin-bottom: 15px;
}

.progressbarContainer {
    padding: 3px;
    border: 1px solid var(--border-color-secondary);
}

.progressbar {
    position: relative;
    overflow: hidden;
    height: 14px;
    width: 100%;
    &::after {
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #4684c4;
        transition: transform 0.2s linear;
        transform: translateX(-100%);
        background-image: linear-gradient(
            -45deg,
            #3d74ac 25%,
            transparent 25%,
            transparent 50%,
            #3d74ac 50%,
            #3d74ac 75%,
            transparent 75%,
            transparent
        );
        background-size: 2rem 2rem;
        animation: leftToRight 0.7s linear infinite;
    }
}

@keyframes leftToRight {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 2em 0;
    }
}
