[class^="color-"],
[class*=" color-"],{
  width: 15px;
  height: 15px;
  position: absolute;
  right: 22px;
  top: 7px;
}
.color-purple{
	background: #963fff;
}
.color-light-green{
	background: #c8ffa0;
}
.color-regular-green{
	background: #00ff00;
}
.color-darker-green{
	background: #00b400;
}
.color-light-orange{
	background: #ffc800;
}
.color-regular-orange{
	background: #ff8c00;
}
.color-dark-orange{
	background: #d24c00;
}
.color-red {
	background: #ff0000;
}
.color-blue{
	background: #0000ff;
}
.border-purple .message-text .message-info{
  background: #963fff;
  display: inline-block;
}
.border-light-green .message-text .message-info{
  background: #c8ffa0;
  display: inline-block;
}
.border-regular-green .message-text .message-info{
  background: #00ff00;
  display: inline-block;
}
.border-darker-green .message-text .message-info{
  background: #00b400;
  display: inline-block;
}
.border-light-orange .message-text .message-info{
  background: #ffc800;
  display: inline-block;
}
.border-regular-orange .message-text .message-info{
  background: #ff8c00;
  display: inline-block;
}
.border-dark-orange .message-text .message-info{
  background: #d24c00;
  display: inline-block;
}
.border-red .message-text .message-info{
  background: #ff0000;
  display: inline-block;
}
.border-blue .message-text .message-info{
  background: #0000ff;
  display: inline-block;
}


// Border messages
.inbox.border-purple .message-text .item{
  border:2px solid #963fff;
}
.inbox.border-purple .message-text:before {
  border-right: 10px solid #963fff;
}
.inbox.border-purple .message-text:after {
  left:-7px;
}
.send.border-purple .message-text .item{
  border:2px solid #963fff;
}
.send.border-purple .message-text:before {
  border-left: 10px solid #963fff;
}
.send.border-purple .message-text:after {
  right: -7px;
}

.inbox.border-light-green .message-text .item{
  border:2px solid #c8ffa0;
}
.inbox.border-light-green .message-text:before {
  border-right: 10px solid  #c8ffa0;
}
.inbox.border-light-green .message-text:after {
  left: -7px;
}
.send.border-light-green .message-text .item{
  border:2px solid  #c8ffa0;
}
.send.border-light-green .message-text:before {
  border-left: 10px solid  #c8ffa0;
}
.send.border-light-green .message-text:after {
  right: -7px;
}

.inbox.border-regular-green .message-text .item{
  border:2px solid #00ff00;
}
.inbox.border-regular-green .message-text:before {
  border-right: 10px solid  #00ff00;
}
.inbox.border-regular-green .message-text:after {
  left: -7px;
}
.send.border-regular-green .message-text .item{
  border:2px solid  #00ff00;
}
.send.border-regular-green .message-text:before {
  border-left: 10px solid  #00ff00;
}
.send.border-regular-green .message-text:after {
  right: -7px;
}

.inbox.border-darker-green .message-text .item{
  border:2px solid #00b400;
}
.inbox.border-darker-green .message-text:before {
  border-right: 10px solid  #00b400;
}
.inbox.border-darker-green .message-text:after {
  left: -7px;
}
.send.border-darker-green .message-text .item{
  border:2px solid  #00b400;
}
.send.border-darker-green .message-text:before {
  border-left: 10px solid  #00b400;
}
.send.border-darker-green .message-text:after {
  right: -7px;
}

.inbox.border-light-orange .message-text .item{
  border:2px solid #ffc800;
}
.inbox.border-light-orange .message-text:before {
  border-right: 10px solid  #ffc800;
}
.inbox.border-light-orange .message-text:after {
  left: -7px;
}
.send.border-light-orange .message-text .item{
  border:2px solid  #ffc800;
}
.send.border-light-orange .message-text:before {
  border-left: 10px solid  #ffc800;
}
.send.border-light-orange .message-text:after {
  right: -7px;
}

.inbox.border-regular-orange .message-text .item{
  border:2px solid #ff8c00;
}
.inbox.border-regular-orange .message-text:before {
  border-right: 10px solid  #ff8c00;
}
.inbox.border-regular-orange .message-text:after {
  left: -7px;
}
.send.border-regular-orange .message-text .item{
  border:2px solid  #ff8c00;
}
.send.border-regular-orange .message-text:before {
  border-left: 10px solid  #ff8c00;
}
.send.border-regular-orange .message-text:after {
  right: -7px;
}

.inbox.border-dark-orange .message-text .item{
  border:2px solid #d24c00;
}
.inbox.border-dark-orange .message-text:before {
  border-right: 10px solid  #d24c00;
}
.inbox.border-dark-orange .message-text:after {
  left: -7px;
}
.send.border-dark-orange .message-text .item{
  border:2px solid  #d24c00;
}
.send.border-dark-orange .message-text:before {
  border-left: 10px solid  #d24c00;
}
.send.border-dark-orange .message-text:after {
  right: -7px;
}
.inbox.border-red .message-text .item{
  border:2px solid #ff0000;
}
.inbox.border-red .message-text:before {
  border-right: 10px solid  #ff0000 !important;
}
.inbox.border-red .message-text:after {
  left: -7px;
}
.send.border-red .message-text .item{
  border:2px solid  #ff0000;
}
.send.border-red .message-text:before {
  border-left: 10px solid  #ff0000;
}
.send.border-red .message-text:after {
  right: -7px;
}

.inbox.border-blue .message-text .item{
  border:2px solid #0000ff;
}
.inbox.border-blue .message-text:before {
  border-right: 10px solid  #0000ff;
}
.inbox.border-blue .message-text:after {
  left: -7px;
}
.send.border-blue .message-text .item{
  border:2px solid  #0000ff;
}
.send.border-blue .message-text:before {
  border-left: 10px solid  #0000ff;
}
.send.border-blue .message-text:after {
  right: -7px;
}