//Project constants

// Main body definitions

@basic-text:#3e3e3e;
@basic-bg:#fff;
@hover-link:#2d81cd;
@doc-width:1024px;
@left-width:236px;
@left-top:56px;
@right-top:43px;
@footer-min:240px;
@font-size:13px;
@content-padding:20px;

// Buttons

@btn-text:#373b3d;
@btn-shadow:#fff;
@btn-border:#9a9a9a;
@btn-color1:#eee;
@btn-color2:#bbb;
@btn-color3:#fff;
@btn-color4:#f4f4f4;
@btn-color5:#d9d9d9;

@btn-padding:10px;
@btn-size:27px;

@btn-spec-text:#fff;
@btn-spec-border:#125da3;
@btn-spec-shadow:#125da3;
@btn-spec-color1:#3183c2;
@btn-spec-color2:#186db6;
@btn-spec-color3:#3189cc;
@btn-spec-color4:#3183c2;

@btn-red-text:#fff;
@btn-red-border:#b30535;
@btn-red-color1:#ff4a7a;
@btn-red-color2:#ca194a;
@btn-red-color3:#ff8cab;
@btn-red-color4:#ff4a7a;
@btn-red-color5:#ec3465;

@btn-light-border:#bfbfbf;
@btn-light-color1:#efefee;
@btn-light-color2:#e3e2e1;
@btn-light-color3:#fff;
@btn-light-color4:#fafaf9;
@btn-light-color5:#f0efee;

// Tabs

@tab-border:#ddd;
@tab-activ-border:#d0d0d0;
@tab-text:#666;
@tab-padding:20px;
@tab-color1:#f8f8f8;
@tab-color2:#f2f2f2;

@search-tab-text:#666;
@search-tab-border:#ccc;
@search-tab-active:#fff;
@search-tab-color1:#f7f7f7;
@search-tab-color2:#eaeaea;
@search-tab-color3:#fff;
@search-tab-size:38px;

// Footer

@foot-color:#f0f0f0;
@foot-border:#d0d0d0;
@foot-size:64px;

// Left navigation

@left-border:#d0d0d0;
@left-padding:11px;
@user-pic:46px;
@user-border:#d7d7d7;
@user-btn-size:26px;
@left-btn-size:29px;

// Search table

@match-bg:#fff5c8;
@program-border:#d0d0d0;
@header-border:#aeaeae;

// Standard Popup

@padding-y: 19.5px;
@padding-x: 37px;
@title-size: 16px;
