// Basic definitions

@import "const";
@import "lib";

  // default document settings

body{
  &.helvetica{
    &,input,select,button{
      font-family: "Helvetica Neue",Helvetica,sans-serif;
    }
    a.helvetica{
      color:#fff;
      background: blue;
    }
  }
  &.arial{
    &,input,select,button{
      font-family: Arial,sans-serif;
    }
    a.arial{
      color:#fff;
      background: blue;
    }
  }
  &.opensans{
    &,input,select,button{
      font-family: "Open Sans",sans-serif;
    }
    a.opensans{
      color:#fff;
      background: blue;
    }
  }
  &.istok{
    &,input,select,button{
      font-family: 'Istok Web', sans-serif;
    }
    a.istok{
      color:#fff;
      background: blue;
    }
  }
  &.arimo{
    &,input,select,button{
      font-family: 'Arimo', sans-serif;
    }
    a.arimo{
      color:#fff;
      background: blue;
    }
  }
  &.roboto{
    &,input,select,button{
      font-family: 'Roboto', sans-serif;
    }
    a.roboto{
      color:#fff;
      background: blue;
    }
  }
  &.titil{
    &,input,select,button{
      font-family: 'Titillium Web', sans-serif;
    }
    a.titil{
      color:#fff;
      background: blue;
    }
  }
  &.nobile{
    &,input,select,button{
      font-family: 'Nobile', sans-serif;
    }
    font-size:12px;
    a.nobile{
      color:#fff;
      background: blue;
    }
  }
  &.noto{
    &,input,select,button{
      font-family: 'Noto Sans', sans-serif;
    }
    font-size:12px;
    a.noto{
      color:#fff;
      background: blue;
    }
  }
  &.ubuntu{
    &,input,select,button{
      font-family: 'Ubuntu', sans-serif;
    }
    font-size:12px;
    a.ubuntu{
      color:#fff;
      background: blue;
    }
  }
  &.play{
    &,input,select,button{
      font-family: 'Play', sans-serif;
    }
    font-size:12px;
    a.play{
      color:#fff;
      background: blue;
    }
  }
  .switch-font{
    .set-pos(fixed,bottom,10px,40px,99999);
    .border(#000);
    &>a{
      .run(auto,#eaeaea);
      .text(inherit,#333);
      padding: 2px 10px;
    }
  }

}