// Basic definitions

@import "const";
@import "lib";
@import "icon-pos";

[class^="old-icon-"],
[class*=" old-icon-"] {
  display: inline-block;
  position: relative;
  margin-top: 1px;
  *margin-right: .3em;
  vertical-align: text-top;
  .icon-image();
  background-position: 14px 14px;
  .icon-size(30px,20px);
}
.old-icon-member{
  #icon-pos > .member;
}
.old-icon-one-way{
  #icon-pos > .one-way;
}
.old-icon-round-trip{
  #icon-pos > .round-trip;
}
.old-icon-multiple-destinations{
  #icon-pos > .multiple-destinations;
}
.old-icon-check-green{
  #icon-pos > .check-green;
}
.old-icon-check-white{
  #icon-pos > .check-white;
}
.old-icon-double-arrow-top{
  #icon-pos > .double-arrow-top;
}
.old-icon-double-arrow-bottom{
  #icon-pos > .double-arrow-bottom;
}
.old-icon-new{
  #icon-pos > .new;
}
.old-icon-info{
  #icon-pos > .info;
}
.old-icon-success{
  #icon-pos > .success;
}
.old-icon-error{
  #icon-pos > .error;
}
.old-icon-gears{
  #icon-pos > .gears;
}
.old-icon-refresh {
  #icon-pos > .refresh;
}
.old-icon-trash {
  #icon-pos > .trash;
}
.old-icon-caret {
  #icon-pos > .caret;
}
.old-icon-check {
  #icon-pos > .check;
}
.old-icon-cross {
  #icon-pos > .cross;
}
.old-icon-cross-contrast {
  #icon-pos > .cross-contrast;
}
.old-icon-cross-dark {
  #icon-pos > .cross-dark;
}
.old-icon-plus {
  #icon-pos > .plus;
}
.old-icon-plus-gray {
  #icon-pos > .plus-gray;
}
.old-icon-plus-graycircle{
  #icon-pos > .plus-graycircle;
}
.old-icon-plus-greencircle{
  #icon-pos > .plus-greencircle;
}
.old-icon-minus-graycircle{
  #icon-pos > .minus-graycircle;
}
.old-icon-minus-greencircle{
  #icon-pos > .minus-greencircle;
}
.old-icon-sort-asc{
  #icon-pos > .sort-asc;
}
.old-icon-sort-desc{
  #icon-pos > .sort-desc;
}
.old-icon-drop-shut{
  #icon-pos > .drop-shut;
}
.old-icon-drop-open{
  #icon-pos > .drop-open;
}
.old-icon-search{
  #icon-pos > .search;
}
.old-icon-plus-white{
  #icon-pos > .plus-white;
}
.old-icon-flag-en{
  #icon-pos > .flag-en;
}
.old-icon-flag-ru{
  #icon-pos > .flag-ru;
}
.old-icon-flag-de{
  #icon-pos > .flag-de;
}
.old-icon-flag-fr{
  #icon-pos > .flag-fr;
}
.old-icon-flag-ch{
  #icon-pos > .flag-ch;
}
.old-icon-mobile-android{
  #icon-pos > .mobile-android;
}
.old-icon-mobile-iphone{
  #icon-pos > .mobile-iphone;
}
.old-icon-pdf{
  #icon-pos > .pdf;
}
.old-icon-xls{
  #icon-pos > .xls;
}
.old-icon-user{
  #icon-pos > .user;
}
.old-icon-user-white{
  #icon-pos > .user-white;
}
.old-icon-group {
  #icon-pos > .group;
}
.old-icon-check-empty{
  #icon-pos > .check-empty;
}
.old-icon-check-filled{
  #icon-pos > .check-filled;
}
.old-icon-check-disabled{
  #icon-pos > .check-disabled;
}
.old-icon-check-disabled-filled{
  #icon-pos > .check-disabled-filled;
}
.old-icon-skyteam{
  #icon-pos > .skyteam;
}
.old-icon-skyteam-elite{
  #icon-pos > .skyteam-elite;
}
.old-icon-skyteam-eliteplus{
  #icon-pos > .skyteam-eliteplus;
}
.old-icon-staralliance{
  #icon-pos > .staralliance;
}
.old-icon-oneworld{
  #icon-pos > .oneworld;
}

.old-icon-attach{
  #icon-pos > .attach;
}
.old-icon-note{
  #icon-pos > .note;
}
.old-icon-code{
  #icon-pos > .code;
}
.old-icon-check-small{
  #icon-pos > .check-small;
}
.old-icon-warning{
  #icon-pos > .warning;
}
.old-icon-information{
  #icon-pos > .information;
}
.old-icon-expired{
  #icon-pos > .expired;
}
.old-icon-sharp{
  #icon-pos >.sharp;
}
.old-icon-update{
  #icon-pos >.update;
}
.old-icon-edit{
  #icon-pos >.edit;
}
.old-icon-print{
  #icon-pos >.print;
}
.old-icon-check-gray{
  #icon-pos >.check-gray;
}
.old-icon-check-hollow{
  #icon-pos >.check-hollow;
}
.old-icon-user-login{
  #icon-pos >.user-login;
}
.old-icon-user-pass{
  #icon-pos >.user-pass;
}
.old-icon-plus-gray-thick{
  #icon-pos > .plus-gray-thick;
}
.old-icon-timeline{
  #icon-pos > .timeline;
}
.old-icon-follow-gray{
  #icon-pos > .follow-gray;
}
.old-icon-follow-dark{
  #icon-pos > .follow-dark;
}
.old-icon-past-travel{
  #icon-pos > .past-travel;
}
.old-icon-next-travel{
  #icon-pos > .next-travel;
}
.old-icon-move{
  #icon-pos > .move;
}
.old-icon-login{
  #icon-pos > .login;
}
.old-icon-refresh-thick{
  #icon-pos > .refresh-thick;
}
.old-icon-edit-thick{
  #icon-pos > .edit-thick;
}
.old-icon-print-thick{
  #icon-pos > .print-thick;
}
.old-icon-share-thick{
  #icon-pos > .share-thick;
}
.old-icon-publish-thick{
  #icon-pos > .publish-thick;
}
.old-icon-edit-blk{
  #icon-pos > .edit-blk;
}
[class^="old-icon-provider-"],
[class*=" old-icon-provider-"] {
  .prov-image();
  #prov-pos > .other;
}
.old-icon-provider-A{
  #prov-pos > .aeroplane;
}
.old-icon-provider-I,
.old-icon-provider-H{
  #prov-pos > .hotel;
}
.old-icon-provider-R{
  #prov-pos > .car;
}
.old-icon-provider-T{
  #prov-pos > .train;
}
.old-icon-provider-D{
  #prov-pos > .dining;
}
.old-icon-provider-W{
  #prov-pos > .wait;
}
.old-icon-provider-V{
  #prov-pos > .cruise;
}
.old-icon-provider-Z{
  #prov-pos > .directions
}
.old-icon-provider-B{
  #prov-pos > .bus
}
.old-icon-provider-C{
  #prov-pos > .cruise
}
.old-icon-provider-F{
  #prov-pos > .ferry
}
.old-icon-provider-L{
  #prov-pos > .wait
}
// new icons balances
.old-icon-account-update{
  #icon-pos > .account-update;
}
.old-icon-balance-up{
  #icon-pos > .balance-up;
}
.old-icon-balance-down{
  #icon-pos > .balance-down;
}
