.progres {
  width: 550px;
  margin: 35px 50px 25px 50px;
}
.progres hr {
  width: 100%;
  border: none;
  height: 1px;
  margin: 0;
  background: #d0d0d0;
}
.progres h4 {
  font-size: 12px;
  text-align: left;
  color: #3f3e3f;
  font-weight: normal;
}
.progres button {
  margin: 25px 200px 0 200px;
  width: 150px;
  position: relative;
}
.progress-bar {
  width: 299px;
  margin: 25px auto;
  height: 15px;
  border: 1px solid #c4c4c4;
  behavior: url(border-radius.htc);
  border-radius: 2px;
  background: #fafafa;
  background: -moz-linear-gradient(top, #fafafa 0%, #f8f8f8 45%, #f0f0f0 55%, #f7f7f7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(45%, #f8f8f8), color-stop(55%, #f0f0f0), color-stop(100%, #f7f7f7));
  background: -webkit-linear-gradient(top, #fafafa 0%, #f8f8f8 45%, #f0f0f0 55%, #f7f7f7 100%);
  background: -o-linear-gradient(top, #fafafa 0%, #f8f8f8 45%, #f0f0f0 55%, #f7f7f7 100%);
  background: -ms-linear-gradient(top, #fafafa 0%, #f8f8f8 45%, #f0f0f0 55%, #f7f7f7 100%);
  background: linear-gradient(to bottom, #fafafa 0%, #f8f8f8 45%, #f0f0f0 55%, #f7f7f7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#f7f7f7', GradientType=0);
  position: relative;
}
.progress-bar > * {
  display: block;
  height: inherit;
  background: #00bcdc;
  background: -moz-linear-gradient(top, #00bcdc 0%, #00a7d1 40%, #0089c0 50%, #00a2d0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00bcdc), color-stop(40%, #00a7d1), color-stop(50%, #0089c0), color-stop(100%, #00a2d0));
  background: -webkit-linear-gradient(top, #00bcdc 0%, #00a7d1 40%, #0089c0 50%, #00a2d0 100%);
  background: -o-linear-gradient(top, #00bcdc 0%, #00a7d1 40%, #0089c0 50%, #00a2d0 100%);
  background: -ms-linear-gradient(top, #00bcdc 0%, #00a7d1 40%, #0089c0 50%, #00a2d0 100%);
  background: linear-gradient(to bottom, #00bcdc 0%, #00a7d1 40%, #0089c0 50%, #00a2d0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00bcdc', endColorstr='#00a2d0', GradientType=0);
  position: relative;
  border-radius: 2px;
  behavior: url(border-radius.htc);
  left: -1px;
  top: -1px;
  z-index: 9999;
  height: 15px;
  border: 1px solid #1070b6;
}
.progress-bar p {
  text-align: center;
  color: #fff;
  position: absolute;
  width: 300px;
  z-index: 9999;
  height: 100%;
  line-height: 1.3;
  font-size: 12px;
  text-shadow: 0px 0px 2px #000, 0px 0px 4px #000, 0px 0px 6px #000;
  letter-spacing: 1px;
}
.progress-bar > *:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: -moz-linear-gradient(left, transparent, rgba(58, 205, 208, 0) 73px, #3acde4 98%, #3acde4 98.5%, #1070b6 99%, rgba(16, 112, 182, 0.1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, transparent), color-stop(67px, rgba(16, 112, 182, 0)), color-stop(98%, #3acde4), color-stop(99%, #1070b6), color-stop(100%, #1070b6));
  background: -webkit-linear-gradient(left, transparent, rgba(58, 205, 208, 0) 73px, #3acde4 98%, #3acde4 98.5%, #1070b6 99%, #1070b6 100%);
  background: -o-linear-gradient(left, transparent, rgba(58, 205, 208, 0) 73px, #3acde4 98%, #3acde4 98.5%, #1070b6 99%, #1070b6 100%);
  background: -ms-linear-gradient(left, transparent, rgba(58, 205, 208, 0) 73px, #3acde4 98%, #3acde4 98.5%, #1070b6 99%, #1070b6 100%);
  background: linear-gradient(to right, transparent, rgba(58, 205, 208, 0) 73px, #3acde4 98%, #3acde4 98.5%, #1070b6 99%, #1070b6 100%);
  background-size: 75px 75px;
}
.progress-bar > *:before {
  position: absolute;
  height: 1px;
  width: 100%;
  background: #3acde4;
  top: 0;
  content: "";
}
.progress-bar:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 background: -moz-linear-gradient(left, transparent, rgba(255,255,255, 0) 73px, #fff 98%, #c4c4c4 99%, rgba(196,196,196, 0.1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, transparent), color-stop(67px, rgba(16, 112, 182, 0)), color-stop(98%, #fff), color-stop(99%, #c4c4c4), color-stop(100%, #c4c4c4));
  background: -webkit-linear-gradient(left, transparent, rgba(255,255,255, 0) 73px, #fff 98%, #fff 98.5%, #c4c4c4 99%, #c4c4c4 100%);
  background: -o-linear-gradient(left, transparent, rgba(255,255,255, 0) 73px, #fff 98%, #fff 98.5%, #c4c4c4 99%, #c4c4c4 100%);
  background: -ms-linear-gradient(left, transparent, rgba(255,255,255, 0) 73px, #fff 98%, #fff 98.5%, #c4c4c4 99%, #c4c4c4 100%);
  background: linear-gradient(to right, transparent, rgba(255,255,255, 0) 73px, #fff 98%, #fff 98.5%, #c4c4c4 99%, #c4c4c4 100%);
  background-size: 75px 75px;
}
