@import "const";
@import "lib";
@import "icon-pos";

#tripsAjaxDiv{
  padding: @padding-x;
}

.tripsAjaxTable {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  td {
    .border(@tab-activ-border,bottom);
    .text(inherit,#888);
    padding: 8px 8px;
    &:first-child{
      .attr(middle);
      .text(inherit,center);
      .size(30px,29px);
    }
    .old-icon-user{
      margin-top: 2px;
    }
  }
  td:nth-child(3) {
    .text(inherit,#000);
  }
  td:nth-child(5) {
    padding-right: 15px;
  }
  tr{
    cursor: pointer;
    &:nth-child(even) {
      .attr(#fff)
    }
    &:nth-child(odd) {
      .attr(@search-tab-color1)
    }
    &:first-child td {
      .border(@tab-activ-border,top);
    }
  }
}
.tripsAjaxTable tr:hover td{
      color: #fff;
      cursor: pointer;
      background: #3183c2;
     .gradient(#3183c2,#186db6);
      //background: -ms-linear-gradient(top, #3183c2 0%, #186db6 100%);
     // background: -o-linear-gradient(top, #3183c2 0%, #186db6 100%);
      //background: -webkit-linear-gradient(top, #3183c2 0%, #186db6 100%);
      //background: linear-gradient(top, #3183c2 0%, #186db6 100%);
      //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3183c2), color-stop(100%, #186db6));
      // -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr=#ff3183c2, endColorstr=#ff186db6,GradientType=0 )";
      i[class^="icon-"] {
        #icon-pos >.plus-white;
        //background-position: -70px -94px;
        width: 10px;
        height: 13px;
      }
}
.tripsAjaxTable tr:hover td:after{
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  top:0px;
  left: 0;
  background: #fff;

}
.tripsAjaxTable tr:hover td:before{
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom:0;
  left: 0;
  background: #fff;

}
noindex:-o-prefocus, .tripsAjaxTable tr:hover td:before{
  bottom:-1px;
  border-bottom: 1px solid #d0d0d0;
}
noindex:-o-prefocus, .tripsAjaxTable tr:hover td:after{
  top:-1px;
  border-top: 1px solid #d0d0d0;
}
noindex:-o-prefocus, .tripsAjaxTable tr:hover td {
  position: relative;
}
@-moz-document url-prefix()
{
table tr:hover td{
  background:url(../images/tripsFireFoxFix.png) repeat-x 0 2px !important;
  box-shadow: inset 0px -2px #fff, inset 0px 2px  #fff;
  -moz-box-shadow: inset 0px -2px #fff, inset 0px 2px  #fff;
}
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .tripsAjaxTable tr:hover td {
    position: relative;
  }
  .tripsAjaxTable tr:hover td i {
    #icon-pos >.plus-white;
    //background-position: -70px -94px;
  }
  .tripsAjaxIcon {
    .icon-image();
    #icon-pos >.user;
    //background-image: url("../images/icon-sprite.png");
    //background-position: center;
    //background-repeat: no-repeat;
    //background-position: -40px -60px;
  }
}

.tripsNotFound {
  text-align: center;
}

.tripsAjaxBalance {
  width: 100%;
  text-align: center;
}