@use '../../../../UI/Styles/Mixin.scss' as m;
@use '../../../../UI/Styles/Functions.scss' as f;
@use '../../../../UI/Styles/Variables.module.scss' as v;

.mobileMainPlayer {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: var(--background-color-main);
    box-shadow: 0px 0px 40px 0px #5b637340;
    padding: 15px 18px;

    @include m.media('<=md') {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &Tools {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &ControlButtons {
        display: flex;
        align-items: center;
    }

    &ControlButton {
        border: none;
        background-color: transparent;
        padding: 9px;

        &:active {
            & svg {
                fill: var(--icon-color-active) !important;
            }
        }
    }

    &AudioPlayer {
        flex-grow: 1;
        padding: 0;
        background-color: transparent;
    }
}
