@use '../../../../UI/Styles/Mixin.scss' as m;
@use '../../../../UI/Styles/Functions.scss' as f;
@use '../../../../UI/Styles/Variables.module.scss' as v;

.universalInstruction {
    &InstallationLink {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        border-radius: 6px;
        background-color: var(--background-color-primary);
        color: var(--text-color-primary);
        text-decoration: none;
        @include m.font(f.px2rem(v.$text-font-size-s), 700, 100%);
        padding: 8px 21px;
        max-width: 187px;
    }

    &ReloadButton {
        padding: 13px 42px;
        max-width: 131px;
    }
}
