[class^="icon-"],
[class*=" icon-"]{
	display: inline-block;
	.sprite();
	vertical-align: middle;
	background-repeat: no-repeat;
}
.icon-transfer-times{
	.size(22px,24px);
	background-position: -403px 0;
}
.icon-purchase-times{
	.size(22px,24px);
	background-position: -435px 0;
}
.icon-card-personal{
	.size(18px,12px);
	background-position: 0 -435px;
}
.icon-card-business{
	.size(18px,12px);
	background-position: -27px -435px;
}
.icon-card-have{
	.size(16px,12px);
	background-position: -54px -435px;
}
.icon-card-personal-d{
	.size(18px,12px);
	background-position: 0 -457px;
}
.icon-card-business-d{
	.size(18px,12px);
	background-position: -27px -457px;
}
.icon-card-have-d{
	.size(16px,12px);
	background-position: -54px -457px;
}
.icon-merchant{
	.size(24px,24px);
	background-position: -304px 0;
}
.icon-merchant-reverse{
	.size(24px,24px);
	background-position: -369px 0;
}
.icon-history{
	.size(18px,14px);
	background-position: -697px -103px;
}
.icon-spend-analysis{
	.size(21px,23px);
	background-position: -338px 0;
}
.icon-like{
	.size(23px,21px);
	background-position: -726px -103px;
}
.icon-small-check{
	.size(9px,7px);
	background-position: -88px -138px;
}
.icon-small-error{
	.size(7px,7px);
	background-position: -107px -138px;
}
.icon-small-warning{
	.size(11px,10px);
	background-position: -124px -138px;
}
.icon-map-balon{
	.size(17px,31px);
	background-position: -644px -103px;
}
.icon-current-location{
	.size(17px,17px);
	background-position: -671px -103px;
}
.icon-barcode{
	.size(20px,15px);
	background-position: -579px -103px;
}
.icon-scan-card{
	.size(40px,29px);
	background-position: -558px -158px;
}
.icon-confirm-changes{
	.size(25px,19px);
	background-position: -609px -103px;
}
.icon-delete-big{
	.size(16px,20px);
	background-position: -759px -33px;
}
.icon-delete-w{
	.size(9px,12px);
	background-position: -441px -126px;
}
.icon-delete-b{
	.size(9px,12px);
	background-position: -422px -126px;
}
.icon-arrow-right-b{
	.size(24px,27px);
	background-position: -545px -103px;
	margin: 0 25px 0 30px;
}
.icon-blog{
	.size(22px,22px);
	background-position: -272px 0;
}
.icon-paid-invoice{
	.size(126px,60px);
	background-position: -169px -316px;
}
.icon-unpaid-invoice{
	.size(154px,44px);
	background-position: 0 -332px;
}
.icon-photo{
	.size(20px,15px);
	background-position: -551px -76px;
}
.icon-calendar{
	.size(14px,15px);
	background-position: -580px -76px;
}
.icon-members{
	.size(24px,22px);
	background-position: -323px -33px;
}
.icon-facebook{
	.size(17px,17px);
	background-position: -518px -103px;
}
.icon-gravatar{
	.size(17px,17px);
	background-position: -518px -130px;
}
.icon-arrow{
	.size(11px,21px);
	background-position: -504px -70px;
}
.icon-board-pass{
	.size(18px,18px);
	background-position: -731px -33px;
}
.icon-reservation{
	.size(25px,22px);
	background-position: -468px -103px;
}
.icon-remove{
	.size(31px,19px);
	background-position: -458px -72px;
}
.icon-baggage{
	.size(23px,23px);
	background-position: -424px -68px;
}
.icon-seats{
	.size(33px,19px);
	background-position: -704px -73px;
}
.icon-arrival-terminal{
	.size(26px,22px);
	background-position: -668px -70px;
}
.icon-time{
	.size(19px,20px);
	background-position: -394px -72px;
}
.icon-location{
	.size(17px,24px);
	background-position: -328px -67px;
}
.icon-departure-terminal,
.icon-gate{
	.size(30px,20px);
	background-position: -355px -72px;
}
.icon-terminal-and-gate{
	.size(26px,26px);
	background-position: -747px -66px;
}
.icon-double-arrow-up{
	.size(9px,11px);
	background-position: -642px -33px;
}
.icon-double-arrow-down{
	.size(9px,11px);
	background-position: -642px -54px;
}
.icon-add-s{
	.size(8px,8px);
	background-position: -661px -33px;
}
.icon-comment{
	.size(20px,20px);
	background-position: -242px 0px;
}
.icon-refresh-s{
	.size(15px,15px);
	background-position: -588px -33px;
}
.icon-refresh-g{
	.size(12px,12px);
	background-position: -646px -80px;
}
.icon-more{
	.size(12px,7px);
	background-position:  -528px -33px;
}
.icon-less{
	.size(12px,7px);
	background-position:  -528px -50px;
}
.icon-no-avatar{
	.size(64px,64px);
	background-position:  0 -238px;
}
.icon-balances{
	.size(22px,24px);
	background-position: 0 0;
}
.icon-travel-plans{
	.size(24px,23px);
	background-position: -27px 0;
}
.icon-account{
	.size(24px,24px);
	background-position: -60px 0;
}
.icon-logout{
	.size(23px,19px);
	background-position: -92px 0;
}
.icon-about{
	.size(20px,20px);
	background-position: -122px 0;
}
.icon-privacy{
	.size(20px,20px);
	background-position: -152px 0;
}
.icon-terms-of-use{
	.size(20px,20px);
	background-position: -182px 0;
}
.icon-send-feedback{
	.size(20px,20px);
	background-position: -212px 0;
}
.icon-menu{
	.size(20px,17px);
	background-position: 0 -33px;
}
.icon-menu-w{
	.size(20px,17px);
	background-position: -464px 0;
}
.icon-refresh-all{
	.size(21px,23px);
	background-position: -553px -33px;
}
.icon-refresh{
	.size(20px,20px);
	background-position: -51px -33px;
}
.icon-back{
	.size(11px,19px);
	background-position: -30px -33px;
}
.icon-back-white{
	.size(11px,19px);
	background-position: -681px -33px;
}
.icon-next-white{
	.size(11px,19px);
	background-position: -530px -72px;
}
.icon-next{
	.size(11px,19px);
	background-position: -450px -33px;
}
.icon-add{
	.size(19px,19px);
	background-position: -81px -33px;
}
.icon-minus{
	.size(19px,3px);
	background-position: -421px -41px;
}
.icon-arrow-down{
	.size(9px,6px);
	background-position: -87px -74px;
}
.icon-arrow-down-d{
	.size(9px,6px);
	background-position: -106px -74px;
}
.icon-event,
.icon-meeting,
.icon-event-show{
	.size(22px,22px);
	background-position: -564px -198px;
}
.icon-star-d{
	.size(26px,26px);
	background-position: 0 -158px;
}
.icon-plane{
	.size(26px,26px);
	background-position: -493px -198px;
}
.icon-bench{
	.size(25px,17px);
	background-position: -529px -198px;
}
.icon-voucher{
	.size(26px,29px);
	background-position: -632px -198px;
}
.icon-voucher-d{
	.size(26px,29px);
	background-position: -522px -158px;
}
.icon-custom-account{
	.size(25px,26px);
	background-position: -597px -198px;
}
.icon-custom-account-d{
	.size(25px,26px);
	background-position: -487px -158px;
}
.icon-fly{
	.size(24px,24px);
	background-position: -36px -198px;
}
.icon-fly-d{
	.size(24px,24px);
	background-position: -36px -158px;
}
.icon-hotel-d{
	.size(24px,25px);
	background-position: -70px -158px;
}
.icon-hotel{
	.size(24px,25px);
	background-position: -70px -198px;
}
.icon-car-d{
	.size(30px,19px);
	background-position: -104px -158px;
}
.icon-car{
	.size(30px,19px);
	background-position: -104px -198px;
}
.icon-train-d{
	.size(24px,28px);
	background-position: -144px -158px;
}
.icon-train{
	.size(23px,28px);
	background-position: -144px -198px;
}
.icon-boat-d{
	.size(27px,29px);
	background-position: -177px -158px;
}
.icon-boat{
	.size(27px,29px);
	background-position: -177px -198px;
}
.icon-credit-card-d,
.icon-card-d{
	.size(26px,17px);
	background-position: -211px -158px;
}
.icon-credit-card,
.icon-card{
	.size(26px,17px);
	background-position: -211px -198px;
}
.icon-shop-d{
	.size(24px,26px);
	background-position: -247px -158px;
}
.icon-shop{
	.size(24px,26px);
	background-position: -247px -198px;
}
.icon-eat-d,
.icon-restaurant-d{
	.size(19px,30px);
	background-position: -281px -158px;
}
.icon-eat,
.icon-restaurant{
	.size(19px,30px);
	background-position: -281px -198px;
}
.icon-note-d{
	.size(26px,29px);
	background-position: -310px -158px;
}
.icon-note{
	.size(26px,29px);
	background-position: -310px -198px;
}
.icon-clear-note-d,
.icon-note-c-d{
	.size(26px,29px);
	background-position: -346px -158px;
}
.icon-clear-note,
.icon-note-c{
	.size(26px,29px);
	background-position: -346px -198px;
}
.icon-ungroup,
.icon-way{
	.size(21px,21px);
	background-position: -382px -198px;
}
.icon-ungroup-d,
.icon-way-d{
	.size(21px,21px);
	background-position: -382px -158px;
}
.icon-bus{
	.size(30px,27px);
	background-position: -413px -198px;
}
.icon-bus-d{
	.size(30px,27px);
	background-position: -413px -158px;
}
.icon-ferry,
.icon-passage-boat{
	.size(24px,32px);
	background-position: -453px -198px;
}
.icon-ferry-d,
.icon-passage-boat-d{
	.size(24px,32px);
	background-position: -453px -158px;
}
// New icons
.icon-conference,
.icon-conference-d{
	.size(18px,29px);
	background-position: -668px -198px;
}
.icon-conference-d{
	background-position: -608px -158px;
}
.icon-meeting,
.icon-meeting-d{
	.size(29px,18px);
	background-position: -696px -198px;
}
.icon-meeting-d{
	background-position: -636px -158px;
}
.icon-events,
.icon-events-d,
.icon-event-d{
	.size(23px,26px);
	background-position: -413px -240px;
}
.icon-events-d,
.icon-event-d{
	background-position: -722px -158px;
}
.icon-shows,
.icon-shows-d{
	.size(37px,32px);
	background-position: -735px -198px;
}
.icon-shows-d{
	background-position: -675px -158px;
}
.icon-taxi,
.icon-taxi-d{
	.size(30px,23px);
	background-position: -446px -240px;
}
.icon-taxi-d{
	background-position: -755px -158px;
}
.icon-documents,
.icon-documents-d{
	.size(26px,29px);
	background-position: -486px -240px;
}
.icon-documents-d{
	background-position: -413px -276px;
}
.icon-passport,
.icon-passport-d{
	.size(26px,29px);
	background-position: -522px -240px;
}
.icon-passport-d{
	background-position: -449px -276px;
}
.icon-travel-number,
.icon-travel-number-d{
	.size(26px,21px);
	background-position: -558px -240px;
}
.icon-travel-number-d{
	background-position: -485px -276px;
}
.icon-virus,
.icon-virus-d {
	.size(24px, 24px);
	background-position: -461px -344px;
}
.icon-insurance-card,
.icon-insurance-card-d {
	.size(24px, 17px);
	background-position: -495px -344px;
}
.icon-visa,
.icon-visa-d {
	.size(24px, 24px);
	background-position: -529px -344px;
}
.icon-drivers-license,
.icon-drivers-license-d {
	.size(24px, 18px);
	background-position: -563px -344px;
}
.icon-priority-pass,
.icon-priority-pass-d {
	.size(26px, 25px);
	background-position: -597px -344px;
}
.icon-parking,
.icon-parking-d {
	.size(26px,26px);
	background-position: -594px -240px;
}
.icon-parking-d {
	background-position: -521px -276px;
}
// end
.icon-user{
	.size(11px,13px);
	background-position: -67px -74px;
}
.icon-user-s{
	.size(27px,27px);
	background-position: -291px -65px;
}
.icon-next-arrow{
	.size(11px,19px);
	background-position: -46px -74px;
}
.icon-prev-double-arrow-b{
	.size(11px,7px);
	margin-right: 5px;
	background-position: -507px -16px;
}
.icon-next-double-arrow-b{
	.size(11px,7px);
	margin-left: 5px;
	background-position: -507px -52px;
}
.icon-up-double-arrow-b{
	.size(7px,11px);
	margin-left: 5px;
	background-position: -491px -52px;
}
.icon-bottom-double-arrow-b{
	.size(7px,11px);
	margin-right: 5px;
	background-position: -491px -16px;
}
.icon-green-check{
	.size(25px,25px);
	background-position: -88px -103px;
}
.icon-green-up{
	.size(25px,25px);
	background-position: -123px -103px;
}
.icon-blue-down{
	.size(25px,25px);
	background-position: -158px -103px;
}
.icon-red-error{
	.size(25px,25px);
	background-position: -193px -103px;
}
.icon-blue-update{
	.size(25px,25px);
	background-position: -228px -103px;
}
.icon-green-up-s{
	.size(10px,10px);
	background-position: -45px -103px;
}
.icon-blue-down-s{
	.size(10px,10px);
	background-position: -45px -123px;
}
.icon-green-check-s,
.icon-sucess-small{
	.size(13px,13px);
	background-position: -65px -126px;
}
.icon-red-error-s,
.icon-error-small{
	.size(13px,13px);
	background-position: -65px -103px;
}
.icon-white-error-s{
	.size(13px,13px);
	background-position: -364px -103px;
}
.icon-show{
	.size(20px,15px);
	background-position: -110px -33px;
}
.icon-phone{
	.size(18px,20px);
	background-position: -140px -33px;
}
.icon-phone-w{
	.size(18px,19px);
	background-position: -263px -72px;
}
.icon-delete{
	.size(14px,18px);
	background-position: -166px -33px;
}
.icon-edit{
	.size(17px,17px);
	background-position: -189px -33px;
}
.icon-site{
	.size(24px,18px);
	background-position: -216px -33px;
}
.icon-autologin{
	.size(24px,18px);
	background-position: -256px -33px;
}
.icon-directions{
	.size(17px,17px);
	background-position: -296px -33px;
}
.icon-accounts{
	.size(24px,24px);
	background-position: -322px -33px;
}
.icon-alternative-flights{
	.size(21px,22px);
	background-position: -354px -33px;
}
.icon-flight-status{
	.size(26px,18px);
	background-position: -385px -33px;
}
.icon-datepicker{
	.size(10px,10px);
	background-position: -125px -74px;
}
.icon-date{
	.size(23px,23px);
	background-position: -173px -68px;
}
.icon-arrow-next-b{
	.size(12px,19px);
	background-position: -206px -72px;
}
.icon-clip{
	.size(25px,25px);
	background-position: -228px -66px;
}
.icon-plus-w{
	.size(15px,15px);
	background-position: -263px -103px;
}
.icon-minus-w{
	.size(15px,3px);
	background-position: -288px -109px;
}
.icon-check-w{
	.size(17px,13px);
	background-position: -313px -103px;
}
.icon-check-s{
	.size(9px,7px);
	background-position: -321px -126px;
}
.icon-clear-w{
	.size(13px,13px);
	background-position: -445px -103px;
}
.icon-warning{
	.size(14px,13px);
	background-position: -340px -103px;
}
.icon-warning-w{
	.size(14px,13px);
	background-position: -340px -126px;
}
.icon-warning-b{
	.size(25px,22px);
	background-position: -387px -103px;
}
.icon-clear-d{
	.size(9px,9px);
	background-position: -508px -33px;
}
.icon-update-arrow{
	.size(11px,13px);
	background-position: -487px -33px;
}
.icon-map{
	.size(84px,84px);
	background-position: -75px -238px;
}
.icon-info{
	.size(13px,13px);
	margin-right: 10px;
	background-position: -422px -103px;
}
.icon-new-message{
	.size(23px,26px);
	background-position: -200px -273px;
}
.icon-read-message{
	.size(21px,20px);
	background-position: -169px -273px;
}
.icon-booking{
	.size(20px,24px);
	background-position: -612px -33px;
}
.icon-opened{
	.size(25px,25px);
	background-position: -169px -238px;
}
.icon-booked{
	.size(25px,25px);
	background-position: -204px -238px;
}
.icon-paid{
	.size(25px,25px);
	background-position: -239px -238px;
}
.icon-canceled{
	.size(25px,25px);
	background-position: -274px -238px;
}
.icon-future{
	.size(25px,25px);
	background-position: -309px -238px;
}
.icon-not-verified{
	.size(25px,25px);
	background-position: -344px -238px;
}
.icon-new{
	.size(35px,15px);
	background-position: -351px -273px;
}
.icon-google {
	.size(22px,23px);
	background-position: 0 -479px;
}
.icon-microsoft {
	.size(22px,23px);
	background-position: -32px -479px;
}
.icon-yahoo {
	.size(22px,23px);
	background-position: -64px -479px;
}
.icon-apple {
	.size(19px,23px);
	background-position: -96px -479px;
}
.icon-aol {
	.size(28px,12px);
	background-position: -124px -490px;
}

[class^="icon-login"],
[class*=" icon-login"]{
	display: block;
	.at2x('@{default-folder}elements.png', 400px, 400px);
	.at3x('@{default-folder}elements.png', 400px, 400px);
	.at4x('@{default-folder}elements.png', 400px, 400px);
}
.icon-login-stick{
	.size(20px,202px);
	position: absolute;
	top: -30px;
	right: -35px;
	background-position: -290px 0;
}
.icon-login-key{
	.size(66px,70px);
	background-position: -271px -248px;
}
.icon-login-knob{
	.size(207px,215px);
	display: none;
	background-position: -21px -136px;
}
[class^="login-element"],
[class*=" login-element"]{
	display: block;
	.login-elements();
}
.login-element-loop{
	.size(8px,44px);
	position: absolute;
	left: 2px;
	background-position: 0 -40px;
	&.first{
		top:100px;
	}
	&.second{
		bottom: 100px;
	}
}
.login-element-stick{
	.size(12px,141px);
	position: absolute;
	right: 15px;
	top:50%;
	margin-top: -70px;
	background-position: -256px 0;
}
.login-element-key{
	.size(59px,59px);
	margin: -5px auto 0;
	background-position: -38px -40px;
}
.login-element-knob{
	.size(105px,92px);
	margin: 15px auto 0;
	background-position: -127px -40px;
}

@import 'aircraft';