@default-background: #f7f7f7;
@default-folder: "../img/";
@white-color: #fff;

// Media query
@mobile:	  ~"only screen and (max-width: 767px)";
@tablet:	  ~"only screen and (min-width: 768px)";
@desktop:	  ~"only screen and (min-width: 1024px)";

@mobile-max:  ~"only screen and (max-width: 767px)";
@tablet-max:  ~"only screen and (max-width: 1024px)";
@desktop-max: ~"only screen and (min-width: 768px) and (max-width: 1023px)";

@iphoneX:     ~"only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3), only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2), only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 3)";
@iphone8:     ~"only screen and (device-width : 375px) and (device-height : 667px) and (-webkit-device-pixel-ratio : 2)";
@iphone8plus: ~"only screen and (device-width : 414px) and (device-height : 736px) and (-webkit-device-pixel-ratio : 3)";
