@use '../../../../UI/Styles/Mixin' as m;
@use '../../../../UI/Styles/Functions.scss' as f;
@use '../../../../UI/Styles/Variables.module.scss' as v;

.contentHeader {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: url('./Assets/head-bg.png') top no-repeat;
    background-color: var(--background-color-main);
    background-size: 100% 157px;
    padding: 34px 36px 23px 36px;

    @include m.media('<=xl') {
        gap: 19px;
        background-size: 100% 112px;
        padding: 18px 20px;
    }
}

.contentHeaderTitleContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--text-color-primary);

    @include m.media('<=xl') {
        gap: 6px;
    }

    h2 {
        @include m.font(f.px2rem(v.$title-font-size-l), 700, 100%, true);

        @include m.media('<=xl') {
            font-size: f.px2rem(v.$title-font-size-m);
        }
    }

    p {
        @include m.font(f.px2rem(v.$text-font-size-s), 700, 130%, true);
    }
}
