@use '../../Styles/Variables.module.scss';
.button {
    display: block;
    border-radius: 6px;
    border: 1px solid var(--border-color-secondary);
    background-color: var(--background-color-secondary);
    line-height: 0;
    padding: 12px 17px;
}
