@use '../../Styles/Variables.module.scss';

.dayWrapper {
    position: relative;
    height: 100%;
}

.tooltip {
    position: absolute;
    transform: translate(50%);
    right: 20%;
    top: -100%;
    padding: 9px 11px;
    background-color: var(--background-color-main);
    box-shadow: 7px 7px 25px rgba(16, 25, 57, 0.25);
    border-radius: 6px;
    white-space: nowrap;
    z-index: 2;
    &::before {
        content: '';
        position: absolute;
        bottom: -14px;
        left: 30%;
        border: 7px solid var(--background-color-main);
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-left-width: 5px;
        border-right-width: 5px;
    }
}

.dayButtonWrapper {
    width: 100%;
    height: 100%;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}
