{% extends '@MailTemplate/Layout/Offer/content.twig' %}

{% block unsubscribe_row %}
{% endblock unsubscribe_row %}

{% block physical_address_row %}
    !!!CHANGE ME!!! If you do not want to receive  !!!CHANGE ME!!!  these emails you can <a href="https://awardwallet.com/user/notifications" target="blank">disable  !!!CHANGE ME!!!  them in your profile</a>, please uncheck the  !!!CHANGE ME!!!  following checkbox: "Changes to  !!!CHANGE ME!!!  Travel Reservations"  !!!CHANGE ME!!! <br/>
    <span>{{ constant('EMAIL_PHYSICAL_ADDRESS_PLAIN') }}</span>
{% endblock physical_address_row %}