{% extends '@MailTemplate/Layout/Offer/content.twig' %}

{% block unsubscribe_row %}
{% endblock unsubscribe_row %}

{% block physical_address_row %}
    If you do not want to receive these emails you can <a href="https://awardwallet.com/user/notifications" target="blank">disable them in your profile</a>, please uncheck the following checkbox: "Changes to Travel Reservations"<br/>
    <span>{{ constant('EMAIL_PHYSICAL_ADDRESS_PLAIN') }}</span>
{% endblock physical_address_row %}