<div id="overlay" ng-click="close()" ng-if="form.fields"></div>
<div class="popup" ng-if="form.fields">
    <div class="popup-title">
        <h3 header="title"></h3>
        <p bind-translate-html="{{'popups.localpassword.title'|trans:{}:'mobile'|desc:'asks you a local password'}}"></p>
    </div>
    <div class="popup-content">
        <page-form name="localpassword" show-errors="!spinnerSubmitForm" class="main-form" form-errors="form.errors" fields="form.fields" >
        </page-form>
    </div>
    <div class="popup-footer">
        <ul class="bottom-buttons">
            <li><a class="btn-white" ng-click="close()">{{'alerts.btn.cancel'|trans}}</a></li>
            <li><a class="btn-blue" ng-class="{'loading':spinnerSubmitForm}" ng-click="submit()">{{'button.ok'|trans}}</a></li>
        </ul>
    </div>
</div>