<div class="row">
	{#<div class="heading silver">#}
		{#<i class="icon-silver-arrow-down"></i>#}
		{#<h3>{{ 'menu.header.accounts.contact-us' | trans({}, 'menu') | desc('Contact') }}</h3>#}
	{#</div>#}
	<ul class="default">
        {% for item in items %}
            {{ widget_render(item) }}
        {% endfor %}
	</ul>
</div>