@use '../../../../scss/functions' as f;
@use '../../../../scss/mixins' as m;
@use '../../../../scss/vars' as v;

.expiring-account {
    display: grid;
    grid-template-areas: 'logo owner balance status';
    grid-template-columns: f.px2rem(34px) 1fr 1fr 1fr;
    grid-column: 2 / 4;
    gap: 0 f.px2rem(15px);
    position: relative;
    align-items: center;
    background-color: var(--gray-light-color);
    text-decoration: none;
    padding: f.px2rem(9px);
    padding-right: f.px2rem(48px);
    border-radius: f.px2rem(6px);
    transition: background-color 0.2s ease-in-out;

    @media (pointer: fine) {
        &:hover {
            background-color: v.$color-athens-gray;

            .expiring-account__arrow-icon {
                color: var(--text-primary-color);
            }
        }
    }

    @include m.media('<=627px') {
        grid-template-areas: 'logo owner status' 'logo balance status';
        grid-template-columns: f.px2rem(34px) 1fr 1fr;
        padding: f.px2rem(9px) f.px2rem(12px);
        padding-right: f.px2rem(32px);
    }

    @include m.media('<=sm') {
        grid-template-areas: 'logo owner owner' 'logo balance status';
        grid-template-columns: f.px2rem(34px) auto 1fr;
        gap: f.px2rem(5px) f.px2rem(12px);
        padding: f.px2rem(13px) f.px2rem(16px);
    }

    @include m.theme('dark') {
        @media (pointer: fine) {
            &:hover {
                background-color: #212225;
            }
        }
    }

    &__arrow-icon {
        position: absolute;
        right: f.px2rem(20px);
        top: 50%;
        transform: translateY(-50%);
        transition: color 0.2s;
        color: var(--gray-color);

        @include m.media('<=980px') {
            right: f.px2rem(30px);
        }

        @include m.media('<=627px') {
            right: f.px2rem(10px);
        }

        @include m.media('<=sm') {
            display: none;
        }
    }

    &__logo {
        grid-area: logo;
        overflow: hidden;
        flex-shrink: 0;
        width: f.px2rem(34px);
        height: f.px2rem(34px);
        border-radius: f.px2rem(6px);

        @include m.media('<=sm') {
            align-self: flex-start;
        }
    }

    &__owner {
        grid-area: owner;
        font-size: f.px2rem(16px);
        line-height: 120%;
        font-weight: 600;
        color: var(--text-primary-color);

        @include m.media('<=1410px') {
            font-size: f.px2rem(14px);
        }

        @include m.media('<=sm') {
            font-size: f.px2rem(13px);
        }
    }

    &__balance {
        grid-area: balance;
        font-size: f.px2rem(16px);
        line-height: 130%;
        font-weight: 700;
        color: var(--text-primary-color);
        justify-self: center;

        @include m.media('<=1410px') {
            font-size: f.px2rem(14px);
        }

        @include m.media('<=627px') {
            justify-self: flex-start;
        }

        @include m.media('<=sm') {
            line-height: 150%;
        }
    }

    &__status-block {
        grid-area: status;
        display: flex;
        justify-self: flex-end;
        align-items: center;
        gap: f.px2rem(9px);
        color: var(--red-color);
        font-size: f.px2rem(14px);
        line-height: 130%;
        font-weight: 600;

        @include m.media('<=sm') {
            line-height: 120%;
            gap: f.px2rem(5px);
            justify-self: flex-start;
            font-size: f.px2rem(12px);
        }

        &--far {
            color: var(--orange-color);
            & path {
                fill: var(--orange-color);
            }
        }

        &--soon {
            color: var(--red-color);
            & path {
                fill: var(--red-color);
            }
        }

        &--expired {
            color: var(--red-color);
            & path {
                fill: var(--red-color);
            }
        }
    }

    &__status-icon {
        flex-shrink: 0;
        width: f.px2rem(18px);
        height: f.px2rem(18px);

        @include m.media('<=1410px') {
            width: f.px2rem(14px);
            height: f.px2rem(14px);
        }
    }

    &__expiration-date {
        &--desktop {
            @include m.media('<=sm') {
                display: none;
            }
        }

        &--mobile {
            display: none;
            @include m.media('<=sm') {
                display: inline;
            }
        }
    }
}
