.playingIcon {
    background: var(--background-color-main);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &Small {
        width: 23px;
        height: 23px;
        padding: 5px;
    }

    &Middle {
        width: 40px;
        height: 40px;
        padding: 10px;
    }

    &Bar {
        display: inline-block;
        background: var(--background-color-primary);
        width: 30%;
        height: 100%;
        animation: UpAndDown 1.3s ease infinite alternate;
        border-radius: 4px;

        &:nth-child(1) {
            height: 60%;
        }

        &:nth-child(2) {
            height: 30%;
            animation-delay: -2.2s;
        }

        &:nth-child(3) {
            height: 75%;
            animation-delay: -3.7s;
        }
    }
}

@keyframes UpAndDown {
    10% {
        height: 30%;
    }

    30% {
        height: 100%;
    }

    60% {
        height: 50%;
    }

    80% {
        height: 75%;
    }

    100% {
        height: 60%;
    }
}
