/* ************************** My defaults ************************** */
html,body{
	font-family: Verdana, Geneva, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: Black;
	font-weight: normal;
	margin: 0;
	padding: 0;
	height: 100%;
	border: none;
}
td{
	font-family: Verdana, Geneva, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: Black;
	font-weight: normal;
}
hr{
	color : Black;
	height : 1px;
}
h1{
	font-family: Verdana, Geneva, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #732E34;
	font-weight: normal;
	margin-bottom: 5px;
}
h2{
	font-family: Verdana, Geneva, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #732E34;
	font-weight: normal;
	margin-bottom: 5px;
}
/* *********** link *********** */
a:visited, a:link, a:active {
	color: #512D01;
	text-decoration: underline;
	font-weight : normal;
}
a:hover {
	color: #000000;
	text-decoration: none;
	font-weight : normal;
}

.providerStatus a:hover {
    color: #0c9f10;
}

/* *********** white link 12 *********** */
a.a12pxBldWht:visited, a.a12pxBldWht:link, a.a12pxBldWht:active {
	font-family: Verdana, Geneva, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: White;
	text-decoration: none;
}
a.a12pxBldWht:hover {
	font-family: Verdana, Geneva, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: White;
	text-decoration: underline;
}

/* *********** bold red link *********** */
a.a12pxBldRed:visited, a.a12pxBldRed:link, a.a12pxBldRed:active {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #F63636;
	text-decoration: none;
	font-weight: bold;
}
a.a12pxBldRed:hover {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #F63636;
	text-decoration: underline;
	font-weight : bold;
}
.detailsTable{
	border: 1px solid #C7C4BF;
	border-spacing: 0px;
	border-collapse: collapse;
}
.detailsTable td{
	border: 1px solid #C7C4BF;
	text-align: left;
	padding: 3px;
}
.detailsTable td a.header {
	font-weight:bold;
}
.detailsTable td ul {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-inline-start: 20px;
}
.detailsTableDark{
	border: 1px solid #838383;
	border-spacing: 0px;
	border-collapse: collapse;
}

.subMenu
{
    VISIBILITY: hidden;
    position:absolute;
}

.white{
	font-family: Verdana, Geneva, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: White;
	font-weight: normal;
	background-color: #f63636;
}
tr.repeated-header td {
	background-color: #AAAAAA;
	color: white;
}

/* *********** white link 11 *********** */
a.a11pxBldWht:visited, a.a11pxBldWht:link, a.a11pxBldWht:active {
	font-family: Verdana, Geneva, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: White;
	text-decoration: none;
}
a.a11pxBldWht:hover {
	font-family: Verdana, Geneva, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: White;
	text-decoration: underline;
}

.inputTxt {
	font-family: Verdana, Geneva, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	border: 1px solid #ADADAD;
	color : Black;
}
.detailsTableDark{
	border: 1px solid #838383;
	border-spacing: 0px;
	border-collapse: collapse;
}
.detailsTableDark td{
	border: 1px solid #838383;
}

.noBorder td{
	border: 0px none;
}
.noBorder{
	border: 0px none;
}
#noBorder td{
	border: 0px none;
}
#noBorder{
	border: 0px none;
}

.detailsTable .noBorder td {
	padding: 0px;
}

/* ----------------- forms ------------------ */
td.formErrorCell {
	background-color: #ffdddd;
}
table.formTable{
}
table.formTable .asterisk{
	position: relative;
	font-size: 110%;
	top: -2px;
	color: #e67512;
}
table.formTable td.caption{
	color: black;
}
input.inputTxt, textarea.inputTxt{
	border: 1px solid #a1a1a1;
	font-weight: normal;
	font-size: 10pt;
	background-image: url(/lib/images/inputBg.gif);
	background-repeat: repeat-x;
}

select.selectTxt{
	border: 1px solid #a1a1a1;
	font-weight: normal;
	font-size: 10pt;
}

table.formTable tr:hover .inputTxt, table.formTable tr .inputTxt:focus{
	background-image: url(/lib/images/inputBgHover.gif);
	background-repeat: repeat-x;
	border: 1px solid #0b70b7;
}

table.formTable tr:hover .selectTxt, table.formTable tr .selectTxt:focus{
	border: 1px solid #0b70b7;
}

table.formTable .fieldHint{
	font-size: 8pt;
	color: #a1a1a1;
}
.fieldhint a{
	color: #a1a1a1;
}
table.formTable td.input{
	color: black;
}
table.formTable tr:hover label{
	color: #0b70b7;
}
.fieldhint{
 	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #666666;
	font-weight: normal;
}
img.calicon{
	vertical-align: bottom;
	border: none;
	position: relative;
	left: 0px;
	top: 0px;
	z-index: 0;
	cursor: pointer;
}
.errorFrm, a.errorFrm:link, a.errorFrm:active, a.errorFrm:visited, errorFrm a{
	color: Red;
	font-family: Verdana, Geneva, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.successFrm, a.successFrm:link, a.successFrm:active, a.successFrm:visited{
	color: Green;
	font-family: Verdana, Geneva, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.infoFrm, a.infoFrm:link, a.infoFrm:active, a.infoFrm:visited{
	color: Blue;
	font-family: Verdana, Geneva, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.warningFrm, a.warningFrm:link, a.warningFrm:active, a.warningFrm:visited {
	color: Orange;
	font-family: Verdana, Geneva, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;

}
a.errorFrm:link, a.errorFrm:active, a.errorFrm:visited{
	text-decoration: underline;
}
a.successFrm:link, a.successFrm:active, a.successFrm:visited{
	text-decoration: underline;
}
a.infoFrm:link, a.infoFrm:active, a.infoFrm:visited{
	text-decoration: underline;
}
a.warningFrm:link, a.warningFrm:active, a.warningFrm:visited{
	text-decoration: underline;
}
.formerror{
	color: Red;
	font-weight: bold;
}
form{
	padding: 0;
	margin: 0;
}
table.formTable td{
	text-align: left;
}

@media print{

	.notPrintable{
		display: none;
	}

}
td.errorMessage {
	color: red;
	font-weight: bold;
}

div.SPprops {
	padding-bottom:10px;
}

div.SPprops span.h{
	color:#999;
	cursor:pointer;
}

div.SPprops span.val{
	color:#000;
	font-weight:bold;
}

.datepicker {position:relative; margin-right:20px;}
	.datepicker .ui-datepicker-trigger {position:absolute; top:0px; right:-24px; cursor:pointer;}

table.nowrapList td {white-space: nowrap;}

table#listButtons td {
	text-align: right;
}
.error-message-blk {
    color: red;
}

.dropdown-wrapper {
	position: relative;
	display: inline-block;
}
.dropdown-toggle {
	display: inline-block;
	color: #333;
	cursor: pointer;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
}
.dropdown-toggle:hover {
	color: #333;
}
.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 4px;
	border-top: 4px dashed;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	vertical-align: middle;
}
.dropdown-menu {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	margin: 2px 0 0;
	padding: 3px 0 !important;
	min-width: 160px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 3px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.175);
	font-size: 12px;
	text-align: left;
	z-index: 100;
}
	.dropdown-menu > li {
		margin: 0;
		list-style: none outside none;
	}
	.dropdown-menu > li.divider {
		margin: 7px 0;
		height: 1px;
		background-color: #e5e5e5;
		overflow: hidden;
	}
		.dropdown-menu > li > a,
		.dropdown-menu > li > span {
			display: block;
			padding: 3px 10px;
			color: #333;
			font-weight: 400;
			line-height: 1.5;
			white-space: nowrap;
		}
		.dropdown-menu > li > span {
			color: #aaaaaa;
		}
