.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
 
.clearfix{display: inline-block;}
 
/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
.clearfix{display: block;}
/* End hide from IE-mac */

/* logo */
div#topBarLogoBOOK_BYA{
    float: left;
    width: 356px;
    height: 156px;
    background-image: url(/images/topBarLeft.png?v=3);
    background-repeat: no-repeat;
    position: relative;
    left: -15px;
}
a#logoBOOK_BYA {
    display: block;
    width: 284px;
    height: 40px;
    background-image: url(/images/firstPage.png);
    background-repeat: no-repeat;
    margin-left: 56px;
    margin-top: 60px;
    padding:0px;
}
a#logoBOOK_BYA{
    background-image: url(/images/logoBookYourAward.png);
    width:147px;
    height:91px;
    position:relative;
    z-index:1;
    left:50px;
    top:-19px;
}

#bookingView{
	color: #545454;
	font-size: 12px;
}
#requestView tr.header td {
	background-color: #FFF;
    border-top: 1px solid #CCCCCC;
    height: 66px;
    border-left: #CCCCCC 1px solid;
}
#requestView tr.header td div.bookingHeaderPad {
    padding-top: 14px;
}
#requestView tr.header td div.bookingCaption {
	float: left;
    margin-left: 14px;
    margin-right: 24px;
    margin-top: 7px;
    color: black;
    font-size: 18px;
}
td.segmentHeader a.arrow {
	margin-top: 10px;
}
table.padded td {
    padding: 5px;
}
/*Comments*/
div.comments > div {
	position: relative;
	min-height:70px;
	height:auto !important;
	height:70px;
}
div.comments {
	font-size: 12px;
}
div.comments div.row4 {
	background-image: url("/images/hDots.png");
    background-repeat: repeat-x;
    padding:10px;
}
div.comments div.photo {
    float:left;
    width:75px;    
}
div.comments div.name {
    float:left;
    width:130px;
    font-weight: bold;
}
div.comments div.comment {
    font-size: 12px;
    margin: 0 110px 0 210px;
}
div.comments div.actions {
    float:right;
    width:100px;
}
div.comments div.actions a {
	text-decoration: none;
}
div.comments div.actions .bottom {
	bottom: 0;
	margin-top: 3em;
    position: absolute;
    right: 10px;
}

div.comments div.name .date {
	color: #818181;
}

div.comments div.photo div {
    background-image: url("/images/coreImages.png?v=3");
    background-position: 0 -509px;
    background-repeat: no-repeat;
    height: 51px;
    min-height: 51px;
    width: 64px;
}
div.proposal, div.proposal .row3, div.proposal .row2, div.proposal .row1 {
	background-color: #EDEBEB;
}
div.proposal .proposalBox .label {
	width: 60px;
}
div.proposal .proposalBox {
	margin-top: 5px;
}
.row4 {
	margin: 0px;
	padding: 10px 5px 10px;
}

div.child, div.child .row3, div.child .row2, div.child .row1 {
	background-color: #FFF;
}
.bookLink {
	cursor: pointer;
	color: #2F2F2F;
    text-decoration: underline;
    font-size: 12px;
}
.bookLink:hover {color: #0C9F10;}
div.comments div.child {padding-left:42px;}
.actions .smallButton {float:right; clear:both; margin-bottom:5px;}
div.comments div.respondForm {padding:10px 0;}
td.segmentInfo div.blockBodyInner div.bookingBodyCaption { padding-right:0;}
    td.segmentInfo div.blockBodyInner div.bookingBodyCaption .respondForm {background:none;}
        td.segmentInfo div.blockBodyInner div.bookingBodyCaption .respondForm form {padding-right:15px; }
            td.segmentInfo div.blockBodyInner div.bookingBodyCaption .respondForm div.pad {padding:3px 19px;}

.iconIsOK {background-position: -394px -44px; width:17px; height:19px; background-image: url("/images/coreImages.png?v=3"); margin: 0 0 0 6px;}
.iconNoOK {background-position: -416px -44px; width:20px; height:19px; background-image: url("/images/coreImages.png?v=3"); margin: 0 0 0 5px;}

.clarifyBlock {display:none; clear:both; margin-top:5px;}
.roundedTable .clarifyBlock a{padding:2px; text-decoration:none; cursor:pointer; display:block;}
.clarifyBlock p {margin:0; padding:2px; font-weight:bold; border-bottom:1px solid #ccc;}
.clarifyBlock select, .clarifyBlock input[type="text"] {margin:5px 0;}
.roundedTable .clarifyBlock a:hover {background:#eee; color:#484444;}

.bShareResultGood {position:relative; font-size: 16px; margin: 18px 0 0 10px; padding: 5px 0 10px 53px;}
.bShareResultGood .icon {background:url('/images/coreImages.png'); width:40px; height:40px; position:absolute; left:0; top:0;}
.bShareResultGood .OK {background-position:-199px -510px;}
.bShareResultGood .BAD {background-position:-152px -510px;}

#quickRespond #cke_Notes {width: auto !important;}
table.formTable {width:100%}
/* custom programs */
#quickInvoice { font-size: 14px; }
    #quickInvoice .deleteLine a {background:url('/images/icons_account_list.png') -92px 0; width:23px; height:23px; display:block; text-align:center; margin:0 auto;}
    #quickInvoice .deleteLine a:hover {background-position:-92px -23px;}

.invoice_view_container {
    color: #3E3E3E;
    font-size: 12px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    /*text-shadow: 0px 1px 1px #fff;*/
    /*filter: dropshadow(color=#fff, offx=0, offy=1);*/
    max-width: 1000px;
    min-width: 800px;
    width:expression(document.body.clientWidth < 800? "800px" : document.body.clientWidth > 1000? "1000px" : "auto");
}
.invoice_view_container h1 {font-weight: 300; margin: 0;}
.invoice_view_container a {color: #2D81CD !important;}
.invoice_view_container hr { border: none; border-top: 1px solid #D0D0D0; margin: 30px 0; }
.invoice_status_paid {
    background: url('/design/bundles/awardwalletmain/images/booking/paid_invoice.png') 0px 0px repeat;
    display: block;
    margin: auto;
    height: 90px;
    width: 193px;
}
.invoice_reminder {font-size: 10px !important;}
.invoice_total {color: #ffffff; font-size: 17px !important; /*font-weight: 100;*/ letter-spacing: 1px; padding: 10px !important;}
.linear_gradient_gray {
    background: #f5f6f6;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWViZWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f5f6f6 0%, #eaebec 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6f6), color-stop(100%,#eaebec));
    background: -webkit-linear-gradient(top,  #f5f6f6 0%,#eaebec 100%);
    background: -o-linear-gradient(top,  #f5f6f6 0%,#eaebec 100%);
    background: -ms-linear-gradient(top,  #f5f6f6 0%,#eaebec 100%);
    background: linear-gradient(to bottom,  #f5f6f6 0%,#eaebec 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#eaebec',GradientType=0 );
    -moz-box-shadow:inset 0 1px 0px #fff;
    -webkit-box-shadow:inset 0 1px 0px #fff;
    box-shadow:inset 0 1px 0px #fff;
}
.linear_gradient_blue {
    background: #3183c2;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMxODNjMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxODZkYjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #3183c2 0%, #186db6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3183c2), color-stop(100%,#186db6));
    background: -webkit-linear-gradient(top,  #3183c2 0%,#186db6 100%);
    background: -o-linear-gradient(top,  #3183c2 0%,#186db6 100%);
    background: -ms-linear-gradient(top,  #3183c2 0%,#186db6 100%);
    background: linear-gradient(to bottom,  #3183c2 0%,#186db6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3183c2', endColorstr='#186db6',GradientType=0 );

}
.linear_gradient_total {
    background: #fe4979;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlNDk3OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhNDBjMzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #fe4979 0%, #a40c36 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe4979), color-stop(100%,#a40c36));
    background: -webkit-linear-gradient(top,  #fe4979 0%,#a40c36 100%);
    background: -o-linear-gradient(top,  #fe4979 0%,#a40c36 100%);
    background: -ms-linear-gradient(top,  #fe4979 0%,#a40c36 100%);
    background: linear-gradient(to bottom,  #fe4979 0%,#a40c36 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe4979', endColorstr='#a40c36',GradientType=0 );
}
.invoice_bottom_right a.invoice_proceed, .invoice_bottom_right a.invoice_proceed:hover, .invoice_bottom_right a.invoice_proceed:visited {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-shadow: 0 1px 1px #0D4B85;
    box-shadow: 0px 0px 5px #AAA;
    border: 1px solid #125DA3;
    text-decoration: none;
    display: inline-block;
    padding: 28px 17px;
    position: relative;
    text-align: center;
    width: 290px;
}
.invoice_bottom_right a.invoice_proceed span {color: #ffffff; position: relative; left: -13px;}
.invoice_bottom_right a.invoice_proceed span:after {
    background: url("/design/bundles/awardwalletmain/images/booking/booking_invoice_arrow_right_blue.png") no-repeat transparent;
    content: " ";
    display: inline-block;
    width: 10px;
    height: 18px;
    position: absolute;
    left: 107%;
    top: -2px;
}
.invoiceLogo_bya {
    display: block;
    background-image: url("/design/bundles/awardwalletmain/images/booking/bya/logo_invoice.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 99px;
    width: 190px;
    padding: 24px 68px 32px 67px;
}
    .invoice_top, .invoice_bottom, .invoice_middle {
        position: relative;
    }
    .invoice_top:after, .invoice_bottom:after, .invoice_middle:after {
        content:"";
        clear:both;
        display:block;
    }
    .invoice_top {margin-bottom: 28px; width: 100%;}
        .invoice_top .invoice_top_left {
            margin-right: 335px;
            padding: 0 5px 0 35px;
        }
            .invoice_top .invoice_top_left > div { overflow: hidden; }
        .invoice_top .invoice_top_right {
            border: #D0D0D0 1px solid;
            float: right;
            width: 325px;
        }
    .invoice_middle { background-color: #ffffff; z-index: 2; }
        .invoice_middle > h1 {
            font-size: 18px;
            color: #4D4D4D;
            letter-spacing: 1px;
            padding: 13px 35px;
            border:solid 1px #d0d0d0;
            -moz-border-radius-topleft: 4px;
            -moz-border-radius-topright:4px;
            -moz-border-radius-bottomleft:0px;
            -moz-border-radius-bottomright:0px;
            -webkit-border-top-left-radius:4px;
            -webkit-border-top-right-radius:4px;
            -webkit-border-bottom-left-radius:0px;
            -webkit-border-bottom-right-radius:0px;
            border-top-left-radius:4px;
            border-top-right-radius:4px;
            border-bottom-left-radius:0px;
            border-bottom-right-radius:0px;
        }
        .invoice_middle > .invoice_wrapper {
            border-left: solid 1px #d0d0d0;
            border-right: solid 1px #d0d0d0;
            margin: 0;
            padding: 0;
            z-index: 2;
        }
        .invoice_middle > .invoice_wrapper:after {
            background: url("/design/bundles/awardwalletmain/images/booking/booking_invoice_corner_down.png") repeat-x;
            content: " ";
            display: block;
            height: 9px;
            position: relative;
            top: 6px;
            width: 100%;
        }
        .invoice_middle .invoice_wrapper table tr td { vertical-align: top !important }
        .invoice_middle .invoice {background-color: #ffffff; padding: 30px 20px 0;}
        .invoice_middle .invoice .data_1 {position: relative;}
            .booker_info {padding-left: 10px; margin-right: 560px;}
            .invoice .data_1_right {
                float: right;
                width: 550px;
            }
            .invoice .data_1_right:after {
                content:"";
                clear:both;
                display:block;
            }

    .invoice_middle:after {
        content: " ";
        display: block;
        position: absolute;
        top: 14px;
        right: 2px;
        height: 100%;
        width: 1px;
        box-shadow: 1px 0px 5px rgba(50, 50, 50, 0.75);
        -webkit-box-shadow: 1px 0px 5px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    1px 0px 5px rgba(50, 50, 50, 0.75);
        transform: translate(0, -14px);
        -webkit-transform: translate(0, -14px);
        -moz-transform: translate(0, -14px);
        -o-transform: translate(0, -14px);
        -ms-transform: translate(0, -14px);
        z-index: -1;
    }
    .invoice_middle:before {
        content: " ";
        display: block;
        position: absolute;
        top: 14px;
        left: 2px;
        height: 100%;
        width: 1px;
        box-shadow: -1px 0px 5px rgba(50, 50, 50, 0.75);
        -webkit-box-shadow: -1px 0px 5px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    -1px 0px 5px rgba(50, 50, 50, 0.75);
        transform: translate(0, -14px);
        -webkit-transform: translate(0, -14px);
        -moz-transform: translate(0, -14px);
        -o-transform: translate(0, -14px);
        -ms-transform: translate(0, -14px);
        z-index: -1;
    }
    .invoice_bottom {margin-bottom: 15px; margin-top: 38px;}
        .invoice_bottom .invoice_bottom_left {
            margin-right: 335px;
            padding: 5px 70px 5px 20px;
        }
        .invoice_bottom .invoice_bottom_left > div { overflow: hidden; }
        .invoice_bottom .invoice_bottom_right {
            float: right;
            width: 325px;
        }
    .invoice_table { border-collapse: collapse; }
        .invoice_table td { padding: 6px 10px; overflow: hidden; }
        .invoice_table .caption { border: 1px solid #AEAEAE; }
        .invoice_table .border { border: 1px solid #D0D0D0; }

        .invoice_table td.invoice_data {padding: 12px 12px;}
        .invoice_table .field_invoice_value { border-right: none;}
        .invoice_table .last_row .field_quan_value,
        .invoice_table .last_row .field_rate_value,
        .invoice_table .last_row .field_amount_value { border-bottom: none;}


table.awTable {border-width: 0 !important; margin: 5px; vertical-align: middle;}
.awTable td {
    background-color: white;
    border-bottom: #D0D0D0 1px solid;
    color: #4D4D4D;
    font-size: 12px;
    height: 22px;
    padding: 5px 12px;
    text-align: center;
    text-shadow: 0 1px 0 white;
}
.awTable td ul {margin: 0; padding: 0 12px;}
.awTable td.left {text-align: left;}
.awTable td.center {text-align: center;}
.awTable td.bothBorder {border-left: #D0D0D0 1px solid; border-right: #D0D0D0 1px solid;}
.awTable td.leftBorder {border-left: #D0D0D0 1px solid;}
.awTable td.rightBorder {border-right: #D0D0D0 1px solid;}
.awTable td.topBorder {border-top: #D0D0D0 1px solid;}
.awTable td.thickDownBorder {border-bottom-width: 3px;}
.awTable td.notice {color: #ff4500;}
.awTable td.select {background-color: #FFFDF5;}
.awTable tr.odd td {background-color: #F7F7F7;}
.awTable tr.odd td.select {background-color: #FFFBEC;}
.awTable tr.white td {background-color: white;}
.awTable td.comments {color: Red;}

.awTable .caption td {
    background-image: url(/design/bundles/awardwalletmain/images/sprite-vertical.png);
    background-position: 0 0;
    background-repeat: repeat-x;
    border-top: #AEAEAE 1px solid;
    border-bottom: #AEAEAE 1px solid;
    font-size: 13px;
    font-weight: bolder;
    height: 36px;
    overflow: hidden;
    padding: 0 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.awTable .caption td.bothBorder {border-left: #AEAEAE 1px solid;border-right: #AEAEAE 1px solid;}
.awTable .caption td.rightBorder {border-right: #AEAEAE 1px solid;}
.awTable .subcaption {margin: 1px;}
.awTable .subcaption td {
    border: #AEAEAE 1px solid;
    color: white;
    font-size: 13px;
    height: 21px;
    padding: 1px;
    text-shadow: none;
}
.awTable .subcaption td div {
    background-image: url(/design/bundles/awardwalletmain/images/sprite-vertical.png);
    background-position: 0 -36px;
    background-repeat: repeat-x;
    padding: 3px 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*TODO: remove*/
.awTable .vsubcaption {
    background-image: url(/design/bundles/awardwalletmain/images/sprite-horizontal.png);
    background-position: 0 0;
    background-repeat: repeat-y;
    padding: 0;
    vertical-align: middle;
    width: 23px;
}

.overflow {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}