div#topBar{
	display: none;
}
div#leftBar{
	display: none;
}
#toPersonal{
	display: none;
}
#footer{
	display: none;
}
div#content{
	padding-left: 20px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}
div.boxToll, div.boxToll div.left, div.boxToll div.bottom, div.boxToll div.center{
	background-image: none;
	border-left: none;
}
