body.business div#secondMenu{
	margin-top: 50px;
    min-width: 660px;
}
div.people{
	width: 37px;
	height: 37px;
	float: left;
	padding: 0 10px 0 0;
	float: left;
	background-image: url(/images/connections.png);
	background-position: -3px -4px;
}
div.peopleName{
	padding-top: 10px;
}
div.peopleAdmin{
	background-position: -3px -47px;
}
div.peopleFamily{
	background-image: none;
}
div#topBar{
    height: 156px;
    background-image: url(/images/businessHBg.png);
    background-repeat: repeat-x;
	background-position: 0 -951px;
	min-width: 1050px;
}
a#businessLogo{
	width: 74px;
	height: 12px;
	background-image: url(/images/businessCore.png);
	display: block;
	float: right;
	margin-right: 70px;
	margin-top: 1px;
}
body.first a#businessLogo{
	margin-right: 55px;
}

div#topButtons {min-width: 660px;}

div#topBarLogoBOOK {
	float: left;
	width: 356px;
	height: 156px;
	background-image: url(/images/topBarLeft.png?v=3);
	background-repeat: no-repeat;
	position: relative;
	left: -15px;
}
a#logoBOOK {
	display: block;
	width: 270px;
	height: 120px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-left: 45px;
	margin-top: 20px;
	z-index: 1;
	padding: 0px;
}
#topBarLogoBOOK a#businessLogo {
	display: none;
}