.cardsPath{
    background: rgb(208,208,208);
    width: 100%;
    height: 1px;
    display: block;
}

.cardsPath2{
    background: url('/images/hBg.png');
    width: 100%;
    height: 11px;
    display: block;
    margin-bottom: 8px;
    }

.cardsList{
    border: rgb(208,208,208) solid 1px;
    margin-right: 24px;
    display: block;
    margin-bottom: 0px;
}

.cardsListSeparator{
    display: block;
    height: 56px;
}

.cardsListTypeHeader{
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #3e3e3e;
    box-shadow: 0px 2px 1px rgb(208,208,208);
    position: relative;
    line-height: 36px;
    padding-left: 20px;
}

.cardsListTypeHeaderPointer {
    position: absolute;
    top: 100%;
    left: 24px;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 10px white;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}

.cardsListTypeHeaderPointer2 {
    position: absolute;
    top: 100%;
    left: 24px;
    content: '';
    width: 0;
    height: 0;
    margin-top: 1px;
    border-top: solid 10px rgb(208,208,208);
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}

.cardsListTypeHeaderPointer3 {
    position: absolute;
    top: 100%;
    left: 24px;
    content: '';
    width: 0;
    height: 0;
    margin-top: 2px;
    margin-left: 1px;
    border-top: solid 10px rgb(219,220,220);
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}

.cardsTitle {
    color: #4d4d4d;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    border-top: solid 1px rgb(208,208,208);
    border-bottom: solid 1px rgb(208,208,208);
    background: rgb(247,248,248);
    background: -moz-linear-gradient(top, rgb(247,248,248) 0%, rgb(234,235,236) 100%);
    background: -webkit-linear-gradient(top, rgb(247,248,248) 0%, rgb(234,235,236) 100%);
    background: -o-linear-gradient(top, rgb(247,248,248) 0%, rgb(234,235,236) 100%);
    background: -ms-linear-gradient(top, rgb(247,248,248) 0%, rgb(234,235,236) 100%);
    background: linear-gradient(to bottom, rgb(247,248,248) 0%, rgb(234,235,236) 100%);
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 21px;
    text-shadow: 0px 1px #ffffff;
}

.cardsInternal{
    margin-top: 15px;
    margin-left: 16px;
    margin-right: 18px;
    margin-bottom: 10px;
}

.cardsShadow{
    background: url(/images/creditcards/shadow.gif) no-repeat;
    background-position: center bottom;
    padding-bottom: 10px;
    display: inline-block;
}

.cardsSeparator{
}

.cardsApply{
    cursor: pointer;
    margin-top: 4px;
    display: block;
    width: 200px;
    height: 27px;
    line-height: 27px;
    border: rgb(174, 174, 174) solid 1px;
    text-align: center;
    border-radius: 2px;
    background: rgb(243,243,243);
    background: -moz-linear-gradient(top, rgb(243,243,243) 0%, rgb(227,228,229) 100%);
    background: -webkit-linear-gradient(top, rgb(243,243,243) 0%, rgb(227,228,229) 100%);
    background: -o-linear-gradient(top, rgb(243,243,243) 0%, rgb(227,228,229) 100%);
    background: -ms-linear-gradient(top, rgb(243,243,243) 0%, rgb(227,228,229) 100%);
    background: linear-gradient(to bottom, rgb(243,243,243) 0%, rgb(227,228,229) 100%);
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 12px;
    text-shadow: 0px 1px #ffffff;
    position: relative;
}

.cardsApply1{
    cursor: pointer;
    width: 180px;
}

.cardsApply2{
    margin-top: 4px;
    display: block;
}

.cardsApplyLine{
    position: absolute;
    width: 198px;
    left: 1px;
    min-height: 1px;
    top:0px;
    background: #ffffff;
}

.cardsSignature{
    margin-bottom: 2px;
    margin-left: 18px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 10px;
    color: rgb(153,153,153);
}


.cardsDesc td{
}

.cardsDesc ul{
    position: relative;
    top: -4px;
    *min-height: 153px;
    margin-top: 0px;
    margin-left: -20px;
    list-style: none;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 12px;
    color: rgb(153,153,153);
}

.cardsDesc li{
    position: relative;
    list-style-type: none;
    padding-left: 22px;
    background-image: url('/images/bulletGray.png');
    background-repeat: no-repeat;
    background-position: 0 0.21em;
}

.cardsBold{
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 12px;
    color: rgb(62,62,62);
    }

.bold {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 12px;
    color: rgb(62,62,62);
}

.cardsInfo{
    margin-right: 24px;
    border-top: 3px solid rgb(208,208,208);
    border-bottom: 1px solid rgb(208,208,208);
    border-left: 1px solid rgb(208,208,208);
    border-right: 1px solid rgb(208,208,208);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 12px;
    color: rgb(153,153,153);
}

.cardsI{
    margin-top: 2px;
    display: inline-block;
    background-image: url('assets/awardwalletmain/images/icon-sprite.png');
    background-position: -86px -214px;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
};