body #tblAccounts td.c1a a.plus{
	margin: 0;
}
body .roundedTable td.userName div.name {
	padding: 6px 19px;
}
body .roundedTable td.tabHeader div.caption {
	margin: 6px 19px 1px 19px;
}
.roundedTable td.tabHeader {
	height: 35px;
	font-size: 20px;
}
.roundedTable td.tabHeader div.icon {
	height: 35px;
}
.roundedTable td.tabHeader div.left {
	height: 35px;
}
.roundedTable tr.head td{
	padding: 6px 12px;
}
body div#topBar, body div#topBarLogo{
	height: 150px;
}
body #checkAllTop{
	top: 153px;
}
.roundedTable td{
	font-size: 93%;
}
.roundedTable td td{
	font-size: 12px;
}

.whiteBgRow td.left, .whiteBgRow td.right, .whiteBgRow td.center {
  height: 17px;
}

.whiteBgRow td.left, .whiteBgRow td.right {
    background-image:url(/images/coreCompactImages.png);
}

.grayBg .whiteBgRow td.left{
	background-position: -8px 0px;
}
.grayBg .whiteBgRow td.right{
	background-position: -13px 0px;
}

.whiteBgRow td.left {
    background-position: 0px 0px;
}

.whiteBgRow td.right {
    background-position: -4px 0px;
}

.whiteBgRow {
 padding-bottom:2px;   
}
div.goal{
	margin-top: 1px;
}

.lastUpdateTime {top:148px;}
