body input.inputTxt{
	padding: 0px 4px;
	overflow:visible;
	background: none;
}
/*div#topBar div.button, div#topBarLogo a, .png, div#secondMenu a {
	behavior: url(/design/iepngfix.htc);
}*/
div#secondMenu a{
	white-space: nowrap;
}
body.first div#topBar{
	height: 116px;
	overflow: hidden;
}
body div#secondMenu{
	white-space: nowrap;
}
body div#topButtons{
	white-space: nowrap;
}
body.first div#topBar div#secondMenu{
	width: 360px;
}
body.second div#topBar div#secondMenu{
	width: 600px;
}
body .roundedTable{
}
div#leftBar div.box div.bContent{
	height: 1px;
}
a div{
	cursor: pointer;
}
div.referralCenter{
	width: 1px;
}
div.overallReferral{
	min-width: 1px;
}
div.statsLable{
	padding-left: 0;
}
div#leftBar{
}
div#content{
}
table#contentTable{
	width: 96%;
}
div.marginContentLeft{
	margin-left: 0px;
}
div.buttonLeft, div.buttonRight{
	display: none;
}
div.boxToll{
	border-top: none;
}
div.boxToll div.bottom{
	height: 10px;
	overflow: hidden;
}
div.boxBlue div.bottom div.left{
	position: relative;
	left: 2px;
}
div.afterBlue div.bottom{
	border-left: 1px solid #ccc;
	position: relative;
	left: 2px;
}
div.afterBlue div.bottom div.left{
	display: none;
}
div#userBox div.photo{
	margin: 0 5px;
	height: 51px;
}
div#userBox div.name{
	margin-left: 83px;
}
input.buttonBg{
	background-image: none;
	border: none;
}
div.roundedBox span.chevron{
	background-position: -303px -89px;
}
#tblAccounts span.localPassword{
	background-position: -107px -42px;
}
.roundedTable tr.afterName td td{
	border-top: none;
}
.roundedTable tr.head span.sortArrow{
	display: none;
}
.roundedTable td.tabHeader div.caption{
	height: 32px;
	margin: 12px 19px 0px;
}
#tblAccounts div.balance{
}
div.pageNote div.center{
	width: 100%;
}
div.pageNote div.bottom{
	width: 100%;
	position: relative;
	left: 0px;
}
input.inviteBox{
	width: 259px;
}
div#fader{
	background-image: url(/images/faderIE6.gif);
	background-repeat: repeat;
	background-color: transparent;
	opacity: 1;
	width: 100%;
}
div#blueBg{
	background-image: url(/images/firstBlueBg.png);
	background-position: 0 0;
}
div.planPicture div.roundCorners{
	display: none;
}
.roundedTable td.segmentHeader div.captionPad{
	padding: 12px 19px 0px;
}
div.overallButton{
	width: 1px;
}
#frameHeader div.limited, #messageHeader div.limited {
	font-size: 20px;
}
#top10select table.formTable tr td.rowLeft{
	background-image: none;
}
#top10select table.formTable tr td.rowLeft div, #top10select table.formTable tr td.rowRight div{
	background-image: none;
}
div#topBarLeftShadow{
	display: none;
}
#tblAccounts td.manage .spacer{
	display: block;
	height: 1px;
}
div.roundCorners64, div.roundCorners48{
	display: none;
}