div#fader{
}
body div#topBar{
}
body div#topBar div.action div{
	margin-left: 0px;
}
body input.fileField{
	border: 1px solid #cccccc;
}
div.buttonLeft, div.buttonRight{
	display: none;
}
a div{
	cursor: pointer;
}
.roundedTable td.tabHeader div.caption{
	height: 32px;
	margin: 12px 19px 0px;
}
.roundedTable td.segmentHeader div.captionPad{
	padding: 12px 19px 0px;
}
input.inviteBox{
	width: 289px;
}
#top10select table.formTable tr td.rowLeft{
	background-image: none;
}
#tblAccounts td.manage .spacer{
	width: 150px;
	clear: both;
	height: 1px;
	overflow: hidden;
	display: block;
	visibility: hidden;
}

/* onecard */
.accountsTable tr td p {
	padding: 0 2px;
}
.accountsTable tr td{
	padding: 0;
}

table.main tbody tr:hover{
	background: #fff;
}