#tabs div.caption{
	font-size: 15px;
	padding-top: 8px;
	height: 15px;
	padding-bottom: 7px;
}
table.main tbody tr:hover td{
	background: transparent\0/ !important;
}
.ui-dialog-buttonset button.loader:after,
#loginPopup .form-button .loader:after{
	top:3px\0/ !important;
}
.btn.wide{
	padding: 0px\0/ !important;
}
.jump-mes .btn.wide,
.message .btn.wide{
	padding: 0 25px\0/ !important;
}
tr.booking-requests-caption td{
	padding: 0 5px 0 10px\0/!important;
	min-height: 25px\0/!important;
}
.icon-sortable,
.icon-booking-back:hover,
.icon-booking-message:hover,
.icon-booking-read-message:hover {
  opacity: 1\0/!important;
}
span.select-text:before,
span.select-text:after{
	z-index: 999\0/!important;
}
.qtip-custom,
.ui-tooltip{
	background-color: #4B4B4B\0/!important;
}
.ui-tooltip .top:after{
	border-bottom:7px solid #4B4B4B\0/!important;
}
.ui-tooltip .bottom:after{
	border-top:7px solid #4B4B4B\0/!important;
}
td.empty-filter{
	min-height: auto\0/!important;
}
.ui-dialog { border: 1px solid #a3a3a3 \0/!important; }
.select2-choice .select-icon .icon-member,
.select2-choice .select-icon .icon-user{
	vertical-align: middle\0/!important;
}
.select2-drop  .select-icon .icon-member,
.select2-drop  .select-icon .icon-user{
	vertical-align: top\0/!important;
}