td.white a{
	color: white;
}
td.white{
	color: white;
}
.detailsTable td td{
	border: none;
}
table.sectionDivider td{
	font-weight: bold;
	border-bottom: 1px solid black;
}
table.sectionDivider{
	width: 100%;
	margin-top: 10px;
}
table.stats {
    border-collapse: collapse;
}

table.stats td {
    border: 1px solid gray;
    padding: 3px;
}

table.stats tr.head td, table.stats tr.total td {
    background-color: yellow;
    font-weight: bold;
}
.clickable{
	cursor: pointer;
}
.clickable:hover{
	background-color: #8CB2FD;
}
.flash {
	padding: 5px;
	font-weight: bold;
	text-align: center;
}
.flash-notice, .flash-success, .flash-info {
	background-color: #0B7500;
	color: white;
}
.flash-warning {
	background-color: #f39a0d;
	color: white;
}
.flash-error {
	background-color: #9e0505;
	color: white;
}
