#body-container {position:relative;}
#top-banner {display: block;position:absolute;right: 70px;top:0;height:150px;width: 250px;background-color: #808080;}
#search-plan {position:relative;right:350px;}
#user-info {}
@media(max-width:930px){
    .counters-menu {display:none}
    #top-banner{display: none}
    #search-plan{right: 100px;}
}
@media(max-width:1240px){
    #top-banner{display: none}
    #search-plan{right: 100px;}
}
@media(min-width:1240px)and (max-width:1340px){
    .counters-menu {display:none}
}

