td.segmentHeader div.name{
	margin-top: 5px;
}
td.segmentHeader a.arrow{
	margin-top: 9px;
	cursor: pointer;
}
div.roundedBox tr.top td.center{
	font-size: 20px;
	color: #e72516;
}
td.leftDots{
	background-image: url(/images/vDots.png);
	background-repeat: repeat-y;
	border-left: none;
}

.boxSectionHeader {
	color: #006eb7;
	font-size: 130%;
	padding-top: 10px;
}

#onecardadv {
	float:right;
}
#checkoutTable {
	float:left;
	width:380px;
}

#chechoutTableUsers {
	width:100%;

}

#chechoutTableUsers tr#head td {
	border-bottom: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	background-color: #fafafa;
}

#rounndedRight, #rounndedLeft {
	width:10px;
}

div#leftRound {
	background-image: url('/images/coreImages.png');
	background-position: 0px -82px;
	left: -1px;
	float:left;
}
div#rightRound {
	background-image: url('/images/coreImages.png');
	background-position: -281px -82px;
	right: -1px;
	float:right;
}
div#rightRound, div#leftRound {
	position: relative;
	height: 8px;
	top: -1px;
	width: 10px;
}
#amount {
	width: 40px;
}
#checkboxField {
	width: 30px;
}

.rightBorder, .leftBorder {
	vertical-align: top;
}
.leftBorder {
	border-left: 1px solid #cccccc;
}

.rightBorder {
	border-right: 1px solid #cccccc;
}

#chechoutTableUsers div.FirstRowLeft {
	background-image: url("/images/coreImages.png");
    background-position: -282px -49px;
    background-repeat: no-repeat;
	float:left;
	left: 0px;
}

#chechoutTableUsers div.FirstRowRight {
	background-image: url("/images/coreImages.png?v=3");
    background-position: -273px -57px;
    background-repeat: no-repeat;
	float:right;
	right: 0px;
}
#chechoutTableUsers div.FirstRowLeft, #chechoutTableUsers div.FirstRowRight {
	position: relative;
	height: 6px;
	top: 0px;
	width: 6px;
}

tr.afterHead div.FirstRowLeft, tr.afterHead div.FirstRowRight{
	vertical-align: top;
}

div.afterBackgroundLeft, div.afterBackgroundRight {
	position: relative;
	height: 6px;
	top: -1px;
	width: 6px;
	background-color: #fafafa;
}

div.afterBackgroundLeft {
	left: 0px;
}
div.afterBackgroundRight {
	right: -4px;
}

tr.afterHead div.FirstRowLeft {
	left: -1px;
}

tr.afterHead div.FirstRowRight {
	right: -1px;
}

#chechoutTableUsers tbody tr td {
	border-bottom: 1px solid #cccccc;
}

#awplusmemberrow td {
	border-top: 1px solid #cccccc;
	background-color: #fffce1;
}
#chechoutTableUsers tr {
	height: 30px;
}

#chechoutTableUsers tr.even {
	background-color: #fafafa;
}

#chechoutTableUsers tbody td + td + td {
	padding-left: 15px;
}

#totalLabel {
	float: left;
	left: 20px;
	font-weight: bold;
	position: relative;
}

#totalAmount {
	float: left;
	position: relative;
	font-weight: bold;
	float: right;
}

#cardDesign {
	width: 746px;
	position: relative;
	left: -13px;
	overflow: hidden;
}
#cardDesign tr.header td {
	background-color: #fffce1;
	height: 50px;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}
#cardDesign tr.header td div.caption {
	padding: 12px 19px;
}

#cardDesign tr.header td div.name {
	color:#c91313;
	font-size: 18px;
	font-size:20px;
}

div.sideCaption {
	width: 100%;
	padding: 12px 19px;
}

div.FronSideDivSilver {
	background-image: url("/images/cardFrontSide-silver.png");
	background-repeat: no-repeat;
}

div.BackSideDivSilver {
	background-image: url("/images/cardBackSide-silver.png");
	background-repeat: no-repeat;
}

div.FronSideDivGold {
	background-image: url("/images/cardFrontSide-gold.png");
	background-repeat: no-repeat;
}

div.BackSideDivGold {
	background-image: url("/images/cardBackSide-gold.png");
	background-repeat: no-repeat;
}

div.FronSideDivSilver, div.BackSideDivSilver, div.FronSideDivGold, div.BackSideDivGold {
	width: 695px;
	height: 440px;
	position: relative;
	left:22px;
}
div.fullName{
	position: relative;
	left:22px;
}
div.FronSideDiv div.name, div.BackSideDiv div.name {
	padding-top: 10px;
	padding-left: 200px;
	font-size: 30px;
	color:#545050;
}

.accountsTable {
	width:670px;
}

.accountsTable tr td select {
	/*width: 140px;*/
}

.accountsTable tr td select, .accountsTable tr td input {
	/*height: 14px;*/
}
.accountsTable tr, .accountsTable tr td select, .accountsTable tr td input {
	font-size: 13px;
}
.accountsTable tr, .accountsTable tr td{
	height: 19px;
}
.accountsTable tr td select, .accountsTable tr td input {
	background-color: transparent;
	-webkit-appearance: none;
	padding: 0px;
}

.accountsTable tr td select {
	border: 1px dashed #815900;
	color:#815900;
	height: 17px;
	margin: 0;
	padding: 0;
}

.accountsTable tr td input {
	border: 1px solid transparent;
	padding:0px 1px;
	width:90%;
	height: 17px;
	margin: 0;
}

.accountsTable tr td p.accountSelected {
	display: none;
	padding:0 1px;
}

.accountsTable tr td p {
	margin: 0px;
	padding: 1px 2px;
	height: 17px;
	white-space: nowrap;
	overflow:  hidden;
	width:90%;
}

.cardOffset  {
	width: 100%;
	height: 86px;
}

div.fullName {
	padding:29px 0 23px;
}

.selectField select {
	width: 100%;
}

.selectField {
	width: 25%;
	min-width: 120px;
	max-width: 120px;
}

.numberAccount, .statusAccount, .phoneAccount {
	width: 120px;
	min-width: 120px;
	max-width: 120px;
}

.numberAccount input, .statusAccount input, .phoneAccount input {
	width: 110px;
	min-width: 110px;
	max-width: 110px;
}

div.contentTable {
	height: 340px;
	padding-left: 21px;
}

.totalDiv {
	/*position: relative;
	bottom: 5px;
	left: 100px;*/
	font-size: 15px;
	font-style: italic;
	padding:15px 0 0;
}

div.AwCardLogo {
	background-image: url('/images/awCardLogo.png');
	background-repeat: no-repeat;
	height: 35px;
	width: 350px;

}

.logoContainer {
	/*padding-left: 30px;*/
	padding-top: 12px;
	padding-bottom: 10px;
}

.fullName label, .fullName input, .cardWarning {
	float: left;
}

.fullName .inputFrame {float:left; margin:0 0 0 20px;}

.fullName label {padding:9px 0 0;}

.cardWarning {
	display: block;
	padding-left: 15px;
	padding-top: 9px;
}

.iNotify {
	display: block;
	height: 17px;
	width: 17px;
	background-image: url('/images/iNotify.png');
	background-repeat: no-repeat;
}

.oneCardPayInfo {background:url('/images/oneCardPayInfo.png'); width:609px; height:182px; margin:10px 0 17px;}
	.oneCardPayInfo p {padding:24px 0 0 90px; margin:0;}
		.oneCardPayInfo p span {color:#2d80b7; font-weight:bold;}
.countCard {padding:5px 0;}
	.countCard .tit {float:left; padding:3px 10px 3px 0;}

#onecardInfoBlock {width:176px; float:right;}
.oneCardInfoBlock {}
	.oneCardInfoBlock .head {height:37px;}
		.oneCardInfoBlock .head b {display: block;}
		.oneCardInfoBlock .head .lb {width:9px; height:37px; background:url('/images/oneCardInfoBlok.png'); float:left;}
		.oneCardInfoBlock .head .rb {width:9px; height:37px; background:url('/images/oneCardInfoBlok.png') -9px 0; float:left;}
		.oneCardInfoBlock .head .mb {height:27px; width:150px; background:url('/images/oneCardInfoBlok-bgr-top.png'); float:left; padding:10px 0 0 8px; color:#fff;}
	.oneCardInfoBlock .body {height:131px;}
		.oneCardInfoBlock .body b {display: block;}
		.oneCardInfoBlock .body .lb {width:9px; height:131px; background:url('/images/oneCardInfoBlok.png') 0 -37px; float:left;}
		.oneCardInfoBlock .body .rb {width:9px; height:131px; background:url('/images/oneCardInfoBlok.png') -9px -37px; float:left;}
		.oneCardInfoBlock .body .mb {height:131px; width:152px; background:url('/images/oneCardInfoBlok-bgr-body.png'); float:left; padding:0px 0 0 6px;}
			.oneCardInfoBlock .body .mb .name {width:110px; float:left; padding:12px 0 0;}
			.oneCardInfoBlock .body .mb .overallReferral {float:right; margin:9px 0 0;}
				.oneCardInfoBlock .body .mb .overallReferral table tr td div.referralCenter {padding:3px 0 0; cursor:auto;}

.OCUserTable {margin:auto; width:595px;}
.OCErrBox {padding:15px 0;}
.accountsTable tr td input.focused{
	border: 1px dashed #815900;
	color: #815900;
}
.accountsTable tr td:hover input, .accountsTable tr td input:hover, .accountsTable tr td p.title:hover{
	border: 1px dashed #815900;
	padding:  0px 1px;
}
td.phoneCell{
	width: 160px;
}
.accountsTable tr td input.phone{
	width: 140px;
	float: left;
	padding-right: 16px;
}
div.dropButton{
	width: 16px;
	height: 16px;
	display: block;
	float: left;
	position: relative;
	left: -17px;
	top: 1px;
}
.accountsTable tr td:hover div.dropButton{
	background-position: -16px 0;
	background-image: url(/images/dropDown.png);
}
.accountsTable tr td div.dropButton:hover, .accountsTable tr td.focused div.dropButton{
	background-image: url(/images/dropDown.png);
	background-position: 0 0;
}
div#phoneList{
	position: absolute;
	border: 1px solid gray;
	background-color: white;
	display: none;
	z-index: 100;
	font-size: 13px;
}
div#phoneList div.row{
	cursor: pointer;
	overflow-x: hidden;
	white-space: nowrap;
	padding: 1px 10px;
}
div#phoneList div.row:hover{
	background-color: #3f4cf3;
	color: white;
}
a.deleteLink {
	background: url('/images/icons_account_list.png') -92px 0 no-repeat;
	width: 23px;
	height: 23px;
	position: relative;
	overflow: visible;
	float: right;
}
a.deleteLink:hover {
	background:url('/images/icons_account_list.png') -92px -23px no-repeat;
}
tr.header a.arrow{
	display: none;
}