<page-header>
    <a href="" ng-click="back('index.accounts.list');" class="hide-menu"><i class="icon-back"></i></a>
    <div class="title"><h1>{{::form.title}}</h1></div>
</page-header>
<page-content>
    <div class="content-item">
        <spinner spinner-key="spinner-1" loading="spinnerLoadingPage"></spinner>
    </div>
    <page-form name="agentsAdd" show-errors="!spinnerSubmitForm" form-errors="form.errors" fields="form.fields"
               class="main-form" on-submit="form.submit()"
               ng-if="(form.fields && form.fields.length > 0) || (form.errors && form.errors.length > 0)" form-interface="form.interface"
               form-extension="form.extension">
        <div class="row-submit">
            <button class="btn-blue" ng-disabled="spinnerSubmitForm" ng-class="{'loading':spinnerSubmitForm}" type="submit">{{form.buttons.submit}}</button>
        </div>
    </page-form>
</page-content>