<global-error></global-error>
<div class="top-menu">
    <a href="" ng-click="back('unauth.login')" class="back"><i class="icon-back"></i></a>

    <div class="title">
        <h1>{{'recoverypassword.title'|trans:{}:'mobile'|desc:'Recovery Password'}}</h1>
    </div>
</div>
<div class="content">
    <spinner spinner-key="spinner-recovery" loading="view.spinnerLoadingPage"></spinner>
    <div ng-if="view.error" ng-bind="view.error"></div>
    <page-form name="recoveryPassword" show-errors="!view.spinnerSubmitForm" success="view.form.success" form-errors="view.form.errors"
             fields="view.form.fields" class="main-form silver"
             on-submit="submit()"
             ng-if="view.form.fields || view.form.errors">
        <div class="row-submit">
            <button ng-if="!setNewPassword" ng-class="{'loading':view.spinnerSubmitForm}" class="btn-blue"
                    ng-disabled="view.spinnerSubmitForm" type="submit">
                {{'recoverypassword.buttons.submit'|trans:{}:'mobile'|desc:'Send me reset instructions'}}
            </button>
            <button ng-if="setNewPassword" ng-class="{'loading':view.spinnerSubmitForm}" class="btn-blue"
                    ng-disabled="view.spinnerSubmitForm" type="submit">
                {{'recoverypassword.buttons.set-password'|trans:{}:'mobile'|desc:'Set new password'}}
            </button>
        </div>
    </page-form>
</div>
