@use '../../../Styles/Mixin.scss' as m;
@use '../../../Styles/Functions.scss' as f;
@use '../../../Styles/Variables.module.scss' as v;

.sliderInput {
    @include m.font(f.px2rem(v.$text-font-size-m), 600, 100%);
}
