@use '../../../Styles/Variables.module.scss';

.slider {
    &Rail {
        height: 4px;
        border-radius: 4px;
        background-color: var(--background-color-secondary);
    }

    &Track {
        height: 4px;
        background-color: var(--background-color-primary);
    }

    &Handle {
        width: 24px;
        height: 26px;
        border: none;
        border-radius: unset;
        opacity: unset;
        margin-top: -12px;
        background-color: transparent;
    }
}
