@import '../helpers/mixins';
@import '../helpers/variables';
@import '../helpers/flexbox';

@import '../base/font';
@import '../base/normalize';
@import '../partials/footer';
@import '../jquery-ui/partials/autocomplete';

.main-body.landing{
	overflow: hidden;
	.mode({background: #e9eaeb},{background: @_dark-bg});
}

.btn-blue{
	white-space: nowrap !important;
	min-width: 110px;
	padding: 0 28px;
	height: 32px;
	line-height: 32px;
	color: @white-color !important;
	.mode-mob({background: @blue-dark-color},{background: @_dark-blue-dark-color});
	&:not(:disabled):not(.loader):not(.btn-add){
		position: relative;
		&:after{
			position: absolute;
			display: block;
			outline: 1px solid transparent;
			content: "";
			left: -1px;
			right: -1px;
			top: -1px;
			bottom: -1px;
			border: 1px solid transparent;
		}
	}
	span{
		display: inline-block;
		vertical-align: middle;
		margin-left: 8px;
		&:first-child{
			margin-left: 0;
		}
	}
	&.small{
		height: 24px;
		line-height: 22px;
		font-size: 13px;
		&.loader{
			&:after{
				top:1px !important;
			}
		}
	}
	&.small-btn{
		min-width: 80px;
	}
	&.pressed:not(:disabled),
	&:hover:not(:disabled){
		color: @white-color !important;
		text-decoration: none !important;
		.mode-mob({background: #3189cc !important},{background: @_dark-blue-color-h !important});
	}
	&.pressed {
		transition: none !important;
	}
	&:focus:not(:disabled):not(.loader):not(.btn-add){
		.mode-mob({background: @blue-dark-color},{background: @_dark-blue-dark-color});
		&:after{
			outline: 1px solid;
			border: 1px solid;
			.mode-mob({
				outline-color: @blue-dark-color;
				border-color: #f9f9fa;
			},{
				outline-color: @white-color;
				border-color: @_dark-bg;
			});
		}
	}
	&:focus:hover:not(:disabled):not(.loader){
		.mode-mob({background: #3189cc},{background: @_dark-blue-color-h});
	}
	&:disabled{
		.mode-mob({
			background: #528fcc!important;
			color: #3674b3!important;
		},{
			background: @_dark-blue-color-h !important;
			color: @_dark-blue-color !important;
		});
		&:hover{
			cursor: default !important;
		}
	}
	&.loader{
		position: relative;
		width: auto;
		cursor: default;
		.mode-mob({
			color: @blue-color;
			background: #528fcc!important;
		},{
			background: @_dark-blue-color-h !important;
			color: @_dark-blue-color !important;
		});
		&:after{
			position: absolute;
			content: "";
			left: 7px;
			top:5px !important;
			.size(20px,20px);
			.at2x('@{default-folder}spinner-blue.gif', 20px,20px);
		}
		&:hover{
			color: #0974d9 !important;
		}
	}
	&::-moz-focus-inner {
		border: none;
	}
	&:focus{
		border:none;
	}
	&.wide{
		display: block;
		width: 100%;
	}
}

.on-desktop{
	@media @tablet-max{
		display: none !important;
	}
}

.on-mobile{
	display: none !important;
	@media @tablet-max{
		display: block !important;
	}
}

.switch-container{
	display: none !important;
}

.footer-site .footer-mobile-menu,
.nav-buttons-mobile{
	display: none;
}

html:not(.mobile-device) .main-body.landing .fixed-header{
	display: none !important;
}

html{
	background:@gray-light;

	.fixed-header{
		display: none;
		padding-top: 10px;
		z-index: 99;
		background: @gray-light;
		border-bottom: 1px solid;
		text-align: center;
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		.mode-mob({
			background: @gray-light;
			border-bottom-color: @gray;
		},{
			background: @_dark-bg-light;
			border-bottom-color: @_dark-gray;
		});
		.logo{
			display: inline-block;
			.size(236px, 54px);
			background-position: 25px 16px;
			background-repeat: no-repeat;
			background-size: 182px 22px;
			.mode-mob({background-image: url('@{default-folder}logo@2x.png')},{background-image: url('@{default-folder}logo-white@2x.png')});
		}
	}

	body{
		background:@gray-light;
		&.overflow{
			overflow: hidden;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}

	.main-body.landing:not(.business){
		min-width: 320px;
		display: block !important;
		& ~ .footer-site{
			min-width: 320px;
			display: block !important;
			.footer-menu{
				padding: 0;
			}
			div.footer-menu{
				display: none;
				&.footer-mobile-menu{
					display: table;
				}
			}
		}
		@media @mobile-max{
			& ~ .footer-site{
				height: 54px;
				padding: 0;
				margin-top: 5px;
				.copyright{
					left: 16px;
					@media @iphoneXLandscape{
						left: 30px;
					}
				}
				.mobile-apps{
					right: 16px;
					@media @iphoneXLandscape{
						right: 30px;
					}
				}
				.footer-menu{
					width: 100%;
					padding-top: 60px;
					display: none !important;
					> ul{
						padding: 0;
					}
				}
				.icon-android-app{
					width: 88px;
					height: 31px;
					background-position: -56px -288px;
				}
				.icon-iphone-app {
					width: 88px;
					height: 31px;
					background-position: -155px -288px;
				}
			}
		}

		.ui-dialog{
			@media @mobile-max{
				width: auto !important;
				left: 10px !important;
				right: 10px;
				margin-left: 0 !important;
				.login-in, .sign-in, .forgot-password{
					width: 100%;
					padding: 0;
					& > .item{
						border: 0;
						box-shadow: none;
						padding: 0;
						&:before,
						&:after{
							display: none;
						}
					}
					form{
						border: 0;
						width: 100%;
					}
					.em-handle{
						display: none;
					}
				}
			}
		}

		.header-site{
			position: fixed;
		    top: 0;
		    left: 0;
			z-index: 1000;
			overflow-y:auto;
			width: 100%;
			min-width: 1px;
			height: 100% !important;
			border: 0;
			opacity: 0;
			visibility: hidden;
			-webkit-overflow-scrolling: touch;
			padding: 80px 15px 30px 15px;
			.mode-mob({background: @gray-light},{background: @_dark-bg-light});
			.user-buttons,
			.logo{
				display: none;
			}
			.item{
				width: 100%;
				height: 100%;
			}
			.nav-buttons{
				float: none;
				margin: 0 auto;
				max-width: 350px;
				width: 100%;
				border: 0;
				min-height: 100%;
				display: none;
				.flex-flow(column nowrap);
				.justify-content(flex-end);
				@media (max-width: 420px) and (max-height: 700px){
					margin-bottom: 30px;
				}
				li{
					list-style: none;
					display: block;
					a{
						text-decoration: none;
						display: block;
						.mode-mob({color: #4d5971},{color: @white-color});
					}
				}
				> li{
					display: block;
					width: 100%;
					border: 0;
					margin-top: auto;
					margin-bottom: auto;
					&:not(:first-child):not(:nth-last-child(1)){
						border-top: 1px solid;
						.mode-mob({border-top-color: #e5e7ea},{border-top-color: @_dark-gray});
					}
					> a{
						display: block;
						padding: 12px 0;
						font-size: 15px;
						text-align: left;
						line-height: 1;
						height: auto;
						border: 0;
						background: transparent !important;
						.mode-mob({color: #4d5971},{color: @white-color});
					}
				}
				li.language{
					padding-top: 20px;
					padding-left: 0;
					flex-grow: 1;
					.flex-display(inline-flex);
					.flex-flow(column nowrap);
					.justify-content(flex-end);
					> a{
						span{
							display: none;
						}
						&:before{
							content: 'Language:';
						}
					}
					span{
						margin: 0;
					}
					i{
						display: none;
					}
				}
				.dropdown-submenu{
					position: static;
					background: transparent;
					display: block !important;
					.box-shadow(none);
					width: 100% !important;
					height: auto !important;
					opacity: 1 !important;
					padding: 0 0 0 15px !important;
					border: 0;
					border-top: 1px solid;
					.mode-mob({border-top-color: #e5e7ea},{border-top-color: @_dark-gray});
					li{
						&:not(:first-child){
							border-top: 1px solid;
							.mode-mob({border-top-color: #e5e7ea},{border-top-color: @_dark-gray});
						}
						a{
							font-size: 15px;
							color: #4d5971;
							padding: 12px 0;
						}
					}
				}
				.language .dropdown-submenu{
					.flex-display !important;
					.flex-flow(row wrap);
					padding: 0 !important;
					li{
						width: 33.33%;
						border: 0;
						a{
							padding: 6px 0;
						}
					}
				}
				&.nav-buttons-mobile{
					.flex-display;
				}
			}
			&.active{
				opacity: 1;
				visibility: visible;
			}
		}
	}

	.page-wrap{
		.container{
			max-width: @default-width;
			width: 100%;
			margin: 0 auto;
			padding: 0 15px;
			@media @iphoneXLandscape{
				padding: 0 30px;
			}
		}
		h1,h2{
			font-size: 30px;
			line-height: 1.2;
			.font-bold;
			margin: 0;
		}
		img{
			max-width: 100%;
			vertical-align: top;
		}
		section{
			padding-left: 0;
			padding-right: 0;
			margin-top: 0;
			width: 100%;
			.mode-mob({},{border: 0 !important});
		}
		.title{
			padding: 20px 0;
			position: relative;
			text-align: center;
			&:after{
				position: absolute;
				width: 100%;
				content: "";
				height: 21px;
				bottom: -23px;
				left: 0;
				z-index: 10;
				background: url('@{default-folder}top-tiny.png') center top no-repeat;
			}
			span{
				font-size: 19px;
				margin-top: 10px;
				display: block;
				.mode-mob({color: #666666},{color: @white-color});
				.font-bold;
			}
		}
		.more-link{
			text-align: center;
			margin-top: 25px;
			a{
				display: inline-block;
				vertical-align: middle;
				.font-bold;
				font-size: 17px;
				text-decoration: none;
				.mode-mob({color: @blue-color},{color: @_dark-blue-color});
				&:after{
					content: "";
					vertical-align: middle;
					display: inline-block;
					margin-left: 10px;
					width: 19px;
					height: 19px;
					background-position: -152px -212px;
					.mode-mob({.sprite('light')},{.sprite('dark')});
				}
				&:hover{
					.opacity(.7);
				}
			}
		}
	}

	.main-mobile{
		display: block;
		padding: 50px 30px 25px;
		text-align: center;
		.mode-mob({background:@gray-light},{background: @_dark-bg});
		position: relative;
		.logo{
			display: inline-block;
			.size(236px, 54px);
			background-position: 25px 16px;
			background-repeat: no-repeat;
			background-size: 182px 22px;
			margin-bottom: 30px;
			.mode-mob({background-image: url('@{default-folder}logo@2x.png')},{background-image: url('@{default-folder}logo-white@2x.png')});
		}
		p{
			font-size: 15px;
			line-height: 20px;
			max-width: 450px;
			margin: 0 auto;
			.mode-mob({color: #515766},{color: @white-color});
		}
		.ios-app{
			.size(120px,40px);
			margin: 20px 5px 0;
			background-size: contain !important;
		}
		.android-app{
			.size(135px,40px);
			margin: 20px 5px 0;
			background-size: contain !important;
		}
	}

	.main{
		position: relative;
		overflow: hidden;
		color: @white-color;
		padding-bottom: 0;
		.mode-mob({background: #4680bc url('@{default-folder}pattern_black.png')},{background: @_dark-bg url('@{default-folder}pattern_black.png')});
		.container{
			width: 100%;
			position: relative;
			background: transparent;
			&:before,
			&:after{
				position: absolute;
				content: "";
				width: 150px;
				bottom: 2px;
				top: 0;
			}
			&:before{
				left: -150px;
				.mode-mob({
					background: -moz-linear-gradient(left, rgba(70,128,188,0) 0%, rgba(70,128,188,1) 100%);
					background: -webkit-linear-gradient(left, rgba(70,128,188,0) 0%,rgba(70,128,188,1) 100%);
					background: linear-gradient(to right, rgba(70,128,188,0) 0%,rgba(70,128,188,1) 100%);
				},{
					background: -moz-linear-gradient(left, rgba(20,20,20,0) 0%, rgba(20,20,20,1) 100%);
					background: -webkit-linear-gradient(left, rgba(20,20,20,0) 0%,rgba(20,20,20,1) 100%);
					background: linear-gradient(to right, rgba(20,20,20,0) 0%,rgba(20,20,20,1) 100%);
				});
			}
			&:after{
				right: -150px;
				.mode-mob({
					background: -moz-linear-gradient(left, rgba(70,128,188,1) 0%, rgba(70,128,188,0) 100%);
					background: -webkit-linear-gradient(left, rgba(70,128,188,1) 0%,rgba(70,128,188,0) 100%);
					background: linear-gradient(to right, rgba(70,128,188,1) 0%,rgba(70,128,188,0) 100%);
				},{
					background: -moz-linear-gradient(left, rgba(20,20,20,1) 0%, rgba(20,20,20,0) 100%);
					background: -webkit-linear-gradient(left, rgba(20,20,20,1) 0%,rgba(20,20,20,0) 100%);
					background: linear-gradient(to right, rgba(20,20,20,1) 0%,rgba(20,20,20,0) 100%);
				});
			}
		}
		h1,h2{
			text-align: center;
			.mode-mob({text-shadow: 0 1px @blue-dark-color},{text-shadow: none});
		}
		.title{
			margin-top: 10px;
			border-bottom: 1px solid;
			.mode-mob({border-bottom-color: #a3c0de},{border-bottom-color: @_dark-gray});
			&:after{
				border-top: 1px solid;
				.mode-mob({border-top-color: rgba(199,199,199,.5)},{border-top-color: @_dark-gray});
			}
		}
		h1{
			padding: 0;
		}
		h2{
			padding: 20px 0 10px;
		}
		&__item{
			position: relative;
			z-index: 2;
		}
		&__content{
			display: block;
			margin-top: 20px;
		}
		&__video{
			outline: 1px solid;
			border: 1px solid;
			padding: 3px;
			width: 100%;
			max-width: 350px;
			margin-left: auto;
			margin-right: auto;
			@media @mobile-max{
				max-width: 100%;
			}
			.mode-mob({
				outline-color: #c7c7c7;
				border-color: @white-color;
				background: #ededed;
			},{
				outline-color: @_dark-bg;
				border-color: @_dark-gray;
				background: #303037;
			});
			> div{
				position: relative;
				cursor: pointer;
				width: 100%;
				height: auto;
				padding-top: 56.25%;
				border: 1px solid #c7c7c7;
				outline: 1px solid @white-color;
			}
			iframe,
			img{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border: 0;
			}
		}
		&__details{
			width: 100%;
			line-height: 20px;
			font-size: 15px;
			padding-left: 0;
			margin-top: 20px;
			p{
				margin-bottom: 15px;
			}
		}
		&__btn{
			border: 1px solid;
			height: 44px;
			line-height: 1.1;
			color: @white-color;
			.font-bold;
			padding: 0 10px;
			font-size: 17px;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			text-decoration: none;
			margin-top: 25px;
			.mode-mob({
				border-color: @white-color;
				background: #df3e70;
				background: -moz-linear-gradient(top, #df3e70 0%, #c43d5e 100%);
				background: -webkit-linear-gradient(top, #df3e70 0%,#c43d5e 100%);
				background: linear-gradient(to bottom, #df3e70 0%,#c43d5e 100%);
			},{
				background: @_dark-rose;
				border-color: transparent;
			});
			&:hover{
				.mode-mob({
					background: #c43d5e;
					background: -webkit-linear-gradient(#c43d5e 0%, #c43d5e 100%);
					background: -o-linear-gradient(#c43d5e 0%, #c43d5e 100%);
					background: linear-gradient(#c43d5e 0%, #c43d5e 100%);
				},{
					background: @_dark-rose + #111;
				});
			}
		}
		&__list{
			position: relative;
			border-top: 2px solid;
			position: relative;
			bottom: auto;
			height: auto;
			left: 0;
			right: 0;
			.mode-mob({border-top-color: #a3c0de},{border-top-color: @_dark-gray});
			display: block;
			padding: 20px 0;
			&:before{
				position: absolute;
				content: '';
				top: -1px;
				left: 50%;
				margin-left: -3px;
				border-top: 6px solid;
				border-left: 6px solid transparent;
				border-right: 6px solid transparent;
				width: 0;
				height: 0;
				.mode-mob({border-top-color: #a3c0de},{border-top-color: @_dark-gray});
			}
			&:after{
				position: absolute;
				content: '';
				top: -2px;
				left: 50%;
				margin-left: -3px;
				border-top: 6px solid;
				border-left: 6px solid transparent;
				border-right: 6px solid transparent;
				width: 0;
				height: 0;
				.mode-mob({border-top-color: #4680bc},{border-top-color: @_dark-bg});
			}
			&-item{
				min-width: 160px;
				position: relative;
				width: 100%;
				padding: 0;
				margin: 20px 0;
				.flex-display;
				.align-items(center);
			}
		}
		&__caption{
			font-size: 20px;
			.font-bold;
			position: relative;
			height: auto;
			text-align: left;
			flex: 1 1 auto;
			line-height: 24px;
			padding-left: 20px;
			white-space: normal;
			@media (max-width: 340px){
				padding-left: 15px;
			}
			span{
				position: static;
				left: 50%;
				transform: translateX(-50%);
				min-width: 270px;
			}
		}
		&__counter{
			.flex-display;
			.justify-content(center);
			margin: 0;
			position: relative;
			.user-select(none);
			&-block{
				margin: 0 3px;
				width: 46px;
				height: 60px;
				padding: 2px;
				border-radius: 3px;
				position: relative;
				.mode-mob({
					background: #3d424d;
					background: -moz-linear-gradient(top, #3d424d 0%, #125da2 100%);
					background: -webkit-linear-gradient(top, #3d424d 0%,#125da2 100%);
					background: linear-gradient(to bottom, #3d424d 0%,#125da2 100%);
				},{
					background: -moz-linear-gradient(top, #3d424d 0%, #3d424d 100%);
					background: -webkit-linear-gradient(top, #3d424d 0%,#3d424d 100%);
					background: linear-gradient(to bottom, #3d424d 0%,#3d424d 100%);
				});
				&:before{
					position: absolute;
					content: '';
					top: 50%;
					height: 1px;
					background: #3d424d;
					z-index: 2;
					left: 8px;
					right: 8px;
				}
				span{
					.flex-display;
					.align-items(center);
					.justify-content(center);
					height: 100%;
					text-align: center;
					text-shadow: 0 1px #3d424d;
					border-radius: 2px;
					background: #818898;
					font-size: 50px;
					background: -moz-linear-gradient(top, #818898 0%, #3d424d 100%);
					background: -webkit-linear-gradient(top, #818898 0%,#3d424d 100%);
					background: linear-gradient(to bottom, #818898 0%,#3d424d 100%);
					box-shadow: inset 0 2px 0 #cfd6e6;
					position: relative;
					&:before,
					&:after{
						position: absolute;
						content: '';
						border: 1px solid #3d424d;
						height: 12px;
						width: 6px;
						top: 50%;
						margin-top: -6px;
						background: #cdd4e4;
						background: -moz-linear-gradient(top, #cdd4e4 0%, #848b9b 100%);
						background: -webkit-linear-gradient(top, #cdd4e4 0%,#848b9b 100%);
						background: linear-gradient(to bottom, #cdd4e4 0%,#848b9b 100%);
					}
					&:before{
						left: -1px;
					}
					&:after{
						right: -1px;
					}
				}
			}
		}
	}

	.blog{
		padding-bottom: 25px;
		.mode-mob({background: #e7e8e9},{background: @_dark-bg-light});
		.container{
			padding: 0;
		}
		.title{
			padding: 20px 15px;
			z-index: 2;
			&:after{
				border-top: 1px solid;
				.mode-mob({
					border-top-color: #e3e3e3;
					background: @white-color;
				},{
					background: @_dark-bg-light;
					border-top-color: @_dark-gray;
				});
			}
		}
		h2{
			padding: 0;
			.mode-mob({
				color: #4680bc;
				text-shadow: 0 1px @white-color;
			},{
				color: @_dark-blue-color;
				text-shadow: none;
			});
		}
		&__top{
			position: relative;
			.mode-mob({background: @white-color url('@{default-folder}pattern_black.png')},{background: @_dark-bg-light url('@{default-folder}pattern_black.png')});
			&:before,
			&:after{
				position: absolute;
				content: "";
				width: 150px;
				bottom: 2px;
				top: 0;
			}
			&:before{
				left: 0;
				.mode-mob({
					background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
					background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
					background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
				},{
					background: -moz-linear-gradient(left, rgba(28,28,30,1) 0%, rgba(28,28,30,0) 100%);
					background: -webkit-linear-gradient(left, rgba(28,28,30,1) 0%,rgba(28,28,30,0) 100%);
					background: linear-gradient(to right, rgba(28,28,30,1) 0%,rgba(28,28,30,0) 100%);
				});
			}
			&:after{
				right: 0;
				.mode-mob({
					background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
					background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
					background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
				},{
					background: -moz-linear-gradient(left, rgba(28,28,30,0) 0%, rgba(28,28,30,1) 100%);
					background: -webkit-linear-gradient(left, rgba(28,28,30,0) 0%,rgba(28,28,30,1) 100%);
					background: linear-gradient(to right, rgba(28,28,30,0) 0%,rgba(28,28,30,1) 100%);
				});
			}
		}
		&__post{
			border: 1px solid;
			position: relative;
			width: auto;
			margin: 8px 4px 0;
			&:not(:first-child){
				display: none;
			}
			.mode-mob({
				background: @white-color;
				border-color: #d6dae6;
			},{
				border-color: @_dark-gray;
				background: @_dark-bg-light;
			});
			&-list{
				display: block;
				margin-top: 15px;
			}
			&-thumb{
				height: 250px;
				position: relative;
				overflow: hidden;
				.mode-mob({background: #ccc},{background: @_dark-bg-light});
				a{
					display: block;
					text-decoration: none;
				}
				img{
					position: absolute;
					left: 50%;
					top: 50%;
					min-width: 100%;
					height: auto;
					transform: translate(-50%,-50%);
				}
			}
			&-details {
				padding: 22px;
			}
			&-actions{
				margin-bottom: 15px;
				ul{
					.flex-display;
					.flex-flow(row wrap);
					li{
						display: inline-block;
						vertical-align: top;
						list-style: none;
						position: relative;
						padding: 0 10px;
						font-size: 12px;
						.mode-mob({color: #777f8c},{color: @white-color});
						&:before{
							position: absolute;
							content: "";
							.size(1px,12px);
							left: 0;
							top: 1px;
							.mode-mob({background: #777f8c},{background: @white-color});
						}
						&:first-child{
							padding-left: 0;
							&:before{
								display: none;
							}
						}
					}
				}
				a{
					font-size: 12px;
					text-decoration: none;
					.mode-mob({color: @blue-color},{color: @_dark-blue-color});
					&:hover{
						text-decoration: underline;
					}
				}
			}
			&-title{
				a{
					font-size: 35px;
					font-weight: normal;
					font-family: Georgia, Times, "Times New Roman", serif;
					line-height: 1.15;
					text-decoration: none;
					.mode-mob({color: #3d424d},{color: @white-color});
				}
			}
			&-more{
				text-align: right;
				position: static;
				margin-top: 10px;
				right: 30px;
				bottom: 20px;
				a{
					display: inline-block;
					font-size: 16px;
					.font-bold;
					text-decoration: none;
					.mode-mob({color: @blue-color},{color: @_dark-blue-color});
					&:after{
						content: "";
						vertical-align: middle;
						display: inline-block;
						margin-left: 10px;
						width: 19px;
						height: 19px;
						background-position: -565px -99px;
						.mode-mob({.sprite('light')},{.sprite('dark')});
					}
					&:hover{
						.opacity(.7);
					}
				}
			}
		}
	}

	.cards{
		padding-bottom: 25px;
		.mode-mob({
			background: @white-color;
			border-color: #c7c7c7;
		},{
			background: @_dark-bg-light;
			border-color: @_dark-gray;
		});
		&-list{
			display: block;
			padding: 0 0 5px;
			position: relative;
			z-index: 2;
			width: 100%;
		}
		.title{
			z-index: 2;
			padding: 20px;
			&:after{
				border-top: 1px solid;
				.mode-mob({border-top-color: #e3e3e3},{border-top-color: @_dark-gray});
			}
		}
		h2{
			color: #cb9266;
			font-size: 30px;
			.mode-mob({text-shadow: 0 1px @white-color},{text-shadow: none});
		}
		&__top{
			position: relative;
			background: url('@{default-folder}pattern_black.png');
			margin: 0 -20px;
			&:before,
			&:after{
				position: absolute;
				content: "";
				width: 150px;
				bottom: 2px;
				top: 0;
			}
			&:before{
				left: 0;
				.mode-mob({
					background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
					background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
					background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
				},{
					background: -moz-linear-gradient(left, rgba(28,28,30,1) 0%, rgba(28,28,30,0) 100%);
					background: -webkit-linear-gradient(left, rgba(28,28,30,1) 0%,rgba(28,28,30,0) 100%);
					background: linear-gradient(to right, rgba(28,28,30,1) 0%,rgba(28,28,30,0) 100%);
				});
			}
			&:after{
				right: 0;
				.mode-mob({
					background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
					background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
					background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
				},{
					background: -moz-linear-gradient(left, rgba(28,28,30,0) 0%, rgba(28,28,30,1) 100%);
					background: -webkit-linear-gradient(left, rgba(28,28,30,0) 0%,rgba(28,28,30,1) 100%);
					background: linear-gradient(to right, rgba(28,28,30,0) 0%,rgba(28,28,30,1) 100%);
				});
			}
		}
		&__link{
			margin-top: 15px;
			text-align: center;
			padding: 0;
			position: relative;
			z-index: 2;
			a{
				font-size: 13px;
				color: #cb9266;
				text-decoration: none;
				&:hover{
					opacity: .7;
				}
			}
		}
		&__block{
			width: auto;
			padding: 10px;
			margin: 20px 0;
			display: block;
			min-height: 110px;
			position: relative;
			text-decoration: none;
			.shadow;
			.mode-mob({background: #f8f8f9},{background: @_dark-bg});
			&:after{
				.clearfix(both);
			}
			&-thumb{
				min-height: 1px;
				width: 140px;
				position: absolute;
				top: 10px;
				left: 10px;
				img{
					vertical-align: top;
					width: 100%;
				}
			}
			&-title{
				color: #cb9266;
				.font-bold;
				margin-bottom: 5px;
				padding-left: 152px;
				font-size: 15px;
				line-height: 18px;
			}
			&-text{
				font-family: Georgia, Times, "Times New Roman", serif;
				font-size: 15px;
				line-height: 18px;
				padding-left: 152px;
				.mode-mob({color: #616773},{color: @white-color});
			}
			&-more{
				margin-top: auto;
				text-align: right;
				padding-top: 10px;
				margin-right: 0;
				span{
					font-size: 15px;
					color: #cb9266;
					text-decoration: none;
					.font-bold;
				}
			}
		}
		.more-link{
			margin-top: 0;
			a{
				color: #cb9266;
				&:after{
					background-position: -180px -212px;
				}
			}
		}
	}

	.merchant{
		text-align: center;
		.flex-display;
		min-height: 1px;
		height: auto;
		border-top: 1px solid;
		.mode-mob({border-top-color: #d6dae6},{border-top-color: @_dark-gray});
		h2{
			font-size: 30px;
			.mode-mob({
				color: #666666;
				text-shadow: 0 1px @white-color;
			},{
				color: @white-color;
				text-shadow: none;
			});
		}
		h3{
			font-size: 17px;
			.font-bold;
			.mode-mob({
				color: #666666;
				text-shadow: 0 1px @white-color;
			},{
				color: @white-color;
				text-shadow: none;
			});
		}
		p{
			font-size: 15px;
			line-height: 18px;
			max-width: 640px;
			margin: 10px auto 0;
			.mode-mob({color: #666},{color: @white-color});
		}
		.container{
			background: url('@{default-folder}pattern_black.png');
			min-height: 1px;
			height: auto;
			position: relative;
			&:before,
			&:after{
				position: absolute;
				content: "";
				width: 150px;
				bottom: 2px;
				top: 0;
			}
			&:before{
				left: 0;
				.mode-mob({
					background: -moz-linear-gradient(left, rgba(216,206,198,1) 0%, rgba(216,206,198,0) 100%);
					background: -webkit-linear-gradient(left, rgba(216,206,198,1) 0%,rgba(216,206,198,0) 100%);
					background: linear-gradient(to right, rgba(216,206,198,1) 0%,rgba(216,206,198,0) 100%);
				},{
					background: -moz-linear-gradient(left, rgba(28,28,30,1) 0%, rgba(28,28,30,0) 100%);
					background: -webkit-linear-gradient(left, rgba(28,28,30,1) 0%,rgba(28,28,30,0) 100%);
					background: linear-gradient(to right, rgba(28,28,30,1) 0%,rgba(28,28,30,0) 100%);
				});
			}
			&:after{
				right: 0;
				.mode-mob({
					background: -moz-linear-gradient(left, rgba(216,206,198,0) 0%, rgba(216,206,198,1) 100%);
					background: -webkit-linear-gradient(left, rgba(216,206,198,0) 0%,rgba(216,206,198,1) 100%);
					background: linear-gradient(to right, rgba(216,206,198,0) 0%,rgba(216,206,198,1) 100%);
				},{
					background: -moz-linear-gradient(left, rgba(28,28,30,0) 0%, rgba(28,28,30,1) 100%);
					background: -webkit-linear-gradient(left, rgba(28,28,30,0) 0%,rgba(28,28,30,1) 100%);
					background: linear-gradient(to right, rgba(28,28,30,0) 0%,rgba(28,28,30,1) 100%);
				});
			}
		}
		.title{
			border-bottom: 1px solid;
			.mode-mob({border-bottom-color: rgba(255,255,255,.5)},{border-bottom-color: @_dark-gray});
			&:after{
				border-top: 1px solid;
				.mode-mob({border-top-color: rgba(199,199,199,.5)},{border-top-color: @_dark-gray});
			}
		}
		&__block{
			position: relative;
			z-index: 2;
			padding-top: 20px;
		}
		&__input{
			margin: 0 -17px;
		}
		input{
			padding: 0 35px 0 15px !important;
			width: 100%;
			max-width: none;
			margin: 25px 0 40px;
			height: 44px;
			box-shadow: none;
			border-top: 0;
			border-bottom: 0;
			font-size: 13px;
			background-position: right 10px center !important;
			.mode-mob({
				background: url('@{default-folder}search-dark.png') right 12px center no-repeat, @white-color;
				background-size: 18px 17px;
				box-shadow: 0 0 15px rgba(0,0,0,.1);
			},{
				background-color: @_dark-bg;
				.placeholder(@_dark-gray-light);
				box-shadow: 0 0 15px rgba(20,20,20,.1);
			});
		}
	}

	.mobile-block{
		display: none;
	}

	.facebook-block{
		overflow: hidden;
		color: @white-color;
		.mode-mob({
			background: #637cbd;
		},{
			border-color: transparent;
		});
		.title{
			z-index: 2;
			border-bottom: 1px solid;
			.mode-mob({border-bottom-color: #b1bedb},{border-bottom-color: @_dark-gray});
			&:after{
				border-top: 1px solid;
				.mode-mob({border-top-color: #95a2bf},{border-top-color: @_dark-gray});
			}
		}
		h2{
			font-size: 30px;
			padding: 0 15px;
			position: relative;
			z-index: 5;
		}
		.inner{
			position: relative;
			margin: 0 auto;
			max-width: @default-width;
			width: 100%;
			&:before,
			&:after{
				position: absolute;
				content: "";
				width: 150px;
				top: 0;
				bottom: 2px;
				z-index: 1;
			}
			&:after{
				left: 0;
				.mode-mob({
					background: -moz-linear-gradient(left, rgba(99,124,189,1) 0%, rgba(99,124,189,0) 100%);
					background: -webkit-linear-gradient(left, rgba(99,124,189,1) 0%,rgba(99,124,189,0) 100%);
					background: linear-gradient(to right, rgba(99,124,189,1) 0%,rgba(99,124,189,0) 100%);
				},{
					background: -moz-linear-gradient(left, rgba(28,28,30,1) 0%, rgba(28,28,30,0) 100%);
					background: -webkit-linear-gradient(left, rgba(28,28,30,1) 0%,rgba(28,28,30,0) 100%);
					background: linear-gradient(to right, rgba(28,28,30,1) 0%,rgba(28,28,30,0) 100%);
				});
			}
			&:before{
				right: 0;
				.mode-mob({
					background: -moz-linear-gradient(left, rgba(99,124,189,0) 0%, rgba(99,124,189,1) 100%);
					background: -webkit-linear-gradient(left, rgba(99,124,189,0) 0%,rgba(99,124,189,1) 100%);
					background: linear-gradient(to right, rgba(99,124,189,0) 0%,rgba(99,124,189,1) 100%);
				},{
					background: -moz-linear-gradient(left, rgba(28,28,30,0) 0%, rgba(28,28,30,1) 100%);
					background: -webkit-linear-gradient(left, rgba(28,28,30,0) 0%,rgba(28,28,30,1) 100%);
					background: linear-gradient(to right, rgba(28,28,30,0) 0%,rgba(28,28,30,1) 100%);
				});
			}
		}
		.container{
			padding: 15px 0;
			position: relative;
			text-align: center;
			.at2x('@{default-folder}pattern_black.png', 8px,8px);
			z-index: 2;
		}
		.iframe{
			display: inline-block;
		}
	}

	.programs{
		padding-bottom: 25px;
		h2{
			font-size: 30px;
			.mode-mob({
				color: #666666;
				text-shadow: 0 1px @white-color;
			},{
				text-shadow: none;
				color: @white-color;
			});
		}
		.title{
			border-bottom: 1px solid;
			.mode-mob({border-bottom-color: @white-color},{border-bottom-color: @_dark-gray});
			&:after{
				border-top: 1px solid;
				.mode-mob({border-top-color: #c7c7c7},{border-top-color: @_dark-gray});
			}
		}
		ul{
			.flex-display;
			.flex-flow(row wrap);
			li{
				list-style: none;
				.flex-display(inline-flex);
				.justify-content(center);
				.align-items(center);
				width: 33.33%;
				margin-top: 20px;
				.picture{
					transform: scale(0.8);
					height: auto;
					width: 100%;
					img{
						height: auto;
						width: 100%;
					}
				}
			}
		}
	}

	.quotes-block{
		position: relative;
		border: 0;
		.mode-mob({
			background: rgb(216,206,198);
		},{
			background: @_dark-bg-light;
		});
		.title{
			border-bottom: 1px solid;
			.mode-mob({border-bottom-color: #ede8e5},{border-bottom-color: @_dark-gray});
			&:after{
				border-top: 1px solid;
				.mode-mob({border-top-color: #d0ccc8},{border-top-color: @_dark-gray});
			}
		}
		h2{
			font-size: 30px;
			.mode-mob({
				color: #666666;
				text-shadow: 0 1px @white-color;
			},{
				color: @white-color;
				text-shadow: none;
			});
		}
		.container{
			position: relative;
			&:after{
				position: absolute;
				content: "";
				.size(100%,20px);
				left: 0;
				background: url('@{default-folder}bottom-tiny.png') center top no-repeat;
				bottom: 0px;
			}
		}
		.item{
			padding-bottom: 15px;
			position: relative;
			.flex-display;
			.flex-flow(column nowrap);
			.mode-mob({background-image: url('@{default-folder}pattern_white.png')},{background-image: url('@{default-folder}pattern_black.png')});
			&:before,
			&:after{
				position: absolute;
				content: "";
				width: 150px;
				top: 0;
				bottom: 2px;
				z-index: 1;
			}
			&:after{
				left: 0;
				.mode-mob({
					background: -moz-linear-gradient(left, rgba(216,206,198,1) 0%, rgba(216,206,198,0) 100%);
					background: -webkit-linear-gradient(left, rgba(216,206,198,1) 0%,rgba(216,206,198,0) 100%);
					background: linear-gradient(to right, rgba(216,206,198,1) 0%,rgba(216,206,198,0) 100%);
				},{
					background: -moz-linear-gradient(left, rgba(28,28,30,1) 0%, rgba(28,28,30,0) 100%);
					background: -webkit-linear-gradient(left, rgba(28,28,30,1) 0%,rgba(28,28,30,0) 100%);
					background: linear-gradient(to right, rgba(28,28,30,1) 0%,rgba(28,28,30,0) 100%);
				});
			}
			&:before{
				right: 0;
				.mode-mob({
					background: -moz-linear-gradient(left, rgba(216,206,198,0) 0%, rgba(216,206,198,1) 100%);
					background: -webkit-linear-gradient(left, rgba(216,206,198,0) 0%,rgba(216,206,198,1) 100%);
					background: linear-gradient(to right, rgba(216,206,198,0) 0%,rgba(216,206,198,1) 100%);
				},{
					background: -moz-linear-gradient(left, rgba(28,28,30,0) 0%, rgba(28,28,30,1) 100%);
					background: -webkit-linear-gradient(left, rgba(28,28,30,0) 0%,rgba(28,28,30,1) 100%);
					background: linear-gradient(to right, rgba(28,28,30,0) 0%,rgba(28,28,30,1) 100%);
				});
			}
		}
		.blockquote{
			position: relative;
			display: inline-block;
			border-radius: 5px;
			margin-bottom: 25px;
			.mode-mob({box-shadow: 5px 5px 10px rgba(0,0,0,.3)},{box-shadow: 5px 5px 10px rgba(20,20,20,.3)});
			&:before{
				content: '';
				position: absolute;
				width: 22px;
				height: 22px;
				transform: rotate(45deg);
				bottom: -11px;
				left: 60px;
				border: 1px solid;
				.mode-mob({
					background: #ececec;
					border-color: #ccc0b8;
					box-shadow: inset 1px 1px @white-color, inset -1px -1px @white-color, inset 1px -1px @white-color, inset -1px 1px @white-color;
				},{
					border-color: @_dark-gray;
					background: @_dark-bg;
					box-shadow: none;
				});
			}
			&:after{
				content: '';
				position: absolute;
				width: 30px;
				height: 2px;
				bottom: 0;
				left: 57px;
				z-index: 2;
				.mode-mob({background: #ececec},{background: @_dark-bg});
			}
			blockquote{
				font-style: italic;
				padding: 35px 25px;
				font-size: 17px;
				display: inline-block;
				text-align: left !important;
				line-height: 1.2;
				border-radius: 5px;
				border: 1px solid;
				max-width: 100%;
				width: 100%;
				min-height: 1px;
				z-index: 2;
				top: 0;
				left: 0;
				position: relative;
				.mode-mob({
					border-color: #ccc0b8;
					color: #727272;
					text-shadow: 0 1px @white-color;
					box-shadow: inset 1px 1px @white-color, inset -1px -1px @white-color, inset 1px -1px @white-color, inset -1px 1px @white-color;
					background: #f7f7f7;
					background: -moz-linear-gradient(top,  #f7f7f7 0%, #f9f9f9 15%, #fafafa 25%, #fbfbfb 36%, @white-color 54%, #fbfbfb 80%, #ececec 100%);
					background: -webkit-linear-gradient(top,  #f7f7f7 0%,#f9f9f9 15%,#fafafa 25%,#fbfbfb 36%,@white-color 54%,#fbfbfb 80%,#ececec 100%);
					background: linear-gradient(to bottom,  #f7f7f7 0%,#f9f9f9 15%,#fafafa 25%,#fbfbfb 36%,@white-color 54%,#fbfbfb 80%,#ececec 100%);
				},{
					background: @_dark-bg;
					box-shadow: none;
					color: @white-color;
					border-color: @_dark-gray;
					text-shadow: none;
				});
				&:after,
				&:before{
					position: absolute;
					content: "";
					.size(40px,57px);
					background-size: 85px auto;
					background-repeat: no-repeat;
					.mode-mob({background-image: url('@{default-folder}quotes@2x.png')},{background-image: url('@{default-folder}quotes-dark@2x.png')});
				}
				&:before{
					top:-18px;
					left: 10px;
				}
				&:after{
					background-position: -40px 0;
					bottom: -40px;
					right: 10px;
				}
			}
		}
		.quotes-blk{
			display: inline-block;
			vertical-align: top;
			position: relative;
			z-index: 2;
			max-width: 400px;
			width: 100%;
			&.first{
				margin: 30px 0 0 -5px;
			}
			&.second{
				margin: 30px 0 0 0;
				align-self: flex-end;
				blockquote{
					padding-top: 20px;
					text-align: right;
				}
			}
			p{
				line-height: 2;
			}
			p.author{
				font-size: 17px;
				padding-left: 15px;
				text-align: left;
				.font-italic;
				color: #c81748;
				.mode-mob({text-shadow: 0 1px #e6ddd6},{text-shadow: none});
			}
			p.company{
				padding-left: 0;
				text-align: right;
				font-size: 20px;
				margin-top: -10px;
				.font-bold;
				.mode-mob({
					color: #666;
					text-shadow:0 1px #e6ddd6;
				},{
					color: @white-color;
					text-shadow: none;
				});
			}
		}
		.more-link{
			a{
				color: #d92b5d;
				&:after{
					background-position: -210px -212px;
				}
			}
		}
	}

	.create{
		position: relative;
		overflow: hidden;
		color: @white-color;
		padding: 0;
		.mode-mob({background: #4680bc},{background: @_dark-bg-light});
		h2{
			font-size: 30px;
			padding-left: 15px;
			padding-right: 15px;
			.mode-mob({text-shadow: 0 1px @blue-dark-color},{text-shadow: none});
		}
		.title{
			border-bottom: 1px solid;
			padding-left: 0;
			padding-right: 0;
			.mode-mob({border-bottom-color: #a3c0de},{border-bottom-color: @_dark-gray});
			&:after{
				border-top: 1px solid;
				.mode-mob({border-top-color: rgba(199,199,199,.5)},{border-top-color: @_dark-gray});
			}
		}
		&__bottom{
			font-size: 30px;
			padding: 35px 16px;
			background: url('@{default-folder}pattern_black.png');
			margin: 0;
			.main__btn{
				max-width: 350px;
				width: 100%;
				margin: 0 auto;
			}
			@media @iphoneXLandscape{
				padding-left: 30px;
				padding-right: 30px;
			}
		}
	}

	.other{
		display: block;
		padding: 30px 0;
		a{
			text-decoration: none;
			font-weight: bold;
			display: block;
			position: relative;
			font-size: 15px;
			line-height: 18px;
			padding-right: 15px;
			.mode-mob({color: #666},{color: @white-color});
			&:after{
				position: absolute;
				right: 5px;
				content: '';
				top: 50%;
				margin-top: -8px;
				.size(11px,19px);
				background-position: -200px -65px;
				.mode-mob({.sprite('light')},{.sprite('dark')});
			}
		}
	}

	.social-links{
		border-top: 1px solid;
		border-bottom: 1px solid;
		margin: 0 -5px;
		width: auto !important;
		overflow: hidden;
		.mode-mob({
			border-top-color: #c7c7c7;
			border-bottom-color: #c7c7c7;
			background: @white-color url('@{default-folder}pattern_black.png');
		},{
			border-top-color: @_dark-gray;
			border-bottom-color: @_dark-gray;
			background: @_dark-bg-light url('@{default-folder}pattern_black.png');
		});
		.container{
			position: relative;
			padding: 15px;
			.mode-mob({background: @white-color},{background: @_dark-bg-light});
			&:before,
			&:after{
				position: absolute;
				content: "";
				width: 150px;
				bottom: 2px;
				top: 0;
			}
			&:before{
				left: -150px;
				.mode-mob({
					background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
					background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
					background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
				},{
					background: -moz-linear-gradient(left, rgba(28,28,30,0) 0%, rgba(28,28,30,1) 100%);
					background: -webkit-linear-gradient(left, rgba(28,28,30,0) 0%,rgba(28,28,30,1) 100%);
					background: linear-gradient(to right, rgba(28,28,30,0) 0%,rgba(28,28,30,1) 100%);
				});
			}
			&:after{
				right: -150px;
				.mode-mob({
					background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
					background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
					background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
				},{
					background: -moz-linear-gradient(left, rgba(28,28,30,1) 0%, rgba(28,28,30,0) 100%);
					background: -webkit-linear-gradient(left, rgba(28,28,30,1) 0%,rgba(28,28,30,0) 100%);
					background: linear-gradient(to right, rgba(28,28,30,1) 0%,rgba(28,28,30,0) 100%);
				});
			}
		}
		ul{
			.flex-display;
			.align-items(center);
			.justify-content(center);
			li{
				list-style: none;
				width: 190px;
				.flex-display(inline-flex);
				.align-items(center);
				.justify-content(center);
				height: 30px;
				&:not(:first-child){
					border-left: 1px solid;
					.mode-mob({border-left-color: #ced2de},{border-left-color: @_dark-gray});
				}
			}
		}
		a{
			display: inline-block;
			.mode-mob({.sprite('light')},{.sprite('dark')});
			&.twitter{
				.size(26px,21px);
				background-position: -265px -210px;
			}
			&.facebook{
				.size(13px,26px);
				background-position: -242px -205px;
			}
			&.instagram{
				.size(25px,26px);
				background-position: -300px -205px;
			}
			&.youtube{
				.size(30px,21px);
				background-position: -335px -210px;
			}
			&.linkedin{
				.size(25px,25px);
				background-position: -422px -206px;
			}
			&:hover{
				opacity: .7;
			}
		}
	}

	.on-desktop{
		@media @tablet-max{
			display: none !important;
		}
	}

	.on-mobile{
		display: none !important;
		@media @tablet-max{
			display: block !important;
		}
	}

	.menu-button {
		display: inline-block;
		position: fixed;
		z-index: 100;
		left: 15px;
		cursor: pointer;
		top: 30px;
		.size(20px,17px);
		background-repeat: no-repeat;
		background-size: 20px 17px;
		.mode-mob({background-image: url('@{default-folder}menu@2x.png')},{background-image: url('@{default-folder}menu-white@2x.png')});
		@media @iphoneXLandscape{
			left: 30px;
		}
		&.active{
			left: auto;
			right: 13px;
			top: 28px;
			.size(24px,24px);
			overflow:hidden;
			background: transparent !important;
			z-index: 10000;
			@media @iphoneXLandscape{
				left: auto;
				right: 28px;
			}
			&:before,
			&:after{
				content: '';
				position: absolute;
				.size(100%,3px);
				top: 50%;
				left: 0;
				margin-top: -1.5px;
				transition: background 0.3s ease-in-out;
				.mode-mob({background: #5c6373},{background: @white-color});
			}
			&:before{
				transform: rotate(45deg);
			}
			&:after{
				transform: rotate(-45deg);
			}
		}
	}

	.booking-block{
		background-size: contain;
		padding: 0 !important;
		.mode-mob({background: #d9d0c9},{background: @_dark-bg});
		.title{
			max-width: 1000px;
			margin: 0 auto;
			border-bottom: 1px solid;
			padding-left: 15px;
			padding-right: 15px;
			.mode-mob({border-bottom-color: @white-color},{border-bottom-color: @_dark-gray});
		}
		h2{
			.mode-mob({
				color: #666666;
				text-shadow: 0 1px @white-color;
			},{
				text-shadow: none;
				color: @white-color;
			});
		}
		&__wrap{
			max-width: 100%;
			margin: 0 auto;
			position: relative;
			overflow: hidden;
			img{
				position: absolute;
				height: auto;
				bottom: 0;
				width: 100%;
				max-width: 500px;
			}
		}
		.item{
			padding: 0 0 25px;
			position: relative;
			.at2x('@{default-folder}pattern_black.png', 8px,8px);
			.flex-display;
			.justify-content(space-around);
			min-height: 270px;
			&:before,
			&:after{
				position: absolute;
				content: "";
				width: 150px;
				top: 0;
				bottom: 0;
				z-index: 1;
			}
			&:after{
				left: 0;
				.mode-mob({
					background: -moz-linear-gradient(left, rgba(217,208,201,1) 0%, rgba(217,208,201,0) 100%);
					background: -webkit-linear-gradient(left, rgba(217,208,201,1) 0%,rgba(217,208,201,0) 100%);
					background: linear-gradient(to right, rgba(217,208,201,1) 0%,rgba(217,208,201,0) 100%);
				},{
					background: -moz-linear-gradient(left, rgba(20,20,20,1) 0%, rgba(20,20,20,0) 100%);
					background: -webkit-linear-gradient(left, rgba(20,20,20,1) 0%,rgba(20,20,20,0) 100%);
					background: linear-gradient(to right, rgba(20,20,20,1) 0%,rgba(20,20,20,0) 100%);
				});
			}
			&:before{
				right: 0;
				.mode-mob({
					background: -moz-linear-gradient(left, rgba(217,208,201,0) 0%, rgba(217,208,201,1) 100%);
					background: -webkit-linear-gradient(left, rgba(217,208,201,0) 0%,rgba(217,208,201,1) 100%);
					background: linear-gradient(to right, rgba(217,208,201,0) 0%,rgba(217,208,201,1) 100%);
				},{
					background: -moz-linear-gradient(left, rgba(20,20,20,0) 0%, rgba(20,20,20,1) 100%);
					background: -webkit-linear-gradient(left, rgba(20,20,20,0) 0%,rgba(20,20,20,1) 100%);
					background: linear-gradient(to right, rgba(20,20,20,0) 0%,rgba(20,20,20,1) 100%);
				});
			}
		}
		.container{
			.flex-display;
			.flex-flow(column nowrap);
			.justify-content(flex-end);
			.align-items(flex-end);
			position: relative;
			z-index: 2;
			padding-bottom: 260px;
		}
		.block{
			max-width: 100%;
			width: 100%;
		}
		p{
			font-size: 15px;
			margin-top: 30px;
			line-height: 1.6;
			.mode-mob({color: #666},{color: @white-color});
		}
		.btn-blue{
			display: block;
			text-decoration: none;
			color: #fff;
			text-align: center;
			margin-top: 30px;
			height: 45px;
			line-height: 43px;
			width: 100%;
			font-size: 17px;
			border: 1px solid;
			font-weight: bold;
			.mode-mob({
				border-color: @white-color;
				.gradient(#457fb8,#457fb8,#125da0);
			},{
				border-color: transparent;
				background: @_dark-blue-dark-color;
			});
			&:hover{
				.mode-mob({},{background: @_dark-blue-dark-color + #111 !important});
			}
			&:focus:after{
				.mode-mob({},{
					outline-color: transparent !important;
					border-color: transparent  !important;
				});
			}
		}
	}
	&:lang(@{fr}){
		.ios-app{
			width: 126px;
			height: 40px;
		}
	}

	&:lang(@{zh_cn}){
		.ios-app{
			width: 108px;
			height: 40px;
		}
	}

	&:lang(@{zh_tw}){
		.ios-app{
			width: 108px;
			height: 40px;
		}
	}

}

.android-app{
	display: inline-block;
	text-decoration: none;
	.size(203px,60px);
	.at2x('@{default-folder}device/android/@{en}.png', 203px,60px);
	margin: 0 25px;
}

.ios-app{
	display: inline-block;
	text-decoration: none;
	.size(180px,60px);
	.at2x('@{default-folder}device/ios/@{en}.png', 180px,60px);
	margin: 0 25px;
}

html:lang(@{ru}){
	.android-app{
		.at2x('@{default-folder}device/android/@{ru}.png', 203px,60px);
	}
	.ios-app{
		.at2x('@{default-folder}device/ios/@{ru}.png', 180px,60px);
	}
}

html:lang(@{de}){
	.android-app{
		.at2x('@{default-folder}device/android/@{de}.png', 203px,60px);
	}
	.ios-app{
		.at2x('@{default-folder}device/ios/@{de}.png', 180px,60px);
	}
}

html:lang(@{es}){
	.android-app{
		.at2x('@{default-folder}device/android/@{es}.png', 203px,60px);
	}
	.ios-app{
		.at2x('@{default-folder}device/ios/@{es}.png', 180px,60px);
	}
}

html:lang(@{pt}){
	.android-app{
		.at2x('@{default-folder}device/android/@{pt}.png', 203px,60px);
	}
	.ios-app{
		.at2x('@{default-folder}device/ios/@{pt}.png', 180px,60px);
	}
}

html:lang(@{fr}){
	.android-app{
		.at2x('@{default-folder}device/android/@{fr}.png', 203px,60px);
	}
	.ios-app{
		.size(190px,60px);
		.at2x('@{default-folder}device/ios/@{fr}.png', 190px,60px);
	}
}

html:lang(@{zh_cn}){
	.android-app{
		.at2x('@{default-folder}device/android/@{zh_cn}.png', 203px,60px);
	}
	.ios-app{
		.size(164px,60px);
		.at2x('@{default-folder}device/ios/@{zh_cn}.png', 164px,60px);
	}
}

html:lang(@{zh_tw}){
	.android-app{
		.at2x('@{default-folder}device/android/@{zh_tw}.png', 203px,60px);
	}
	.ios-app{
		.size(164px,60px);
		.at2x('@{default-folder}device/ios/@{zh_tw}.png', 164px,60px);
	}
}

.switch-container{
	display: none;
}

.device-ios,
.device-android,
.is-device-ios .device-unknown,
.is-device-android .device-unknown {
	display: none;
	&.main__btn {
		display: none;
	}
}

.is-device-ios .device-ios {
	display: inline-block;
	&.main__btn {
		display: flex;
	}
}
.is-device-android .device-android {
	display: inline-block;
	&.main__btn {
		display: flex;
	}
}

.is-device-android,
.is-device-ios {
	.switch-container {
		display: block;
	}
}

html:lang(ru){
	.main__list-item:last-child .main__caption span {
		min-width: 340px;
	}
	@media @tablet-max{
		.main__list-item:nth-child(2) .main__caption span {
			min-width: 210px;
		}
	}
}

.picture{
	&__dark{
		.mode-mob({display: none !important},{display: block !important});
	}
	&__light{
		.mode-mob({display: block !important},{display: none !important;});
	}
}

.ui-helper-hidden-accessible {
	display: none;
}

[data-role="dropdown"] {
	display: none;
}

.ui-autocomplete .ui-menu-item a {
	text-overflow: ellipsis;
	overflow: hidden;
}

@media @tablet-max {
    .main-body.landing.business {
        min-width: 0 !important;
        max-width: 100%;

        .header-site {
            position: static;
            min-width: 0 !important;

            #main-logo {
                margin: 0 -25px;
            }

            .user-buttons {
                display: none;
                margin: 15px -12px;
            }

            > .item {
                width: auto !important;
                margin: 0 15px;

                > a,
                > ul {
                    width: 100%;
                    max-width: 100%;
                }
            }
        }

        .top-prev {
            padding: 220px 15px 15px !important;
            background-size: inherit !important;
            background-position: center !important;
        }

        .nav-buttons:not(.nav-buttons-mobile) {
            display: none;
        }

        .nav-buttons-mobile {
            display: flex;
            flex-wrap: wrap;

            li {
                width: 50%;

                a {
                    text-align: left;
                }
            }

            .language {
                display: none;
            }
        }

        .advantages {
            background: #1c1c1e;
            padding: 15px;
            color: #fff;

            ul {
                list-style: none;
            }

            li {
                position: relative;
                margin-left: 30px;
                padding: 10px 0;
            }

            .counter {
                position: absolute;
                left: -30px;
            }
        }

        .facebook-block {
            display: none;
        }

        .mobile-block {
            display: block;
            text-align: center;
            padding-bottom: 20px;
            border-bottom: 1px solid #5a5a5f;
            .mode({
                color: #333;
            },{
                color: #fff;
            });

            .app-buttons {
                padding-top: 25px;

                a + a {
                    margin-top: 10px;
                }
            }

            .mac {
                display: none;
            }
        }

        .video-block {
            h2 {
                padding: 15px 10px;
                text-align: center;
                .mode({
                    color: #333;
                },{
                    color: #fff;
                });
            }
        }
    }

    .footer-site {
        min-width: 0 !important;
        height: auto;
        padding: 0 !important;
        margin: 0 !important;

        > p,
        > div {
            width: 100%;
        }

        .copyright {
            position: static;
            padding: 15px 0 10px;
        }

        .footer-menu:not(.footer-mobile-menu) {
            display: flex;
            flex-wrap: wrap;

            ul {
                height: auto;

                li {
                    display: block;
                    width: 50%;
                    padding: 10px 0;
                }
            }
        }

        .mobile-apps {
            position: static;
            padding: 30px 0;
        }
    }
}
