@use '../../../../../scss/functions' as f;
@use '../../../../../scss/mixins' as m;
@use '../../../../../scss/vars' as v;

.blog-menu {
    grid-area: menu;
    display: flex;
    gap: 59px;

    @include m.media('<=1520px') {
        gap: 32px;
    }

    @include m.media('<=1360px') {
        display: none;
    }

    &__mobile-menu {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top: var(--mobile-header-height);
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: v.$color-white;
        width: 100%;
        transition:
            opacity 0.2s ease-in-out,
            visibility 0.2s ease-in-out;
        z-index: 1001;

        &--shown {
            opacity: 1;
            visibility: visible;
        }

        @include m.theme('dark') {
            background-color: v.$color-shark;
        }
    }

    &__mobile-menu-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transition: transform 0.2s ease-in-out;
        padding-top: 15px;
        overflow: auto;
        max-height: calc(100dvh - var(--mobile-header-height));

        &--hidden {
            transform: translateX(-100%);
            position: absolute;
            left: 0;
        }
    }

    &__item {
        position: relative;
        list-style: none;
        color: v.$color-ebony-clay;
        border-color: transparent;

        @media (pointer: fine) {
            &:hover {
                border-color: v.$color-science-blue;
                color: v.$color-science-blue;
            }
            &:hover > .blog-menu__dropdown {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
                transition-delay: 0s;
            }
        }

        &:focus-visible {
            border-color: v.$color-science-blue;
            color: v.$color-science-blue;
        }

        &:focus-visible > .blog-menu__dropdown {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            transition-delay: 0s;
        }

        &:not(:hover):not(:focus-within) > .blog-menu__dropdown {
            transition-delay: 0.15s;
        }

        @include m.media('<=1360px') {
            width: 100%;
        }

        @include m.theme('dark') {
            color: v.$color-white;

            @media (pointer: fine) {
                &:hover {
                    border-color: v.$color-science-blue;
                    color: v.$color-science-blue;
                }
            }

            &:focus-visible {
                border-color: v.$color-science-blue;
                color: v.$color-science-blue;
            }
        }

        &--active {
            border-color: v.$color-science-blue;
            color: v.$color-science-blue;

            @include m.theme('dark') {
                border-color: v.$color-science-blue;
                color: v.$color-science-blue;
            }
        }
    }

    &__item-title {
        display: inline-block;
        cursor: pointer;
        font-size: f.px2rem(16px);
        line-height: 100%;
        font-weight: 600;
        white-space: nowrap;
        color: inherit;
        transition:
            color 0.2s ease-in-out,
            border-color 0.2s ease-in-out;
        text-decoration: none;
        border-bottom: 2px solid;
        padding-top: 41px;
        padding-bottom: 40px;
        border-color: inherit;

        @include m.media('<=1520px') {
            font-size: f.px2rem(14px);
        }

        @include m.media('<=1360px') {
            width: 100%;
            text-align: center;
            font-weight: 800;
            font-size: f.px2rem(20px);
            line-height: 120%;
            padding: 23px 22px;
            border-bottom: none;
            color: var(--text-primary-color);
        }

        &--small {
            @include m.media('<=1360px') {
                padding: 0;
            }
        }
    }

    &__dropdown {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition:
            opacity 0.4s ease-in-out,
            visibility 0.4s ease-in-out,
            transform 0.4s ease-in-out;
        position: fixed;
        top: 108%;
        left: 0;
        background: white;
        box-shadow: 10px 10px 20px 0px #10193940;
        padding: 40px 50px;
        z-index: 1000;
        border-radius: 12px;
        cursor: auto;
        max-width: calc(100vw - 40px);

        &::before {
            content: '';
            position: absolute;
            bottom: 100%;
            left: 0;
            height: 11px;
            width: 100%;
        }

        @include m.media('<=1520px') {
            padding: 25px 35px;
        }

        @include m.theme('dark') {
            background-color: v.$color-shark;
            box-shadow: 10px 10px 20px 0px #00000040;
        }
    }

    &__mobile-category-menu {
        visibility: hidden;
        position: absolute;
        width: 100%;
        left: 0;
        transition:
            transform 0.2s ease-in-out,
            visible 0.2s ease-in-out;
        transform: translateX(100%);

        &--shown {
            visibility: visible;
            transform: translateX(0);
            position: relative;
        }
    }

    &__category-list {
        display: grid;
        grid-template-columns: repeat(var(--columns-count, 1), 1fr);
        gap: 80px;
        list-style: none;
        margin: 0;
        overflow-x: auto;
        overflow-y: hidden;

        @include m.media('<=1360px') {
            // 100vh - header height - category header height
            max-height: calc(100vh - var(--mobile-header-height) - 64px);
            overflow-y: auto;
            gap: 0;
        }
    }

    &__category-item {
        display: flex;
        flex-direction: column;
        gap: 27px;

        @include m.media('<=1360px') {
            padding: 22px 18px;
            border-bottom: 1px solid v.$color-cultured;
            padding-bottom: 10px;

            @include m.theme('dark') {
                border-color: v.$color-ship-gray;
            }
        }
    }

    &__category-title {
        font-size: f.px2rem(18px);
        font-weight: 800;
        line-height: 120%;
        color: v.$color-metallic-blue;
        text-transform: uppercase;
        white-space: nowrap;

        @include m.media('<=1520px') {
            font-size: f.px2rem(16px);
        }

        @include m.media('<=1360px') {
            font-size: f.px2rem(18px);
        }

        @include m.theme('dark') {
            color: v.$color-white;
        }

        &--link {
            position: relative;
            text-decoration: none;
            padding-right: 20px;
            cursor: pointer;
            transition: color 0.2s ease-in-out;

            @media (pointer: fine) {
                &:hover {
                    color: v.$color-science-blue;

                    &::before {
                        border-color: v.$color-science-blue;
                    }
                }
            }

            &:focus-visible {
                color: v.$color-science-blue;

                &::before {
                    border-color: v.$color-science-blue;
                }
            }

            @include m.theme('dark') {
                @media (pointer: fine) {
                    &:hover {
                        color: v.$color-science-blue;

                        &::before {
                            border-color: v.$color-science-blue;
                        }
                    }
                }

                &:focus-visible {
                    color: v.$color-science-blue;

                    &::before {
                        border-color: v.$color-science-blue;
                    }
                }
            }

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                right: 7px;
                width: 5px;
                height: 5px;
                border: 2px solid v.$color-metallic-blue;
                border-bottom: none;
                border-left: none;
                transform: rotate(45deg) translateY(-50%);
                transition: border-color 0.2s ease-in-out;

                @include m.media('<=1360px') {
                    content: unset;
                }

                @include m.theme('dark') {
                    border-color: v.$color-white;
                }
            }
        }
    }

    &__mobile-category-title-block {
        position: relative;
        display: flex;
        justify-content: center;
        padding: 20px;
        background-color: v.$color-cultured;

        @include m.theme('dark') {
            background-color: v.$color-shark;
        }
    }

    &__mobile-category-back-button {
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px;
        border: none;
        background-color: transparent;

        & svg {
            fill: v.$color-ebony-clay--20;

            @include m.theme('dark') {
                fill: v.$color-white--50;
            }
        }
    }

    &__subitem-list {
        display: flex;
        flex-direction: column;
        gap: 24px;

        &--flat {
            padding: 24px;
        }

        @include m.media('<=1360px') {
            gap: 0;
        }
    }

    &__subitem {
        display: flex;
        align-items: center;
        gap: 12px;
        list-style: none;
        font-size: f.px2rem(14px);
        font-weight: 600;
        line-height: 120%;
        color: v.$color-ebony-clay;
        text-transform: unset;
        white-space: nowrap;

        @include m.media('<=1360px') {
            gap: 5px;
            font-size: 16px;
        }

        @include m.theme('dark') {
            color: v.$color-white;
        }
    }

    &__subitem-img {
        width: 26px;
        height: 26px;
        border: 1px solid v.$color-arsenic--10;
        border-radius: 8px;

        @include m.media('<=1360px') {
            width: 24px;
            height: 24px;
        }
    }

    &__subitem-link {
        text-decoration: none;
        color: v.$color-ebony-clay;
        cursor: pointer;

        @media (pointer: fine) {
            &:hover {
                color: v.$color-science-blue;
            }
        }

        &:focus-visible {
            color: v.$color-science-blue;
        }

        @include m.media('<=1360px') {
            display: inline-block;
            padding: 12px 0;
            width: 100%;
        }

        @include m.theme('dark') {
            color: v.$color-white;

            @media (pointer: fine) {
                &:hover {
                    color: v.$color-science-blue;
                }
            }

            &:focus-visible {
                color: v.$color-science-blue;
            }
        }

        &--flat {
            @include m.media('<=1360px') {
                padding: 18px;
                text-align: center;
            }
        }
    }

    &__mobile-user-link {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 22px;
        border-top: 2px solid v.$color-cultured;
        text-decoration: none;
        color: v.$color-ebony-clay;

        @include m.theme('dark') {
            border-color: v.$color-shark;
            color: v.$color-white;
        }
    }

    &__mobile-user-link-name-block {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__mobile-user-link-img {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        border: none;
    }

    &__mobile-user-link-name {
        font-size: 16px;
        font-weight: 800;
        line-height: 120%;
    }
}
