/* [aw:update-css-import] for extended */
@import url('/assets/common/fonts/webfonts/open-sans.css?v=1');
@import url('/assets/common/fonts/webfonts/roboto.css?v=1');

@font-face {
	font-family: 'Neo Sans Pro Bold';
	src: url('../../font/NeoSansPro-Bold.eot');
	src: url('../../font/NeoSansPro-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../../font/NeoSansPro-Bold.woff') format('woff'),
		 url('../../font/NeoSansPro-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}