@use '../../../../../UI/Styles/Mixin.scss' as m;
@use '../../../../../UI/Styles/Functions.scss' as f;
@use '../../../../../UI/Styles/Variables.module.scss' as v;

.extensionInfoPane {
    display: grid;
    grid-template-columns: 30px auto;
    grid-template-rows: auto minmax(21px, auto);
    gap: 0 16px;

    &IconContainer {
        grid-row: 1/3;
        grid-column: 1/2;
        width: 30px;
        height: 30px;
        align-self: center;
    }

    &IconStatus {
        opacity: 0;
        animation: 0.2s forwards FadeIn;
    }

    &Description {
        @include m.font(f.px2rem(v.$text-font-size-s), 500, 150%);
        color: var(--text-color-secondary);
        opacity: 0.5;
        align-self: flex-end;
    }

    &Info {
        @include m.font(f.px2rem(v.$text-font-size-s), 600, 150%);
        align-self: flex-start;

        &Installed {
            color: #4dbfa2;
            opacity: 0;
            animation: 0.2s forwards FadeIn;
        }

        &Uninstalled {
            color: var(--error-color);
            opacity: 0;
            animation: 0.2s forwards FadeIn;
        }
    }
}

@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
