{
    // override params here
    "local_docker": {
        "host": "awardwallet.docker",
        "scheme: "http://",
        "xdebugParamName": "XDEBUG_SESSION_START",
        "xdebugParamValue": "YOUR_IDE_KEY_HERE",
        "symfonyEnv": "dev"
    },
    "awardwallet.com": {
        "login": "override_here",
        "password": "override_here",
        "otcApp": 100500,
        "otcEmail": 100500,
        "impersonate": "override_here"
    },
    "staging.awardwallet.com": {
        "clientVersion": "4.40.0+b100500",
        "clientPlatform": "android",
        "basicAuthLogin": "override_here",
        "basicAuthPassword": "override_here"
        "login": "override_here",
        "password": "override_here"
    },
    "flightstats": {
        "flightstats_app_id": "xxx",
        "flightstats_app_key": "xxx"
    }
}
