{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{#<script type="text/ng-template" id="{{ app.request.attributes.get('ngtemplate') }}">#}
    <p>
{% block content %}
{% endblock %}
    </p>
{#</script>#}
