{% if is_granted('USER_ENABLE_TRANSHELPER') %}
    <style type="text/css">
        mark[data-title], input[data-title] {
            background-color: #FEF1B5 !important;
        }

        mark[data-title] mark[data-title] {
            background-color: #61fe42 !important;
        }

        mark[data-title]:hover {
            opacity: 0.8;
        }

        #trans-note {
            width: 400px;
            height: auto;
            background: grey;
            position: fixed;
            top: 200px;
            padding: 10px;
            display: none;
            z-index: 9999;
        }

        #trans-note div {
            margin-bottom: 10px;
        }

        @keyframes nodeInserted {
            from {
                outline-color: #fff;
            }
            to {
                outline-color: #000;
            }
        }

        * {
            animation-duration: 0.01s;
            animation-name: nodeInserted;
        }
    </style>
    {% if not webpack|default(false) %}
        <script>
            function base64_decode(data) {
                var b64 = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=";
                var o1, o2, o3, h1, h2, h3, h4, bits, i = 0, enc = '';

                do {
                    h1 = b64.indexOf(data.charAt(i++));
                    h2 = b64.indexOf(data.charAt(i++));
                    h3 = b64.indexOf(data.charAt(i++));
                    h4 = b64.indexOf(data.charAt(i++));

                    bits = h1 << 18 | h2 << 12 | h3 << 6 | h4;

                    o1 = bits >> 16 & 0xff;
                    o2 = bits >> 8 & 0xff;
                    o3 = bits & 0xff;

                    if (h3 == 64)      enc += String.fromCharCode(o1);
                    else if (h4 == 64) enc += String.fromCharCode(o1, o2);
                    else               enc += String.fromCharCode(o1, o2, o3);
                } while (i < data.length);

                return enc;
            }

            var note;
            var lastTootltip;

            function replaceTags(parent) {
                var children = parent.childNodes;
                
                for (var i = 0; i < children.length; i++) {
                    if(children[i].nodeType === 3){

                        
                        
                    }
                    if (children[i].nodeType === 3 && children[i].data && children[i].data.match(/<mark.+?<\/mark>/s) || children[i].nodeName === 'MARK') {
                        children[i].parentNode.innerHTML = children[i].parentNode.innerHTML
                            .replace(/&lt;/g, '<')
                            .replace(/&gt;/g, '>');
                    }
                    if(children[i].nodeType === 3 && children[i].data && (children[i].data.toLowerCase().includes('&lt;') || children[i].data.toLowerCase().includes('&gt;'))){
                        children[i].parentNode.innerHTML = children[i].data
                            .replace(/&lt;/gi, '<')
                            .replace(/&gt;/gi, '>');
                    }
                    if (children[i].childNodes.length !== 0 && children[i].nodeType !== 3) {
                        replaceTags(children[i]);
                    }
                }
            }

            document.addEventListener(
                'animationstart',
                function (event) {
                    if (event.animationName === 'nodeInserted') {
                        var placeholder;
                        if (
                            event.target.placeholder &&
                            (placeholder = /<mark.+?>(.+?)<\/mark>/.exec(event.target.placeholder))
                        ) {
                            var tag = /data-title="(.*?)"/.exec(placeholder[0]);
                            event.target.setAttribute('data-title', tag[1]);
                            event.target.placeholder = placeholder[1];
                        }

                        var children = event.target.childNodes,
                            mark;

                        replaceTags(event.target);

                        for (var i = 0; i < children.length; i++) {
                            // For inputs which look as button (text in value attribute)
                            if(children[i].nodeName === 'INPUT'){
                                var inputValue = children[i].value;
                                var tempElement = document.createElement('div');
                                tempElement.innerHTML = inputValue;

                                var markElement = tempElement.querySelector('mark');

                                if(markElement){
                                    var dataTitle = markElement.getAttribute('data-title');
    
                                    var innerText = markElement.textContent;
                                    
                                    children[i].value = innerText;
                                    children[i].setAttribute('data-title',dataTitle);
                                }

                            }

                            if (
                                children[i].nodeName === 'MARK' ||
                                children[i].nodeName === 'INPUT' ||
                                children[i].nodeName === 'A' ||
                                children[i].nodeName === 'BUTTON'
                            ) {
                                // noinspection JSUnresolvedVariable
                                children[i].addEventListener('click', function (event) {
                                    // noinspection JSUnresolvedVariable
                                    if (event.metaKey || event.altKey) {
                                        var target = event.target;
                                        if ('A' === event.target.nodeName) {
                                            mark = $('>mark', $(event.target));
                                            if (mark.length) target = mark[0];
                                        } else if ('BUTTON' === event.target.nodeName) {
                                            mark = $('mark:first', $(event.target));
                                            if (mark.length) target = mark[0];
                                        }

                                        event.preventDefault();
                                        event.stopPropagation();

                                        var base64 = target.getAttribute('data-title');
                                        if (base64) {
                                            var data = JSON.parse(base64_decode(base64));
                                            var id = document.createElement('div');
                                            id.innerText = 'ID: ' + data.id;
                                            var domain = document.createElement('div');
                                            domain.innerText = 'Domain: ' + data.domain;
                                            var message = document.createElement('div');
                                            message.innerText = 'Message: ' + data.message;

                                            note.empty();
                                            note.append(id);
                                            note.append(domain);
                                            note.append(message);
                                            note.css('display', 'block');
                                        }

                                        window.stop();
                                        return false;
                                    }
                                });
                            }

                            if (children[i].nodeName === 'A' && children[i].hasAttribute('title')) {
                                children[i].addEventListener('mouseenter', function (event) {
                                    lastTootltip = event.target;
                                });
                            }
                        }
                    }
                },
                true,
            );
            

            document.addEventListener('click', function (event) {
                if (typeof note != 'undefined' && event.target.parentElement != note[0]) {
                    note.css('display', 'none');
                }
            });

            document.addEventListener('keydown', function (event) {
                if (event.altKey && typeof lastTootltip != 'undefined') {
                    $(lastTootltip).trigger('mouseenter');
                }
            });
            document.addEventListener('keyup', function (event) {
                if (event.altKey && typeof lastTootltip != 'undefined') {
                    $(lastTootltip).trigger('mouseleave');
                }
            });
        </script>
    {% endif %}
{% endif %}

{% if not webpack|default(false) %}
    <script>
        require(["jquery-boot"], function ($) {
            $(function () {
                {% if is_granted('USER_ENABLE_TRANSHELPER') %}

                    var body = document.body;

                    replaceTags(body)
                {% endif %}

                var menu = $('ul.footer-menu');
                if (menu.length === 1) {
                    var li = $('<li>');
                    var a = $('<a>', {
                        href: '#',
                        text: document.cookie.match(/transhelper=/) ? 'Disable Transhelper' : 'Enable TransHelper',
                        click: function(event) {
                            event.preventDefault();

                            if (!document.cookie.match(/transhelper/)) {
                                document.cookie = "transhelper=1;path=/";
                                console.log('Set transhelper cookie');
                            } else {
                                document.cookie = "transhelper=;path=/;expires=Thu, 2 Aug 2001 20:47:11 UTC;domain=";
                                console.log('Destroy transhelper cookie');
                            }
                            location.reload();
                        }
                    });
                    li.append(a);
                    menu.append(li);

                    note = $('<div id="trans-note"></div>');
                    menu.after(note);   
                }else{
                    note = $('<div id="trans-note"></div>');
                    $('main').append(note);
                }
                window.addEventListener('resize', function() {
                        note.css('left', window.innerWidth / 2 - 200 + 'px');
                    });
                    note.css('left', window.innerWidth / 2 - 200 + 'px');
            });
        });
    </script>
{% endif %}
