.opening-hours-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 4px;
    padding: 4px 0;
}
.opening-hours-actions .status {
    display: inline-block;
    font-size: 0.9em;
    padding: 5px 10px;
}
.opening-hours-actions .status.success {
    color: green;
}
.opening-hours-actions .status.error {
    color: red;
}

#lounge_freezeAction {
    padding: 4px 10px;
    border-radius: 4px;
    background-color: #fff5d5;
}