<div class="pull-to-refresh loader">
    <i class="icon-arrow"></i>
    <i class="icon-green-check-s"></i>
    <div class="loading"></div>
    <p class="text-pull uppercase">{{'pull.to.refresh'|trans:{}:'mobile'|desc:'Pull down to sync with AwardWallet'}}</p>
    <p class="text-release uppercase">{{'release.to.refresh'|trans:{}:'mobile'|desc:'Release to sync with AwardWallet'}}</p>
    <p class="text-complete uppercase">{{'complete.sync'|trans:{}:'mobile'|desc:'Sync with AwardWallet complete'}}</p>
    <p class="text-updating uppercase">{{'synchronizing'|trans:{}:'mobile'|desc:'Synchronizing...'}}</p>
    <p>{{'last.sync'|trans:{time:''}:'mobile'|desc:'Last sync: %time%'}}<span class="lowercase" time-ago="time"></span></p>
</div>