<page-content>
    <div class="content-item">
        <div class="no-requests">
            <i class="icon-info"></i>
            <p>{{'booking.add-request'|trans:{}:'mobile'|desc:'Unfortunately at the moment we don\'t have a mobile-friendly version of our booking request form, so you can either use a computer to create a new booking request or you can submit a booking request here using our desktop interface.'}}</p>
        </div>
        <a class="add-booking-request" ng-click="booking.desktop.add()"><i class="icon-add"></i><span>{{'menu.booking.add'|trans:{}:'menu'}}</span></a>
    </div>
</page-content>
