i[class^="flag-"],
i[class*=" flag-"]{
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	.size(12px,11px);
	.mode({
		background-image: url('@{default-folder}flags@2x.png');
		background-size: 13px 324px;
	},{
		background-image: url('@{default-folder}flags@2x.png');
		background-size: 13px 324px;
	});
}
.flag-en{
	background-position: -1px -1px;
}
.flag-de{
	background-position: -1px -13px;
}
.flag-fr{
	background-position: -1px -25px;
}
.flag-es{
	background-position: -1px -37px;
}
.flag-ch{
	background-position: -1px -61px;
}
.flag-ja{
	background-position: -1px -73px;
}
.flag-pt{
	background-position: -1px -49px;
}
.flag-ru{
	background-position: -1px -97px;
}
.flag-israel{
	background-position: -1px -133px;
}
.flag-denmark{
	background-position: -1px -121px;
}
.flag-holand{
	background-position: -1px -85px;
}
.flag-it{
	background-position: -1px -109px;
}
.flag-sv{
	background-position: -1px -157px;
}
.flag-no{
	background-position: -1px -145px;
}
.flag-fi{
	background-position: -1px -169px;
}
.flag-et{
	background-position: -1px -181px;
}
.flag-ro{
	background-position: -1px -193px;
}
.flag-tr{
	background-position: -1px -205px;
}
.flag-pl{
	background-position: -1px -217px;
}
.flag-vi{
	background-position: -1px -229px;
}
.flag-cs{
	background-position: -1px -241px;
}
.flag-hu{
	background-position: -1px -253px;
}
.flag-id{
	background-position: -1px -265px;
}
.flag-ca{
	background-position: -1px -277px;
}
.flag-bg{
	background-position: -1px -299px;
}
.flag-ua{
	background-position: -1px -301px;
}
.flag-ko{
	background-position: -1px -313px;
}