.logo{
	.size(236px, 54px);
	background-position: 25px 16px;
	background-repeat: no-repeat;
	float: left;
	text-decoration: none;
	display: block;
	.mode({
		background-image: url('@{default-folder}logo@2x.png');
		background-size: 182px 22px;
	},{
		background-image: url('@{default-folder}logo-white@2x.png');
		background-size: 182px 22px;
	});
	&.abc{
		.at2x('@{default-folder}logo/abc.png@{version}', 230px,54px);
		background-position: center center;
		background-size: 230px 54px;
	}
	&.abroaders{
		.at2x('@{default-folder}logo/abroaders.png@{version}', 230px,54px);
		background-position: center center;
		background-size: 230px 54px;
	}
	&.abs{
		.at2x('@{default-folder}logo/awardbs.png@{version}', 230px,54px);
		background-position: center center;
		background-size: 230px 54px;
	}
	&.awardmagic{
		.at2x('@{default-folder}logo/awardmagic.png@{version}', 230px,54px);
		background-position: center center;
		background-size: 230px 54px;
	}
	&.awardbandit{
		.at2x('@{default-folder}logo/awardbandit.png@{version}', 230px,54px);
		background-position: center center;
		background-size: 230px 54px;
	}
	&.bjcvip{
		.mode({
			background: url('@{default-folder}logo/bjcvip@2x.png') center center no-repeat;
			background-size: 230px 54px;
		},{
			background: url('@{default-folder}logo/bjcvip-dark@2x.png') center center no-repeat;
			background-size: 230px 54px;
		});
	}
	&.bya{
		.at2x('@{default-folder}logo/bya.png@{version}', 230px,54px);
		background-position: center center;
		background-size: 230px 54px;
	}
	&.cwt{
		.at2x('@{default-folder}logo/cwt.png@{version}', 230px,54px);
		background-position: center center;
		background-size: 230px 54px;
	}
	&.iflyflat{
		.at2x('@{default-folder}logo/iflyflat.png@{version}', 230px,54px);
		background-position: center center;
		background-size: 230px 54px;
	}
	&.scotiainspire{
		.at2x('@{default-folder}logo/inspire.png@{version}', 230px,54px);
		background-position: center center;
		background-size: 230px 54px;
	}
	&.regalwings{
		.at2x('@{default-folder}logo/regalwings.png@{version}', 230px,54px);
		background-position: center center;
		background-size: 230px 54px;
	}
	&.flightdoc{
		.at2x('@{default-folder}logo/theflightdoc.png@{version}', 230px,54px);
		background-position: center center;
		background-size: 230px 54px;
	}
	&.fcm{
		.at2x('@{default-folder}logo/fcm.png@{version}', 230px,54px);
		background-position: center center;
		background-size: 230px 54px;
	}
	&.smartflyer{
		.at2x('@{default-folder}logo/smartflyer.png@{version}', 230px,54px);
		background-position: center center;
		background-size: 230px 54px;
	}
	&.flyclever{
		.at2x('@{default-folder}logo/flyclever.png@{version}', 230px,54px);
		background-position: center center;
		background-size: 230px 54px;
	}
	&.taylor{
		.at2x('@{default-folder}logo/taylor.png@{version}', 230px,54px);
		background-position: center center;
		background-size: 230px 54px;
	}
	&.jpmilhas{
		.at2x('@{default-folder}logo/jpmilhas.png@{version}', 230px,54px);
		background-position: center center;
		background-size: 230px 54px;
	}
	&.concierge{
		.at2x('@{default-folder}logo/concierge.png@{version}', 230px,54px);
		background-position: center center;
		background-size: 230px 54px;
	}
	&.isolutions{
		.at2x('@{default-folder}logo/isolutions.png@{version}', 230px,54px);
		background-position: center center;
		background-size: 230px 54px;
	}
	&.awardinsiders{
		.at2x('@{default-folder}logo/awardinsiders.png@{version}', 230px,54px);
		background-position: center center;
		background-size: 230px 54px;
	}
	&.miles4migrants{
		.at2x('@{default-folder}logo/miles4migrants.png@{version}', 230px,54px);
		background-position: center center;
		background-size: 230px 54px;
	}
	&.rewardsmith{
		.at2x('@{default-folder}logo/rewardsmith.png@{version}', 230px,54px);
		background-position: center center;
		background-size: 230px 54px;
	}
	&.atm{
		.at2x('@{default-folder}logo/atm.png@{version}', 230px,54px);
		background-position: center center;
		background-size: 230px 54px;
	}
	&.ep{
		.at2x('@{default-folder}logo/ep.png@{version}', 230px,54px);
		background-position: center center;
		background-size: 230px 54px;
	}
	&.moroccanoil{
		.at2x('@{default-folder}logo/moroccanoil.png@{version}', 230px,54px);
		background-position: center center;
		background-size: 230px 54px;
	}
	&.bookawardflights{
		.at2x('@{default-folder}logo/bookawardflights.png', 230px,54px);
		background-position: center center;
		background-size: 230px 54px;
	}
}