@import '../helpers/mixins';
@import '../helpers/variables';

._logo{
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    &.american-airlines{
        .size(200px,31px);
        .at2x('@{default-folder}logo/oneworld/american-airlines.png', 200px,31px);
    }
    &.british-airways{
        .size(200px,31px);
        .at2x('@{default-folder}logo/oneworld/british-airways.png', 200px,31px);
    }
    &.cathay-paific{
        .size(200px,28px);
        .at2x('@{default-folder}logo/oneworld/cathay-paific.png', 200px,28px);
    }
    &.fiji-airways{
        .size(160px,26px);
        .at2x('@{default-folder}logo/oneworld/fiji-airways.png', 160px,26px);
    }
    &.finnair{
        .size(161px,18px);
        .at2x('@{default-folder}logo/oneworld/finnair.png', 161px,18px);
    }
    &.iberia{
        .size(161px,36px);
        .at2x('@{default-folder}logo/oneworld/iberia.png', 161px,36px);
    }
    &.iberia{
        .size(161px,36px);
        .at2x('@{default-folder}logo/oneworld/iberia.png', 161px,36px);
    }
    &.japan-airlines{
        .size(200px,19px);
        .at2x('@{default-folder}logo/oneworld/japan-airlines.png', 200px,19px);
    }
    &.latam{
        .size(160px,38px);
        .at2x('@{default-folder}logo/oneworld/latam.png', 160px,38px);
    }
    &.malaysia-airlines{
        .size(160px,39px);
        .at2x('@{default-folder}logo/oneworld/malaysia-airlines.png', 160px,39px);
    }
    &.qantas{
        .size(160px,32px);
        .at2x('@{default-folder}logo/oneworld/qantas.png', 160px,32px);
    }
    &.qatar-airways{
        .size(160px,46px);
        .at2x('@{default-folder}logo/oneworld/qatar-airways.png', 160px,46px);
    }
    &.royal-air-maroc{
        .size(161px,110px);
        .at2x('@{default-folder}logo/oneworld/royal-air-maroc.png', 161px,110px);
    }
    &.royal-jordanian{
        .size(160px,38px);
        .at2x('@{default-folder}logo/oneworld/royal-jordanian.png', 160px,38px);
    }
    &.s7-airlines{
        .size(161px,52px);
        .at2x('@{default-folder}logo/oneworld/s7-airlines.png', 161px,52px);
    }
    &.srilankan-airlines{
        .size(200px,30px);
        .at2x('@{default-folder}logo/oneworld/srilankan-airlines.png', 200px,30px);
    }
    &.aeroflot{
        .size(200px,35px);
        .at2x('@{default-folder}logo/skyteam/aeroflot.png', 200px,35px);
    }
    &.aerolineas-argentinas{
        .size(160px,67px);
        .at2x('@{default-folder}logo/skyteam/aerolineas-argentinas.png', 160px,67px);
    }
    &.aeromexico{
        .size(200px,36px);
        .at2x('@{default-folder}logo/skyteam/aeromexico.png', 200px,36px);
    }
    &.air-europa{
        .size(160px,31px);
        .at2x('@{default-folder}logo/skyteam/air-europa.png', 160px,31px);
    }
    &.air-france{
        .size(200px,18px);
        .at2x('@{default-folder}logo/skyteam/air-france.png', 200px,18px);
    }
    &.alitalia{
        .size(161px,37px);
        .at2x('@{default-folder}logo/skyteam/alitalia.png', 161px,37px);
    }
    &.china-airlines{
        .size(200px,31px);
        .at2x('@{default-folder}logo/skyteam/china-airlines.png', 200px,31px);
    }
    &.china-eastern{
        .size(160px,35px);
        .at2x('@{default-folder}logo/skyteam/china-eastern.png', 160px,35px);
    }
    &.czech-airlines{
        .size(160px,54px);
        .at2x('@{default-folder}logo/skyteam/czech-airlines.png', 160px,54px);
    }
    &.delta-air-lines{
        .size(200px,31px);
        .at2x('@{default-folder}logo/skyteam/delta-air-lines.png', 200px,31px);
    }
    &.garuda-indonesia{
        .size(200px,37px);
        .at2x('@{default-folder}logo/skyteam/garuda-indonesia.png', 200px,37px);
    }
    &.kenya-airways{
        .size(200px,46px);
        .at2x('@{default-folder}logo/skyteam/kenya-airways.png', 200px,46px);
    }
    &.korean-air{
        .size(200px,24px);
        .at2x('@{default-folder}logo/skyteam/korean-air.png', 200px,24px);
    }
    &.mea{
        .size(200px,34px);
        .at2x('@{default-folder}logo/skyteam/mea.png', 200px,34px);
    }
    &.saudia-airlines{
        .size(161px,48px);
        .at2x('@{default-folder}logo/skyteam/saudia-airlines.png', 161px,48px);
    }
    &.tarom{
        .size(160px,48px);
        .at2x('@{default-folder}logo/skyteam/tarom.png', 160px,48px);
    }
    &.vietnam-airlines{
        .size(200px,25px);
        .at2x('@{default-folder}logo/skyteam/vietnam-airlines.png', 200px,25px);
    }
    &.xiamen-air{
        .size(200px,21px);
        .at2x('@{default-folder}logo/skyteam/xiamen-air.png', 200px,21px);
    }
    &.adria-airways{
        .size(161px,24px);
        .at2x('@{default-folder}logo/star-alliance/adria-airways.png', 161px,24px);
    }
    &.aegean-airlines{
        .size(161px,25px);
        .at2x('@{default-folder}logo/star-alliance/aegean-airlines.png', 161px,25px);
    }
    &.air-canada{
        .size(200px,27px);
        .at2x('@{default-folder}logo/star-alliance/air-canada.png', 200px,27px);
    }
    &.air-china{
        .size(160px,52px);
        .at2x('@{default-folder}logo/star-alliance/air-china.png', 160px,52px);
    }
    &.air-india{
        .size(160px,42px);
        .at2x('@{default-folder}logo/star-alliance/air-india.png', 160px,42px);
    }
    &.air-new-zealand{
        .size(200px,34px);
        .at2x('@{default-folder}logo/star-alliance/air-new-zealand.png', 200px,34px);
    }
    &.air-portugal{
        .size(200px,34px);
        .at2x('@{default-folder}logo/star-alliance/air-portugal.png', 200px,34px);
    }
    &.ana{
        .size(161px,42px);
        .at2x('@{default-folder}logo/star-alliance/ana.png', 161px,42px);
    }
    &.asiana-airlines{
        .size(200px,38px);
        .at2x('@{default-folder}logo/star-alliance/asiana-airlines.png', 200px,38px);
    }
    &.austrian-airlines{
        .size(200px,29px);
        .at2x('@{default-folder}logo/star-alliance/austrian-airlines.png', 200px,29px);
    }
    &.avianca{
        .size(160px,37px);
        .at2x('@{default-folder}logo/star-alliance/avianca.png', 160px,37px);
    }
    &.brussels-ailines{
        .size(200px,31px);
        .at2x('@{default-folder}logo/star-alliance/brussels-ailines.png', 200px,31px);
    }
    &.copa-airlines{
        .size(161px,27px);
        .at2x('@{default-folder}logo/star-alliance/copa-airlines.png', 161px,27px);
    }
    &.croatia-airlines{
        .size(200px,17px);
        .at2x('@{default-folder}logo/star-alliance/croatia-airlines.png', 200px,17px);
    }
    &.egyptair{
        .size(160px,24px);
        .at2x('@{default-folder}logo/star-alliance/egyptair.png', 160px,24px);
    }
    &.ethiopian-airlines{
        .size(160px,67px);
        .at2x('@{default-folder}logo/star-alliance/ethiopian-airlines.png', 160px,67px);
    }
    &.eva-air{
        .size(160px,37px);
        .at2x('@{default-folder}logo/star-alliance/eva-air.png', 160px,37px);
    }
    &.lot-polish-airlines{
        .size(120px,52px);
        .at2x('@{default-folder}logo/star-alliance/lot-polish-airlines.png', 120px,52px);
    }
    &.lufthansa{
        .size(200px,35px);
        .at2x('@{default-folder}logo/star-alliance/lufthansa.png', 200px,35px);
    }
    &.sas{
        .size(121px,43px);
        .at2x('@{default-folder}logo/star-alliance/sas.png', 121px,43px);
    }
    &.shenzhen-airlines{
        .size(161px,49px);
        .at2x('@{default-folder}logo/star-alliance/shenzhen-airlines.png', 161px,49px);
    }
    &.singapore-airlines{
        .size(161px,60px);
        .at2x('@{default-folder}logo/star-alliance/singapore-airlines.png', 161px,60px);
    }
    &.south-african-airways{
        .size(200px,76px);
        .at2x('@{default-folder}logo/star-alliance/south-african-airways.png', 200px,76px);
    }
    &.swiss-international-air-lines{
        .size(161px,38px);
        .at2x('@{default-folder}logo/star-alliance/swiss-international-air-lines.png', 161px,38px);
    }
    &.thai-airways{
        .size(160px,48px);
        .at2x('@{default-folder}logo/star-alliance/thai-airways.png', 160px,48px);
    }
    &.turkish-airlines{
        .size(200px,32px);
        .at2x('@{default-folder}logo/star-alliance/turkish-airlines.png', 200px,32px);
    }
    &.united-airlines{
        .size(160px,29px);
        .at2x('@{default-folder}logo/star-alliance/united-airlines.png', 160px,29px);
    }
} 