@use '../../../UI/Styles/Mixin.scss' as m;
@use '../../../UI/Styles/Functions.scss' as f;
@use '../../../UI/Styles/Variables.module.scss' as v;

:global(.header-site) {
    @include m.media('<=lg') {
        display: none;
    }
}

:global(.main-body) {
    @include m.media('<=lg') {
        padding: 0;
        min-width: unset;
    }
}

:global(.page) {
    @include m.media('<=lg') {
        padding: 0;
        min-width: unset;
    }
}

:global(.main-body.hide-menu .page) {
    @include m.media('<=lg') {
        padding: 0;
    }
}

:global(.switch-container) {
    @include m.media('<=lg') {
        display: none !important;
    }
}

:global(.footer-site) {
    @include m.media('<=lg') {
        display: none;
    }
}

.prePaymentPage {
    padding: 60px;
    min-height: 577px;
    background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0) 80%,
            rgba(255, 255, 255, 1) 100%
        ),
        url('./Assets/bg-lines.svg');
    background-position: 100%;
    background-repeat: no-repeat;
    background-color: var(--background-color-main);

    @include m.theme('dark') {
        background: linear-gradient(
                to bottom,
                rgba(28, 28, 30, 0) 0%,
                rgba(28, 28, 30, 0) 80%,
                rgba(28, 28, 30, 1) 100%
            ),
            url('./Assets/bg-lines-dark.svg');
        background-position: 100%;
        background-repeat: no-repeat;
        background-color: var(--background-color-main);
    }

    @media only screen and (max-width: 852px) {
        background-image: unset;
        padding: 24px 15px;
    }

    &Title {
        @include m.font(f.px2rem(44px), 800, 120%, true);
        margin-top: 0;
        margin-bottom: 65px;
        color: var(--text-color-secondary);

        @media only screen and (max-width: 852px) {
            font-size: f.px2rem(v.$title-font-size-m);
            margin-bottom: 22px;
        }

        &Wrapper {
            color: var(--text-color-hover);
            max-width: 100%;
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &RegularColor {
            color: var(--text-color-secondary);
        }

        &Highlighted {
            color: var(--text-color-hover);
        }
    }
}
