.aw_extension {
  width: 239px;
  height: 183px;
  background-image: url('./assets/aw_extension.png');
  background-image: -webkit-image-set(
                  url("./assets/aw_extension.png") 1x,
                  url("./assets/aw_extension@2x.png") 2x,
                  url("./assets/aw_extension@3x.png") 3x,
                  url("./assets/aw_extension@4x.png") 4x);
  background-image: image-set(
                  url("./assets/aw_extension.png") 1x,
                  url("./assets/aw_extension@2x.png") 2x,
                  url("./assets/aw_extension@3x.png") 3x,
                  url("./assets/aw_extension@4x.png") 4x);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  margin-bottom: 25px;
}

.aw_extension.ios18 {
  width: 260px;
  height: 164px;
  background-image: url('./assets/aw_extension-ios18.png');
  background-image: -webkit-image-set(
                  url("./assets/aw_extension-ios18.png") 1x,
                  url("./assets/aw_extension-ios18@2x.png") 2x,
                  url("./assets/aw_extension-ios18@3x.png") 3x,
                  url("./assets/aw_extension-ios18@4x.png") 4x);
  background-image: image-set(
                  url("./assets/aw_extension-ios18.png") 1x,
                  url("./assets/aw_extension-ios18@2x.png") 2x,
                  url("./assets/aw_extension-ios18@3x.png") 3x,
                  url("./assets/aw_extension-ios18@4x.png") 4x);
}

.browser_extension {
  width: 239px;
  height: 183px;
  background-image: url('./assets/browser_extension.png');
  background-image: -webkit-image-set(
                  url("./assets/browser_extension.png") 1x,
                  url("./assets/browser_extension@2x.png") 2x,
                  url("./assets/browser_extension@3x.png") 3x,
                  url("./assets/browser_extension@4x.png") 4x);
  background-image: image-set(
                  url("./assets/browser_extension.png") 1x,
                  url("./assets/browser_extension@2x.png") 2x,
                  url("./assets/browser_extension@3x.png") 3x,
                  url("./assets/browser_extension@4x.png") 4x);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  margin-bottom: 25px;
}

.browser_extension.ios18 {
  width: 260px;
  height: 222px;
  background-image: url('./assets/browser_extension-ios18.png');
  background-image: -webkit-image-set(
                  url("./assets/browser_extension-ios18.png") 1x,
                  url("./assets/browser_extension-ios18@2x.png") 2x,
                  url("./assets/browser_extension-ios18@3x.png") 3x,
                  url("./assets/browser_extension-ios18@4x.png") 4x);
  background-image: image-set(
                  url("./assets/browser_extension-ios18.png") 1x,
                  url("./assets/browser_extension-ios18@2x.png") 2x,
                  url("./assets/browser_extension-ios18@3x.png") 3x,
                  url("./assets/browser_extension-ios18@4x.png") 4x);
}

.manage_extension {
  width: 270px;
  height: 130px;
  background-image: url('./assets/manage_extensions.png');
  background-image: -webkit-image-set(
                  url("./assets/manage_extensions.png") 1x,
                  url("./assets/manage_extensions@2x.png") 2x,
                  url("./assets/manage_extensions@3x.png") 3x,
                  url("./assets/manage_extensions@4x.png") 4x);
  background-image: image-set(
                  url("./assets/manage_extensions.png") 1x,
                  url("./assets/manage_extensions@2x.png") 2x,
                  url("./assets/manage_extensions@3x.png") 3x,
                  url("./assets/manage_extensions@4x.png") 4x);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  margin-bottom: 25px;
}

.access_popup_1 {
  width: 154px;
  height: 176px;
  background-image: url('./assets/access_popup_1.png');
  background-image: -webkit-image-set(
                  url("./assets/access_popup_1.png") 1x,
                  url("./assets/access_popup_1@2x.png") 2x,
                  url("./assets/access_popup_1@3x.png") 3x,
                  url("./assets/access_popup_1@4x.png") 4x);
  background-image: image-set(
                  url("./assets/access_popup_1.png") 1x,
                  url("./assets/access_popup_1@2x.png") 2x,
                  url("./assets/access_popup_1@3x.png") 3x,
                  url("./assets/access_popup_1@4x.png") 4x);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.access_popup_2 {
  position: absolute;
  bottom: 22px;
  width: 173px;
  height: 28px;
  z-index: 999;
  background-image: url('./assets/access_popup_2.png');
  background-image: -webkit-image-set(
                  url("./assets/access_popup_2.png") 1x,
                  url("./assets/access_popup_2@2x.png") 2x,
                  url("./assets/access_popup_2@3x.png") 3x,
                  url("./assets/access_popup_2@4x.png") 4x);
  background-image: image-set(
                  url("./assets/access_popup_2.png") 1x,
                  url("./assets/access_popup_2@2x.png") 2x,
                  url("./assets/access_popup_2@3x.png") 3x,
                  url("./assets/access_popup_2@4x.png") 4x);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 5px 8px 21px #e2e2e2;
}

.access_popup_every_websites_1 {
  width: 154px;
  height: 176px;
  background-image: url('./assets/always-allow-every-website-1.png');
  background-image: -webkit-image-set(
                  url("./assets/always-allow-every-website-1.png") 1x,
                  url("./assets/always-allow-every-website-1@2x.png") 2x,
                  url("./assets/always-allow-every-website-1@3x.png") 3x);
  background-image: image-set(
                  url("./assets/always-allow-every-website-1.png") 1x,
                  url("./assets/always-allow-every-website-1@2x.png") 2x,
                  url("./assets/always-allow-every-website-1@3x.png") 3x);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.access_popup_every_websites_2 {
  position: absolute;
  bottom: 22px;
  width: 190px;
  height: 28px;
  z-index: 999;
  background-image: url('./assets/always-allow-every-website-2.png');
  background-image: -webkit-image-set(
                  url("./assets/always-allow-every-website-2.png") 1x,
                  url("./assets/always-allow-every-website-2@2x.png") 2x,
                  url("./assets/always-allow-every-website-2@3x.png") 3x);
  background-image: image-set(
                  url("./assets/always-allow-every-website-2.png") 1x,
                  url("./assets/always-allow-every-website-2@2x.png") 2x,
                  url("./assets/always-allow-every-website-2@3x.png") 3x);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 5px 8px 21px #e2e2e2;
}

.extension_button {
  display: inline-block;
  width: 12px;
  height: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  margin-left: 3px;
  background-image: url("./assets/ios-extension-button.svg");
}

.text_image {
  display: inline-block;
  width: 23px;
  height: 14px;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-image: url("./assets/text-image.png");
}

.extension_button_ios18 {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-image: url("./assets/extension-icon-ios18.png");
}

.settings_step_1 {
  width: 100%;
  height: 225px;
  background-image: url('./assets/settings-set-1.png');
  background-image: -webkit-image-set(
                  url("./assets/settings-set-1.png") 1x,
                  url("./assets/settings-set-1@2x.png") 2x,
                  url("./assets/settings-set-1@3x.png") 3x);
  background-image: image-set(
                  url("./assets/settings-set-1.png") 1x,
                  url("./assets/settings-set-1@2x.png") 2x,
                  url("./assets/settings-set-1@3x.png") 3x);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.settings_step_2 {
  width: 100%;
  height: 225px;
  background-image: url('./assets/settings-set-2.png');
  background-image: -webkit-image-set(
                  url("./assets/settings-set-2.png") 1x,
                  url("./assets/settings-set-2@2x.png") 2x,
                  url("./assets/settings-set-2@3x.png") 3x);
  background-image: image-set(
                  url("./assets/settings-set-2.png") 1x,
                  url("./assets/settings-set-2@2x.png") 2x,
                  url("./assets/settings-set-2@3x.png") 3x);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
