input {
	font-family: Arial;
}
.ui-dialog{
	border: 5px solid rgb(210,212,216) !important;
}
.arrow-popup{
	border-right: 10px solid rgb(210,212,216);
	left: -13px !important;
}
.ui-tooltip{
	background: rgb(75,75,75)!important;
}
.ui-datepicker{
	border:1px solid #a9aba9!important;
}
.ui-tooltip .bottom:after,
.ui-tooltip .bottom:before{
	border-top: 7px solid rgb(75,75,75)!important;
	bottom: -7px !important;
}
.ui-tooltip .top:after,
.ui-tooltip .top:before{
	border-bottom: 7px solid rgb(75,75,75)!important;
	top: -7px !important;
}
.ui-dialog-buttonset [class^="btn-"],
.ui-dialog-buttonset [class*=" btn-"]{
	min-width: 50px !important;
	width: auto !important;
}
.main-form .row:hover{
	background: #f9f9fa;
}
.main-form .row.error:hover{
	background: #d9365a;
}
.header-site .credit-card{
	display: none;
}
.main-form .checkbox-row label{
	display: inline-block;
	vertical-align: top;
	max-width: 90%;
	margin-left: 10px;
}
[class^="icon-"]:hover,
[class*=" icon-"]:hover,
[class^="icon-"].disable,
[class*=" icon-"].disable,
[class^="icon-"].disable:hover,
[class*=" icon-"].disable:hover{
	filter: none !important;
	opacity: 1 !important;
	/*display: none !important;*/
}

.ajax-loader .loading{
	margin-left: -55px !important;
	margin-top: -20px !important;
}

.styled-select select{
	filter: none;
	margin-top: -7px;
}
.main-form .row .row-item>label[for=card_info_expiration_month]{
	width: 133px!important;
}

.main-body.landing .ui-dialog input[type=checkbox]{
	display: inline-block !important;
	vertical-align: top !important;
}

.main-body.landing .ui-dialog .btn-blue,
.main-body.landing .ui-dialog .btn-silver{
	padding: 0 !important;
	text-shadow:none !important;
}

input[type=checkbox],
input[type=radio] {
	width: auto !important;
	height: auto !important;
	filter: none !important;
	position: inherit !important;
}
label.label,
label.radio{
	padding-left: 0 !important;
}
input[type=checkbox].checkbox + label.label:before,
input[type=checkbox].checkbox:checked + label.label,
input[type=radio].radio + label.label:before,
input[type=radio].radio:checked + label.label{
	display: none !important;
}

.main-body.landing .login-in .row:hover,
.main-body.landing .sign-in .row:hover,
.main-body.landing .forgot-password .row:hover{
	background: transparent !important;
}

.main-body.landing .login-in .btn-silver{
	display: none !important;
}

/*.change-password form.main-form{
	margin-left: -270px;
	margin-top: -100px;
}*/

.add-account .faq .heading p{
	margin-top: 0 !important;
}

.account-list .expire-row [class*=' icon-'],
.account-list .expire-row [class^='icon-']{
	float: left;
}

.account-list .expire p,
.account-list .expire span,
.account-list .expire a{
	display: block;
	width: 180px;
}

input[type=checkbox].checkbox+label.label.minus:after{
	display: none !important;
}

#mark{
	float: left !important;
	margin-top: 10px !important;
}

a.reset-input{
	display: none !important;
}

.main-ui-view{
	position: relative !important;
	top:30px !important;
}

.header-site .header-area:after{
	background: transparent !important;
}

.login-in form,
.sign-in form,
.forgot-password form{
	border: 1px solid #999 !important;
}
.trip .date-blk:before{
	behavior: url(pie/PIE.htc) !important;
	display: none;
}

.trip .disable .date-blk,
.trip .date-blk .date{
	filter: none !important;
	opacity: 1 !important;
	color: #ccc;
}
.promotions .promotion-actions li{
	margin-left: 8px !important;
}

.nav-search li{
	position: inherit !important;
}
.cardsInternal .btn-blue:hover{
	background: #3189cc !important;
}
.press-releases-list .date-blk .date-blk-item:after, .press-releases .date-blk .date-blk-item:after{
	display: none !important;
}
.press-releases-list .date-blk:before, .press-releases .date-blk:before {
	border-top: 8px solid #8e9199;
	bottom: -8px;
	left: 13px;
}
.press-releases-list .date-blk:after, .press-releases .date-blk:after {
	border-top: 8px solid #fff;
	bottom: -7px;
	left: 13px;
}

td{
	min-height: 1px !important;
}

td.booking-btn a{
	margin-top: 12px !important;
}

.booking-form a.previous{
	margin-right: 30px !important;
}

#checkPopup{
	margin-left: -300px;
	margin-top: -200px;
}