body{
	background: #f0f1f2;
}
body,
html{
	overflow-x: hidden;
	font-family: arial, sans-serif;
}
.header-site{
	height: 55px;
	overflow: hidden;
}
.page{
	width: auto;
}
.header-site .header-area{
	background: transparent;
	border:none;
}
.logo{
	margin-top: 16px;
	cursor: pointer;
	margin-left: 25px;
	_background:none !important;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/awardwalletnewdesign/img/logo.png',sizingMethod='crop');
}
img, .png {
	position: relative;
	behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",
	this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
	this.src = "/assets/awardwalletnewdesign/img/transparent.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),
	this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",
	this.runtimeStyle.backgroundImage = "none")),this.pngSet=true));
}
.main-blk .icon-silver-arrow-down,
li.language{
	display: none !important;
}
.main-blk .item{
	padding-top: 0;
}
.main-blk{
	margin-top: 0;
}
.main-blk h2{
	background: #f9f9fa;
	display: block;
	width: 100%;
	color: #cc3d5e;
	font-size: 25px;
	line-height: 1.3;
	margin:0;
	padding-left: 30px;
	position: relative;
	border-bottom: 1px solid #d6dae6;
	word-wrap: break-word;
}
.main-blk .links{
	width: 780px;
}
.footer-site{
	width: 100%;
	padding: 0;
	position: absolute;
	left: 0;
	bottom: 0;
}
.footer-menu{
	display: block;
	text-align: center;
	padding-top: 15px;
}
.footer-menu li{
	list-style: none;
	height: 15px;
	line-height: 13px;
	display: inline;
	vertical-align: top;
}
.footer-menu li a{
	font-size: 13px;
	display: inline-block;
	height: 20px;
	border-right: 1px solid #d6dae6;
	padding: 0 7px;
	margin-top: 3px;
	text-decoration: none;
	color: #828999;
}
.footer-menu li a:hover{
	text-decoration: none;
}
.icon-android-app,
.icon-iphone-app{
	display: block;
	cursor: pointer;
	background: url(/assets/awardwalletnewdesign/img/android.jpg) no-repeat;
	width: 31px;
	height: 31px;
}
.icon-iphone-app{
	background: url(/assets/awardwalletnewdesign/img/ios.jpg) no-repeat;
}