.footer-site{
	padding: 0;
	position: absolute;
	left: 0;
	overflow: hidden;
	bottom: 0;
}
body,
html{
	overflow-x: hidden;
	font-family: arial, sans-serif;
}
.footer-menu{
	display: block;
	padding: 0;
	text-align: center;
	padding-top: 15px;
}
.footer-menu li{
	list-style: none;
	height: 15px;
	line-height: 13px;
	display: inline;
	vertical-align: top;
}
.footer-menu li a{
	font-size: 13px;
	display: inline-block;
	height: 20px;
	border-right: 1px solid #d6dae6;
	padding: 0 7px;
	margin-top: 3px;
	text-decoration: none;
	color: #828999;
}
.footer-menu li a:hover{
	text-decoration: none;
}
.mobile-apps li{
	float: left;
	display: inline;
}
.icon-android-app,
.icon-iphone-app{
	display: block;
	cursor: pointer;
	background: url(/assets/awardwalletnewdesign/img/android.jpg) no-repeat;
	width: 31px;
	height: 31px;
}
.icon-iphone-app{
	background: url(/assets/awardwalletnewdesign/img/ios.jpg) no-repeat;
}