awardwalletmain/*
awardwalletnewdesign/js/lib/api-doc.js
awardwalletnewdesign/js/lib/slim.jquery.min.js
awardwalletnewdesign/js/lib/selectivizr-min.js
awardwalletnewdesign/js/lib/gdpr-quantcast.js
awardwalletnewdesign/js/lib/fingerprints.js
awardwalletnewmobile/*
common/vendors/*
common/js/mobile_translations.js
common/js/lunr.js
common/js/lunr/*
common/js/intro.min.js
common/js/chartjs-plugin-datalabels.js
manager/*
translations/*
requireConfig.js
requireProdConfig.js
extension-client/*