/*!*********************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[2]!./assets/bem/block/page/manager/Lounge.form.css ***!
  \*********************************************************************************************************************************************************************************************************************/
.opening-hours-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 4px;
    padding: 4px 0;
}
.opening-hours-actions .status {
    display: inline-block;
    font-size: 0.9em;
    padding: 5px 10px;
}
.opening-hours-actions .status.success {
    color: green;
}
.opening-hours-actions .status.error {
    color: red;
}

#lounge_freezeAction {
    padding: 4px 10px;
    border-radius: 4px;
    background-color: #fff5d5;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoicGFnZS1tYW5hZ2VyL0xvdW5nZS5mb3JtLmNzcyIsIm1hcHBpbmdzIjoiOzs7QUFBQTtJQUNJLGFBQWE7SUFDYixtQkFBbUI7SUFDbkIsMkJBQTJCO0lBQzNCLFFBQVE7SUFDUixjQUFjO0FBQ2xCO0FBQ0E7SUFDSSxxQkFBcUI7SUFDckIsZ0JBQWdCO0lBQ2hCLGlCQUFpQjtBQUNyQjtBQUNBO0lBQ0ksWUFBWTtBQUNoQjtBQUNBO0lBQ0ksVUFBVTtBQUNkOztBQUVBO0lBQ0ksaUJBQWlCO0lBQ2pCLGtCQUFrQjtJQUNsQix5QkFBeUI7QUFDN0IsQyIsInNvdXJjZXMiOlsid2VicGFjazovL0F3YXJkV2FsbGV0Ly4vYXNzZXRzL2JlbS9ibG9jay9wYWdlL21hbmFnZXIvTG91bmdlLmZvcm0uY3NzIl0sInNvdXJjZXNDb250ZW50IjpbIi5vcGVuaW5nLWhvdXJzLWFjdGlvbnMge1xuICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgZmxleC1kaXJlY3Rpb246IHJvdztcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IGZsZXgtc3RhcnQ7XG4gICAgZ2FwOiA0cHg7XG4gICAgcGFkZGluZzogNHB4IDA7XG59XG4ub3BlbmluZy1ob3Vycy1hY3Rpb25zIC5zdGF0dXMge1xuICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgICBmb250LXNpemU6IDAuOWVtO1xuICAgIHBhZGRpbmc6IDVweCAxMHB4O1xufVxuLm9wZW5pbmctaG91cnMtYWN0aW9ucyAuc3RhdHVzLnN1Y2Nlc3Mge1xuICAgIGNvbG9yOiBncmVlbjtcbn1cbi5vcGVuaW5nLWhvdXJzLWFjdGlvbnMgLnN0YXR1cy5lcnJvciB7XG4gICAgY29sb3I6IHJlZDtcbn1cblxuI2xvdW5nZV9mcmVlemVBY3Rpb24ge1xuICAgIHBhZGRpbmc6IDRweCAxMHB4O1xuICAgIGJvcmRlci1yYWRpdXM6IDRweDtcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAjZmZmNWQ1O1xufSJdLCJuYW1lcyI6W10sInNvdXJjZVJvb3QiOiIifQ==*/