{% set title = "Credit Card Matcher Test" %}
{% extends '@AwardWalletMain/Manager/layout.html.twig' %}
{% form_theme form with ['form_table_layout.html.twig'] %}

{% block content %}

    {{ form(form) }}

    {% if cardLink %}
        <div>detected card: <a href="{{ cardLink }}" target="_blank">{{ cardLink }}</a></div>
    {% endif %}

    {% for record in logs %}
        <div>{{ record['message'] }}</div>
    {% endfor %}

{% endblock %}