{% set title = "Send Notifications" %}
{% extends '@AwardWalletMain/Manager/layout.html.twig' %}
{% form_theme form with ['form_table_layout.html.twig'] %}

{% block content %}
    <style type="text/css">
        table {
            border-collapse: collapse;
        }
        table td {
            border: lightgray solid 1px;
            padding: 7px;
        }
        thead td {
            font-weight: bold;
        }
        input + label:after {
            content: " ";
            height: 0;
            display: block;
            *height: 1%;
            *zoom: 1;
            clear: both;
        }
    </style>

    <a href="{{ url('aw_manager_sendnotification_index') }}">List of push notifications</a>

    <hr size="2"/>

    <h1>Add New Notification</h1>

    <br/>
    <form name="edit" method="post" autocomplete="off">
        {{ form_widget(form) }}
        <br/>
        <input class="buttonBg" value="Add" type="submit">
    </form>

    <br/>
    {#<hr size="1"/>#}

{% endblock %}

