.modalContentContainer {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.stepContainer {
    display: grid;
    grid-template-columns: 52px 1fr;
    grid-template-rows: auto;
    gap: 14px;
}
