.search-table{
    display: block;
    min-width: 740px;
    margin:30px 20px 0;
    position: relative;
}
.search-tabs{
    display: table;
    width: 100%;
    /*box-shadow: 0 3px 10px -3px rgba(0,0,0,.5);*/
    position: relative;
    top: 1px;
    z-index: 100;
}
.search-tabs li{
    display: table-cell;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    border:  1px solid #ccc;
}
.search-tabs li:not(:first-of-type){
    border-left: none;
}
.search-tabs input[type="radio"]{
    display: none;
}
.search-tabs input[type="radio"]+label{
    padding: 12px 10px 10px;
    color: #666;
    display: block;
    position: relative;
    box-sizing: border-box;
    height: 38px;
    background: #f7f7f7;
    background: -moz-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    background: -webkit-linear-gradient(top, #f7f7f7 0%,#eaeaea 100%);
    background: -o-linear-gradient(top, #f7f7f7 0%,#eaeaea 100%);
    background: -ms-linear-gradient(top, #f7f7f7 0%,#eaeaea 100%);
    background: linear-gradient(to bottom, #f7f7f7 0%,#eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#eaeaea',GradientType=0 );
    box-shadow: 1px 1px 0 #fff inset;
    text-shadow: 0 1px 0 #fff;
    white-space: nowrap;
    cursor: pointer;
}
.search-tabs input[type="radio"]+label:hover{
    background: #fff;
}
.search-tabs input[type="radio"]:checked+label{
    background: #fff;
}

.search-tabs input[type="radio"]:checked+label:after,
.search-tabs input[type="radio"]:checked+label:before{
    position: absolute;
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
}
.search-tabs input[type="radio"]:checked+label:after{
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #fff;
    border-width: 6px;
    left: 50%;
    margin-left: -6px;
}
.search-tabs input[type="radio"]:checked+label:before{
     border-color: rgba(200, 23, 72, 0);
     border-top-color: #ccc;
     border-width: 7px;
     left: 50%;
     margin-left: -7px;
 }
.search-field{
    display: block;
    border: 0;
    height: 50px;
    padding: 4px 0;
    overflow-y: hidden;
    position: relative;
    color: #fff;
    text-shadow: 0 1px 0 #1663a9;
    box-shadow: inset 0 -3px 3px -3px rgba(0,0,0,.5);
    text-align: center;
    line-height: 50px;
    word-wrap: break-word;
    background: #3183c2;
    background: -moz-linear-gradient(top, #0b5290 0%, #186db6 15%, #3183c2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0b5290), color-stop(15%,#186db6), color-stop(100%,#3183c2));
    background: -webkit-linear-gradient(top, #0b5290 0%,#186db6 15%,#3183c2 100%);
    background: -o-linear-gradient(top, #0b5290 0%,#186db6 15%,#3183c2 100%);
    background: -ms-linear-gradient(top, #0b5290 0%,#186db6 15%,#3183c2 100%);
    background: linear-gradient(to bottom, #0b5290 0%,#186db6 15%,#3183c2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#186db6', endColorstr='#3183c2',GradientType=0 );
}

.search-field .search-input{
     display: inline-block;
     border: 1px solid #aeaeae;
     margin: 9px 13px;
    position: relative;
    border-radius: 4px;
    float: right;
    width: 45%;
    text-align: left;
    box-sizing: border-box;
    height: 32px;
    line-height: 30px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2) inset;
    background: #fff;
}
.search-field input[type="text"]{
    height: 30px;
    padding: 0 30px;
    border: none;
    outline: 0;
    border-radius: 2px;
    width: 100%;
    box-sizing: border-box;
    background: transparent;
}
.search-field .search-button,
.search-field .search-clear{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    display: block;
    border: none;
    outline: none;
    background: transparent;
}
.search-field .search-button{
    left:0;
}
.search-field .search-clear {
    right:0;
    cursor: pointer;
}
.search-field .search-clear>.icon-cross{
    vertical-align: -1px;
}
.search-field .search-clear:hover>.icon-cross{
    background-position: -151px -202px;
}
.search-result{
    display: block;
}
.search-result table{
    width: 100%;
    border-spacing: 0;
}
.search-result  tr{
    position: relative;
}
.search-result th,
.search-result td{
    vertical-align: middle;
    width: 50%;
    min-width: 70px;
}
.search-result th{
    height: 23px;
    border: 1px solid #aeaeae;
    background: #f6f6f6;
    box-shadow: -1px 1px 0 #fff inset;
    color: #585858;
    text-shadow: 0 1px 0 #fff;
    font-weight: normal;
    text-align: center;
}
.search-result td{
    border-right: 1px solid #d0d0d0;
    border-top: none;
    font-weight: normal;
    padding:4px 15px;
}
.search-result tfoot td{
    border:none;
    padding: 0;
    border-top: 1px solid #d0d0d0;
    height: 0;
}
.search-program td:first-of-type{
    border-left: 1px solid #d0d0d0;
}
.search-program:not(.hidden):not(:first-of-type)~.search-program td{
    border-top: 1px solid #d0d0d0;
}
.search-heading th{
    border-top:none;
}
.search-heading th:not(:first-of-type){
    border-left: none;
}
tr.search-heading th{
    background: #f7f7f7;
    background: -moz-linear-gradient(top, #f7f7f7 0%, #eee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eee));
    background: -webkit-linear-gradient(top, #f7f7f7 0%,#eee 100%);
    background: -o-linear-gradient(top, #f7f7f7 0%,#eee 100%);
    background: -ms-linear-gradient(top, #f7f7f7 0%,#eee 100%);
    background: linear-gradient(to bottom, #f7f7f7 0%,#eee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#eee',GradientType=0 );
    padding-top: 1px;
}
tr.group-tab th{
    background: #f7f7f7;
    background: -moz-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    background: -webkit-linear-gradient(top, #f7f7f7 0%,#eaeaea 100%);
    background: -o-linear-gradient(top, #f7f7f7 0%,#eaeaea 100%);
    background: -ms-linear-gradient(top, #f7f7f7 0%,#eaeaea 100%);
    background: linear-gradient(to bottom, #f7f7f7 0%,#eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#eaeaea',GradientType=0 );
    box-shadow: 0 1px 0 #fff inset;
    text-shadow: 0 1px 0 #fff;
}
tr.group-tab th{
    padding: 12px 16px 10px;
    color: #666;
    position: relative;
    box-sizing: border-box;
    height: 38px;
    font-size: 20px;
    text-align: left;
}
tr.search-program{
    height: 40px;
}
tr.search-program.even{
    background: #f7f7f7;
}
.search-program th:not(:first-of-type),
.search-heading td:not(:first-of-type){
    border-left: none;
}
.search-program .matches{
    background-color: #fff5c8;
}
.search-heading a {
    color: inherit;

}
.search-heading a:hover {
    text-decoration: underline;
}
.search-heading th:not(:last-of-type) {
    text-align: left;
}
.search-heading th:not(:last-of-type)>a {
    margin-left: 14px;
}
.search-heading th:last-of-type {
    padding-left:10px;
    padding-right:10px;
}
.search-heading input[type='radio']{
    display: none;
}
.search-heading span{
    display: inline-block;
    width: 0;
    margin-left: 5px;
}
.search-heading input[type='radio']+label{
    display: none;
    position: relative;
    top: 5px;
}
.search-heading input[type='radio']:checked+label{
    display: block;
    cursor: default;
}
#row-pop-up{
    position: absolute;
    display: none;
    left:-10px;
    height: 24px;
    z-index: 100;
    box-shadow: 0 3px 3px -1px rgba(0,0,0,.5);
    border-radius: 4px;
    box-sizing: border-box;
    overflow-y: hidden;
    border: 1px solid #125da3;
    background: #3183c2;
    background: -moz-linear-gradient(top, #3183c2 0%, #186db6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3183c2), color-stop(100%,#186db6));
    background: -webkit-linear-gradient(top, #3183c2 0%,#186db6 100%);
    background: -o-linear-gradient(top, #3183c2 0%,#186db6 100%);
    background: -ms-linear-gradient(top, #3183c2 0%,#186db6 100%);
    background: linear-gradient(to bottom, #3183c2 0%,#186db6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3183c2', endColorstr='#186db6',GradientType=0 );
}
#row-pop-up:hover{
    display: block;
}
#row-pop-up>*{
    display: table-cell;
    padding: 4px 15px;
    box-sizing: border-box;
    vertical-align: middle;
    height: 100%;
}
#row-pop-up *{
    color: #fff;
    text-decoration: none;
    text-shadow: 0 1px 0 #1663a9;
    vertical-align: middle;
}
#row-pop-up>*:first-child{
    padding-left: 25px;
}
#row-pop-up>*:first-child:before{
    display: inline-block;
    content: "";
    background: url("../images/btn-glyph.png") no-repeat -32px -14px;
    height: 10px;
    width: 10px;
    position: absolute;
    top:50%;
    left:8px;
    margin-top: -5px;
}
#row-pop-up>*:first-child>*{
    padding: 1px 0;
}
#row-pop-up>*:not(:first-child){
    border-left: 1px solid #125da3;
    box-shadow: 1px 0 0 #62a8de inset;
}
#row-pop-up .matches{
    position: relative;
    top: -1px;
    /*color: #000;
    text-shadow: none;
    /*background-color: #fff5c8;*/
}
blockquote{
    margin: 30px 0 0 0;
    display: block;
    min-width: 740px;
    padding: 0 20px;
}

.search-program>*:last-child,
#row-pop-up>*:last-child{
    position: relative;
    padding-left: 40px;
    padding-right: 20px;
    box-sizing: border-box;
}
.search-program>*:last-child .icon-check,
.search-program>*:last-child .icon-cross,
#row-pop-up>*:last-child .icon-check,
#row-pop-up>*:last-child .icon-cross{
    position: absolute;
    top: 50%;
    margin-top: -5px;
    left: 27px;
}
.search-program>*:last-child .icon-cross+span{
    color: #999;
}
.search-hidden{
    display: none;
}
.only-group{
    display: table-row-group !important;
}