.matches {
  font-style: normal;
}
.search-table {
  display: block;
  position: relative;
  min-width: 747px;
  *width: 747px;
  margin: 30px 20px 0;
}
.search-tabs {
  display: table;
  width: 100%;
  position: relative;
  top: 1px;
  z-index: 100;
}
.search-tabs li {
  display: table-cell;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  border: 1px solid #cccccc;
}
.search-tabs li:not(:first-of-type) {
  border-left: none;
}
.search-tabs input[type="radio"] {
  display: none;
}
* html .search-tabs input[type="radio"] {
  display: block;
  width: 0;
  height: 0;
}
.search-tabs input[type="radio"] + label {
  padding: 12px 10px 10px;
  font-size: auto;
  color: #666666;
  white-space: nowrap;
  display: block;
  height: 38px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  background: #f7f7f7;
  background: -moz-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  background: -ms-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  background: -o-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  background: -webkit-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  background: linear-gradient(to bottom, #f7f7f7 0%, #eaeaea 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #eaeaea));
  -webkit-box-shadow: 1px 1px 0  #ffffff inset;
  -moz-box-shadow: 1px 1px 0  #ffffff inset;
  box-shadow: 1px 1px 0  #ffffff inset;
  text-shadow: 0 1px 0 #ffffff;
  cursor: pointer;
}
.search-tabs input[type="radio"] + label:hover {
  background: #ffffff;
}
.search-tabs input[type="radio"] + label.checked {
  background: #ffffff;
  position: relative;
  margin: 0;
  margin-bottom: 8px;
  margin-bottom: 0;
}
.search-tabs input[type="radio"] + label.checked:before,
.search-tabs input[type="radio"] + label.checked:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  position: absolute;
  pointer-events: none;
}
.search-tabs input[type="radio"] + label.checked:before {
  border-width: 7px;
}
.search-tabs input[type="radio"] + label.checked:after {
  border-width: 6px;
}
.search-tabs input[type="radio"] + label.checked:before,
.search-tabs input[type="radio"] + label.checked:after {
  top: 100%;
  left: 50%;
}
.search-tabs input[type="radio"] + label.checked:before {
  margin-left: -7px;
  border-top-color: #cccccc;
}
.search-tabs input[type="radio"] + label.checked:after {
  margin-left: -6px;
  border-top-color: #ffffff;
}
.search-tabs input[type="radio"]:checked + label {
  background: #ffffff;
  position: relative;
  margin: 0;
  margin-bottom: 8px;
  margin-bottom: 0;
}
.search-tabs input[type="radio"]:checked + label:before,
.search-tabs input[type="radio"]:checked + label:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  position: absolute;
  pointer-events: none;
}
.search-tabs input[type="radio"]:checked + label:before {
  border-width: 7px;
}
.search-tabs input[type="radio"]:checked + label:after {
  border-width: 6px;
}
.search-tabs input[type="radio"]:checked + label:before,
.search-tabs input[type="radio"]:checked + label:after {
  top: 100%;
  left: 50%;
}
.search-tabs input[type="radio"]:checked + label:before {
  margin-left: -7px;
  border-top-color: #cccccc;
}
.search-tabs input[type="radio"]:checked + label:after {
  margin-left: -6px;
  border-top-color: #ffffff;
}
.search-field {
  display: block;
  height: 50px;
  overflow: hidden;
  position: relative;
  border: 0;
  padding: 4px 0;
  color: #ffffff;
  text-align: right;
  line-height: 50px;
  text-shadow: 0 1px 0 #1663a9;
  box-shadow: inset 0 -3px 3px -3px rgba(0, 0, 0, 0.5);
  word-wrap: break-word;
  background: #0b5290;
  background: -moz-linear-gradient(top, #0b5290,#186db6 15%, #3183c2);
  background: -ms-linear-gradient(top, #0b5290,#186db6 15%, #3183c2);
  background: -o-linear-gradient(top, #0b5290,#186db6 15%, #3183c2);
  background: -webkit-linear-gradient(top, #0b5290,#186db6 15%, #3183c2);
  background: linear-gradient(to bottom, #0b5290,#186db6 15%, #3183c2);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0b5290), color-stop(15%, #186db6), color-stop(100%, #3183c2));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr=#ff0b5290, endColorstr=#ff3183c2,GradientType=0 )";
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#ff0b5290, endColorstr=#ff3183c2,GradientType=0 );
}
.search-field .search-input {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 45%;
  height: 32px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  float: right;
  background-color: #ffffff;
  border: 1px solid #aeaeae;
  margin: 9px 13px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: left;
  line-height: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2) inset;
}
.search-field .search-input input[type="text"] {
  width: 100%;
  height: 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 30px;
  border: none;
  outline: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: transparent;
}
.search-field .search-input .search-button,
.search-field .search-input .search-clear {
  width: 30px;
  height: 30px;
  display: block;
  border: none;
  outline: none;
  background: transparent;
}
.search-field .search-input .search-button {
  position: absolute;
  top: 0;
  left: 0;
}
.search-field .search-input .search-clear {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.search-field .search-input .search-clear > .old-icon-cross {
  vertical-align: -1px;
}
.search-field .search-input .search-clear:hover > .old-icon-cross {
  background-position: -151px -202px;
}
.search-result {
  display: block;
}
.search-result table tr {
  position: relative;
}
.search-result table tr > th,
.search-result table tr > td {
  vertical-align: middle;
  width: 100%;
  min-width: 70px;
  *width: 70px;
}
.search-result table tr.search-heading th {
  padding-top: 1px;
}
.search-result table tr.search-program {
  height: 40px;
}
.search-result table tr.search-program th:not(:first-of-type),
.search-result table tr.search-program td:not(:first-of-type) {
  border-left: none;
}
.search-result table tr.search-program .matches {
  background-color: #fff09f;
}
.search-result table tfoot td {
  border: none;
  padding: 0;
  border-top: 1px solid #d0d0d0;
  height: 0;
}
.search-heading a {
  color: inherit;
}
.search-heading a:hover {
  text-decoration: underline;
}
.search-heading th:not(:last-of-type) > a {
  margin-left: 14px;
}
.search-heading th:last-of-type {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.search-heading input[type='radio'] {
  display: none;
}
.search-heading input[type='radio'] + label {
  display: none;
  position: relative;
  top: 5px;
}
.search-heading input[type='radio'] + label.checked {
  display: block;
  cursor: default;
}
.search-heading input[type='radio']:checked + label {
  display: block;
  cursor: default;
}
.search-heading span {
  display: inline-block;
  width: 0;
  margin-left: 5px;
}
#row-pop-up {
  position: absolute;
  left: -10px;
  display: none;
  min-height: 40px;
  height: auto;
  *height: 40px;
  z-index: 100;
  box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: hidden;
  border: 1px solid #125da3;
  background: #3183c2;
  background: -moz-linear-gradient(top, #3183c2 0%, #186db6 100%);
  background: -ms-linear-gradient(top, #3183c2 0%, #186db6 100%);
  background: -o-linear-gradient(top, #3183c2 0%, #186db6 100%);
  background: -webkit-linear-gradient(top, #3183c2 0%, #186db6 100%);
  background: linear-gradient(to bottom, #3183c2 0%, #186db6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3183c2), color-stop(100%, #186db6));
}
#row-pop-up:hover {
  display: block;
}
#row-pop-up > * {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
#row-pop-up > *:first-child {
  padding-left: 25px;
}
#row-pop-up > *:first-child:before {
  display: inline-block;
  content: "";
  background-image: url("../images/icon-sprite.png");
  background-repeat: no-repeat;
  background-position: -70px -98px;
  position: absolute;
  top: 50%;
  left: 8px;
  margin-top: -5px;
}
#row-pop-up > *:not(:first-child) {
  border-left: 1px solid #125da3;
  box-shadow: 1px 0 0 #62a8de inset;
}
#row-pop-up * {
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px 0 #1663a9;
  vertical-align: middle;
}
#row-pop-up .matches {
  position: relative;
  top: -1px;
  /*color: #000;
  text-shadow: none;
  /*background-color: #fff5c8;*/

}
blockquote {
  margin: 30px 0 0 0;
  display: block;
  min-width: 748px;
  padding: 0 20px;
}
.search-program > *,
#row-pop-up > * {
  padding: 4px 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.search-program > *:last-child,
#row-pop-up > *:last-child {
  position: relative;
  padding-left: 40px;
  padding-right: 20px;
}
.search-program > *:last-child .old-icon-check,
#row-pop-up > *:last-child .old-icon-check,
.search-program > *:last-child .old-icon-cross,
#row-pop-up > *:last-child .old-icon-cross {
  margin-top: 6px;
  text-align: left;
  margin-left: -13px;
  padding-right: 10px;
}
.search-program > *:last-child,
#row-pop-up > *:last-child,
.search-program > *:last-child *,
#row-pop-up > *:last-child * {
  font-size: 13px;
}
.search-program > *[data-owner]:after,
#row-pop-up > *[data-owner]:after {
  content: attr(data-owner);
  display: block;
  font-size: 13px;
  text-shadow: none;
  color: #a6d8ff;
}
.search-program > *,
#row-pop-up > *,
.search-program > * *,
#row-pop-up > * * {
  font-size: 14px;
}
.search-program:not(.show-owner) > [data-owner]:after {
  display: none;
}
.search-program > *:last-child .old-icon-cross + span {
  color: #999;
}
.search-program > *[data-owner]:after {
  color: #777;
}
.search-hidden {
  display: none;
}
.only-group {
  display: table-row-group !important;
}
