* {
  margin: 0;
  padding: 0;
  outline: none;
}
a {
  text-decoration: none;
}
a img {
  border: 0;
}
html {
  height: 100%;
}
body {
  height: 100%;
  position: relative;
}
body {
  background: #ffffff;
  font-size: 13px;
}
body,
body input,
body select,
body button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body,
body * {
  color: #3e3e3e;
}
a:hover {
  color: #2d81cd;
}
.wrapper {
  margin: 0;
  display: block;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 1024px;
  *width: 1024px;
  min-height: 100%;
  height: auto;
  *height: 100%;
  background: url('../images/body-top.png') repeat-x 0 0;
}
.topband {
  display: block;
  width: 100%;
  height: 43px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
}
.wrapper {
  padding-top: 55px;
}
.logo {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: block;
  width: 236px;
  height: 56px;
  overflow: hidden;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
  text-align: center;
}
.logo a {
  display: block;
  width: 100%;
  height: 100%;
}
.logo img {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-top: 20px;
}
.top-buttons {
  position: absolute;
  top: 7px;
  left: 0;
  display: block;
  width: 1024px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 236px;
}
@media (max-width: 1500px) {
  .top-buttons {
    width: 100%;
  }
}
#top-banner {
  display: none;
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 99999;
  width: 450px;
  height: 160px;
  background: url(../images/advertising.png) no-repeat 0 0;
}
@media (min-width: 1500px) {
  #top-banner {
    display: block;
  }
}
.footer {
  display: table;
  width: 100%;
  height: 64px;
  overflow: hidden;
  background-color: #f0f0f0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 1024px;
  *width: 1024px;
  border-top: 1px solid #d0d0d0;
  margin-top: -64px;
}
.footer > * {
  display: table-cell;
  vertical-align: middle;
  min-width: 240px;
  *width: 240px;
  padding: 0 28px;
}
.footer > *:nth-child(2) {
  width: 100%;
  text-align: center;
  padding: 0;
}
.footer > *:nth-child(2) a {
  white-space: nowrap;
}
.footer > *:nth-child(3) {
  text-align: right;
  padding-right: 20px;
}
.footer > *:nth-child(n+4) {
  display: none;
}
.wrapper {
  padding-bottom: 81px;
}
.centered {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  vertical-align: top;
  position: relative;
}
.container_table {
  display: table;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
.container {
  min-height: 1px;
  height: auto;
  *height: 1px;
  display: table-row;
  width: 100%;
  height: 100%;
  min-width: 1024px;
}
.container > * {
  min-height: 1px;
  height: auto;
  *height: 1px;
  display: table-cell;
  vertical-align: top;
  height: 100%;
}
.container_r {
  width: 100%;
}
.content-wrapper {
  display: block;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  margin-bottom: -17px;
}
.text-left {
  display: block;
  width: 236px;
}
.text-right {
  margin-top: -13px;
  height: 100%;
  min-height: 13px;
}
.text-right:before {
  position: absolute;
  top: -1px;
  left: -1px;
  display: block;
  width: 0;
  height: 13px;
  content: "";
  border-left: 1px solid #888888;
}
@media (min-width: 1500px) {
  .text-right > blockquote:first-of-type {
    width: 748px;
  }
}
.text-left,
.text-right,
.content-wrapper {
  border-top: 1px solid #888888;
  background-color: #ffffff;
  position: relative;
}
.link-list {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.link-list a {
  padding: 0 8px;
}
.link-list a + a {
  border-left: 1px solid #666666;
}
.container_l.hidden {
  -webkit-transition: "all 1s ease %a";
  -moz-transition: "all 1s ease %a";
  -o-transition: "all 1s ease %a";
  transition: "all 1s ease %a";
  -webkit-transition: all 1s ease %a;
  -moz-transition: all 1s ease %a;
  -o-transition: all 1s ease %a;
  transition: all 1s ease %a;
}
.container_l.hidden + .container_r .text-right {
  margin-top: 0;
  min-height: 0;
}
.container_l.hidden + .container_r .text-right:before {
  display: none;
}
.clearfix {
  clear: both;
  height: 0;
}
.hidden {
  display: none;
}
