.booking {
  display: block;
  padding: 0 20px;
}
.booking .greeting {
  display: table;
  width: 100%;
}
.booking .greeting > span {
  display: table-cell;
  vertical-align: middle;
}
.booking .book-logo {
  display: block;
  float: right;
  background: #f5f6f6;
  background: -moz-linear-gradient(top, #f5f6f6 0%, #eaebec 100%);
  background: -ms-linear-gradient(top, #f5f6f6 0%, #eaebec 100%);
  background: -o-linear-gradient(top, #f5f6f6 0%, #eaebec 100%);
  background: -webkit-linear-gradient(top, #f5f6f6 0%, #eaebec 100%);
  background: linear-gradient(to bottom, #f5f6f6 0%, #eaebec 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f6f6), color-stop(100%, #eaebec));
  box-shadow: 0 1px 0 #ffffff inset;
  border: 1px solid #d0d0d0;
  padding: 20px 40px;
}
.booking .invoice {
  display: block;
  margin-top: 20px;
}
.invoice {
  padding: 0 20px;
  border-left: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  border-top: 1px solid #d0d0d0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
}
.invoice > h3 {
  display: block;
  border-bottom: 1px solid #d0d0d0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  background: #f5f6f6;
  background: -moz-linear-gradient(top, #f5f6f6 0%, #eaebec 100%);
  background: -ms-linear-gradient(top, #f5f6f6 0%, #eaebec 100%);
  background: -o-linear-gradient(top, #f5f6f6 0%, #eaebec 100%);
  background: -webkit-linear-gradient(top, #f5f6f6 0%, #eaebec 100%);
  background: linear-gradient(to bottom, #f5f6f6 0%, #eaebec 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f6f6), color-stop(100%, #eaebec));
  box-shadow: 0 1px 0 #ffffff inset;
  margin: 0 -20px 30px;
  padding: 15px 30px;
  font-size: 150%;
}
.invoice .address {
  display: block;
  float: left;
  width: 250px;
}
.invoice .receipt {
  display: block;
  margin-left: 250px;
}
.invoice hr {
  content: " ";
  height: 0;
  display: block;
  *height: 1%;
  *zoom: 1;
  clear: both;
  width: 100%;
  margin: 30px 0;
}
.invoice .list {
  display: block;
}
table {
  border-spacing: 0;
  width: 100%;
}
table th {
  padding: 0;
  margin: 0;
  vertical-align: top;
  border: 1px solid #aeaeae;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: #f5f6f6;
  background: -moz-linear-gradient(top, #f5f6f6 0%, #eaebec 100%);
  background: -ms-linear-gradient(top, #f5f6f6 0%, #eaebec 100%);
  background: -o-linear-gradient(top, #f5f6f6 0%, #eaebec 100%);
  background: -webkit-linear-gradient(top, #f5f6f6 0%, #eaebec 100%);
  background: linear-gradient(to bottom, #f5f6f6 0%, #eaebec 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f6f6), color-stop(100%, #eaebec));
  box-shadow: 0 1px 0 #ffffff inset;
}
table th:before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.receipt table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
.receipt table th {
  height: 20px;
  min-width: 100px;
  *width: 100px;
}
.receipt table th:first-child > * {
  text-align: right;
}
.receipt table td {
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  height: 20px;
  vertical-align: top;
}
.receipt table td:nth-child(2) {
  width: 100%;
}
.receipt table td:nth-child(3) {
  border-left: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
}
.list:after {
  content: " ";
  height: 0;
  display: block;
  *height: 1%;
  *zoom: 1;
  clear: both;
}
.list .disclaim {
  display: block;
  width: 150px;
}
.list > .disclaim {
  float: right;
}
.list .table .tbody .td {
  border-left: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
}
.table {
  display: table;
}
.tfoot {
  display: table-footer-group;
}
.tbody {
  display: table-row-group;
}
.tr {
  display: table-row;
}
.td {
  display: table-cell;
}
.th {
  display: table-cell;
}
