#programSearchResult {font-size: 1.1em;}
ul.programList {
	margin: 0;
	padding: 0 0 0 20px;
}
ul.programList li {list-style-image: url(/design/bundles/awardwalletmain/images/redArrowRight.png); padding-bottom: 5px;}
.programComment {
	background-color: #F2F2F2;
	margin: 3px;
	padding: 3px 3px 3px 15px;
	font-style: italic;
}
.blue-bolder {font-weight: bolder; color: #0B70B7}
.green {color: #76BE60;}