div.flag_mini {
    width: 16px;
    height: 11px;
    background-image: url('/assets/awardwalletmain/images/flags2.png?v=2');
}

div.flag_mini.eu {background-position: -48px -44px;}

div.flag_mini.us {background-position: -128px -154px;}

div.flag_mini.en {background-position: -176px -44px;}

div.flag_mini.de {background-position: -80px -33px;}

div.flag_mini.fr {background-position: -144px -44px;}

div.flag_mini.es {background-position: -16px -44px;}

div.flag_mini.pt {background-position: -112px -121px;}

div.flag_mini.zh {background-position: -208px -22px;}

div.flag_mini.ja {background-position: -16px -77px;}

div.flag_mini.nl {background-position: -80px -110px;}

div.flag_mini.ru {background-position: -224px -121px;}

div.flag_mini.it {background-position: -208px -66px;}

div.flag_mini.da {background-position: -112px -33px;}

div.flag_mini.he {background-position: -96px -66px;}

div.flag_mini.no {background-position: -96px -110px;}

div.flag_mini.sv {background-position: -80px -132px;}

div.flag_mini.fi {background-position: -64px -44px;}

div.flag_mini.et {background-position: -192px -33px;}

div.flag_mini.ro {background-position: -192px -121px;}

div.flag_mini.tr {background-position: -16px -154px;}

div.flag_mini.pl {background-position: -32px -121px;}

div.flag_mini.vi {background-position: -16px -165px;}

div.flag_mini.cs {background-position: -64px -33px;}

div.flag_mini.hu {background-position: -32px -66px;}

div.flag_mini.id {background-position: -64px -66px;}

div.flag_mini.ca {background-position: -64px -22px;}

div.flag_mini.bg {background-position: -80px -11px;}

div.flag_mini.uk {background-position: -96px -154px;}

div.flag_mini.ko {background-position: -144px -77px;}

div.flag_mini.sr {background-position: -208px -121px;}

div.flag_mini.lv {background-position: -192px 0;}

div.flag_mini.lt {background-position: -80px -88px;}

div.flag_mini.sl {background-position: -128px -132px;}

div.flag_mini.el {background-position: -112px -55px;}

div.flag_mini.az {background-position: -240px 0;}

div.flag_mini.is {background-position: -192px -66px;}

div.flag_mini.ar {background-position: 0 -132px;}

div.flag_mini.th {background-position: -160px -143px;}

div.flag_mini.sk {background-position: -144px -132px;}

div.flag_mini.gl {background-position: -192px -165px;}

div.flag_mini.ms {background-position: -208px -99px;}

div.flag_mini.hr {background-position: -144px -121px;}

div.flag_mini.bs {background-position: 0 -11px;}

div.flag_mini.kk {background-position: -208px -77px;}