body.helvetica,
body.helvetica input,
body.helvetica select,
body.helvetica button {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
body.helvetica a.helvetica {
  color: #fff;
  background: blue;
}
body.arial,
body.arial input,
body.arial select,
body.arial button {
  font-family: Arial, sans-serif;
}
body.arial a.arial {
  color: #fff;
  background: blue;
}
body.opensans,
body.opensans input,
body.opensans select,
body.opensans button {
  font-family: "Open Sans", sans-serif;
}
body.opensans a.opensans {
  color: #fff;
  background: blue;
}
body.istok,
body.istok input,
body.istok select,
body.istok button {
  font-family: 'Istok Web', sans-serif;
}
body.istok a.istok {
  color: #fff;
  background: blue;
}
body.arimo,
body.arimo input,
body.arimo select,
body.arimo button {
  font-family: 'Arimo', sans-serif;
}
body.arimo a.arimo {
  color: #fff;
  background: blue;
}
body.roboto,
body.roboto input,
body.roboto select,
body.roboto button {
  font-family: 'Roboto', sans-serif;
}
body.roboto a.roboto {
  color: #fff;
  background: blue;
}
body.titil,
body.titil input,
body.titil select,
body.titil button {
  font-family: 'Titillium Web', sans-serif;
}
body.titil a.titil {
  color: #fff;
  background: blue;
}
body.nobile {
  font-size: 12px;
}
body.nobile,
body.nobile input,
body.nobile select,
body.nobile button {
  font-family: 'Nobile', sans-serif;
}
body.nobile a.nobile {
  color: #fff;
  background: blue;
}
body.noto {
  font-size: 12px;
}
body.noto,
body.noto input,
body.noto select,
body.noto button {
  font-family: 'Noto Sans', sans-serif;
}
body.noto a.noto {
  color: #fff;
  background: blue;
}
body.ubuntu {
  font-size: 12px;
}
body.ubuntu,
body.ubuntu input,
body.ubuntu select,
body.ubuntu button {
  font-family: 'Ubuntu', sans-serif;
}
body.ubuntu a.ubuntu {
  color: #fff;
  background: blue;
}
body.play {
  font-size: 12px;
}
body.play,
body.play input,
body.play select,
body.play button {
  font-family: 'Play', sans-serif;
}
body.play a.play {
  color: #fff;
  background: blue;
}
body .switch-font {
  position: fixed;
  left: 10px;
  bottom: 40px;
  z-index: 99999;
  border: 1px solid #000000;
}
body .switch-font > a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background-color: #eaeaea;
  color: #333333;
  padding: 2px 10px;
}
