#hiddenLoginForm,
#hiddenRestoreForm,
#hiddenRegisterForm {
  display: none;
  visibility: hidden;
}
body:after {
  height: 64px;
}
.logo,
.top-buttons {
  left: 50%;
  margin-left: -512px;
}
.logo img {
  margin-top: 15px;
}
.top-buttons {
  top: 13px;
}
@media (max-width: 1500px) {
  .top-buttons {
    width: 1024px;
  }
}
.wrap {
  display: block;
  margin-top: 10px;
}
.split {
  display: block;
  height: 24px;
  position: relative;
  z-index: 100;
}
.split:before,
.split:after {
  display: block;
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  z-index: -2;
  margin-left: -502px;
  width: 1005px;
  height: 20px;
  background: -moz-radial-gradient(50% 50%,ellipse closest-side,rgba(0, 0, 0, 0.18),rgba(0, 0, 0, 0));
  background: -ms-radial-gradient(50% 50%,ellipse closest-side,rgba(0, 0, 0, 0.18),rgba(0, 0, 0, 0));
  background: -o-radial-gradient(50% 50%,ellipse closest-side,rgba(0, 0, 0, 0.18),rgba(0, 0, 0, 0));
  background: -webkit-radial-gradient(50% 50%,ellipse closest-side,rgba(0, 0, 0, 0.18),rgba(0, 0, 0, 0));
  background: radial-gradient(50% 50%,ellipse closest-side,rgba(0, 0, 0, 0.18),rgba(0, 0, 0, 0));
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha( Style=2,Opacity=18, FinishOpacity=0 )";
  filter: progid:DXImageTransform.Microsoft.Alpha( Style=2,Opacity=18, FinishOpacity=0 );
}
.split:after {
  top: auto;
  bottom: -10px;
}
.split > div {
  display: block;
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ececec;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
.wrap1 {
  display: block;
  background-color: #e0d5cc;
}
.wrap2 {
  display: block;
  position: relative;
  z-index: 100;
}
.wrap2:before,
.wrap2:after {
  display: block;
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  z-index: -2;
  margin-left: -502px;
  width: 1005px;
  height: 20px;
  background: -moz-radial-gradient(50% 50%,ellipse closest-side,rgba(0, 0, 0, 0.18),rgba(0, 0, 0, 0));
  background: -ms-radial-gradient(50% 50%,ellipse closest-side,rgba(0, 0, 0, 0.18),rgba(0, 0, 0, 0));
  background: -o-radial-gradient(50% 50%,ellipse closest-side,rgba(0, 0, 0, 0.18),rgba(0, 0, 0, 0));
  background: -webkit-radial-gradient(50% 50%,ellipse closest-side,rgba(0, 0, 0, 0.18),rgba(0, 0, 0, 0));
  background: radial-gradient(50% 50%,ellipse closest-side,rgba(0, 0, 0, 0.18),rgba(0, 0, 0, 0));
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha( Style=2,Opacity=18, FinishOpacity=0 )";
  filter: progid:DXImageTransform.Microsoft.Alpha( Style=2,Opacity=18, FinishOpacity=0 );
}
.wrap2:after {
  top: auto;
  bottom: -10px;
}
.wrap2 > div {
  display: block;
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #e7e7e7;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
.wrap3 {
  display: block;
  background-color: #6d6f72;
}
.slogan {
  display: block;
  width: 1005px;
  height: 492px;
  margin: 0 auto;
  background: none;
  position: relative;
  z-index: 1;
}
.slogan:before {
  display: block;
  width: 1029px;
  content: "";
  height: 492px;
  position: absolute;
  top: 0;
  left: -12px;
  z-index: -1;
  background: url(../images/index-pic.jpg) no-repeat 0 0;
}
.slogan .text {
  font-size: 17px;
  color: #ffffff;
  display: block;
  margin: 0 65px 0 630px;
  padding: 50px 0 0;
}
.slogan h3 {
  font-size: 33px;
  line-height: 40px;
  font-weight: normal;
  color: #ffffff;
  width: 400px;
}
.slogan b {
  font-weight: normal;
  color: #b7ecf0;
}
.slogan em {
  font-size: 22px;
  font-style: normal;
  color: #b7ecf0;
  vertical-align: middle;
}
.slogan em.red {
  line-height: 23px;
  color: #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #ff4a7a;
  background: -moz-linear-gradient(top, #ff4a7a 0%, #ec3465 100%);
  background: -ms-linear-gradient(top, #ff4a7a 0%, #ec3465 100%);
  background: -o-linear-gradient(top, #ff4a7a 0%, #ec3465 100%);
  background: -webkit-linear-gradient(top, #ff4a7a 0%, #ec3465 100%);
  background: linear-gradient(to bottom, #ff4a7a 0%, #ec3465 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff4a7a), color-stop(100%, #ec3465));
  padding: 0 5px;
}
.headers {
  display: block;
  width: 1029px;
  margin: 0 auto;
  position: relative;
  z-index: 100;
}
.headers h3 {
  font-size: 33px;
  text-transform: uppercase;
  color: #e40040;
  margin-left: 45px;
  text-shadow: 0 1px 0 #fff;
}
.headers a.video-btn {
  text-align: center;
  position: absolute;
  top: 20px;
  right: 0;
}
.points {
  display: block;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #edefef 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #edefef 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #edefef 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #edefef 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #edefef 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #edefef));
}
.points > div {
  display: block;
  width: 1005px;
  margin: 0 auto;
  position: relative;
  padding: 0 30px;
}
.points ol {
  display: block;
  border-top: 1px solid #c4c4c4;
  margin-top: 17px;
  padding: 0 20px;
}
.points ol li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 33%;
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  counter-increment: ptnum;
  padding: 30px 0 30px 70px;
  font-size: 17px;
  line-height: 140%;
  color: #828283;
  border-top: 1px solid #ffffff;
  text-shadow: 0 1px 0 #fff;
}
.points ol li:before {
  content: counter(ptnum) ".";
  position: absolute;
  top: 40px;
  left: 10px;
  font-size: 60px;
  color: #4e4e4f;
}
.points ol li:nth-child(4+n) {
  display: none;
}
.points ol li b {
  font-size: 120%;
  font-weight: normal;
  text-transform: uppercase;
  color: #d32359;
}
.points ol li > .ptr {
  width: 0;
  height: 0;
  background: #fff;
  position: relative;
  margin: 0;
  margin-bottom: 12px;
  position: absolute;
  top: -2px;
  left: 17px;
  z-index: 100;
}
.points ol li > .ptr:before,
.points ol li > .ptr:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  position: absolute;
  pointer-events: none;
}
.points ol li > .ptr:before {
  border-width: 11px;
}
.points ol li > .ptr:after {
  border-width: 10px;
}
.points ol li > .ptr:before,
.points ol li > .ptr:after {
  top: 100%;
  left: 10px;
}
.points ol li > .ptr:before {
  margin-left: -11px;
  border-top-color: #c4c4c4;
}
.points ol li > .ptr:after {
  margin-left: -10px;
  border-top-color: #ffffff;
}
.quotes {
  display: block;
  width: 1005px;
  margin: 0 auto;
  padding: 0 0;
  background: url(../images/pattern_black.png) 0 0;
  position: relative;
}
.quotes:before,
.quotes:after {
  display: block;
  width: 150px;
  height: 100%;
  content: '';
  position: absolute;
  top: 0;
}
.quotes:before {
  left: 0;
  background: -moz-linear-gradient(left, #e0d5cc,rgba(224, 213, 204, 0));
  background: -ms-linear-gradient(left, #e0d5cc,rgba(224, 213, 204, 0));
  background: -o-linear-gradient(left, #e0d5cc,rgba(224, 213, 204, 0));
  background: -webkit-linear-gradient(left, #e0d5cc,rgba(224, 213, 204, 0));
  background: linear-gradient(to right, #e0d5cc,rgba(224, 213, 204, 0));
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e0d5cc), color-stop(100%, rgba(224, 213, 204, 0)));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr=#ffe0d5cc, endColorstr=#00e0d5cc,GradientType=1 )";
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#ffe0d5cc, endColorstr=#00e0d5cc,GradientType=1 );
}
.quotes:after {
  right: 0;
  background: -moz-linear-gradient(left, rgba(224, 213, 204, 0),#e0d5cc);
  background: -ms-linear-gradient(left, rgba(224, 213, 204, 0),#e0d5cc);
  background: -o-linear-gradient(left, rgba(224, 213, 204, 0),#e0d5cc);
  background: -webkit-linear-gradient(left, rgba(224, 213, 204, 0),#e0d5cc);
  background: linear-gradient(to right, rgba(224, 213, 204, 0),#e0d5cc);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(224, 213, 204, 0)), color-stop(100%, #e0d5cc));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr=#00e0d5cc, endColorstr=#ffe0d5cc,GradientType=1 )";
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#00e0d5cc, endColorstr=#ffe0d5cc,GradientType=1 );
}
.quotes > div {
  display: block;
  overflow: hidden;
  padding: 50px 45px;
  margin: 0 0 0 -95px;
}
.quotes blockquote {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 410px;
  vertical-align: top;
  position: relative;
  float: left;
  margin: 0 0 0 95px;
  padding-top: 110px;
  z-index: 10;
}
.quotes blockquote:first-child {
  padding-top: 0;
}
.quotes blockquote .quote {
  display: block;
  position: relative;
  background-color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #c2b4aa;
  -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  padding: 45px 65px;
  font-size: 18px;
  font-style: italic;
  color: #5f5f5f;
}
.quotes blockquote .quote:before,
.quotes blockquote .quote:after {
  display: block;
  width: 70px;
  height: 57px;
  content: '';
  background: url(../images/quotes.png) no-repeat 0 0;
}
.quotes blockquote .quote:before {
  position: absolute;
  top: -18px;
  left: 10px;
}
.quotes blockquote .quote:after {
  position: absolute;
  bottom: -18px;
  right: 10px;
  background-position: -70px 0;
}
.quotes blockquote .author {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 25px;
  font-size: 21px;
  color: #bb0036;
  font-style: italic;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  position: relative;
  margin: 0;
  margin-bottom: 22px;
  margin-left: 40px;
  margin-bottom: 0;
}
.quotes blockquote .author:before,
.quotes blockquote .author:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  position: absolute;
  pointer-events: none;
}
.quotes blockquote .author:before {
  border-width: 21px;
}
.quotes blockquote .author:after {
  border-width: 20px;
}
.quotes blockquote .author:before,
.quotes blockquote .author:after {
  top: 100%;
  left: 50%;
}
.quotes blockquote .author:before {
  margin-left: -21px;
  border-top-color: #b5a599;
}
.quotes blockquote .author:after {
  margin-left: -20px;
  border-top-color: #ffffff;
}
.quotes blockquote .author:after,
.quotes blockquote .author:before {
  top: -1px;
}
.quotes blockquote .source {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: right;
  color: #535353;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.portable {
  display: block;
  width: 1005px;
  margin: 0 auto;
  position: relative;
  background: none;
  padding: 25px 0 30px;
  white-space: nowrap;
  z-index: 100;
}
.portable:before {
  display: block;
  width: 1041px;
  content: "";
  height: 496px;
  position: absolute;
  top: 190px;
  left: -20px;
  z-index: -1;
  background: url(../images/mobile.jpg) no-repeat 0 0;
}
.portable h3 {
  font-size: 30px;
  text-transform: uppercase;
  color: #535353;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  padding: 25px 40px;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  margin-bottom: 100px;
  -webkit-box-shadow: 100% 7px #e7e7e7 #ffffff;
  -moz-box-shadow: 100% 7px #e7e7e7 #ffffff;
  box-shadow: 100% 7px #e7e7e7 #ffffff;
  position: relative;
  z-index: 100;
}
.portable h3:before {
  display: block;
  content: '';
  position: absolute;
  bottom: -7px;
  left: 50%;
  z-index: -1;
  margin-left: -50%;
  width: 100%;
  height: 14px;
  background: -moz-radial-gradient(50% 50%,ellipse closest-side,rgba(0, 0, 0, 0.18),rgba(0, 0, 0, 0));
  background: -ms-radial-gradient(50% 50%,ellipse closest-side,rgba(0, 0, 0, 0.18),rgba(0, 0, 0, 0));
  background: -o-radial-gradient(50% 50%,ellipse closest-side,rgba(0, 0, 0, 0.18),rgba(0, 0, 0, 0));
  background: -webkit-radial-gradient(50% 50%,ellipse closest-side,rgba(0, 0, 0, 0.18),rgba(0, 0, 0, 0));
  background: radial-gradient(50% 50%,ellipse closest-side,rgba(0, 0, 0, 0.18),rgba(0, 0, 0, 0));
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha( Style=2,Opacity=18, FinishOpacity=0 )";
  filter: progid:DXImageTransform.Microsoft.Alpha( Style=2,Opacity=18, FinishOpacity=0 );
}
.portable h3:after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #e7e7e7;
}
.portable h3:after {
  border-bottom: 1px solid #ffffff;
}
.portable a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  position: relative;
  margin: 0;
}
.portable .ios {
  margin-left: -20px;
  top: 34px;
  width: 182px;
  height: 352px;
}
.portable .android {
  margin-left: -21px;
  top: -30px;
  width: 155px;
  height: 381px;
}
.portable .mac {
  margin-left: -62px;
  width: 780px;
  height: 466px;
}
.video {
  display: block;
  width: 1005px;
  margin: 0 auto;
  padding: 0 0 0;
}
.video h3 {
  font-size: 30px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 25px 45px;
  border-bottom: 1px solid #c4c4c4;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  margin: 0;
  margin-bottom: 17px;
  margin-bottom: 0;
  z-index: 1;
}
.video h3:before,
.video h3:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  position: absolute;
  pointer-events: none;
}
.video h3:before {
  border-width: 16px;
}
.video h3:after {
  border-width: 15px;
}
.video h3:before,
.video h3:after {
  top: 100%;
  left: 50%;
}
.video h3:before {
  margin-left: -16px;
  border-top-color: #c4c4c4;
}
.video h3:after {
  margin-left: -15px;
  border-top-color: #6d6f72;
}
.video > div {
  padding: 50px 0 100px;
  background: url(../images/pattern_white.png) 0 0;
  text-align: center;
  position: relative;
}
.video > div:before,
.video > div:after {
  display: block;
  width: 150px;
  height: 100%;
  content: '';
  position: absolute;
  top: 0;
}
.video > div:before {
  left: 0;
  background: -moz-linear-gradient(left, #6d6f72,rgba(109, 111, 114, 0));
  background: -ms-linear-gradient(left, #6d6f72,rgba(109, 111, 114, 0));
  background: -o-linear-gradient(left, #6d6f72,rgba(109, 111, 114, 0));
  background: -webkit-linear-gradient(left, #6d6f72,rgba(109, 111, 114, 0));
  background: linear-gradient(to right, #6d6f72,rgba(109, 111, 114, 0));
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #6d6f72), color-stop(100%, rgba(109, 111, 114, 0)));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr=#ff6d6f72, endColorstr=#006d6f72,GradientType=1 )";
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#ff6d6f72, endColorstr=#006d6f72,GradientType=1 );
}
.video > div:after {
  right: 0;
  background: -moz-linear-gradient(left, rgba(109, 111, 114, 0),#6d6f72);
  background: -ms-linear-gradient(left, rgba(109, 111, 114, 0),#6d6f72);
  background: -o-linear-gradient(left, rgba(109, 111, 114, 0),#6d6f72);
  background: -webkit-linear-gradient(left, rgba(109, 111, 114, 0),#6d6f72);
  background: linear-gradient(to right, rgba(109, 111, 114, 0),#6d6f72);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(109, 111, 114, 0)), color-stop(100%, #6d6f72));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr=#006d6f72, endColorstr=#ff6d6f72,GradientType=1 )";
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#006d6f72, endColorstr=#ff6d6f72,GradientType=1 );
}
.video .player {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 567px;
  height: 360px;
  vertical-align: top;
  position: relative;
  border: 10px solid #f2f2f2;
}
.video .player:after {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 120%;
  height: 30px;
  content: '';
  position: absolute;
  bottom: -50px;
  left: -10%;
  z-index: 1;
  background: -moz-radial-gradient(50% 50%,ellipse closest-side,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0));
  background: -ms-radial-gradient(50% 50%,ellipse closest-side,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0));
  background: -o-radial-gradient(50% 50%,ellipse closest-side,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0));
  background: -webkit-radial-gradient(50% 50%,ellipse closest-side,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0));
  background: radial-gradient(50% 50%,ellipse closest-side,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0));
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha( Style=2,Opacity=30, FinishOpacity=0 )";
  filter: progid:DXImageTransform.Microsoft.Alpha( Style=2,Opacity=30, FinishOpacity=0 );
}
.video .player > * {
  display: block;
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
}
.centered {
  display: block;
  width: 100%;
  position: absolute;
  overflow: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 9980;
  padding-top: 56px;
  margin-top: -56px;
  padding-bottom: 64px;
}
.content-wrapper {
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
