.hp_preload1{
    width: 0px;
    height: 0px;
    background-image: url('../images/hp_watch_over.png');
}

.hp_preload2{
    width: 0px;
    height: 0px;
    background-image: url("../images/hp_watch_press.png");
}

#hp_fader{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background-color: #000000;
    opacity: 0.5;
    z-index: 50;
}

#hp_login{
    background-image: url("../images/hp_login.png");
    width: 662px;
    height: 742px;
/*
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -331px;
    margin-top: -371px;
    z-index: 100;
    visibility: hidden;
*/
    display: block;
    position: relative;
}

#hp_loginClose{
    position: absolute;
    right: 0px;
    margin-right: 6px;
    margin-top: 6px;
    width: 37px;
    height: 36px;
    border-left: 1px solid rgb(208, 208, 208);
    border-bottom: 1px solid rgb(208, 208, 208);
    cursor: pointer;
}

.container{
    display: inline-block;
    min-width: 1100px;
}

#hp_topmenu_wrap{
width: 100%;
height: 56px;
background: url('../images/hp_topmenu_wrap.png') repeat-x;
}

#hp_topmenu{
width: 1085px;
height: 56px;
background: url('../images/hp_topmenu.png');
margin-left: auto;
margin-right: auto;
}

#hp_picture_wrap{
width: 100%;
height: 726px;
background: url('../images/hp_picture_wrap.png') repeat-x;
}

#hp_picture{
position: relative;
width: 1085px;
height: 726px;
background: url('../images/hp_picture.png');
margin-left: auto;
margin-right: auto;
}

#hp_keepstrack{
width: 400px;
*height: 91px;
display: inline-block;
position: relative;
*background: url('../images/hp_keepstrack.png');
/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
font-weight: lighter;
font-size: 33px;
color: #ffffff;
margin-left: 650px;
margin-top: 68px;
}

#hp_suchas{
/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
font-size: 17px;
color: #ffffff;
width: 334px;
height: 153px;
display: inline-block;
position: relative;
top: 16px;
left: 650px;
}

#hp_watch{
display: inline-block;
position: absolute;
background-image: url("../images/hp_watch_norm.png");
background-repeat: no-repeat;
width: 331px;
height: 37px;
top: 508px;
left: 705px;
cursor: pointer;
}

#hp_watch:hover{
background-image: url("../images/hp_watch_over.png");
}

#hp_watch:active{
background-image: url("../images/hp_watch_press.png");
}

#hp_quotes_wrap{
width: 100%;
height: 524px;
background: url('../images/hp_quotes_wrap.png') repeat-x;
}

#hp_quotes{
color: #727272;
/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
font-style: italic;
font-size: 18px;
position: relative;
width: 1085px;
height: 524px;
background: url('../images/hp_quotes.png');
margin-left: auto;
margin-right: auto;
}

#hp_quote1{
display:inline-block;
position: absolute;
width: 288px;
left: 157px;
top: 99px;
}

#hp_quote2{
display:inline-block;
position: absolute;
width: 210px;
left: 692px;
top: 228px;
}

#hp_mobile_wrap{
width: 100%;
height: 748px;
background: url('../images/hp_mobile_wrap.png') repeat-x;
}

#hp_mobile{
position: relative;
width: 1085px;
height: 748px;
background: url('../images/hp_mobile.png');
margin-left: auto;
margin-right: auto;
}

#hp_iphone{
position: absolute;
left: 54px;
top: 265px;
width: 182px;
height: 352px;
background: url('../images/hp_iphone.png') no-repeat;
}

#hp_htc{
position: absolute;
left: 209px;
top: 201px;
width: 155px;
height: 381px;
background: url('../images/hp_htc.png') no-repeat;
}

#hp_macbook{
position: absolute;
left: 313px;
top: 231px;
width: 780px;
height: 466px;
overflow: hidden;
background: url('../images/hp_macbook.png') no-repeat;
}

#hp_video_wrap{
width: 100%;
height: 547px;
background: url('../images/hp_video_wrap.png') repeat-x;
margin-bottom: -17px;
}

#hp_video{
width: 1085px;
height: 547px;
background: url('../images/hp_video.png');
margin-left: auto;
margin-right: auto;
position: relative;
}

#hp_screen{
width: 567px;
height: 360px;
position: absolute;
left: 259px;
top: 118px;
background: url('../images/hp_screen.png');
}

#hp_player{
left: 11px;
top: 11px;
width: 545px;
height: 338px;
position: absolute;
}

#hp_footer_wrap{
width: 100%;
height: 64px;
background: url('../images/hp_footer_wrap.png') repeat-x;
}

#hp_footer{
width: 1085px;
height: 64px;
background: url('../images/hp_footer.png');
margin-left: auto;
margin-right: auto;
}

.hp_bluetext{
color: #b7ecf0
}

.hp_params{
font-size: 22px;
vertical-align: middle;
}

.hp_programs{
display:inline-block;
text-align: center;
vertical-align: middle;
min-width: 48px;
min-height: 23px;
line-height: 23px;
background: url('../images/hp_red.png') no-repeat;
color: rgb(255,255,255);
}

.hp_noplayer{
text-decoration: underline;
}

.hp_loginBottomMenu{
    position: absolute;
    line-height: 30px;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-size: 12px;
    color: rgb(102, 102, 102);
    bottom: 6px;
    right: 6px;
    display: inline-block;
}

.hp_loginBottomMenuItem{
    border-left: solid 1px rgb(204, 204, 204);
    padding: 0px 8px;
    display: inline-block;
    cursor: pointer;
}
