[class^="old-icon-"],
[class*=" old-icon-"] {
  display: inline-block;
  position: relative;
  margin-top: 1px;
  *margin-right: .3em;
  vertical-align: text-top;
  background-image: url("../images/icon-sprite.png");
  background-repeat: no-repeat;
  background-position: 14px 14px;
  width: 30px;
  height: 20px;
  line-height: 20px;
}
.old-icon-member {
  width: 12px;
  height: 15px;
  background-position: -101px -46px;
}
.old-icon-one-way {
  width: 45px;
  height: 13px;
  margin-top: 4px !important;
  background-position: -155px -309px;
}
.old-icon-round-trip {
  width: 45px;
  height: 21px;
  background-position: -155px -333px;
}
.old-icon-multiple-destinations {
  width: 80px;
  height: 13px;
  margin-top: 4px !important;
  background-position: -155px -365px;
}
.old-icon-check-green {
  width: 19px;
  height: 15px;
  background-position: -277px -139px;
}
.old-icon-check-white {
  width: 19px;
  height: 15px;
  background-position: -302px -139px;
}
.old-icon-double-arrow-top {
  width: 14px;
  height: 17px;
  background-position: -152px -141px;
}
.old-icon-double-arrow-bottom {
  width: 14px;
  height: 17px;
  background-position: -176px -142px;
}
.old-icon-new {
  background-position: -99px -363px;
  width: 28px;
  height: 12px;
  line-height: 12px;
}
.old-icon-info {
  width: 17px;
  height: 18px;
  line-height: 18px;
  background-position: -200px -140px;
}
.old-icon-success {
  width: 19px;
  height: 15px;
  line-height: 15px;
  background-position: -277px -139px;
}
.old-icon-error {
  width: 13px;
  height: 13px;
  line-height: 13px;
  margin: 2px 15px 0 0;
  background-position: -26px -222px;
}
.old-icon-gears {
  background-position: -48px -40px;
  width: 30px;
  height: 20px;
  line-height: 20px;
}
.old-icon-refresh {
  background-position: 0 -40px;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.old-icon-trash {
  background-position: -29px -40px;
  width: 16px;
  height: 20px;
  line-height: 20px !important;
}
.old-icon-caret {
  background-position: -29px -20px;
  width: 7px;
  height: 6px;
  line-height: 6px;
  margin: 4px -3px;
}
.old-icon-check {
  background-position: -21px -167px;
  width: 10px;
  height: 11px;
  line-height: 11px;
  margin: 0;
}
.old-icon-cross {
  background-position: -22px -103px;
  width: 10px;
  height: 10px;
  line-height: 10px;
  margin: 0;
}
.old-icon-cross-contrast {
  background-position: 0px -103px;
  width: 10px;
  height: 10px;
  line-height: 10px;
  margin: 0;
}
.old-icon-cross-dark {
  background-position: -44px -103px;
  width: 10px;
  height: 10px;
  line-height: 10px;
  margin: 0;
}
.old-icon-plus {
  background-position: -15px -4px;
  width: 8px;
  height: 10px;
  line-height: 10px;
  margin: 3px -3px;
}
.old-icon-plus-gray {
  background-position: 0 -4px;
  width: 10px;
  height: 10px;
  line-height: 10px;
  margin: 3px 0;
}
.old-icon-plus-graycircle {
  background-position: 0 -138px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  margin-top: 0;
}
.old-icon-plus-greencircle {
  background-position: -27px -138px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  margin-top: 0;
}
.old-icon-minus-graycircle {
  background-position: -51px -138px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  margin-top: 0;
}
.old-icon-minus-greencircle {
  background-position: -76px -138px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  margin-top: 0;
}
.old-icon-sort-asc {
  background-position: -43px -20px;
  width: 5px;
  height: 4px;
  line-height: 4px;
  margin: 0;
}
.old-icon-sort-desc {
  background-position: -43px -15px;
  width: 5px;
  height: 4px;
  line-height: 4px;
  margin: 0;
}
.old-icon-drop-shut {
  background-position: -16px -18px;
  width: 9px;
  height: 9px;
  line-height: 9px;
  margin: 0;
}
.old-icon-drop-open {
  background-position: 0 -18px;
  width: 9px;
  height: 9px;
  line-height: 9px;
  margin: 0;
}
.old-icon-search {
  background-position: -127px -187px;
  width: 19px;
  height: 19px;
  line-height: 19px;
  margin: 0;
}
.old-icon-plus-white {
  background-position: -70px -98px;
}
.old-icon-flag-en {
  background-position: 0 -251px;
  width: 10px;
  height: 10px;
  line-height: 10px;
}
.old-icon-flag-ru {
  background-position: -15px -251px;
  width: 10px;
  height: 10px;
  line-height: 10px;
}
.old-icon-flag-de {
  background-position: -45px -251px;
  width: 10px;
  height: 10px;
  line-height: 10px;
}
.old-icon-flag-fr {
  background-position: -30px -251px;
  width: 10px;
  height: 10px;
  line-height: 10px;
}
.old-icon-flag-ch {
  background-position: -60px -251px;
  width: 10px;
  height: 10px;
  line-height: 10px;
}
.old-icon-mobile-android {
  background-position: 0 -309px;
  width: 88px;
  height: 31px;
  line-height: 31px;
  margin: 0;
}
.old-icon-mobile-iphone {
  background-position: 0 -349px;
  width: 88px;
  height: 31px;
  line-height: 31px;
  margin: 0;
}
.old-icon-pdf {
  background-position: -22px -278px;
  width: 18px;
  height: 18px;
  line-height: 18px;
}
.old-icon-xls {
  background-position: 0 -278px;
  width: 18px;
  height: 18px;
  line-height: 18px;
}
.old-icon-user {
  background-position: -58px -71px;
  width: 10px;
  height: 13px;
  line-height: 13px;
}
.old-icon-user-white {
  background-position: -84px -46px;
  width: 15px;
  height: 13px;
  line-height: 13px;
}
.old-icon-group {
  background-position: -78px -66px;
  width: 18px;
  height: 16px;
  line-height: 16px;
}
.old-icon-check-empty {
  background-position: 0 -68px;
  width: 16px;
  height: 16px;
  line-height: 16px;
}
.old-icon-check-filled {
  background-position: -25px -68px;
  width: 16px;
  height: 16px;
  line-height: 16px;
}
.old-icon-check-disabled {
  background-position: -254px -164px;
  width: 16px;
  height: 16px;
  line-height: 16px;
}
.old-icon-check-disabled-filled {
  background-position: -277px -162px;
  width: 16px;
  height: 16px;
  line-height: 16px;
}
.old-icon-skyteam {
  background-position: -117px -27px;
  width: 22px;
  height: 22px;
  line-height: 22px;
}
.old-icon-skyteam-elite {
  background-position: -117px -27px;
  width: 22px;
  height: 22px;
  line-height: 22px;
}
.old-icon-skyteam-eliteplus {
  background-position: -117px -27px;
  width: 22px;
  height: 22px;
  line-height: 22px;
}
.old-icon-staralliance {
  background-position: -153px -28px;
  width: 22px;
  height: 22px;
  line-height: 22px;
}
.old-icon-oneworld {
  background-position: -190px -4px;
  width: 22px;
  height: 22px;
  line-height: 22px;
}
.old-icon-attach {
  background-position: -1px -164px;
  width: 10px;
  height: 13px;
  line-height: 13px;
}
.old-icon-note {
  background-position: -1px -164px;
  width: 10px;
  height: 13px;
  line-height: 13px;
}
.old-icon-code {
  background-position: -1px -164px;
  width: 10px;
  height: 13px;
  line-height: 13px;
}
.old-icon-check-small {
  background-position: -1px -164px;
  width: 10px;
  height: 13px;
  line-height: 13px;
}
.old-icon-warning {
  background-position: 0 -222px;
  width: 16px;
  height: 14px;
  line-height: 14px;
}
.old-icon-information {
  background-position: -86px -218px;
  width: 25px;
  height: 23px;
  line-height: 23px;
}
.old-icon-expired {
  background-position: -25px -222px;
  width: 16px;
  height: 14px;
  line-height: 14px;
}
.old-icon-sharp {
  background-position: -91px -101px;
  width: 13px;
  height: 11px;
  line-height: 11px;
}
.old-icon-update {
  background-position: 0px -191px;
  width: 13px;
  height: 13px;
  line-height: 13px;
}
.old-icon-edit {
  background-position: -20px -191px;
  width: 13px;
  height: 13px;
  line-height: 13px;
}
.old-icon-print {
  background-position: -47px -190px;
  width: 14px;
  height: 14px;
  line-height: 14px;
}
.old-icon-check-gray {
  background-position: -69px -190px;
  width: 14px;
  height: 12px;
  line-height: 12px;
}
.old-icon-check-hollow {
  background-position: -88px -185px;
  width: 25px;
  height: 24px;
  line-height: 24px;
}
.old-icon-user-login {
  background-position: -60px -4px;
  width: 25px;
  height: 24px;
  line-height: 24px;
}
.old-icon-user-pass {
  background-position: -75px -4px;
  width: 25px;
  height: 24px;
  line-height: 24px;
}
.old-icon-plus-gray-thick {
  background-position: -178px -170px;
  width: 12px;
  height: 12px;
  line-height: 12px;
}
.old-icon-timeline {
  background-position: -202px -163px;
  width: 14px;
  height: 21px;
  line-height: 21px;
}
.old-icon-follow-gray {
  background-position: -129px -166px;
  width: 12px;
  height: 15px;
  line-height: 15px;
}
.old-icon-follow-dark {
  background-position: -129px -140px;
  width: 12px;
  height: 15px;
  line-height: 15px;
}
.old-icon-past-travel {
  background-position: -152px -141px;
  width: 14px;
  height: 20px;
  line-height: 20px;
}
.old-icon-next-travel {
  background-position: -176px -141px;
  width: 14px;
  height: 20px;
  line-height: 20px;
}
.old-icon-move {
  background-position: -182px -192px;
  width: 18px;
  height: 18px;
  line-height: 18px;
}
.old-icon-login {
  background-position: -155px -192px;
  width: 18px;
  height: 18px;
  line-height: 18px;
}
.old-icon-refresh-thick {
  background-position: -207px -192px;
  width: 18px;
  height: 18px;
  line-height: 18px;
}
.old-icon-edit-thick {
  background-position: -122px -221px;
  width: 18px;
  height: 18px;
  line-height: 18px;
}
.old-icon-print-thick {
  background-position: -150px -221px;
  width: 18px;
  height: 18px;
  line-height: 18px;
}
.old-icon-share-thick {
  background-position: -176px -221px;
  width: 18px;
  height: 18px;
  line-height: 18px;
}
.old-icon-publish-thick {
  background-position: -200px -221px;
  width: 18px;
  height: 18px;
  line-height: 18px;
}
.old-icon-edit-blk {
  background-position: -123px -221px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin: -1px 7px 0 0 !important;
}
[class^="old-icon-provider-"],
[class*=" old-icon-provider-"] {
  background-image: url(../images/prov-sprite.png);
  background-repeat: no-repeat;
  width: 47px;
  height: 47px;
  line-height: 47px;
  background-position: -89px 5px;
}
.old-icon-provider-A {
  background-position: 6px 5px;
}
.old-icon-provider-I,
.old-icon-provider-H {
  background-position: -41px 5px;
}
.old-icon-provider-R {
  background-position: -182px 5px;
}
.old-icon-provider-T {
  background-position: -87px -42px;
}
.old-icon-provider-D {
  background-position: 6px -42px;
}
.old-icon-provider-W {
  background-position: -136px 5px;
}
.old-icon-provider-V {
  background-position: -182px -42px;
}
.old-icon-provider-Z {
  background-position: -89px 5px;
}
.old-icon-provider-B {
  background-position: -41px -42px;
}
.old-icon-provider-C {
  background-position: -182px -42px;
}
.old-icon-provider-F {
  background-position: -136px -42px;
}
.old-icon-provider-L {
  background-position: -136px 5px;
}
.old-icon-account-update {
  background-position: -177px -258px;
  width: 16px;
  height: 12px;
  line-height: 12px;
  margin-top: 3px;
}
.old-icon-balance-up {
  background-position: -95px -155px;
  width: 6px;
  height: 20px;
  line-height: 20px;
  margin: 0 5px;
}
.old-icon-balance-down {
  background-position: -108px -160px;
  width: 6px;
  height: 20px;
  line-height: 20px;
  margin: 0 5px;
}
