.mp .icon_asc {
    background: url(/assets/awardwalletmain/images/icon-sprite.png) -42px -12px no-repeat;
    height: 7px;
    width: 7px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
}

.mp .icon_desc {
    background: url(/assets/awardwalletmain/images/icon-sprite.png) -42px -19px no-repeat;
    width: 7px;
    height: 7px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
}

.mp .icon_sortable {
    background: url(/assets/awardwalletmain/images/icon-sprite.png) -42px -11px no-repeat;
    opacity: 0.5;
    width: 7px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
}

tr.caption td.mp a {
    display: inline;
}

table.mp_table {
    border-width: 0 !important;
    margin: 5px;
    vertical-align: middle;
}

.mp_table td.mp {
    background-color: white;
    border-bottom: #D0D0D0 1px solid;
    color: #4D4D4D;
    font-size: 12px;
    height: 22px;
    padding: 3px 7px;
    text-align: left;
    text-shadow: 0 1px 0 white;
}

.mp_table td.mp ul {
    margin: 0;
    padding: 0 12px;
}

.mp_table td.mp.left {
    text-align: left;
}

.mp_table td.mp.center {
    text-align: center;
}

.mp_table td.mp.bothBorder {
    border-left: #D0D0D0 1px solid;
    border-right: #D0D0D0 1px solid;
}

.mp_table td.mp.leftBorder {
    border-left: #D0D0D0 1px solid;
}

.mp_table td.mp.rightBorder {
    border-right: #D0D0D0 1px solid;
}

.mp_table td.mp.topBorder {
    border-top: #D0D0D0 1px solid;
}

.mp_table td.mp.thickDownBorder {
    border-bottom-width: 3px;
}

.mp_table td.mp.notice {
    color: #ff4500;
}

.mp_table td.mp.select {
    background-color: #FFFDF5;
}

.mp_table tr.scan td.mp {
    font-style: italic;
}

.mp_table tr._odd td.mp {
    background-color: #F7F7F7;
}

.mp_table tr.parsed td.mp {
    background-color: #DBFFE4;
}

.mp_table tr.rejected td.mp {
    background-color: #FFEBEB;
}

.mp_table tr.process td.mp {
    background-color: #FFFFDB;
}

.mp_table tr.restricted td.mp {
    background-color: #FFDBFC;
}

.mp_table tr.skipped td.mp {
    background-color: #B9FEFF;
}

.mp_table tr.timeout td.mp {
    background-color: #ffe1c5;
}

/* tooltip */
.mp_tt {
    border-bottom: 1px dotted #000000;
    color: #000000;
    outline: none;
    cursor: help;
    text-decoration: none;
    position: relative;
}

.mp_tt table {
    margin-left: -999em;
    position: absolute;
}

.mp_tt:hover table {
    position: absolute;
    left: 1em;
    top: 2em;
    z-index: 99;
    margin-left: 0;
    width: 100px;
}

.mp_tt span {
    margin-left: -999em;
    position: absolute;
}

.mp_tt:hover span {
    position: absolute;
    left: 1em;
    top: 2em;
    z-index: 99;
    margin-left: 0;
    width: auto;
    background-color: white;
    border: lightgrey solid 1px;
    padding: 1px;
}

.mp_table tr.white td.mp {
    background-color: white;
}

.mp_table td.mp.comments {
    color: Red;
}

.mp_table .caption td.mp {
    background-image: url(/design/bundles/awardwalletmain/images/sprite-vertical.png);
    background-position: 0 0;
    background-repeat: repeat-x;
    border-top: #AEAEAE 1px solid;
    border-bottom: #AEAEAE 1px solid;
    font-size: 13px;
    font-weight: bolder;
    height: 36px;
    overflow: hidden;
    padding: 0 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mp_table .caption td.mp.bothBorder {
    border-left: #AEAEAE 1px solid;
    border-right: #AEAEAE 1px solid;
}

.mp_table .caption td.mp.rightBorder {
    border-right: #AEAEAE 1px solid;
}

table.mp_table tr.list_row td.mp {
}

table.mp_table tr.list_row td.mp.subject {
    width: 700px;
}

div.mpbox {
    border: grey solid 1px;
    margin: 5px;
}

tr.filters input {
    width: 97%;
}

tr.filters select {
    width: 100%;
}

div.it_header {
    padding: 3px;
}

div.data form table tr td.mp input {
    width: 200px;
}

div.data form table tr td.mp textarea {
    width: 200px;
    height: 50px;
}

div.data form table tr {
    border-bottom: #dcdcdc solid 1px;
}

tr.date_result td.mp {
    font-size: small;
    text-align: right;
}

div#popup {
    display: none;
    position: absolute;
    width: 600px;
    border: darkgrey solid 3px;
    background-color: white;
    border-radius: 10px;
    left: 200px;
    top: 100px;
    z-index: 100;
    padding: 30px;
}

div#popup_buttons div {
    padding: 5px 10px;
    margin: 10px;
    float: left;
    background-color: #dcdcdc;
    cursor: pointer;
}

div#popup_buttons div:hover {
    background-color: #a9a9a9;
}

h1 {
    border: 1px solid gray;
    background-color: #eeeeee;
    padding: 5px;
}

#contentBody {
    padding-bottom: 10px;
}

.mp_icon {

    display: inline-block;
}

.mp_icon_pdf {
    width: 18px;
    height: 24px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAYCAYAAAD3Va0xAAAB5ElEQVQ4T+3UzUsbQRjH8e/kZVdIjG+BUloDjYYkVgsexKtCsYRK1CAeW821Cv4J3jQe/Qu8iIdC6KGEHIpgTq7WHpqDtiuV9BKIwahRuqHNpqygjYjJxl566FxmYGY+PPyeYcRHu/11RYgVwEWd8XhiQm/2elOO/v7nYmqqXH1cKJJUsEBrPcTY90QitA8MUMrnPzhk+YVYWNCv7okdSaqYQaohY/0jn082y/LLK+zekIGVjo7eOxYXw0KIyl9BBqblcu+cS0uRhqCHIyM8GB6+lYSWy71tCLI5nTwaHcWYq0dFiHJDUK2m/If+pCNsNqwuF7+Oj29EZjqjvv190oEAwVQK7eCAw2j0bsjmdtM+OYns9XK+tUUhHsc9PU1Td/fl/DUcxp9I8C0a5TSRuBtq8vvpWl8nMzdH19oa6tgYT1ZXyczO4ovHSff20rO9zZehIUqZTG2oMxZDHR/n6e4u2ViMllCIw5kZnqkqn30++vb2SAeDt57UjYyMigIbGxQ3N5E8HtRwmB5F4VxRaA2F+NTRYR7qXF7m+/w8P7NZdE3D2taGRZbRLy4oF4uXHSufndWuyLjkHBzkNJk0+0VdnzPd/nryPwgpknRigZZ6pdfZL4gdu/2VLsTKfTEdTqzw5jdlabnidNZjLgAAAABJRU5ErkJggg==");
}

.mp_icon_image {
    width: 16px;
    height: 16px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAADDUlEQVR42mWTWUhUURzGv7vfaUYdndF0Bhm1ciEsirKIlocKgiCkB6F86+EGPQSFYUSYCkUbpbaYU1kR7YlFEEJpWYItRlTmNomGzbgFjlnmLPfe/ndKxuoePs6Be77f+c7yZxD9lm7ZWvgsOcUhcxwLlmXAMr97hpkhaqqqasePH9sVCASqGMNJPzYszcs7caLiVM7s5GToOiAIPASOAxcRC45lwZB4GsuyhLS0NLfP690eATgcjpqGxmbFbJJwvb4JDY9aYZFEWESexEHiyUwzQ6qGMCW4cP4QAVxun88XBTS3tCqyLKL+wVO8aGlDglmEzSzBZhEQQxDaCSZDGiaCKnaV7oXLRQl8MxK0vmpTJFHAnVt3MdDVCVdiHFITZDjjOdhIdBzw+8MYndCxZtseAvyT4M3bd4rAczhQUoLLtRfgsMdh7aJ0rF+egpWbcmFNikXgfS+GBzS4Ck//v4V3H9oVng6srKwcNylFgjUeVosZWTYBBasSkZNjw5feKQz4OWwuqUa6cYhRgLPmY0eHYlxZReVFXLl6AxaTgMxUO+YliFgxV4BF5tE/yuDzBIPiinOYk5ERBTidzpqOzq4I4Mjhk7hUewlxsTGw221IiRGRv4CH3Syg3cdjNMBh3+laZM6b+zegq7tbMR7J0WNVqKk+S/cNpCQnITHGhOxYHbNjebz6KiCoC7hWdxvZWZnuwcHBKKC7p0cxxpVnruL6jTqYJA5q8DvGx77CKrMQZRM0VkAgGERjcxNy5+f8DeghAD1AHCwvx5PHLxFQw9DFeMBsRf7GdQj9/IFv/hH0dHXTFquweOEC99DQH4CDAB6PR9E1DffuP0Tj8/dQJ4dh4lSkpaYDs5IQCIcwpQHjUyqKdxRg2ZJF7uGhoeg1ejyfFE3XIIoi1YIOTTOkUeHQ89VUhMOGwgiGDIWwanmee2RkOAro6+tXxvxjCNMETf9jjgDIaEDIHCJ5vT6UluzvfPumbTct1BABSJK0s6io6CRLZWesPq3pFEavUgojjdfrnaq7c2s12V4b3l8/w3AgYC63NgAAAABJRU5ErkJggg==");
}

.mp_icon_nested_email {
    width: 20px;
    height: 20px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAACNElEQVQ4T63UO2sUURQH8P85d42uC5JOtNm5M4uGiDY+QBcRLRVJpWBhEwtBxC+gID4xhfoFDNpo54sIghY+goGISIpsRN2ZnQWLFCJWgjpz/3KXjeyySwJLprxz7u+ec8/hClb5k1X20ANaa3eo6uiAB33oAcvl8ldjTGVA8GUPGIZhCqAM4IlzbmIlWFULJG+ISFVE3vQDHwPY1IaeJkniUdcPttZuJPlIVff5GBGZljAMdwOorpRJv/+qOuecOwVgBsBpEfnpwbcA9g8CAviSJMkIAIZhONcCrbUzIrK3Vb/ImSzLfi2Hq+oakrdF5IhzLk7TtNXALpDkTlUdyvN8vlAonIjjeL4fWqlUIufcAwB7nHO/AXwrlUqjtVrtTxcIYAjABMk7ANaq6qVisXjTB7ZhE0WRz/66McZ39RyAMZIjxpjLALbmeX7UGPOjVbIHG43GriAIAgCTqnoIQFNEJkl6dBzAFgCzqjper9cXrLXP2uAVkvf8wa1r6wT9YhRFVZIvAKzvLNs599cYMxbH8XO/3gFeJXm3HfuqC7TWniV5S1W/i8gxEVnM87wAYB3Jh6pqReRiHMfXrLVTPkPfHBE56EFVnW2BJDcYYz6SPAlg2jl3PE3Txc4MgyAYBnBfVQ8DmAIw7JzbvNTlpVgJguBde9L92nsA51U169dlkpLn+YX2HaNzbP6DURS9JnlgwMFeSJJkW+de8bNFcvsgYJZln5vN5qcucBBouT2r/mL/AwSX+stmvPOKAAAAAElFTkSuQmCC");
}

.mp_icon_question_mark {
    width: 24px;
    height: 24px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAFeElEQVRIS5WVe2yW1R3HP8+lb2tpeSmFjpt2huomF8OyDTPBmYkTTBZSjBhlBkFFxZmMbHFRV10W54VNtzSZmnkbg8S7aOI1thOEtHIphSDQUkoLb9/eXt6Xvu17eS7nOeeY5zUSWtrFnb+ePM/vnM853+/3/B6DCcYz23dqrQwCqdCACRiGgWlA2lFYJgx7Dqn0CF29GZr/fo8x3lLjvgwLQ8DqJVcW5ghfMeLmyboBOU9wNpdjKCNxXJ/OgX46+lN4jjEuZELA5rc/17f+fBGXVFWg0eTzPhlXMuI4jGSyDOZ8hCtpG0zS0HqMqy+fS3NHjB1P3Dlqze8EyAqHfN7CcQWun8X1BKmcQChFW/ws7bEYa5YuYPvekxyODY6CnAMseydZ+8Mror+YYam1M4oiZfFh3z7jurgJxbyI4P5fVuK6Lk4uT8aRZF2NLwXt8SR7O7t4dM0NSD9g8/vNtPUkzkGM1S06unBS8OqNc+ybakog6UMsADegYOil5XAsKXny5aOYpzvQQqCkRKvQekinerllzWKeWnsdvUMZjp9K8MnBTg509RUgxl9PBvs2Vls/3Z+BrjwoAy4yQGqQQEbD7GIYyAeMdI7wwJJJ5NyAwJeYWtLWk+K/R2IFwPBIlqzUxHoH2L6vi4/3t2Pc0uS8WHdlyYbmDFSXQlpD2oPKYjiTBdsER0FFKbz35RBvrijDkapgcChRLidoONRROE0mo8lqv/DccqKP7t4ExoqG7EMP/7j0qZOewc4u102k3acDofZUTbG23rwwWtWdAwvQFnxxdJjBNxvAAK0VUoJWAq0kSmqUDBCeR/1jN3DkdB/1H+4LS+FXnw7/JuuI3M5V07Z8e1mWbUtc87fa6bveOgNR4xvpdrWk+GDl5MIkbZoMewLfFygRkA8TJgTJtEt0cjF7T8R5+o3d3wDGG79vTA1uXDq16qVTmqqIJigz2fl+jA/XzTxXHkgTT3nkAg8vayC0SzLtMHNqBU3HYzz46ifjA2q3J7a8vHL6HS/GoDsTYFbafNWYwv9yD0WBU2gd4TDC7SmN1KFECpRECI+GF9bQ0tnL+vp3LwRc/Ez8kY/um/XE86dgV69g0rQIpw/kuT/oYtPaGizDBG1ABEwLbGkgpYGjBIErOZPJMb+6iqYjPax6ctsYwKIdU9bXzWubeVXVjFcOeVRFIyQP57lLdbBp3Q/QSoX7pgibYtPEjwBFUBICA4Nc6MGIw2WzKjjU2cf1df8eA9h4/HfPP1D97LZBi/50gG1HKHltB9Hy9CibQonCzmqE+Qpvo1aEuhmGiRA+jf+spS0+wPK6/4wGXLt18M8z5lU+djit8QybbPsQfyxLcPuqi0cDNEQiNkIILNPGNm2UVpiGVWgnlRWl7OuIs+LRMYCfPNe/2Z9a8odT/QIrKEKeHebxBR63r5xzQdAsyyKQAguLItMq2BIK6MuAaeUTALj6o2qmlc9ZsPT7A5NTuzs3LV9CIuXw+mdHJ0pzwZPzh0LRUF/LsZ4Blo89QVhoLmt87tr1C2+MH+y+9MGrStmweiFnM/kJAeGuAzShI0WAIyWzp5SzvyN+IWDuptZdv/3Tj67Zesgn6dlE+7L8OtvK3esWXwAoXAHTRIbCKIGlTGzbxvEl36soY/+J+BiTa5sWbbi35mCrV8GB3WmImiAjLD69G6VHp+hbWth7CsKHN66QKoMg8NmzZS1Hewa4/uHzYnrR6qaf1dTWNPeLcpJtKSgpCMay4XYa/3Hd//Bg/E/hv2HRhmfPc2jWv0ovu3txS+by+VcMHOmFkjDfxdxX1k3dXQv+b0A4oea2v4yJwPz6S4zpsz/XUyvnEgREhloxp2TC3vmdAVprDBGcq/8a4rDUJtHI03gAAAAASUVORK5CYII=");
}

.list_row.selected {
    outline: blue solid 1px;
}