#offer_maindiv {
padding-left: 20px;
padding-right: 20px;
}

#offer_hr {
background-color: #cccccc;
height: 1px;
width: 99%;
margin-top: 1.5em;
margin-bottom: 1.5em;
margin-left: auto;
margin-right: auto;
}

#offer_title {
padding-top: 8px;
padding-bottom: 8px
}

#offer_afterdesc {
text-align: justify;
margin-bottom: 16px;
}

#offer_bottom {
width: 100%;
}

#offer_card {
width: 200px;
height: 150px;
}

.offer-clear {clear: both;}
.offer-leftbtn {float: left;}
.offer-rightbtn {float: right;}
.offer-middlebtn {margin-left: auto; margin-right: auto;}