* {
  margin: 0;
  padding: 0;
}
.old-browser {
  width: 600px;
  margin: 50px auto 0;
  border: 1px solid #ccc;
  background: #fff;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.old-browser .title {
  width: 100%;
  padding: 22px 0 15px 30px;
  border-bottom: 1px solid #ccc;
  background: #F7F7F7;
}
.old-browser .title h3 {
  font-weight: bold;
  text-shadow: 0 1px #fff;
  font-size: 16px;
  color: #333;
}
.old-browser .item {
  padding: 22px 30px 0 30px;
}
.old-browser .item p {
  padding: 20px 0;
  font-size: 13px;
  line-height: 1.2;
}
.old-browser .links {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-top: 1px solid #d0d0d0;
}
.old-browser .links tr td {
  width: 33.33%;
  border-left: 1px solid #d0d0d0;
  text-align: center;
  background: #f7f7f7;
}
.old-browser .links tr td:hover {
  background: #fff;
}
.old-browser .links tr td .prev {
  height: 75px;
  width: 100%;
  display: block;
  text-align: center;
}
.old-browser .links tr td a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 15px 0;
  height: 100%;
  font-size: 12px;
  font-weight: normal;
  outline: none;
  text-shadow: 0 1px #fff;
}
.old-browser .links tr td a:hover {
  cursor: pointer;
}
.old-browser .links tr td h3 {
  color: #333;
  font-size: 12px;
  font-weight: normal;
  text-shadow: 0 1px #fff;
  display: inline-block;
  line-height: 1.2;
}
.old-browser .links tr td:first-child {
  border-left: none;
}
[class^="old-icon-browser"],
[class*=" old-icon-browser"] {
  display: inline-block;
  vertical-align: middle;
}
.old-icon-browser-firefox {
  width: 61px;
  height: 61px;
  background: url(../images/old-browser/ff.png);
}
.old-icon-browser-ie {
  width: 64px;
  height: 60px;
  background: url(../images/old-browser/ie.png);
}
.old-icon-browser-opera {
  width: 56px;
  height: 60px;
  background: url(../images/old-browser/opera.png);
}
.old-icon-browser-safari {
  width: 58px;
  height: 63px;
  background: url(../images/old-browser/safari.png);
}
.old-icon-browser-chrome {
  width: 60px;
  height: 60px;
  background: url(../images/old-browser/chrome.png);
}
