.stdPopup {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 9999;
  display: block;
  visibility: hidden;
  -webkit-box-shadow: 0 0 5px #000000;
  -moz-box-shadow: 0 0 5px #000000;
  box-shadow: 0 0 5px #000000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #ffffff;
  overflow: hidden;
}
#faderNew {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  display: block;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: #000000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.stdPopupHeader {
  width: 100%;
  height: 55px;
  line-height: 55px;
  padding: 0 30px;
  background: #f7f7f7;
  background: -moz-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  background: -ms-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  background: -o-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  background: -webkit-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  background: linear-gradient(to bottom, #f7f7f7 0%, #eaeaea 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #eaeaea));
  font-size: 16px;
  text-align: left;
  border-bottom: 1px solid #999;
  text-shadow: 0px 1px #ffffff;
}
.stdPopupHeader .stdPopupTitle {
  color: #444;
}
.stdPopupClose {
  float: right;
  vertical-align: middle;
  position: absolute;
  right: 0;
  top: 0;
  width: 37px;
  height: 36px;
  border-left: 1px solid #a3a3a3;
  border-bottom: 1px solid #a3a3a3;
  -webkit-box-shadow: 0 1px 0 #fff, 1px 0 0 #fff inset;
  -moz-box-shadow: 0 1px 0 #fff, 1px 0 0 #fff inset;
  box-shadow: 0 1px 0 #fff, 1px 0 0 #fff inset;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
  cursor: pointer;
  text-align: center;
}
.stdPopupClose .old-icon-cross-dark {
  margin-top: 14px;
}
.stdPopupClose:hover {
  background-color: #ffffff;
}
#stdPopupContent h3 {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
#stdPopupContent div.buttons {
  text-align: right;
  margin-top: 10px;
}
#stdPopupContent > div {
  padding: 20px 30px;
  margin: 0 auto;
}
#stdPopupContent > div p {
  line-height: 1.2;
  padding: 0;
  margin: 10px 0;
}
#stdPopupContent > div + div {
  padding-top: 0;
  margin-top: 0;
}
.stdPopupWait {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/preload.gif);
}
