.hide {display:none;}
.noBorderRight {border-right:0 !important;}

.redHeadOpener {color:#D52E2E; font-size:18px; cursor:pointer; padding:0 0 3px 15px; position:relative; margin-right:15px;}
    .redHeadOpener .countBlock, .blueHeadOpener .countBlock {position:absolute; right:0; top:5px; color:#000; font-size:14px; }
        .redHeadOpener .countBlock > span, .blueHeadOpener .countBlock > span {font-weight: bold;}
        .redHeadOpener .arrow {display:block; position:absolute; left:0;}
        .redHeadClose {border-bottom:1px solid #ccd0d4;}
        .redHeadClose .arrow {width:4px; height:7px; background:url('/images/promosImages.png') 0px -11px no-repeat;  top:8px;}
        .redHeadOpen .arrow {width:7px; height:4px; background:url('/images/promosImages.png') -4px -15px no-repeat; top:10px;}
.redBody {border-bottom:1px dotted #ccd0d4; margin-bottom:30px; margin-right:15px;}        
        
        
.blueHeadOpener {border-top:1px solid #ccd0d4; position:relative;}
    .blueHeadOpen .arrow {display:block; width:7px; height:4px; background:url('/images/promosImages.png') -4px -11px no-repeat; position:absolute; top:15px; left:15px;}
    .blueHeadClose .arrow {display:block; width:4px; height:7px; background:url('/images/promosImages.png') -11px -11px no-repeat; position:absolute; top:13px; left:15px;}
    .blueHeadOpener .countBlock {top:9px; right:130px; font-weight:normal; color:#555; font-size:12px;}
        .blueHeadOpener .countBlock > span {}
    .blueHeadOpener .title {color:#0072b6; font:bold 14px Arial; padding:8px 0 8px 30px; cursor:pointer; margin-right:230px}
.listItem {border-top:1px dotted #ccd0d4; position:relative;}
    .listItem .title {padding:8px 0 8px 45px; margin-right:152px; font:bold 14px Arial; cursor:pointer;}
    .listItem .new {width:19px; height:11px; background:url('/images/promosImages.png') 0 0 no-repeat; display:none; top:10px; left:18px; position:absolute;}
    .listItem .apply {width:20px; height:19px; background:url('/images/promosImages.png') -66px 0 no-repeat; display:none; top:6px; left:18px; position:absolute;}
    .listItem .follow {width:18px; height:19px; background:url('/images/promosImages.png') -30px 0 no-repeat; display:none; top:6px; left:18px; position:absolute;}
    .listItemNew .new {display:block;}
.listItemRead {background-color:#f8f8f8;}
    .listItemRead .title {font-weight:normal;}
.regionName {color:#b7b7b7;}
.listItemOpen {background-color:#feeaaf;}
.listItemBody {border-left:3px solid #feeaaf; padding:14px 0 10px 42px;}
	.listItemBody .buttons {padding:20px 0 0px;}
.listItemFollow .new, .listItemApply .new {display:none;}
.listItemApply .apply {display:block;}
.listItemFollow .follow {display:block;}
.listItemDouble .apply {left:20px;}
.listItemDouble .follow {left:5px;}

.listItem .smallButtonMarkRead, .blueHeadOpener .smallButtonMarkRead {position:absolute; top:7px; right:6px;}

.dealAccountsInfo {width:600px; border-collapse:collapse; margin:20px 0 0;}
	.dealAccountsInfo th, .dealAccountsInfo td {padding:8px 10px; text-align:left; border-bottom:1px solid #ccc; border-right:1px dotted #ccc;}
	.dealAccountsInfo .lastRow td {border-bottom:0 !important;}
	.dealAccountsInfo .greyBg {background-color:#f8f8f8;}
	.dealAccountsInfo .whiteBg {background-color:#fff;}
	
.relatedProviders {font-size:12px; padding:10px 0 0;}
	.relatedProviders b {font-weight:bold;}
	
.inBoxTitle {padding:15px 15px 0 15px;}
.popupBContennner {padding:15px;}

.detailsTable td {padding:3px 5px;}

.buttons .markFollowOn input, .buttons .markFollowOff input {padding-left:30px;}
.buttons .markApplyOn input, .buttons .markApplyOff input {padding-left:32px;}
    .buttons .markFollowOn .ico,
    .buttons .markApplyOn .ico,
    .buttons .markFollowOff .ico,
    .buttons .markApplyOff .ico {display:block; background: url("/images/promosImages.png") -30px 0 no-repeat; width:18px; height:19px; position:absolute; top:8px; left:13px;}
.buttons .markFollowOff .ico {background-position: -48px 0;}
.buttons .markApplyOn .ico {background-position: -66px 0; width:20px;}
.buttons .markApplyOff .ico {background-position: -86px 0; width:20px;}

.buttons .overallButton {margin-bottom: 10px;}

.filterRegion {padding:0 0 20px 0;}
    .filterRegion .lable {float:left; padding: 8px 10px 8px 0;}
.filterRegion .input {float:left; }

.cardsDiv1 {
    margin-left: 8px;
    margin-top: 8px;
}

.cardsDiv2 {
    margin-top: 8px;
    margin-bottom: 8px;
}