/*------------------------------Login popup -------------------------------*/
#stdPopupContent h3 {
  display: none;
}
.stdPopupTitle h3 {
  font-size: 16px;
  text-align: left;
  color: #e2325f;
  font-weight: normal;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #444;
  text-shadow: 0px 1px 0 #ffffff;
  margin: 0;
}
.stdPopupTitle p {
  font-size: 12px;
  color: #666666;
  text-shadow: 0px 1px 0 #ffffff;
}
.stdPopupTitle a {
  font-size: 12px;
  text-decoration: underline;
  color: #3775b0;
  text-shadow: 0px 1px 0 #ffffff;
}
.stdPopupTitle a:hover {
  text-decoration: none;
}
#stdPopupContent form {
  display: block;
  width: 610px;
  overflow: hidden;
  position: relative;
  background: url(../images/popup_bg.png) top center no-repeat;
  border-bottom: 1px solid #999999;
  padding: 20px;
}
#stdPopupContent form.sign-up {
  padding-bottom: 30px;
}
#stdPopupContent form.sign-up:before {
  right: 25px;
}
#stdPopupContent form:before {
  background-image: url(../images/safe-sprite.png);
  background-repeat: no-repeat;
  background-position: -71px -238px;
  width: 79px;
  height: 84px;
  margin-top: -42px;
  content: '';
  position: absolute;
  right: 43px;
  top: 50%;
  z-index: 999;
}
#stdPopupContent form > div {
  border: 1px solid #999999;
  -webkit-box-shadow: 1px 1px 0 #f2f2f2, 1px 1px 0 #f2f2f2 inset;
  -moz-box-shadow: 1px 1px 0 #f2f2f2, 1px 1px 0 #f2f2f2 inset;
  box-shadow: 1px 1px 0 #f2f2f2, 1px 1px 0 #f2f2f2 inset;
  position: relative;
  padding: 40px 0;
}
#stdPopupContent form > div:before,
#stdPopupContent form > div:after {
  content: "";
  position: absolute;
  background-image: url(../images/safe-sprite.png);
  background-repeat: no-repeat;
  background-position: -190px -250px;
  width: 11px;
  height: 61px;
  margin-left: -5px;
  left: 0;
}
#stdPopupContent form > div:before {
  top: 10%;
}
#stdPopupContent form > div:after {
  bottom: 10%;
}
#stdPopupContent form > div > div {
  margin: 0 auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-left: 1px solid #878787;
  border-top: 1px solid #878787;
  border-right: 1px solid #f0f0f0;
  border-bottom: 1px solid #ffffff;
  -webkit-box-shadow: 0 0 25px  rgba(128, 128, 128, 0.8) inset;
  -moz-box-shadow: 0 0 25px  rgba(128, 128, 128, 0.8) inset;
  box-shadow: 0 0 25px  rgba(128, 128, 128, 0.8) inset;
  background: #dcdde0 url(../images/pattern_white.png);
}
#stdPopupContent form .row {
  display: block;
}
#stdPopupContent form .row p {
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  background: #0b2d72 url(../images/pattern_white.png);
  text-shadow: 1px 0 0 #125da3;
  -webkit-box-shadow: 0 18px 25px -10px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 0 18px 25px -10px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 18px 25px -10px rgba(0, 0, 0, 0.5) inset;
  padding: 10px;
  border-bottom: 1px solid #ffffff;
}
#stdPopupContent form .row p:after {
  display: block;
  width: 100%;
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  border-bottom: 1px solid #a4a4a4;
}
#stdPopupContent form .row:first-of-type p {
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
}
#stdPopupContent form .row input[type="text"],
#stdPopupContent form .row input[type="password"],
#stdPopupContent form .row input[type="email"] {
  display: block;
  height: 29px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #b2b2b2;
  box-shadow: inset 0 0 6px #bbb;
  font-size: 13px;
  line-height: 27px;
  color: #333333;
  text-shadow: 0 1px 0 #fff;
  zoom: 1;
  line-height: 1;
}
#stdPopupContent form .row input[type="text"]:focus,
#stdPopupContent form .row input[type="password"]:focus,
#stdPopupContent form .row input[type="email"]:focus {
  border: 1px solid #8e8e8e;
  background-color: #ffffff;
  outline: none;
  box-shadow: inset 0 0 2px #bbb;
  padding-left: 10px;
}
#stdPopupContent form .row input[type="checkbox"] {
  display: none;
}
#stdPopupContent form .row input[type="checkbox"] + label {
  position: relative;
  padding-left: 41px;
  line-height: 17px;
}
#stdPopupContent form .row input[type="checkbox"] + label:before {
  display: block;
  width: 21px;
  height: 17px;
  content: "";
  vertical-align: middle;
  float: left;
  margin-left: -31px;
  background: url('../images/icon-sprite.png') no-repeat -99px -4px;
}
#stdPopupContent form .row input[type="checkbox"]:checked + label:before {
  background-position: -122px -4px;
}
#stdPopupContent form .row input[type="checkbox"] + label.checked:before {
  background-position: -122px -4px;
}
#stdPopupContent form .row label {
  font-size: 13px;
  color: #333333;
  line-height: 1;
  text-shadow: 0 1px 0 #fff, 0 0 10px #fff;
}
#stdPopupContent form .row .message {
  padding: 0;
  margin: 0;
}
#stdPopupContent form button {
  display: block;
  position: relative;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  padding: 0 15px;
  outline: none;
  margin: 7px auto;
  border: 1px solid #125da3;
  text-shadow: 0 1px #125da3;
  font-size: 13px;
  line-height: 22px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background: #3082c2;
  background: -moz-linear-gradient(top, #3082c2 0%, #186db6 100%);
  background: -ms-linear-gradient(top, #3082c2 0%, #186db6 100%);
  background: -o-linear-gradient(top, #3082c2 0%, #186db6 100%);
  background: -webkit-linear-gradient(top, #3082c2 0%, #186db6 100%);
  background: linear-gradient(to bottom, #3082c2 0%, #186db6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3082c2), color-stop(100%, #186db6));
  width: 90px;
  height: 35px;
  box-shadow: inset 0 1px #6fb2e4;
}
#stdPopupContent form button:hover {
  background: #3990d3;
  background: -moz-linear-gradient(top, #3990d3 0%, #1976c6 100%);
  background: -ms-linear-gradient(top, #3990d3 0%, #1976c6 100%);
  background: -o-linear-gradient(top, #3990d3 0%, #1976c6 100%);
  background: -webkit-linear-gradient(top, #3990d3 0%, #1976c6 100%);
  background: linear-gradient(to bottom, #3990d3 0%, #1976c6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3990d3), color-stop(100%, #1976c6));
  cursor: pointer;
}
#stdPopupContent form.restore .input label {
  display: block;
  width: 100%;
  float: left;
  margin-top: -90px;
  text-align: center;
  color: #191919;
}
#stdPopupContent form.restore .input label .required {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
#stdPopupContent form.login .input,
#stdPopupContent form.sign-up .input {
  padding: 12px 15px 0 30px;
}
#stdPopupContent form.login .input input[type="text"],
#stdPopupContent form.sign-up .input input[type="text"],
#stdPopupContent form.login .input input[type="password"],
#stdPopupContent form.sign-up .input input[type="password"],
#stdPopupContent form.login .input input[type="email"],
#stdPopupContent form.sign-up .input input[type="email"] {
  float: right;
  padding-left: 10px;
  width: 63%;
}
#stdPopupContent form.login .input label,
#stdPopupContent form.sign-up .input label {
  display: table-cell;
  width: 1%;
  height: 29px;
  vertical-align: middle;
  padding-right: 10px;
  text-align: right;
}
#stdPopupContent form.login .input label .required,
#stdPopupContent form.sign-up .input label .required {
  display: block;
  float: right;
  margin-left: 3px;
}
#stdPopupContent form.login .row.last,
#stdPopupContent form.sign-up .row.last {
  margin-top: 12px;
  border-top: 1px solid #a4a4a4;
  -webkit-box-shadow: 0 1px 0  #ffffff inset;
  -moz-box-shadow: 0 1px 0  #ffffff inset;
  box-shadow: 0 1px 0  #ffffff inset;
}
#stdPopupContent form.login .row.last .input,
#stdPopupContent form.sign-up .row.last .input {
  display: table-cell;
  width: 245px;
  height: 50px;
  vertical-align: middle;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  padding: 0 10px;
}
#stdPopupContent form.login .row.last label,
#stdPopupContent form.sign-up .row.last label {
  display: inline-block;
  *display: inline;
  width: auto;
  height: auto;
  margin: 4px 0 0 7px;
}
#stdPopupContent form.login .row.last input[type='checkbox'],
#stdPopupContent form.sign-up .row.last input[type='checkbox'] {
  display: none;
  width: 0;
  height: 0;
}
#stdPopupContent form.login .row.last input[type='checkbox'] + span,
#stdPopupContent form.sign-up .row.last input[type='checkbox'] + span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background-image: url("../images/icon-sprite.png");
  background-repeat: no-repeat;
  margin: 0 3px;
}
#stdPopupContent form.login .row.last input[type='checkbox'] + span,
#stdPopupContent form.sign-up .row.last input[type='checkbox'] + span {
  display: inline-block;
  position: relative;
  margin-top: 1px;
  *margin-right: .3em;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background: url(../images/login.png) -4px -45px no-repeat;
}
#stdPopupContent form.login .row.last input[type='checkbox'] + span.checked,
#stdPopupContent form.sign-up .row.last input[type='checkbox'] + span.checked {
  display: inline-block;
  position: relative;
  margin-top: 1px;
  *margin-right: .3em;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background: url(../images/login.png) -4px -68px no-repeat;
}
#stdPopupContent form.login .row.last input[type='checkbox']:checked + span,
#stdPopupContent form.sign-up .row.last input[type='checkbox']:checked + span {
  display: inline-block;
  position: relative;
  margin-top: 1px;
  *margin-right: .3em;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background: url(../images/login.png) -4px -68px no-repeat;
}
#stdPopupContent form.login .form-button,
#stdPopupContent form.sign-up .form-button {
  display: block;
  height: 50px;
  float: right;
  margin-top: -50px;
  padding: 0 15px;
  border-left: 1px solid #a4a4a4;
  -webkit-box-shadow: 1px 0 0  #ffffff inset;
  -moz-box-shadow: 1px 0 0  #ffffff inset;
  box-shadow: 1px 0 0  #ffffff inset;
}
#stdPopupContent form.login input[type="text"]::-webkit-input-placeholder {
  background: url('../images/login.png') no-repeat -5px -2px;
  display: block;
  height: 15px;
}
#stdPopupContent form.login input[type="text"]:-moz-placeholder {
  background: url('../images/login.png') no-repeat -5px -2px;
  display: block;
  height: 15px;
}
#stdPopupContent form.login input[type="password"]::-webkit-input-placeholder,
#stdPopupContent form.login input[name="_otc"]::-webkit-input-placeholder {
  background: url('../images/login.png') no-repeat -5px -23px;
  display: block;
  height: 15px;
}
#stdPopupContent form.login input[type="password"]:-moz-placeholder,
#stdPopupContent form.login input[name="_otc"]:-moz-placeholder {
  background: url('../images/login.png') no-repeat -5px -23px;
  display: block;
  height: 15px;
}
#stdPopupContent .login_form_bottom,
#stdPopupContent .forgot_password {
  display: block;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #f7f7f7;
  background: -moz-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  background: -ms-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  background: -o-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  background: -webkit-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  background: linear-gradient(to bottom, #f7f7f7 0%, #eaeaea 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #eaeaea));
  padding-right: 20px;
  text-align: right;
  -webkit-box-shadow: 0 1px 0  #ffffff inset;
  -moz-box-shadow: 0 1px 0  #ffffff inset;
  box-shadow: 0 1px 0  #ffffff inset;
}
#stdPopupContent .login_form_bottom > *,
#stdPopupContent .forgot_password > * {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border-left: 1px solid #cccccc;
  -webkit-box-shadow: 1px 0 0  #ffffff inset;
  -moz-box-shadow: 1px 0 0  #ffffff inset;
  box-shadow: 1px 0 0  #ffffff inset;
}
#stdPopupContent .login_form_bottom > *:last-child,
#stdPopupContent .forgot_password > *:last-child {
  border-right: 1px solid #cccccc;
}
#stdPopupContent .login_form_bottom > * a,
#stdPopupContent .forgot_password > * a {
  display: block;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  color: #666666;
  padding: 0 20px;
}
#stdPopupContent .login_form_bottom > * a:hover,
#stdPopupContent .forgot_password > * a:hover {
  background-color: #ffffff;
}
#stdPopupContent #form_message {
  background: #ea1c41;
  background: -moz-linear-gradient(top, #ea1c41 0%, #9b001f 100%);
  background: -ms-linear-gradient(top, #ea1c41 0%, #9b001f 100%);
  background: -o-linear-gradient(top, #ea1c41 0%, #9b001f 100%);
  background: -webkit-linear-gradient(top, #ea1c41 0%, #9b001f 100%);
  background: linear-gradient(to bottom, #ea1c41 0%, #9b001f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ea1c41), color-stop(100%, #9b001f));
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding-left: 55px;
}
#stdPopupContent #form_message.success {
  background: #559b07;
  background: -moz-linear-gradient(top, #559b07 0%, #357503 100%);
  background: -ms-linear-gradient(top, #559b07 0%, #357503 100%);
  background: -o-linear-gradient(top, #559b07 0%, #357503 100%);
  background: -webkit-linear-gradient(top, #559b07 0%, #357503 100%);
  background: linear-gradient(to bottom, #559b07 0%, #357503 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #559b07), color-stop(100%, #357503));
}
#stdPopupContent #form_message:before {
  display: block;
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(../images/pattern_white.png);
  background-color: transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 18px 25px -10px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 0 18px 25px -10px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 18px 25px -10px rgba(0, 0, 0, 0.5) inset;
}
.row:after,
.input:after {
  content: " ";
  height: 0;
  display: block;
  *height: 1%;
  *zoom: 1;
  clear: both;
}
form.login > div > div {
  width: 354px;
}
form.login .row .info,
form.sign-up .row .info {
  display: none;
}
form.login .error label,
form.sign-up .error label {
  display: table-cell;
  width: 100px;
  height: 29px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  background-color: #e2325f;
  color: #ffffff;
  padding: 0px 5px 0 2px;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  text-shadow: 0 1px 0 #000 !important;
}
form.sign-up .error label {
  width: 150px;
}
.error .required {
  color: #ffffff;
  text-shadow: 0 1px 0 #000000 !important;
}
.error input[type="text"] {
  border: 1px solid #e2325f;
}
.error input[type="text"]:focus {
  border: 1px solid #e2325f;
  -webkit-box-shadow: 0 0 5px  #e2325f ;
  -moz-box-shadow: 0 0 5px  #e2325f ;
  box-shadow: 0 0 5px  #e2325f ;
}
/*-------------------------------------Sing up popup --------------------------------------------*/
form.sign-up > div > div {
  width: 425px;
}
form.sign-up .row:nth-child(3) {
  padding-bottom: 12px;
  position: relative;
}
form.sign-up .row:nth-child(3):before {
  width: 65%;
  height: 1px;
  content: "";
  background-color: #b3b3b3;
  position: absolute;
  right: 30px;
  bottom: 0;
  border-bottom: 1px solid #ffffff;
}
form.sign-up a:hover {
  text-decoration: none;
}
form.sign-up a {
  text-decoration: underline;
  color: #3775b0;
  font-size: 12px;
}
/*------------------------Restore password popup -------------------------*/
form.restore > div > div {
  width: 329px;
}
form.restore input[type="text"] {
  z-index: 999;
  position: relative;
  margin: 60px  auto 0;
  padding-left: 10px;
  width: 235px;
}
form.restore button[type="submit"] {
  width: 95px;
  height: 35px;
  cursor: pointer;
}
form.restore .info {
  font-size: 10px;
  display: block;
  text-shadow: 0 1px 0 #fff;
  margin-top: 10px;
  color: #616161;
  text-align: center;
}
#form_message,
#form_message.success {
  z-index: 99999;
}
#form_message p {
  display: table-cell;
  height: 64px;
  width: 100%;
  vertical-align: middle;
  font-size: 12px;
  color: #fff;
  position: relative;
  padding-left: 25px;
  line-height: 1.2;
  text-shadow: 0 1px 0 #620303;
}
#form_message.success {
  background: url(http://first.maraf0n.vv.si/alert.1.png) right -335px no-repeat, url(http://first.maraf0n.vv.si/alert.1.png) left -201px no-repeat, url(http://first.maraf0n.vv.si/alert.1.png) -7.5px -268px repeat-x;
}
form.sign-up #form_message,
form.sign-up #form_message.success {
  margin: 15px 0 15px 65px;
}
#form_message.success p {
  text-shadow: 0 1px 0 #578102;
  height: 64px;
  width: 100%;
  vertical-align: middle;
  font-size: 12px;
  color: #fff;
  position: relative;
  line-height: 1.2;
  padding-left: 0;
}
#form_message:after {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  background: url(../images/icon-sprite.png) 0 -218px no-repeat;
  top: 20px;
  left: 20px;
}
#form_message.success:after {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  background: url(../images/icon-sprite.png) -15px -160px no-repeat;
  top: 20px;
  left: 20px;
}
#form_message:before {
  width: 1px;
  height: 64px;
  top: 1px;
  left: 54px;
  position: absolute;
  content: "";
  background: #b30535;
}
#form_message p:before {
  background: #f04662;
  position: absolute;
  width: 1px;
  height: 64px;
  content: "";
  top: 0;
  left: 0;
}
#form_message.success p:before {
  display: none;
}
