/*
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,400,700&subset=latin,cyrillic);
*/
* {margin:0;padding:0;}
a img {border:0;}
a {text-decoration: none;}


body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    color: #3e3e3e;
}
a{
    color: #3e3e3e;
}
.wrapper {
    margin:0;
    position: relative;
    min-width: 1024px;
}
.logo {
    position: absolute;
    top:0px;
    left: 0px;
    width: 237px;
    height: 55px;
    overflow: hidden;
    text-align: center;
}
.logo img{
    margin-top: 20px;
}
.top-buttons {
    position: absolute;
    top: 10px;
    left: 0;
    padding-left: 236px;
    width: 1026px;
    /*padding-right: 236px;*/
    box-sizing: border-box;
}
#top-banner {
    display: block;
    position:absolute;
    right: 20px;
    top:0;
    height:150px;
    width: 460px;
    z-index: 99999;
    background: #999 url(../images/adv-top.png) no-repeat 0 0;
}

.content {
    display: block;
    border-top: #808080 inset 1px;}

@media(max-width:1500px){
    #top-banner{display: none}
    .top-buttons{width: 100%;}
}
@media(min-width:1500px){
    .text-right blockquote:first-of-type{
        width: 740px;
    }
}
.container{
    width: 100%;
    display: table-row;
    background: url('../images/body-top.png') repeat-x 0 0;
    min-width:1024px;
}
.container>*{
    vertical-align: top;
}
.container_l {
    display: table-cell;
}
.container_r {
    width: 100%;
    display:table-cell;
}
.content-wrapper{
    width: 100%;
    margin-top: 56px;
}
.text-left{
    width: 237px;
    margin-top: 56px;
}
.text-right{
    margin-top: 44px;
    background: #fff;
    position: relative;
}
.clearfix {clear: both;height: 0;}
.footer {
    display: table;
    height: 64px;
    overflow-y: hidden;
    width: 100%;
    background-color: #f0f0f0;
    color: #666;
    border-top: 1px solid #d0d0d0;
    margin-top: 17px;
}
.footer>*{
    display: table-cell;
    min-width: 240px;
    vertical-align: middle;
    padding: 0 28px;
}
.footer>*:nth-child(3){
    text-align: right;
    padding-right: 20px;
}
.footer>*:nth-child(2){
    width: 100%;
    text-align: center;
}
.link-list{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.link-list a{
    padding: 0 8px;
}
.link-list a+a{
    border-left: 1px solid #666;
}
.footer>*:nth-child(n+4){
    display: none;
}

[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    width: 30px;
    height: 20px;
    margin-top: -2px;
    *margin-right: .3em;
    line-height: 20px;
    vertical-align: text-top;
    background-image: url("../images/icon-sprite.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
}

.icon-gears{
    background-position: -48px -36px;
}
.icon-refresh {
    background-position: 0 -36px;
    width: 20px;
}
.icon-trash {
    background-position: -29px -36px;
    width: 16px;
}
.icon-caret {
    background-position: -29px -16px;
    width: 7px;
    height: 6px;
    margin: 4px -3px;
}
.icon-check {
    background-position: -21px -163px;
    height: 10px;
    width: 11px;
    margin: 0;
    position: relative;
}
.icon-cross {
    background-position: -151px -187px;
    height: 10px;
    width: 10px;
    margin: 0;
    position: relative;
}
.icon-cross-contrast {
    background-position: -151px -202px;
    height: 10px;
    width: 10px;
    margin: 0;
    position: relative;
}
.icon-plus {
    background-position: -15px 0;
    height: 10px;
    width: 8px;
    margin: 3px -3px;
}
.icon-plus-gray {
    background-position: 0 0;
    height: 10px;
    width: 10px;
    margin: 3px 0;
}
.icon-plus-graycircle,
.icon-plus-greencircle,
.icon-minus-graycircle,
.icon-minus-greencircle{
    height: 16px;
    width: 16px;
    margin-top: 0;
}
.icon-plus-graycircle{
    background-position: 0 -134px;
}
.icon-plus-greencircle{
    background-position: -27px -134px;
}
.icon-minus-graycircle{
    background-position: -51px -134px;
}
.icon-minus-greencircle{
    background-position: -76px -134px;
}
.icon-sort-asc{
    background-position: -43px -16px;
    width: 5px;
    height: 4px;
    margin: 0;
}
.icon-sort-desc{
    background-position: -43px -9px;
    width: 5px;
    height: 4px;
    margin: 0;
}
.icon-drop-shut{
    background-position: -16px -14px;
    width: 9px;
    height: 9px;
    margin: 0;
}
.icon-drop-open{
    background-position: 0 -14px;
    width: 9px;
    height: 9px;
    margin: 0;
}
.icon-search{
    background-position: -127px -183px;
    height: 19px;
    width: 19px;
    margin: 0;
}
.icon-plus-white{
    background-position: -51px -134px;
}
.icon-flag-en{
    background-position: 0 -247px;
    height: 10px;
    width: 10px;
}
.icon-mobile-android{
    background-position: 0 -305px;
    width: 88px;
    height: 31px;
    margin: 0;
}
.icon-mobile-iphone{
    background-position: 0 -345px;
    width: 88px;
    height: 31px;
    margin: 0;
}
.icon-pdf{
    background-position: -22px -274px;
    width:18px;
    height: 18px;
}
.icon-xls{
    background-position: 0 -274px;
    width:18px;
    height: 18px;
}
.hidden{
    display:none;
}