{% extends '@AwardWalletMain/Layout/business_check_balance.html.twig' %}
{% import '@AwardWalletMain/Business/Members/_searchBox.html.twig' as searchbox %}

{% block title %}
    {{ 'search.trips.by.traveler.name'|trans|desc('Search trips by traveler name') }}
{% endblock %}

{% block content %}
    <div class="main-blk">
        <div class="search-box">
            {{ searchbox.draw(
                'aw_business_members_dropdown_timeline',
                'traveler.name'|trans|desc('Traveler Name'),
                'false',
                "function(id){ return Routing.generate('aw_timeline_html5', {'agentId': id }); }"
            ) }}
        </div>
    </div>
{% endblock %}