@use '../../../../../UI/Styles/Mixin.scss' as m;
@use '../../../../../UI/Styles/Functions.scss' as f;
@use '../../../../../UI/Styles/Variables.module.scss' as v;

.form {
    display: flex;
    flex-direction: column;
    gap: 2px;
    border-radius: 4px;
    max-width: 639px;
    overflow: hidden;

    &Description {
        display: grid;
        grid-template-columns: 1.3fr 1fr;
        grid-template-areas: 'label button';
        align-items: center;
        gap: 10px;
        padding: 34px 36px 30px 36px;

        @media only screen and (max-width: 852px) {
            grid-template-columns: 1fr;
            grid-template-areas: 'label' 'button';
            gap: 22px;
            padding: 20px 26px;
        }
    }

    &Dropdown {
        padding: 31px 36px;
        border-radius: 4px;
        border: 4px solid #f2f7fc;

        @media only screen and (max-width: 852px) {
            padding: 20px 22px;
        }

        @include m.theme('dark') {
            border-color: #163c61;
        }

        &:focus-visible {
            border-color: var(--border-color-active);
        }

        &Block {
            background-color: #f2f7fc;

            @include m.theme('dark') {
                background-color: #163c61;
            }
        }

        &Active {
            border-color: var(--border-color-active);
        }

        &AnchorText {
            @include m.font(f.px2rem(20px), 800, 100%);

            @media only screen and (max-width: 852px) {
                font-size: f.px2rem(16px);
            }
        }

        &AnchorLabel {
            @media only screen and (max-width: 852px) {
                font-size: f.px2rem(v.$text-font-size-xs);
            }
        }
        &AnchorStaticInfo {
            @media only screen and (max-width: 852px) {
                font-size: f.px2rem(v.$text-font-size-xs);
            }
        }

        &Item {
            flex-direction: row;
            align-items: center;
            gap: 5px;
        }
    }

    &Label {
        grid-area: label;
        display: flex;
        flex-direction: column;
        gap: 11px;

        &TextBlock {
            display: flex;
            gap: 12px;
            align-items: center;
            @include m.font(f.px2rem(v.$text-font-size-s), 500, 100%);
            color: var(--text-color-secondary);

            @media only screen and (max-width: 852px) {
                font-size: f.px2rem(v.$text-font-size-xs);
            }

            &Logo {
                width: 55px;
                height: 19px;
            }
        }

        &ActualPrice {
            @include m.font(f.px2rem(26px), 800, 100%, true);
            color: var(--text-color-hover);

            @media only screen and (max-width: 852px) {
                font-size: f.px2rem(20px);
            }
        }
        &OldPrice {
            position: relative;
            align-self: flex-start;
            @include m.font(f.px2rem(v.$text-font-size-l), 600, 100%, true);
            color: var(--text-color-disabled);

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                height: 2px;
                background-color: var(--background-color-primary);
                transform: rotate(-5deg);
            }

            @media only screen and (max-width: 852px) {
                font-size: f.px2rem(v.$text-font-size-s);
            }
        }
    }

    &Checkbox {
        padding: 21px 36px;
        background-color: #f2f7fc;

        @media only screen and (max-width: 852px) {
            padding: 17px 18px;
        }

        @include m.theme('dark') {
            background-color: #163c61;
        }

        &LabelText {
            @include m.font(f.px2rem(v.$text-font-size-s), 400, 170%);

            @media only screen and (max-width: 852px) {
                @include m.font(f.px2rem(v.$text-font-size-xs), 400, 140%);
            }

            & span {
                color: var(--text-color-hover);
                text-transform: uppercase;
                font-weight: 700;
            }
        }

        &Description {
            padding-top: 10px;
            @include m.font(f.px2rem(v.$text-font-size-xs), 400, 120%);
            color: var(--text-color-disabled);
        }
    }

    &Warning {
        @include m.font(f.px2rem(v.$text-font-size-s), 400, 120%);
        color: var(--text-color-secondary);

        &Container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 20px 36px;
        }
    }

    &Button {
        grid-area: button;
    }
}
