@use '../../Styles/Variables.module.scss' as v;
@use '../../Styles/Mixin.scss' as m;
@use '../../Styles/Functions.scss' as f;

.sidePanel {
    &Shadow {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: var(--shadow-color);
        z-index: 2000;
    }

    &Container {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 325px;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: white;
        z-index: 2001;
        box-shadow: 5px 0px 30px 0px rgba(81, 87, 103, 0.4);

        &Right {
            left: unset;
            right: 0;
        }
    }

    &Header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 19px;

        &Text {
            @include m.font(f.px2rem(v.$title-font-size-m), 800, 100%);
            color: var(--text-color-secondary);

            &::first-letter {
                text-transform: uppercase;
            }
        }
    }

    &Divider {
        height: 4px;
        background-color: var(--background-color-secondary);
    }

    &ContentContainer {
        overflow: auto;
    }

    &Footer {
        display: flex;
        gap: 8px;
        justify-content: stretch;
        border-top: 1.5px solid var(--border-color-secondary);
        padding: 16px 18px;
        margin-top: auto;
        box-shadow: 0px 4px 40px 0px rgba(16, 25, 57, 0.12);

        &Button {
            width: 100%;
        }
    }
}
