@use '../../Styles/Variables.module.scss';

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1071;
    padding-top: max(3%, 60px);
    padding-bottom: max(3%, 60px);
    padding-left: max(5%, 60px);
    padding-right: max(5%, 60px);
}
.backgroundBlur {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 41, 47, 0.8);
    backdrop-filter: blur(7px);
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    border-radius: 6px;
    box-shadow: 5px 5px 30px 0px rgba(83, 84, 87, 0.1);
    overflow: hidden;
}

.image {
    &ErrorContainer {
        height: 60vh;
        width: 80vw;
    }

    &LoadingContainer {
        height: 60vh;
        width: 80vw;
    }
}
