@font-face {
  font-family: 'icon-program-kind';
  src:
    url('./font/font.ttf?nuar54') format('truetype'),
    url('./font/font.woff?nuar54') format('woff'),
    url('./font/font.svg?nuar54#icon-program-kind') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon-program-kind {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-program-kind' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  $block: &;
  $icons: (
    "airline": "\e900",
    "car": "\e901",
    "credit-card": "\e902",
    "cruise": "\e903",
    "dining": "\e904",
    "hotel": "\e905",
    "shopping": "\e906",
    "train": "\e907",
    "surveys": "\e908",
    "parking": "\e909",
  );

  @each $name, $glyph in $icons {
    @at-root #{$block}--#{$name}:before {
      content: $glyph;
    }
  }
}