@use '../../scss/functions' as f;

.popup-media-logos {
  display: none;
  text-align: center;

  &__header {
    font-size: f.px2rem(17px);
  }

  &__sub-header {
    font-size: f.px2rem(15px);
  }

  &__content {
    padding-top: f.px2rem(24px);
  }
}