<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.webmynd.safari.awardwallet6200cc7406cd11e1a68a12313d1adcbe</string>
       <key>Developer Identifier</key>
       <string>YZ6N8HTJ27</string>
       <key>CFBundleVersion</key>
	<string>1.11</string>
       <key>CFBundleShortVersionString</key>
	<string>1.11</string>
       <key>URL</key>
       <string>https://awardwallet.com/extension/awardwallet.safariextz</string>
     </dict>
   </array>
</dict>
</plist>