@use '../../../../UI/Styles/Mixin.scss' as m;
@use '../../../../UI/Styles/Functions.scss' as f;
@use '../../../../UI/Styles/Variables.module.scss' as v;

.instructionStep {
    display: grid;
    align-items: center;
    grid-template-columns: 36px auto;
    grid-template-rows: 36px auto;
    gap: 20px 12px;
    list-style: none;
    border-top: 3px solid rgb(91, 99, 115, 0.05);
    padding: 36px 0;

    &Number {
        align-self: flex-start;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        background-color: #f3f3f3;
        color: var(--text-color-hover);
        border-radius: 50%;
        @include m.font(f.px2rem(v.$text-font-size-m), 700, 120%);
        grid-row: 1/3;
    }

    &Description {
        @include m.font(f.px2rem(v.$text-font-size-s), 400, 120%);
        color: var(--text-color-secondary);

        & strong {
            font-weight: 700;
        }
    }
}
