@use '../../../../UI/Styles/Variables.module.scss';

.SkeletonGmailPage {
    padding: 40px 60px;
    background-color: var(--background-color-main);

    &Title {
        max-width: 747px;
        height: 72px;
        margin-bottom: 23px;
        border-radius: 6px;
    }

    &Description {
        height: 48px;
        margin-bottom: 43px;
        border-radius: 6px;
    }

    &Grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }

    &Step {
        &Container {
            display: grid;
            grid-template-columns: 44px 1fr;
            gap: 18px;
        }

        &Number {
            width: 44px;
            height: 44px;
            border-radius: 50%;
        }

        &Description {
            align-self: center;
            height: 25px;
            border-radius: 6px;
            flex-shrink: 1;
        }

        &ImgBlock {
            grid-column: 2/3;
            height: 300px;
            border-radius: 6px;
            flex-shrink: 1;
        }
    }
}
