@use '../../../../UI/Styles/Variables.module.scss' as v;
@use '../../../../UI/Styles/Mixin.scss' as m;
@use '../../../../UI/Styles/Functions.scss' as f;

.settingStep {
    &Container {
        display: grid;
        grid-template-columns: 44px 1fr;
        gap: 18px;
        grid-row: span 2;
        grid-template-rows: subgrid;
        scroll-margin-top: 65px;
    }

    &Img {
        border-radius: 6px;
        max-width: 100%;
        height: auto;
        box-shadow: 5px 5px 30px 0px rgba(83, 84, 87, 0.1);

        &Preview {
            height: 332px;
        }

        &GridCell {
            grid-column: 2/3;
        }

        &Container {
            position: relative;
            cursor: pointer;
            display: inline-block;
            line-height: 0;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: calc(100% - 6px);
                height: calc(100% - 6px);
                border: 3px solid;
                border-radius: 6px;

                @include m.theme('light') {
                    border-color: white;
                }

                @include m.theme('dark') {
                    border-color: #363637;
                }
            }
        }

        &Overlay {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 3px;
            left: 3px;
            width: calc(100% - 6px);
            height: calc(100% - 6px);
            opacity: 0;
            background-color: rgba(83, 84, 87, 0.3);
            transition: opacity 0.2s ease-in-out;
            border-radius: 6px;

            &:hover {
                opacity: 1;
            }

            &Icon {
                padding: 21px;
                border: 3px solid #fff;
                border-radius: 50%;
                background-color: #f8f9fa;
            }
        }
    }

    &Number {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        @include m.font(f.px2rem(v.$text-font-size-m), 700, 100%);
        color: var(--text-color-primary);
        background-color: var(--background-color-primary);
        border-radius: 50%;
    }

    &DescriptionContainer {
        display: flex;
        align-self: center;
        align-items: flex-start;
        min-height: 44px;
        margin-bottom: auto;
    }

    &Description {
        @include m.font(f.px2rem(v.$text-font-size-s), 450, 130%);
        color: var(--text-color-secondary);
        align-self: center;

        a {
            color: var(--text-color-hover);
            font-weight: 700;
            text-decoration-line: underline;
        }
    }
}
