.stepContainer {
    display: grid;
    grid-template-columns: 52px 1fr;
    grid-template-rows: auto;
    gap: 14px;
}
.exchangeOptionContainer {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.exchangeButton {
    grid-column: 2 / 3;
}
