@use '../../../../../../../../../UI/Styles/Variables.module.scss' as v;
@use '../../../../../../../../../UI//Styles/Mixin' as m;
@use '../../../../../../../../../UI/Styles/Functions.scss' as f;

.hotelCard {
    display: grid;
    grid-template-columns: 1fr 3.3fr;
    gap: 12px 20px;
    grid-column: 2 / 3;
    border-radius: 6px;
    padding: 20px;
    background-color: var(--background-color-secondary);
    align-items: center;
}

.hotelImg {
    width: 127px;
    height: 82px;

    &Container {
        grid-row: 1/3;
        width: 127px;
        height: 82px;
        min-height: unset;
    }
}

.hotelName {
    @include m.font(f.px2rem(v.$text-font-size-m), 800, 100%);
    color: var(--text-color-secondary);
}

.hotelAddress {
    @include m.font(f.px2rem(v.$text-font-size-xs), 600, 100%);
    color: var(--text-color-disabled);
}

.additionalInfo {
    display: flex;
    gap: 20px;
    align-items: center;
}

.hotelLogoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 66px;
    height: 35px;
    border-radius: 4px;
    background-color: white;
}

.logo {
    border-radius: 6px;
}

.pointsContainer {
    @include m.font(f.px2rem(v.$text-font-size-xs), 600, 100%);
    color: var(--text-color-secondary);
}

.pointsNumber {
    @include m.font(f.px2rem(v.$text-font-size-l), 600, 100%);
    color: #27a887;
}

.hotelButton {
    font-size: f.px2rem(v.$text-font-size-s);
    padding: 13px 16px;
    max-width: 154px;
    width: 100%;
}
